<!-- templates/login.html -->

{% load static %}
<!-- {% block title %} Sign in {% endblock %} -->

{% block static %}
<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/authen-style.css' %}" type="text/css" />

	<script src="{% static 'js/uikit.min.js' %}"></script>
	<script src="{% static 'js/uikit-icons.min.js' %}"></script>
	<!-- <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet"> -->
	<link href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit:300,400,500,700&amp;subset=thai">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>


{% endblock static %}
{% block content %}
<body>
	<div id="auth-form" class="uk-flex uk-flex-center uk-flex-middle">
		<div class="uk-card uk-card-default uk-card-body uk-width-1-2@s uk-width-1-3@l uk-width-1-4@xl">
			<a class="uk-navbar-item uk-logo" href="/"><img src="{% static 'img/logo.png' %}" width="300"></a>
			<ul class="uk-flex-center" uk-tab>
				<li class="uk-active"><a>เข้าสู่ระบบ</a></li>
				<li><a>สมัครสมาชิก</a></li>
			</ul>

			<ul class="uk-switcher">
				<li>
					<!-- <form method="POST" action="{% url 'authen:login' %}"> -->
					<form method="POST">
						{% csrf_token %}
						<div class="uk-margin-small">
							<h3 style="color: red;">{{msg}}</h3>
							<label class="uk-form-label" for="username">ชื่อผู้ใช้งาน</label>
							<div class="uk-form-controls">
								<input class="uk-input" id="username" type="text" placeholder="ชื่อผู้ใช้งาน" name="username" required>
							</div>
						</div>
						<div class="uk-margin-small">
							<label class="uk-form-label" for="password">รหัสผ่านผู้ใช้</label>
							<div class="uk-form-controls">
								<input class="uk-input" id="password" type="password" placeholder="รหัสผ่านผู้ใช้" name="password" required>
							</div>
						</div>
						<button class="uk-button uk-button-primary uk-width-1-1 uk-text-center" type="submit">เข้าสู่ระบบ</button>
					</form>
				</li>
				<li>
					<form method="POST" action="/auth/register/">
						{% csrf_token %}
						<div class="uk-margin-small">
							<label class="uk-form-label" for="registeredUsername">ชื่อผู้ใช้งาน</label>
							<div class="uk-form-controls">
								<input class="uk-input" id="registeredUsername" type="text" placeholder="ชื่อผู้ใช้งาน" name="registeredUsername"
								 required>
							</div>
						</div>
						<div class="uk-margin-small">
							<label class="uk-form-label" for="registeredPassword">รหัสผ่านผู้ใช้</label>
							<div class="uk-form-controls">
								<input class="uk-input" id="registeredPassword" type="password" v-model="password" placeholder="รหัสผ่านผู้ใช้"
								 name="registeredPassword" required>
							</div>
						</div>
						<div class="uk-margin-small">
							<label class="uk-form-label" for="confirmRegisteredPassword">ยืนยันรหัสผ่านผู้ใช้</label>
							<div class="uk-form-controls">
								<input class="uk-input" id="confirmRegisteredPassword" type="password" v-model="confirmedPassword" placeholder="ยืนยันรหัสผ่านผู้ใช้"
								 name="confirmRegisteredPassword" required>
							</div>
						</div>
						<button class="uk-button uk-button-primary uk-width-1-1 uk-text-center" type="submit" :disabled="!isPasswordMatch">สมัครสมาชิก</button>
					</form>
				</li>
			</ul>

			<hr class="uk-divided">
			<a class="uk-button uk-width-1-1 facebook" href="{% url 'social:begin' 'facebook' %}">
				<i class="fab fa-facebook-square fa-2x uk-text-top"></i> เข้าสู่ระบบด้วยบัญชี FACEBOOK
			</a>

			<a class="uk-button uk-width-1-1 google" href="{% url 'social:begin' 'google-oauth2' %}">
				<i class="fab fa-google fa-2x uk-text-top"></i> เข้าสู่ระบบด้วยบัญชี Google
			</a>
		</div>
	</div>
	<script>
		new Vue({
			el: '#auth-form',
			data: {
				password: null,
				confirmedPassword: null
			},
			computed: {
				isPasswordMatch() {
					return this.password !== null && this.password === this.confirmedPassword
				}
			}
		})
	</script>
</body>
{% endblock %}