{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/addcard.css' %}">
    
        <title>AddCard</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style type="text/css" >
           
           
        </style>

        <br><br><br>
        <div class="white-bg">
            <div class="credit-head">
                <p>Credit / Debit Card</p>
            </div>
    
            <div class="credit-bg">
                <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-2@s uk-text-center"style="margin-left:3%; width: 90%;margin-top:-2%; "; uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="width: 80%; text-align: left; margin-top: 3%;box-shadow: none; background-color: #F7F5F5;" >
                            <div class="uk-margin">
                                <p style="padding-bottom: 10%;">Card Number</p>
                            </div>
                            <div class="uk-margin">
                                <p style="padding-bottom: 10%;">Cardholder Name</p>
                            </div>
                            <div class="uk-margin">
                                <p style="padding-bottom: 10%;">Expiry date</p>
                            </div>
                            <div class="uk-margin">
                                <p>Security Code</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="width: 120%; margin-left: -15%;box-shadow: none; background-color: #F7F5F5;" >
                            <form>

                                <div class="uk-margin">
                                    <input class="uk-input uk-form-width-large" style="border-color: #E3866C;" type="text" placeholder="Large">
                                </div>
                            
                                <div class="uk-margin">
                                    <input class="uk-input uk-form-width-large" style="border-color: #E3866C;" type="text" placeholder="Large">
                                </div>
                            
                                <div class="uk-margin">
                                    <input class="uk-input uk-form-width-large" style="border-color: #E3866C;" type="text" placeholder="Large">
                                </div>
                            
                                <div class="uk-margin">
                                    <input class="uk-input uk-form-width-large" style="border-color: #E3866C;" type="text" placeholder="Large">
                                </div>
                            
                            </form>
                        </div>
                    </div>
                </div>   
            </div>
            <p uk-margin style="padding-top: 3%;margin-left: 70%;">
                <a class="uk-button uk-button-default" href="#" style="border-color: #E3866C; background-color: #E3866C;color: white; font-size: 1.2em;border-radius: 2vh;padding: 2% 6%;">Confirm</a>
            </p>
        </div>
            
          
    </body>
</html>