{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/free-fa-solid-900.woff2' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/addproduct.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <title>
            Add Product
        </title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
    </head>
    <body>
        <style>
        </style>
        <form action="" method="post">
        {% csrf_token %}
        <div class="white-head">
            <p uk-margin>
                <button class="uk-button uk-button-link" style="color: black; font-size: 1.5em; padding-left: 2%;"> < BACK </button>
            </p>
            <p style="text-align: center; font-size: 2em;">ADD PRODUCT</p>
        </div>

        <div class="block">
            <div class="uk-child-width-expand@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 5% 0%;" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                        <p id="display_upload"></p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                        <div class="js-upload" uk-form-custom>
                            <input type="file" multiple>
                            <button class="uk-button uk-button-default" type="button" tabindex="-1" style="color: white; background-color: #F3705A;">+ Add Photo/Video</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" style="margin-top: 3%;">
            <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 2% 0%; " uk-grid>
                <div>
                    <div class=" uk-card uk-card-default uk-card-body" style="box-shadow: none; padding: 0%;">
                        <div>
                            <input class="uk-input uk-width-1-1 uk-form-large" type="text" style="margin-left: -5%; font-size: 1.5em; border: none;" placeholder="Name of Product" name="product_name" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" style="margin-top: 3%;">
            <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 2% 0%; " uk-grid>
                <div>
                    <div class=" uk-card uk-card-default uk-card-body" style="box-shadow: none; padding: 0%;">
                        <div>
                            <input class="uk-input uk-width-1-1 uk-form-large" type="text" style="margin-left: -5%; font-size: 1.5em; border: none;" placeholder="Description" name="product_detail" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" style="margin-top: 3%;">
            <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 1% 0%; " uk-grid>
                <div>
                    <div class=" uk-card uk-card-default uk-card-body" style="box-shadow: none; padding: 0%;">
                        <span style="font-size: 3em; margin-left: -90%;"><i class="fas fa-bars"></i></span>
                        <div class="option">
                            <div class="uk-margin">
                                <div uk-form-custom="target: true">
                                    <select name='category' required>
                                        {% for cat in category %}
                                            <option value="{{cat.pk}}">{{cat}}</option>
                                        {% endfor %}
                                </select>
                                <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" style="margin-top: 3%;">
            <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 2% 0% 0% 0%; " uk-grid>
                <div>
                    <div class=" uk-card uk-card-default uk-card-body" style="box-shadow: none; padding: 0%;">
                        <span style="font-size: 3em; margin-left: -80%; "><i class="fas fa-coins"></i></span>
                        <span style="font-size: 1.5em; padding-left: 3%; ">Price</span>
                        <span>
                            <div>
                                <p uk-margin>
                                    <input id="price" class="uk-input uk-width-1-6 uk-form-large" type="number" step="1" inputmode="numeric" in style="margin-left: 65%;margin-top: -13%; padding-bottom: 0; font-size: 1.5em;border: none;"  placeholder="Add Price" name="price" required>
                                    {% comment %} <button onclick="getPrice()" class="uk-button uk-button-default" style="margin-top: -13%; ">submit</button> {% endcomment %}
                                </p>
                                <p style="margin-left: 55%;margin-top: -5%; ">
                                    <span style="color: #ED796D;font-size: 1.2em;">Total Price (Web Service 5%)</span>
                                    <span>
                                    <input readonly id="total" class="uk-input uk-width-1-4 uk-form-large" type="text" style="padding-bottom: 0; font-size: 1.5em;border: none;"  placeholder="Add">
                                    </span>
                                </p>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" style="margin-top: 0%;">
            <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 2% 0% 0% 0%; " uk-grid>
                <div>
                    <div class=" uk-card uk-card-default uk-card-body" style="box-shadow: none; padding: 0%;">
                        <span style="font-size: 3em; margin-left: -80%; "><i class="fas fa-boxes"></i></span>
                        <span style="font-size: 1.5em; padding-left: 3%;">Stock</span>
                        <span>
                            <div>
                                <input class="uk-input uk-width-1-4 uk-form-large" type="text" style="margin-left: 80%;margin-top: -13%; padding-bottom: 0; font-size: 1.5em;border: none;"  placeholder="Add Stock" inputmode="numeric" name="stock" required>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" style="margin-top: 0%;">
            <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 2% 0% 0% 0%; " uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none; padding: 0%;">
                        <span style="font-size: 3em; margin-left: -80%; "><i class="fas fa-info-circle"></i></span>
                        <span style="font-size: 1.5em; padding-left: 3%;">Detail</span>
                        <div style="margin-left: 75%;margin-top: -6%;padding-bottom: 5%;">
                            <button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-flip" style="font-size: 1.5em; color: rgba(111, 111, 111, 0.685);border: none;">></button>
                        </div>
                        <div id="offcanvas-flip"  uk-offcanvas="flip: true; overlay: true" style="">
                            <div class="uk-offcanvas-bar" style="width: 100%;background-color: #DBEAFD;" id="canvas_detail">
                            <button class="uk-offcanvas-close" type="button" style="color: black;" uk-close></button>
                            <h3 style="color: #6F6F6F">PRODUCT DETAIL</h3>
                            <div class="block" style="margin-top: 3%; width: 110%; margin-left: -5%;">
                                <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 2% 0%; " uk-grid>
                                    <div>
                                        <div class=" uk-card uk-card-default uk-card-body" style="box-shadow: none; padding: 0%;">
                                            <div>
                                                <input class="uk-input uk-width-1-1 uk-form-large" type="text" style="margin-left: -5%; font-size: 1.5em; color: #000;" placeholder="Add Detail Here" name='model' required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% comment %} <div class="block" style="margin-top: 0%; width: 110%; margin-left: -5%;">
                                <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 2% 0%; " uk-grid>
                                    <div>
                                        <div class=" uk-card uk-card-default uk-card-body" style="box-shadow: none; padding: 0%;">
                                            <p uk-margin style="float: left; padding-right: 5%;">
                                                <button class="uk-button uk-button-default" style="background-color: #F3705A;">S</button>
                                                <button class="uk-button uk-button-default" style="background-color: #F3705A;">M</button>
                                                <button class="uk-button uk-button-default" style="background-color: #F3705A;">+ More</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            <div style="padding-top: 10%;" uk-margin>
                                {% comment %} <a class="uk-button uk-button-default" style="font-size: 1.5em; background-color: #F3705A; color: white; width: 30%; margin-left: 0%;margin-right: 2%;; padding: 2%2%;border-radius: 2vh;" href="#">Submit</a> {% endcomment %}
                                {% comment %} <button class="uk-button" onclick="close_detail()" style="font-size: 1.5em; background-color: white; color: #6E6E6E; width: 30%; margin-left: 0%; padding: 2%2%;border-radius: 2vh;" type="button">OK</button> {% endcomment %}
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" style="margin-top: 3%; ">
            <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 2% 0% 0% 0%; " uk-grid>
                <div>
                    <div class=" uk-card uk-card-default uk-card-body" style="box-shadow: none; padding: 0%;">
                        <span style="font-size: 3em; margin-left: -70%; "><i class="fas fa-history"></i></span>
                        <span style="font-size: 1.5em; padding-left: 3%;">FLASH SALE</span>
                        <div style="margin-left: 75%;margin-top: -6%;padding-bottom: 5%;">
                            <button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-flip2" style="font-size: 1.5em; color: rgba(111, 111, 111, 0.685);border: none;">></button>
                        </div>
                        <div id="offcanvas-flip2" uk-offcanvas="flip: true; overlay: true" style="">
                            <div class="uk-offcanvas-bar" style="width: 100%;background-color: #DBEAFD;">
                            <button class="uk-offcanvas-close" type="button" style="color: black;" uk-close></button>
                            <h3 style="color: #6F6F6F">FLASH SALE</h3>
                            <div class="block" style="margin-top: 10%; width: 110%; margin-left: -5%; padding: 2% 0%;">
                                <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 2% 0%; " uk-grid>
                                    <div>
                                        <div class=" uk-card uk-card-default uk-card-body" style="box-shadow: none; padding: 0%;">
                                            <span style="font-size: 3em; margin-left: -10%; "><i class="fas fa-check"></i></span>
                                            <span style="font-size: 1.5em; padding-left: 3%; ">YES</span>
                                                <span style="margin-left: 70%;">
                                                    <label><input class="uk-checkbox" type="checkbox" style="background-color: #E4E4E4; color: white; padding: 2%2%;" onclick="require_child(this)" name="flashsale"></label>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block" style="margin-top: 0%; width: 110%; margin-left: -5%;padding: 2% 0%;">
                                <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 2% 0%; " uk-grid>
                                    <div>
                                        <div class=" uk-card uk-card-default uk-card-body" style="box-shadow: none; padding: 0%;">
                                            <span style="font-size: 3em; margin-left: -80%; "><i class="fas fa-percentage"></i></span>
                                            <span style="font-size: 1.5em; padding-left: 3%; ">DISCOUNT</span>
                                            <span>
                                                <div>
                                                    <p uk-margin>
                                                        <input id="discount" class="uk-input uk-width-1-6 uk-form-large" type="number" step="1" style="margin-left: 65%;margin-top: -13%; padding-bottom: 0; font-size: 1.5em;border:solid thin black;color: #000;"  placeholder="Add Price" name="percent_discount">
                                                        <button onclick="getDiscount()" class="uk-button uk-button-default" type="button" style="margin-top: -13%;color: #000; ">check</button>
                                                    </p>
                                                    <p style="margin-left: 55%;margin-top: -5%; ">
                                                        <span style="color: #ED796D;font-size: 1.2em;">Total Price (SALE)</span>
                                                        <span>
                                                        <input readonly id="sale" class="uk-input uk-width-1-4 uk-form-large" type="text" style="padding-bottom: 0; font-size: 1.5em;border:solid thin black;color: #000;"  placeholder="Add" disable>
                                                        </span>
                                                    </p>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block" style="margin-top: 0%; width: 110%; margin-left: -5%;padding: 2% 0%;">
                                <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 2% 0%; " uk-grid>
                                    <div>
                                        <div class=" uk-card uk-card-default uk-card-body" style="box-shadow: none; padding: 0%;">
                                            <span style="font-size: 3em; margin-left: -80%; "><i class="fas fa-calendar-check"></i></span>
                                            <span style="font-size: 1.5em; padding-left: 3%; ">DATE</span>
                                            <span>
                                                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" style="width: 50%; margin-left: 70%;">
                                                    <select class="uk-select" style="width: 20%; margin-left: 3%;border:solid thin black;color: #000;" name="day" id="day">
                                                        <option>DD</option>
                                                        {% for i in day %}
                                                            <option >{{i}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <select class="uk-select" style="width: 20%; margin-left: 3%;border:solid thin black;color: #000;" name="month" id="month">
                                                        <option>MM</option>
                                                        {% for i,m in month %}
                                                            <option >{{m}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <select class="uk-select" style="width: 20%; margin-left: 3%;border:solid thin black;color: #000;" name="year" id="year">
                                                        <option>YY</option>
                                                        {% for i in year %}
                                                            <option >{{i}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </span>
                                            <p style="color: #F3705A; text-align: left;">(Flash Sale will start at 00:01 AM and end at 11:59 PM )</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p style="padding-top: 10%;" uk-margin>
                                {% comment %} <a class="uk-button uk-button-default" style="font-size: 1.5em; background-color: #F3705A; color: white; width: 30%; margin-left: 0%;margin-right: 2%;; padding: 2%2%;border-radius: 2vh;" href="#">Submit</a>
                                <a class="uk-button uk-button-default" style="font-size: 1.5em; background-color: white; color: #6E6E6E; width: 30%; margin-left: 0%; padding: 2%2%;border-radius: 2vh;" href="#">Cancel</a> {% endcomment %}
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" style="margin-top: 0%; ">
            <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 2% 0% 0% 0%; " uk-grid>
                <div>
                    <div class=" uk-card uk-card-default uk-card-body" style="box-shadow: none; padding: 0%;">
                        <span style="font-size: 3em; margin-left: -67%; "><i class="fas fa-shipping-fast"></i></span>
                        <span style="font-size: 1.5em; padding-left: 3%;">Shipping Price</span>
                        <div style="margin-left: 75%;margin-top: -6%;padding-bottom: 5%;">
                            <button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-flip3" style="font-size: 1.5em; color: rgba(111, 111, 111, 0.685);border: none;">></button>
                        </div>
                        <div id="offcanvas-flip3" uk-offcanvas="flip: true; overlay: true" style="">
                            <div class="uk-offcanvas-bar" style="width: 100%;background-color: #DBEAFD;">
                            <button class="uk-offcanvas-close" type="button" style="color: black;" uk-close></button>
                            <h3 style="color: #6F6F6F">ADD DETAIL</h3>
                                <div class="block" style="margin-top: 10%; width: 110%; margin-left: -5%; padding: 2% 0%;">
                            {% for logis in logistic %}
                                    <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; padding: 2% 0%; " uk-grid>
                                        <div>
                                            <div class=" uk-card uk-card-default uk-card-body" style="box-shadow: none; padding: 0%;">
                                                <p style="font-size: 1.5em; margin-left: -5%; color: #000;">{{logis}}
                                                    <span style="padding-left: 40%;">
                                                        <label><input class="uk-checkbox" type="radio" style="background-color: #E4E4E4; color: white; padding: 2%2%;" value="{{logis.pk}}" name="shipping"></label>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                            {% endfor %}
                                </div>
                            <p style="padding-top: 10%;" uk-margin>
                                {% comment %} <a class="uk-button uk-button-default" style="font-size: 1.5em; background-color: #F3705A; color: white; width: 30%; margin-left: 0%;margin-right: 2%;; padding: 2%2%;border-radius: 2vh;" href="#">Submit</a>
                                <a class="uk-button uk-button-default" style="font-size: 1.5em; background-color: white; color: #6E6E6E; width: 30%; margin-left: 0%; padding: 2%2%;border-radius: 2vh;" href="#">Cancel</a> {% endcomment %}
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p style="padding-top: 10%; margin-left: 27%;" uk-margin>
            <button class="uk-button uk-button-default" style="font-size: 1.5em; background-color: #F3705A; color: white; width: 30%; margin-left: 0%;margin-right: 2%;; padding: 2%2%;border-radius: 2vh;" href="#">Submit</button>
            <a class="uk-button uk-button-default" style="font-size: 1.5em; background-color: white; color: #6E6E6E; width: 30%; margin-left: 0%; padding: 2%2%;border-radius: 2vh;" href="{% url 'shop:sellhome' %}">Cancel</a>
        </p>
        <div style="padding-bottom: 10%;"></div>

        <input type="text" name="picture" id="pic" hidden>

        </form>
        <script>
        function getDiscount(){
            let percent = (document.getElementById('discount').value)/100;
            let price = document.getElementById('price').value
            document.getElementById('sale').value = price-(percent * price)
        }
        var bar = document.getElementById('js-progressbar');
        let list_pic = []
        UIkit.upload('.js-upload', {
    
            url: "{% url 'shop:upload_pic' %}",
            multiple: true,
    
            beforeSend: function () {
                console.log('beforeSend', arguments);
            },
            beforeAll: function () {
                console.log('beforeAll', arguments);
            },
            load: function () {
                console.log('load', arguments);
            },
            error: function () {
                console.log('error', arguments);
            },
            complete: function () {
                console.log('complete', arguments);
                let res = arguments[0].response
                console.log(res)
                list_pic.push(res)
            },
            completeAll: function () {
                console.log('completeAll', arguments);
                console.log(list_pic)
                document.getElementById('pic').value = list_pic
                let text = ""
                list_pic.forEach(elm=>{
                    text += `Image ${elm} Upload sucess <br>`
                })
                document.getElementById('display_upload').innerHTML = text
                alert('Upload Completed');
            }
    
        });
        function require_child(elm){
            let state = elm.checked
            console.log(state)
            document.getElementById('day').required = state
            document.getElementById('month').required = state
            document.getElementById('year').required = state
            document.getElementById('discount').required = state
            if(state){
                elm.value = "yes"
            }
            else{
                elm.value = "no"
            }
        }
        </script>
    </body>
</html>