{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/catagory2.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <title>Catagory</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
    </head>
    <body>
    <body>
        <style>
        </style>
        <a href="" class="back-button">< HOME</a>
        
        <div class="beaytymenu-background">
          <div class="uk-child-width-expand@s" uk-grid style="padding-top: 5%; padding-left: 3%;">
            <div class="uk-grid-item-match">
                <div class="uk-margin">
                    <form class="uk-search uk-search-default">
                        <span uk-search-icon></span>
                        <input class="uk-search-input" type="search"  style="background-color: white; border-radius: 2vh; width: 280%; padding-top: 15%; padding-bottom: 15%; " placeholder="Search..." id="searchbox" onkeyup="onKeyupHandler(event)" value={{search_key}}>
                    </form>
                  <div class="autocomplete" uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav suggestions">
                        <li>ไม่มีคำแนะนำ</li>
                    </ul>
                  </div>
                </div>
             </div>
            <div class="heart">
                <nav class="navbar navbar-light bg-black">
                        <a  href="{% url 'shop:myfavourite' %}">
                            <img  src="{% static 'img/heart_PNG51335.png' %}" width="20%" style="margin-left: 60%; margin-top: -5%;" alt="">
                        </a>
                </nav>
            </div>
          </div>
        </div>
        
          {% block content %}
          {% endblock content %}  
        <div >

            <div class="" style="margin-top: -230.0%;">
              <a href="{% url 'shop:justforyou' %}">
                <img src="{% static 'img/justforu.png' %}" width="20%"  alt="...">
              </a>
              <br>
              <a href="{% url 'shop:healthandbeauty' %}">
                <img src="{% static 'img/health.png' %}"  style="width: 20%; margin-top: 0%;" alt="...">
              </a>
              <br>
              <a href="{% url 'shop:electronics' %}">
                <img src="{% static 'img/elec.png' %}"  style="width: 20%; margin-top: 0%;" alt="...">
              </a>
              <br>
              <a href="{% url 'shop:homeandlifestyle' %}">
                <img src="{% static 'img/home.png' %}"  style="width: 20%; margin-top: 0%;" alt="...">
              </a>
              <br>
              <a href="{% url 'shop:fashion' %}">
                <img src="{% static 'img/fashion.png' %}"  style="width: 20%; margin-top: 0%;" alt="...">
              </a>
              <br>
              <a href="{% url 'shop:sportsandtravel' %}">
                <img src="{% static 'img/sport.png' %}"  style="width: 20%; margin-top: 0%;" alt="...">
              </a>
              <br>
              <a href="{% url 'shop:electronics' %}">
                <img src="{% static 'img/pets.png' %}"  style="width: 20%; margin-top: 0%;" alt="...">
              </a>
              <br>
              <a href="{% url 'shop:toys' %}">
                <img src="{% static 'img/toy.png' %}"  style="width: 20%; margin-top: 0%;" alt="...">
              </a>
            </div>
        </div>  
          

        
        <div class="fixed-bottom">
          <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
            <div>
                <div class="uk-background-muted ">
                   <a class="home-button" href="{% url 'shop:home' %}">
                  <img src="{% static 'img/home1.png' %}"  width="100%" alt="...">
                </a>
              </div>
            </div>
            <div>
                <div class="uk-background-muted">
                  <a class="order-button" href="{% url 'shop:fashion' %}">
                    <img src="{% static 'img/cata1.png' %}"  width="100%" alt="...">
                </a>
                </div>
            </div>
            <div>
                <div class="uk-background-muted">
                  <a href="{% url 'shop:mycart' %}">
                    <img src="{% static 'img/order1.png' %}"  width="100%" alt="...">
                  </a>
                </div>
            </div>
            <div>
              <div class="uk-background-muted">
                <a href="{% url 'shop:profile' %}">
                  <img src="{% static 'img/pikpay1.png' %}"  width="100%" alt="...">
                </a>
            </div>
          </div>
        </div>
        </div>
         
    </body>
    <script src="{% static 'js/axios.js' %}"></script>
    <script>
      search().then(product => renderSuggestionList(product))
            function search() {
                let searchText = document.querySelector('#searchbox').value

                return axios.get(`/api/v1/product/?format=json&search=${searchText}`)
                .then(response => response.data)
                .catch(error => console.error(error))
            }

            function onKeyupHandler(e) {
                if (e.keyCode === 13) {
                    search().then(product => renderListedPeople(product))
                } 
                else {
                    search().then(product => renderSuggestionList(product))
                }
            }
              function searchBySuggestion(name, last_name) {
                document.querySelector('#searchbox').value = `${name} ${last_name}`

                search().then(people => renderListedPeople(people))
            }
            function renderSuggestionList(product) {
                console.log(product)
                let renderSuggestionList = ''

                if (product.results.length != 0) {
                    product.results.forEach(function(p){
                        renderSuggestionList += `
                                    <li>
                                        <a href="/search/?search=${p.name}">
                                            ${p.name}
                                        </a>
                                    </li>
                                `
                    });
                }
                else {
                renderSuggestionList = '<li>ไม่มีคำแนะนำ</li>'
                }

                let suggestionDOM = document.querySelector('.suggestions')
                suggestionDOM.innerHTML = renderSuggestionList
            }
            function getBuck(){
                return axios.get(`/shop/api/mybuck/`).
                then(response => response.data)
                .catch(error => console.error(error))
            }
            function bucket(){
                getBuck().then(data=>renderBuck(data))
            }
            function renderBuck(data){
                console.log(data)
                var renderText = ''
                var count=0
                var total_price =0
                if(data.length!=0){
                    data.forEach(d=>{
                        // console.log(d);
                        renderText += `<li>
                                <div class="uk-child-width-expand@s uk-margin-remove" uk-grid> 
                                    <div class="uk-padding-remove " id="img1"><img src="${d.image}"></div>
                                    <div class="uk-padding-remove uk-display-block"> 
                                        <h1>${d.name}</h1><br>
                                        <div class="uk-display-inline">
                                            <p> ${d.amount} </p>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-text-right" >
                                    <a onclick="del_buck(${d.id})">remove</a>
                                    <br>
                                    <h2>฿ ${d.price}</h2>
                                </div>
                            </li>`
                        
                        count+=1
                        total_price+=d.price
                    })
                }
                document.getElementById('cart_item').innerHTML = renderText;
                document.getElementById('count').innerHTML = count
                document.getElementById('total_price').innerHTML = total_price
            }
            function del_buck(pk){
                axios.get(`/del_bucket/${pk}`).
                then(response => response)
                .catch(error => console.error(error))
                bucket()
            }

    </script>
</html>


