{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        
        <title>Chat</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style>
            

        </style>
        <br><br>
        <a href="#" class="home-button">< HOME</a>
        <br><br>
        <div class="white">
            <div class="white-bg">
                <div class="search-box">
                    <span uk-search-icon></span>
                    <input class="search-txt" type="text" name="" placeholder="ค้นหาผู้ใช้">
                </div>
            </div>
            
            <div class="login">
                <hr>
                <ul uk-tab >
                    <li class="b1"><a href="#">ALL</a></li>
                    <li class="b2"><a href="#">UNREAD</a></li>
                </ul>
                
                <ul class="uk-switcher uk-margin">
                    <li>
                        <button class="chat-button" type="button" ><p style="padding-top: 2%;">Shop Name</p><p style="color: #6F6F6F; margin-left: -21%; margin-top: 0%;">You sent a Sticker</p></button>
                        <img class="chat-img" data-src="{% static 'img/holding_avatar@3x.png' %}"  alt="" uk-img>
                        <div class="status">2</div>

                        <button class="chat-button" type="button" style="border-top: none;"><p style="padding-top: 2%;">Shop Name</p><p style="color: #6F6F6F; margin-left: -21%; margin-top: 0%;">You sent a Sticker</p></button>
                        <img class="chat-img" data-src="{% static 'img/holding_avatar@3x.png' %}  alt="" uk-img>

                        <button class="chat-button" type="button" style="border-top: none;"><p style="padding-top: 2%;">Shop Name</p><p style="color: #6F6F6F; margin-left: -21%; margin-top: 0%;">You sent a Sticker</p></button>
                        <img class="chat-img" data-src="{% static 'img/holding_avatar@3x.png' %}  alt="" uk-img>
                        <div class="status">2</div>
                    </li>

                    <li>
                        <button class="chat-button" type="button" ><p style="padding-top: 2%;">Shop Name</p><p style="color: #6F6F6F; margin-left: -21%; margin-top: 0%;">You sent a Sticker</p></button>
                        <img class="chat-img" data-src="{% static 'img/holding_avatar@3x.png' %}"  alt="" uk-img>
                        <div class="status">2</div>

                        <button class="chat-button" type="button" style="border-top: none;"><p style="padding-top: 2%;">Shop Name</p><p style="color: #6F6F6F; margin-left: -21%; margin-top: 0%;">You sent a Sticker</p></button>
                        <img class="chat-img" data-src="{% static 'img/holding_avatar@3x.png' %}"  alt="" uk-img>
                        <div class="status">3</div>


                    </li>
    
            </div>
        </div>
        

       
    </body>
</html>