{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        
        <title>Chat</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style>
            
        </style>
        
        <div class="white">
            <br>
            <a href="#" class="home-button">< BACK</a>
            <p class="shop-text"><span style="font-size: 1.6em;" >Shop Name</span><br>Active 12 mins ago</p>
        </div>
        <!-- <div class="product-link"> อันนี้ตัวอย่างเวลาลูกค้ากดลิงก์สินค้าที่สนใจ
            <img class="gray-img" data-src="photo/grayBG.png"  alt="" uk-img>
            <p class="product-text">ROYAL CANIN PUPPY<br><span style="color: #ED796D; ">฿481</span></p>
            <br><br>
            <a href="#" class="product-button">BUY NOW</a>
        </div>
        <p style=" margin-left: 90%; font-size: 1.2em;">16:55</p> --> 
        <img class="chat-img" data-src="{% static 'img/holding_avatar@3x.png' %}"  alt="" uk-img>
        <div class="corner"></div>
        <br>
        <p class="chat-text">ROYAL CANIN PUPPY</p>
        <p style=" margin-left: 45%; font-size: 1.2em;">16:57</p>
        
        <img class="chat-img" data-src="{% static 'img/holding_avatar@3x.png' %}" style="margin-left: 88%;" alt="" uk-img>
        <p class="chat-text" style="margin-left: 55%; background-color: #57C1CF; color: white; ">ROYAL CANIN PUPPY</p>
        <div class="corner2" "></div>
        <br><br><br><br>
        <p style=" margin-left: 80%; font-size: 1.2em;">16:58</p>

        <img class="chat-img" data-src="{% static 'img/holding_avatar@3x.png' %}" style="margin-left: 88%;" alt="" uk-img>
        <p class="chat-text" style="margin-left: 55%; background-color: #57C1CF; color: white;">ROYAL CANIN PUPPY</p>
        <div class="corner2" "></div>
        <br><br><br><br>
        <p style=" margin-left: 80%; font-size: 1.2em;">16:58</p>

        <img class="chat-img" data-src="{% static 'img/holding_avatar@3x.png' %}"  alt="" uk-img>
        <div class="corner"></div>
        <br>
        <p class="chat-text">ROYAL CANIN PUPPY</p>
        <p style=" margin-left: 45%; font-size: 1.2em;">16:57</p>

        <div class="fixed-bottom">
            <div class="type1-bg">
                <br><br>
                        <a href="#" class="auto-button">Hello!</a>
                        <a href="#" class="auto-button">Thank you</a>
                <br><br><br>
                <div style="margin-left: 70%;">
                    <a href="#" style="padding: 7%; margin-left: 5%;" class="auto-button" onclick="openChat()" uk-icon="icon: plus; ratio: 2"></a>
                    <a href="#"  class="auto-button" style="background-color: #ED7D72; color: #FFFFFF; padding: 7%;">SEND</a>
                </div>
                
                <span>
                    <div class="uk-margin" style="margin-left: 5%; margin-top: -8%;">
                        <input class="uk-input uk-width-1-2 uk-form-large" style="padding-top: 4%; padding-bottom: 4%; width: 60%;" type="text" placeholder="Large">
                    </div>
                    </span>
                
               
                </div>
            </div>

            <div class="fixed-bottom">
                <div class="quality-popup" id="chat">
                    <div class="quality-container">
                        <br><br>
                        <a href="#" class="auto-button">Hello!</a>
                        <a href="#" class="auto-button">Thank you</a>
                        <br><br><br>
                    <div style="margin-left: 70%;">
                        <a href="#" style="padding: 7%; margin-left: 5%;" class="auto-button" onclick="closeChat()" uk-icon="icon: close; ratio: 2"></a>
                        <a href="#"  class="auto-button" style="background-color: #ED7D72; color: #FFFFFF; padding: 7%;">SEND</a>
                    </div>
                
                    <span>
                        <div class="uk-margin" style="margin-left: 5%; margin-top: -8%;">
                            <input class="uk-input uk-width-1-2 uk-form-large" style="padding-top: 4%; padding-bottom: 4%; width: 60%;" type="text" placeholder="Large">
                        </div>
                    </span>
                    <hr style="background-color: #ED7D72;">
                    <br>
                    <a href="">
                        <div class="white-chat"></div>
                        <img  data-src="{% static 'img/gallery.png' %}" style="padding-left: 12.5%; margin-top: -15.5%;" alt="" uk-img>
                        <p style="margin-left: 13%; font-size: 1.5em; color: #6F6F6F;margin-top: -2%;">Photo</p>

                    </a>
                    <a href="">
                        <div class="white-chat"></div>
                        <img  data-src="{% static 'img/video-camera.png' %}" style="padding-left: 12.5%; margin-top: -15.5%;" alt="" uk-img>
                        <p style="margin-left: 13%; font-size: 1.5em; color: #6F6F6F;margin-top: -2%;">Video</p>

                    </a>

                    <a>
                        <div class="white-chat" style="margin-top: -36.8%; margin-left: 33%;"></div>
                        <img  data-src="{% static 'img/camera.png' %}" style="margin-left: 35.5%; margin-top: -15.5%;" alt="" uk-img>
                        <p style="margin-left: 35%; font-size: 1.5em; color: #6F6F6F;margin-top: -2%;">Camera</p>

                    </a>

                    <a>
                        <div class="white-chat" style="margin-top: -18.5%; margin-left: 55%;"></div>
                        <img  data-src="{% static 'img/fashion1.png' %}" style="margin-left: 57.5%; margin-top: -15.5%;" alt="" uk-img>
                        <p style="margin-left: 56.5%; font-size: 1.5em; color: #6F6F6F;margin-top: -2%;">Products</p>

                    </a>

                    <a>
                        <div class="white-chat" style="margin-top: -18.5%; margin-left: 78%;"></div>
                        <img  data-src="{% static 'img/gift.png' %}" style="margin-left: 80%; margin-top: -15%;" alt="" uk-img>
                        <p style="margin-left: 81%; font-size: 1.5em; color: #6F6F6F;margin-top: -2%;">Orders</p>

                    </a>
                    
                
                    </div>
                </div>
                
            </div>
            

        <script>
            function openChat() {
              document.getElementById("chat").style.display = "block";
            }
            
            function closeChat() {
              document.getElementById("chat").style.display = "none";
            }

        </script>


    </body>

</html>