{% load static %}
{% load multiply %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <script src="{% static 'js/fc54792532.js' %}"></script>


        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/shoppingInfo.css' %}">
        
        <title>ShoppingInfomation</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style>
            
        
        </style>
        <br><br><br>
        <div class="white-bg">
        <br>
        <img data-src="{% static 'img/deliverytruck.png' %}" class="delivery-img" alt="" uk-img>
        <h1>Shopping Information</h1>
        <div class="delivery-way">

        </div>
        <div class="uk-margin" style="margin-left: 15%; color: #000">
            
        </div>
        <p style="font-size: 1.5em;margin-top: 5%; margin-left: 15%; color: #000;">Delivery Address</p>
        <br>
        
        <p style="font-size: 1.5em;margin-top: 5%; margin-left: 15%; color: #000;">Order Detail</p>
        <table style="width: 69%; margin-left: 15%;">
            <tr style="  background-color: #E4E4E4;font-size: 0.8em;  ">
                <th style="border-right: none; text-align: left; padding-left: 10%;width: 60%; ">Product</th>
                <th style="border-right: none; border-left: none;width: 10%;">Price</th>
                <th style="border-right: none; border-left: none;">Quantity</th>
                <th style="border-left: none;">Sub Total</th>
            </tr>
            {% for product in bucket %}
                <tr style="font-size: 0.8em; ">
                    <th style="border-right: none;width: 65%; ">
                        <img data-src="{{product.product.product.photo.first.file.url}}" style="width: 30%; padding-left: 5%;" class="" alt="" uk-img>
                        <span style="padding-left: 3%;">{{product.product.product.name}}</span>
                    </th>
                    <th style="border-right: none; border-left: none;">฿ {{product.product.product.price}}</th>
                    <th style="border-right: none; border-left: none; text-align: center;">{{product.amount}}</th>
                    <th style="border-left: none; text-align: center;">฿ {% multiply product.amount product.product.product.price %}</th>
                </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        

        <div class="total">
            <p style="margin-left: 65%; margin-top: 2%; color: #000;">Total Amount<span style="padding-left: 5%; padding-right: 5%;">:</span>฿ {{order_price}}</p>
            <p style="margin-left: 65%;margin-top: -3%; color: #000;">Delivery Fee<span style="padding-left: 5%; padding-right: 5%;">:</span>+ ฿ {{delivery_method.price}}</p>
            <p style="margin-left: 65%; margin-top: -3%;color: #000;">Payment Amount<span style="padding-left: 5%; padding-right: 5%;">:</span><span style="color: #FF6E6E;">฿ {{total_price}}</span></p>
        </div>
        <form action="" method="post">
        {% csrf_token %}
            <p uk-margin>
                <a class="uk-button uk-button-default" style="background-color: #E4E4E4; color: #6F6F6F; width: 15%;padding: 0; margin-left: 60%;margin-top: 5%;"  href="{% url 'shop:shoppinginfo' %}"> Back</a>
                <button type="submit" class="uk-button uk-button-default" style="background-color:#FF6E6E; color: white;width: 17%;padding: 0;margin-top: 5%;" href="#">Confirm and Pay </button>
            </p>
            <input type="text" name="confirm" hidden>
            <input type="text" name="logistic" value="{{delivery_method.pk}}" hidden>
            <input type="text" name="payment_method" value="{{payment.pk}}" hidden>
        </form>
    
        </div>

    </body>

</html>