{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/editprofile.css' %}">

        
        <title>Edit Profile</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style type="text/css" >
            
           
        </style>
        <a href="{% url 'shop:profile' %}" class="back-button">< BACK</a>
        <br><br><br>
        <div class="white-bg">
            <div class="credit-head">
                <p>MY Profile</p>
                <hr>
            </div>
            <!-- Name Username Phone number Email Gender Birthday -->
            <div class="credit-bg">
                <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-2@s uk-text-center"style="margin-left:3%; width: 90%;margin-top:-2%; "; uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="width: 80%; text-align: left; margin-top: 3%;box-shadow: none; background-color: #F7F5F5;" >
                            <div class="uk-margin">
                                <p style="padding-bottom: 10%;">Username</p>
                            </div>
                            <div class="uk-margin">
                                <p style="padding-bottom: 10%;">Name</p>
                            </div>
                            <div class="uk-margin">
                                <p style="padding-bottom: 10%;">Phone number</p>
                            </div>
                            <div class="uk-margin">
                                <p style="padding-bottom: 10%;">Gender</p>
                            </div>
                            <div class="uk-margin">
                                <p>Birthday</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="width: 120%; margin-left: -15%;box-shadow: none; background-color: #F7F5F5;" >
                            <form method="post">
                                {% csrf_token %}
                                <div class="uk-margin">
                                    <input class="uk-input uk-form-width-large" style="border-color: #E3866C;" type="text" placeholder="Large" value="{{profile.user}}" disabled>
                                </div>
                            
                                <div class="uk-margin">
                                    <input class="uk-input uk-form-width-large" style="border-color: #E3866C;" type="text" placeholder="Large" name="name" value="{{profile.first_name}} {{profile.last_name}}">
                                </div>
                            
                                <div class="uk-margin">
                                    <input class="uk-input uk-form-width-large" style="border-color: #E3866C;" type="text" placeholder="Large" name="phone" value="{{profile.phone}}">
                                </div>
                            
                                {% comment %} <div class="uk-margin">
                                    <input class="uk-input uk-form-width-large" style="border-color: #E3866C;" type="text" placeholder="Large">
                                </div> {% endcomment %}
                                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" style="width: 150%;">
                                    {% if profile.gender == 'm' %}
                                        <label><input class="uk-radio" type="radio" name="gender" checked value="m" style="background-color: #E3866C;"> Male</label>
                                        <label><input class="uk-radio" type="radio" name="gender" value="f" style="background-color: #E3866C;"> Female</label>
                                        <label><input class="uk-radio" type="radio" name="gender" value="r" style="background-color: #E3866C;"> Rather not say</label>
                                    {% elif profile.genter == 'f' %}
                                        <label><input class="uk-radio" type="radio" name="gender" value="m" style="background-color: #E3866C;"> Male</label>
                                        <label><input class="uk-radio" type="radio" name="gender" checked value="f" style="background-color: #E3866C;"> Female</label>
                                        <label><input class="uk-radio" type="radio" name="gender" value="r" style="background-color: #E3866C;"> Rather not say</label>
                                    {% else %}
                                        <label><input class="uk-radio" type="radio" name="gender" value="m" style="background-color: #E3866C;"> Male</label>
                                        <label><input class="uk-radio" type="radio" name="gender" value="f" style="background-color: #E3866C;"> Female</label>
                                        <label><input class="uk-radio" type="radio" name="gender" checked value="r" style="background-color: #E3866C;">  Rather not say</label>
                                    {% endif %}
                                </div>
                                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" style="width: 150%;">
                                    <select class="uk-select" style="width: 20%; margin-left: 3%;" name="day">
                                        {% for i in day %}
                                            {% if i == profile.dob.day %}
                                                <option selected >{{i}}</option>
                                            {% else %}
                                                <option >{{i}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <select class="uk-select" style="width: 20%; margin-left: 3%;" name="month">
                                        {% for i,m in month %}
                                            {% if i == profile.dob.month %}
                                                <option selected >{{m}}</option>
                                            {% else %}
                                                <option >{{m}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <select class="uk-select" style="width: 20%; margin-left: 3%;" name="year">
                                        {% for i in year %}
                                            {% if i == profile.dob.year %}
                                                <option selected >{{i}}</option>
                                            {% else %}
                                                <option >{{i}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                        </div>
                    </div>
                </div>   
                <p uk-margin style="padding-top: 3%;margin-left: 40%;">
                    <button class="uk-button uk-button-default" href="#" style="border-color: #E3866C; background-color: #E3866C;color: white; font-size: 1.2em;border-radius: 2vh;padding: 2% 13%;">save</button>
                </p>
            </form>
            </div>
        </div>
            
          
    </body>
</html>