{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/editaddress.css' %}">

        
        <title>Edit Address</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style type="text/css" >
            
           
        </style>
        <!-- Name Phone Province District Zipcode Address -->
        <a href="{% url 'shop:home' %}" class="back-button">< BACK</a>
        <br><br><br>
        <div class="white-bg">
            <div class="credit-head">
                <p>MY Profile</p>
                <hr>
            </div>
            <div class="credit-bg">
                <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-2@s uk-text-center"style="margin-left:3%; width: 90%;margin-top:-2%; "; uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="width: 80%; text-align: left; margin-top: 3%;box-shadow: none; background-color: #F7F5F5;" >
                            <div class="uk-margin">
                                <p style="padding-bottom: 10%;">Name</p>
                            </div>
                            <div class="uk-margin">
                                <p style="padding-bottom: 10%;">Phone</p>
                            </div>
                            <div class="uk-margin">
                                <p style="padding-bottom: 10%;">Province</p>
                            </div>
                            <div class="uk-margin">
                                <p style="padding-bottom: 5%;">District</p>
                            </div>
                            <div class="uk-margin">
                                <p style="padding-bottom: 10%;">Zipcode</p>
                            </div>
                            <div class="uk-margin">
                                <p>Address</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="width: 120%; margin-left: -15%;box-shadow: none; background-color: #F7F5F5;" >
                            <form>

                                <div class="uk-margin">
                                    <input class="uk-input uk-form-width-large" style="border-color: #E3866C;" type="text" placeholder="Large">
                                </div>
                            
                                <div class="uk-margin">
                                    <input class="uk-input uk-form-width-large" style="border-color: #E3866C;" type="text" placeholder="Large">
                                </div>
                            
                                <div class="uk-margin">
                                    <select class="uk-select" style="width: 100%; margin-left: 0%;border-color:#E3866C;">
                                        <option>01</option>
                                        <option>02</option>
                                    </select>
                                </div>
                            
                                <div class="uk-margin">
                                    <select class="uk-select" style="width: 100%; margin-left: 0%;border-color:#E3866C;">
                                        <option>01</option>
                                        <option>02</option>
                                    </select>
                                </div>
                                <div class="uk-margin">
                                    <input class="uk-input uk-form-width-large" style="border-color: #E3866C;" type="text" placeholder="Large">
                                </div>
                                <div class="uk-margin">
                                    <textarea class="uk-textarea" rows="5" placeholder="Textarea" style="border-color: #E3866C;"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>   
                <p uk-margin style="padding-top: 3%;margin-left: 40%;">
                    <a class="uk-button uk-button-default" href="#" style="border-color: #E3866C; background-color: #E3866C;color: white; font-size: 1.2em;border-radius: 2vh;padding: 2% 13%;">save</a>
                </p>
            </div>
        </div>
            
          
    </body>
</html>