{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <!-- <link rel="stylesheet" type="text/css" href="product.css"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
        <!-- <link rel="stylesheet" href="jquery.nice-number.css"> -->
        <link rel="stylesheet" href="{% static 'css/jquery.nice-number.css' %}">
        <!-- <script src="https://code.jquery.com/jquery-3.5.0.js"></script> -->
        <script src="{% static 'js/jquery-3.5.0.js' %}"></script>
        <!-- <script src="jquery.nice-number.js"></script> -->
        <script src="{% static 'js/jquery.nice-number.js' %}"></script>
        <!-- <script src="product.js"></script>
        <script src="anime.min.js"></script> -->

        <script src="{% static 'js/product.js' %}"></script>
        <script src="{% static 'js/anime.min.js' %}"></script>

        <script type="text/javascript">
            $(function(){

            $('input[type="number"]').niceNumber();

        });</script>


        <!-- UIkit CSS -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/css/uikit.min.css" /> -->
        <!-- <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" /> -->

        <!-- UIkit JS -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/js/uikit.min.js"></script> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/js/uikit-icons.min.js"></script> -->
        <!-- <script src="https://kit.fontawesome.com/fc54792532.js" crossorigin="anonymous"></script> -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>
        <title>Product</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
    </head>
    <body>

   



        <a href="#" class="back-button">< BACK</a>

        <div style="margin-left: 30%;">
           <nav class="navbar navbar-light bg-black">
               <a class="navbar-brand" href="#">
                   <img class="cart-btn" src="{% static 'img/cart.png' %}" alt="">
               </a>
             </nav>
           <nav class="navbar navbar-light bg-black">
               <a class="navbar-brand" href="#">
                 <img class="chat-btn" src="{% static 'img/heart_PNG51335.png' %}"  alt="">
               </a>
             </nav>
        </div>
           
           
       
        <div class="white-background">
            <p class="uk-flex uk-flex-center@m uk-flex-right@l" style="margin-left: 70%; padding-top: 3%;" uk-margin>
                <a class="uk-button uk-button-default" style="font-size: 1.5em; border: none;" href="#">
                    <span style="padding-bottom: 0%;">edit</span>
                    <span style="margin-top: -2%;"><i class="fas fa-ellipsis-h"></i></span>
                </a>
            </p>
            <div class="uk-text-center"  uk-grid>
                <div class="uk-width-expand@m uk-height-large uk-flex uk-flex-center ">
                    <div style=" margin-top: 5%; width: 130%; margin-left: -25%; " class="uk-child-width-1-2@s " uk-grid uk-height-match="target: > div > .uk-card">
                        <div class="uk-panel" style="margin-top: 10%; margin-left: -2%;">
                            <div style="margin-left:0%;"> 
                                <div class="uk-card uk-card-default uk-card-body" style="background: none;box-shadow: none;">
                                <!-- photo of product -->
                                <img src="{% static 'img/banner1.jpg' %}" style="width: 100%;" alt="..."> 
                                <br>
                                <!-- name of product -->
                                
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="uk-grid-small uk-child-width-1-6@s uk-text-center" style="margin-left: -4%; margin-top: -5%;" uk-grid>
                <div class="uk-panel" >
                    <div style="margin-left:0%;"> 
                        <div class="uk-card uk-card-default uk-card-body" style="background: none;box-shadow: none;">
                        <!-- photo of product -->
                        <img src="{% static 'img/grayProduct.png' %}" style="max-height: 14vh;" alt="..."> 
                        <br>
                        <!-- name of product -->
                        
                        </div>
                     </div>
                </div>
                <div class="uk-panel" >
                    <div style="margin-left:0%;"> 
                        <div class="uk-card uk-card-default uk-card-body" style="background: none;box-shadow: none;">
                        <!-- photo of product -->
                        <img src="{% static 'img/grayProduct.png' %}" style="max-height: 14vh;" alt="..."> 
                        <br>
                        <!-- name of product -->
                        
                        </div>
                     </div>
                </div>
                <div class="uk-panel" >
                    <div style="margin-left:0%;"> 
                        <div class="uk-card uk-card-default uk-card-body" style="background: none;box-shadow: none;">
                        <!-- photo of product -->
                        <img src="{% static 'img/grayProduct.png' %}" style="max-height: 14vh;" alt="..."> 
                        <br>
                        <!-- name of product -->
                        
                        </div>
                     </div>
                </div>        
                
            </div>
    
            
        </div>
           
       
               <div class="product-background" style="">
                   <div>
                       <img data-src="{% static 'img/bookmark.png' %}"  style="padding-left: 80%;" alt="" uk-img>
                       <p style="font-size: 0.8em; margin-top:-13%; margin-left: 83%; color: white;">14 %<br>SAVE</p>
                   </div>
                   <p style="padding-left: 5%;margin-top: -5%; font-size: 1.5em;">Name of Product</p>
                   <p style="padding-left: 5%;margin-top: 0%; font-size: 1.3em; color: #E74C3C;">฿ 481</p>
                   <p style="padding-left: 5%;margin-top: -4%; font-size: 1.1em; "><del>฿ 561</del></p>
       
       
                   
               <a href="">
                   <button type="button" class="lowestprice-button">Lowest Price Guaranteed!</button>
               </a>
               <div class="heart-button">
                   <svg class="bi bi-heart-fill" width="1.7em" height="1.7em" viewBox="0 0 16 16" fill="#E74C3C" xmlns="http://www.w3.org/2000/svg">
                       <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
                   </svg>
               </div>
       
           </div>
       
           
           
       
           <ul id="rating" style="margin-left: 47%; margin-top: -5%;">
               <li class="uk-active">
                   <svg class="bi bi-star-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="#ffcd32" xmlns="http://www.w3.org/2000/svg">
                       <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                   </svg>
               </li>
               <li class="uk-active">
                   <svg class="bi bi-star-fill"  width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="#ffcd32" xmlns="http://www.w3.org/2000/svg">
                       <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                   </svg>
               </li>                                                
               <li class="uk-active">
                   <svg class="bi bi-star-fill"  width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="#ffcd32" xmlns="http://www.w3.org/2000/svg">
                       <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                   </svg>
               </li>                                                
               <li class="uk-active">
                   <svg class="bi bi-star-fill"  width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="#eaeae6" xmlns="http://www.w3.org/2000/svg">
                       <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                   </svg>
               </li>                                                
               <li class="uk-active">
                   <svg class="bi bi-star-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="#eaeae6" xmlns="http://www.w3.org/2000/svg">
                       <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                   </svg>
               </li>                                            
           </ul>  
                   <!-- <div class="rate">
                       <input type="radio" id="star5" name="rate" value="5" />
                       <label for="star5" title="text">5 stars</label>
                       <input type="radio" id="star4" name="rate" value="4" />
                       <label for="star4" title="text">4 stars</label>
                       <input type="radio" id="star3" name="rate" value="3" />
                       <label for="star3" title="text">3 stars</label>
                       <input type="radio" id="star2" name="rate" value="2" />
                       <label for="star2" title="text">2 stars</label>
                       <input type="radio" id="star1" name="rate" value="1" />
                       <label for="star1" title="text">1 star</label>
                     </div> -->
                     <p style="margin-left: 67%; margin-top: -4%; font-size: 1.2em;">| 4.4K Sold</p>
       
                     <div class="product-button">
                     <a class="uk-button uk-button-default uk-width-1-1" href="#modal" uk-toggle>Detail (Ex. Color, Size, Quantity)</a>
                           <div  class = "product-popup"id="modal" uk-modal>
                               <div class="uk-modal-dialog uk-modal-body">
                                   <button class="uk-modal-close-default" type="button" uk-close></button>
                                   <h2 align="right" class="uk-modal-title">ชื่อสินค้า</h2>
                                   <p align="right">price <br>stock</p>
                                   
                                   <hr>
                                   
                                   <p class="uk-text-right">
                                       <p align="left" style="font-size: 20px;">Types</p>
                                       <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade">
                                           <li><a href="#" style="background-color:#ED796D ; color: white  ;";>Item</a></li>
                                           <li><a href="#" style="background-color:#ED796D ;";>Item</a></li>
                                           <li><a href="#" style="background-color:#ED796D;";>Item</a></li>
                                       </ul>
                                       
                                           <!-- <ul class="uk-switcher uk-margin">
                                               <li></li>
                                               <li></li>
                                               <li></li>
                                           </ul>
                                        -->
                                       <hr>
       
                                           <p align="left" style="font-size: 20px;">Quantity</p>
                                           <p align="left" style="font-size: 18px; color: #ED796D;">(256 piece Available)</p>
                                           <p align="left" ><br><br><br></p>
                                           <div class="box"  >
                                               <input type="number" value="0">
                                           </div>
       
                                           <div class="submit" style="background-color:#ED796D;";>
                                               <button class="uk-button uk-button-text ">Submit</button>
               
                                           </div>
                                           <div class="cancel">
                                               <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                           </div>
       
                                   
                                   
                                   </p>
                               </div>
       
                           </div>
                     </div>
       
                     <div class="seller-background">
                       <img data-src="{% static 'img/holding_avatar@3x.png' %} "  style="padding-left: 5%;padding-top: 5%; width: 20%;" alt="" uk-img>
                       <p align="left" style="font-size: 20px; margin-top: -15%; padding-left: 25%;">Name<br>Patumthani</p>
                       <a href="">
                           <button type="button" class="viewShop">View Shop</button>
                       </a>
                       <div style="font-size: 1em; margin-top: 7%; margin-left: 7%;"><p style="padding-left: 5%;color: #E74C3C;">96</p><br><p style="margin-top: -10%;">Products</p></div>
                       <div style="font-size: 1.5em; margin-top: -15%; margin-left: 27%;"><p style="padding-left: 5%;">|</div>
                           
                       <div style="font-size: 1em; margin-top: -13%; margin-left: 45%;"><p style="padding-left: 5%;color: #E74C3C;">4.7</p><br><p style="margin-top: -17%;">Rating</p></div>
                       <div style="font-size: 1.5em; margin-top: -15%; margin-left: 65%;"><p style="padding-left: 5%;">|</div>
           
                       <div style="font-size: 1em; margin-top: -13%; margin-left: 80%;"><p style="padding-left: 5%;color: #E74C3C;">100%</p><br><p style="margin-top: -49%; margin-left: 5%;" >Sold</p></div>
       
           
       
                     </div>
       
                     <div class="desciption-background">
                       <p align="left" style="font-size: 20px;  margin-left: 20px; margin-top: 20px;"><b>Product Description</b></p>
                       <hr  color="#E74C3C" style="margin-top: 20px;">
                       <p align="middle" style="font-size: 20px;  margin-left: -500px; margin-top: 30px; color: #6F6F6F;"><b>Brand<br><br>Stock<br><br>Shipping From</b></p>
                       <p align="middle" style="font-size: 20px;  margin-left: 50%; margin-top: -22%; color: #6F6F6F;">ROYAL CANIN<br><br>256<br><br>Klongluang Patumthani</p>
       
                       <hr>
                       <p align="left" style="font-size: 20px;  margin-left: 20px; margin-top: 30px; color: #6F6F6F;">- สำหรับสุนัขขนาดเล็กและโต (ตามสูตรของแต่ละรสชาติ)<br>- ช่วยคุมรูปร่างให้สมส่วน และสลายไขมันส่วนเกิน<br>- ความน่ากินสูง ดูแลสุขภาพผิวหนังและเส้นขน - ลดการสะสมของหินปูน</p>
                   </div>
       
                   <div class="product-decideBG">
                           <a href="">
                               <button type="button" style="background-color: rgba(247, 165, 120, 0.726); border-radius: 0%; color: #000000;margin-left:20%; font-size: 16px; width: 200px;border-radius: 5px; margin-top: 5%;"><img data-src="photo/smart-cart@3x.png" width="" height="" alt="" uk-img>  Add To Cart</button>
                           </a>
                           <a href="">
                               <button type="button" style="background-color: #E74C3C; border-radius: 0%; height: 48px; font-size: 16px; width: 200px; color: #FFFFFF; margin-left: 40px;border-radius: 5px">  BUY NOW!</button>
                           </a>
                       
                   </div>
       
       
                   <div class="review-background">
                       <div class="review-head"><p style=" font-size: 26px;  margin-left: 340px; margin-top: 20px; color: #FFFFFF;">REVIEW</p></div>
                       <ul class="uk-comment-list">
                           <li>
                               <article class="uk-comment uk-visible-toggle" style="margin-left: 20px; margin-top: 90px;" tabindex="-1">
                                   <header class="uk-comment-header uk-position-relative">
                                       <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                           <div class="uk-width-auto">
                                               <img class="uk-comment-avatar" src="photo/account@3x.png" width="40" height="40" alt="">
                                           </div>
                                           
                                           <div class="uk-width-expand">
                                               <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#" ></a>Author</a></h4>
                                               <div class="uk-width-auto">
                                                   <ul id="rating" style="margin-left: -5%;">
                                                       <li class="uk-active">
                                                           <svg class="bi bi-star-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="#ffcd32" xmlns="http://www.w3.org/2000/svg">
                                                               <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                           </svg>
                                                       </li>
                                                       <li class="uk-active">
                                                           <svg class="bi bi-star-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="#ffcd32" xmlns="http://www.w3.org/2000/svg">
                                                               <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                           </svg>
                                                       </li>                                                
                                                       <li class="uk-active">
                                                           <svg class="bi bi-star-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="#ffcd32" xmlns="http://www.w3.org/2000/svg">
                                                               <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                           </svg>
                                                       </li>                                                <li class="uk-active">
                                                           <svg class="bi bi-star-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="#eaeae6" xmlns="http://www.w3.org/2000/svg">
                                                               <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                           </svg>
                                                       </li>                                                
                                                       <li class="uk-active">
                                                           <svg class="bi bi-star-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="#eaeae6" xmlns="http://www.w3.org/2000/svg">
                                                               <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                           </svg>
                                                       </li>                                            
                                                   </ul>                                        
                                               </div>
                                           </div>
                                      
                                   </header>
                                   <div class="uk-comment-body">
                                       <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                   </div>
                               </article>
                      
                               <div class="uk-grid-small uk-child-width-1-6@s uk-text-center" style="margin-left: -4%; margin-top: 0%;" uk-grid>
                                <div class="uk-panel" >
                                    <div style="margin-left:0%;"> 
                                        <div class="uk-card uk-card-default uk-card-body" style="background: none;box-shadow: none;">
                                        <!-- photo of product -->
                                        <img src="{% static 'img/grayProduct.png' %}" style="max-height: 14vh;" alt="..."> 
                                        <br>
                                        <!-- name of product -->
                                        
                                        </div>
                                     </div>
                                </div>
                                <div class="uk-panel" >
                                    <div style="margin-left:0%;"> 
                                        <div class="uk-card uk-card-default uk-card-body" style="background: none;box-shadow: none;">
                                        <!-- photo of product -->
                                        <img src="{% static 'img/grayProduct.png' %}" style="max-height: 14vh;" alt="..."> 
                                        <br>
                                        <!-- name of product -->
                                        
                                        </div>
                                     </div>
                                </div>
                                <div class="uk-panel" >
                                    <div style="margin-left:0%;"> 
                                        <div class="uk-card uk-card-default uk-card-body" style="background: none;box-shadow: none;">
                                        <!-- photo of product -->
                                        <img src="{% static 'img/grayProduct.png' %}" style="max-height: 14vh;" alt="..."> 
                                        <br>
                                        <!-- name of product -->
                                        
                                        </div>
                                     </div>
                                </div> 
                            </div>
                               <hr style="margin-top: 60px;">
                               <ul>
                                   <li>
                                       <!-- <article class="uk-comment uk-comment-primary uk-visible-toggle" style="width: 600px;" tabindex="-1">
                                           <header class="uk-comment-header uk-position-relative">
                                               <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                                   <div class="uk-width-auto">
                                                       <img class="uk-comment-avatar" src="photo/account@3x.png" width="40" height="40" alt="">
                                                   </div>
                                                   <div class="uk-width-expand">
                                                       <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                                                       <div class="uk-width-auto">
                                                           <img class="" src="photo/starrate@3x.png" style="margin-top: -20px; margin-left: -10px;" width="80" height="80" alt="">
                                                       </div>
                                                   </div>
                                               </div>
                                               <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#" style="background-color: #E74C3C;">Reply</a></div>
                                           </header>
                                           <div class="uk-comment-body">
                                               <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                           </div>
                                       </article> -->
                                   </li>
                               </ul>
           </body>
        </html>
           
              