{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/favorite.css' %}">

        
        <title>Favorite</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style type="text/css" >
            
            
        </style>
        
            <div class="back-button">
                <a href="{% url 'shop:home' %}">< HOME</a>
            </div>
            
            <br>
            <div class="white-bg">
                <div class="head">
                    <p style="font-size: 2.3em;">My Favorite</p>
                </div>  
          	
                <img data-src="{% static 'img/wintersale.png' %}" class="sale-img" alt="" uk-img>
                <div class="uk-child-width-1-3@s uk-text-center uk-grid-match" style="width: 95%;margin-left: 1.5%; margin-top: 5.5%;" uk-grid uk-height-match="target: > div > .uk-card" >
					{% for p in favorite %}
						<a href="{% url 'shop:product' p.product.pk %}">
							<div> 
								<div class="uk-card uk-card-default uk-card-body" style="background-color: #F7F5F5;">
								<!-- photo of product -->
								<br><br><br>
								<div style="padding-top: 0%;">
									<div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0% ;background-color: #F7F5F5;">
										<img src="{{p.product.photo.first.file.url}}" alt="..."> 
									</div>
								</div>                    
								<br><br><br>
								<!-- name of product -->
								<br>{{p.product.name}}
								<!-- price of product -->
								<br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ {{p.product.price}}</span> 
								</div>
							</div>
						</a>
					{% endfor %}
                </div>

                <img data-src="photo/wintersale.png" class="sale-img" alt="" uk-img>

            	</div>
			</div>
    
    </body>
</html>