{% load static %}
{% load percentage %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <title>PikPay</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        <script src="{% static 'js/axios.js' %}"></script>
        <script src="{% static 'js/search.js' %}"></script>
    </head>
    <body>
 
           <style>
               body{
       margin: 0;
       padding: 0;
       background: #FEFBE5;
       min-height: 600vh;
   }
   
       
           </style>
      
   
   
           <div class="uk-child-width-expand@s" uk-grid style="padding-top: 10%; padding-left: 7%;">
               <div class="uk-grid-item-match">
                   <div class="uk-margin">
                       <form class="uk-search uk-search-default">
                           <span uk-search-icon></span>
                           <input class="uk-search-input" type="search"  style="background-color: white; border-radius: 2vh; width: 350%; padding-top: 15%; padding-bottom: 15%; " placeholder="Search..." id="searchbox" onkeyup="onKeyupHandler(event)" value={{search_key}}>
                       </form>
                   </div>
                    <div class="autocomplete" uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav suggestions">
                            <li>ไม่มีคำแนะนำ</li>
                        </ul>
                    </div>
                </div>
                <div class="heart">
                   <nav class="navbar navbar-light bg-black">
                           <a  href="{% url 'shop:myfavourite' %}">
                               <img  src="{% static 'img/heart_PNG51335.png' %}" width="20%" style="margin-left: 60%; margin-top: -5%;" alt="">
                           </a>
                   </nav>
               </div>
           </div>
   
           <div class="uk-margin-medium uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: 6:2; animation: push" style="width: 90%;  margin-left: 5%;">
   
               <ul class="uk-slideshow-items">
                   <li>
                       <img src="{% static 'img/banner1.jpg' %} " alt="" uk-cover>
                   </li>
                   <li>
                       <img src="{% static 'img/shipfree.png' %} " alt="" uk-cover>
                   </li>
                   <li>
                       <img src="{% static 'img/daily-banner.png' %} " alt="" uk-cover>
                   </li>
               </ul>
           
               <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
               <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
           
           </div>
   
           <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-1@s uk-text-center" uk-grid>
               <div>
                   <div class="uk-card uk-card-default uk-card-body" style="background-color: #DBEAFD; padding-bottom: 5%;margin-top: 5%; width: 90%; margin-left: 5%;padding-right: 3%;">
                       <div class="uk-flex uk-flex-center" style="margin-top: -8%;width: 120%;margin-left: -10%;"  uk-grid>
                           <div class="uk-width-1-3 uk-height-small ">
                               <img  src="{% static 'img/hotproduct-banner.png' %} " alt="">
                           </div>
                       </div>
                       <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s uk-text-center uk-grid-match" uk-grid uk-height-match="target: > div > .uk-card" style="margin-top: -3%;">
                            {% for p in hot_promotion_mobile %}
                                <a href="{% url 'shop:product' p.pk %}">
                                    <div>
                                        <div class="uk-card uk-card-default uk-card-body" style="background-color: #FFFFFF;">
                                            <div style="padding-top: 5%;">
                                                <br>
                                                <div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0%;background-color: #FFFFFF;">
                                                    <img src="{{p.photo.first.file.url}}"   alt="..."> 
                                                </div>
                                            </div>
                                            <br>
                                            <br>{{p.name}}
                                            <br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ {{p.price}}</span>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
           
           
   
           <div class="uk-flex uk-flex-center uk-child-width-expand uk-grid-small uk-text-center" uk-grid style="margin-top: 10%; margin-left: 8%;">
               <div>
                   <div class="uk-width-expand">
                       <img src="{% static 'img/shipfree.png' %}" style="width: 90%;" alt="">
                   </div>
               </div>
               <div class="uk-width-1-3">
                       <img style="width: 45%; margin-left: -30%;" src="{% static 'img/kiehl.png' %} " alt="">
               </div>
           </div>
   
            
           <div class="uk-text-center"  uk-grid>
               <div class="uk-width-expand@m uk-height-large uk-flex uk-flex-center ">
                   <div style="background-color: #F7F5F5; padding-bottom: 45%; margin-top: 5%; width: 90%; margin-left: 1%;" class="uk-child-width-1-3@s uk-grid-match" uk-grid uk-height-match="target: > div > .uk-card">
                       <div class="uk-text-center" style="width: 100%;padding-top: 7%; margin-left: -4%; margin-top: 3%;" uk-grid uk-height-match="target: > div > .uk-cover" >
                           <div class="uk-position-relative uk-visible-toggle uk-black" tabindex="-1" uk-slider>
   
                               <ul class="uk-slider-items  uk-child-width-1-3@m uk-grid uk-grid-match" style="max-width: 100%;">
                                    {% for p in flash_sale %}
                                        <a href="{% url 'shop:product' p.product.pk %}">
                                            <li>
                                                <div>
                                                    <div class="uk-card uk-card-default uk-card-body" style="background-color: #FFFFFF;">
                                                    <div style="padding-top: 5%;">
                                                        <br>
                                                        <div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0%;background-color: #FFFFFF;">
                                                            <img src="{{p.product.photo.first.file.url}} "   alt="..."> 
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <br>{{p.product.name}}
                                                    <br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ {{p.product.price}}</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </a>
                                    {% endfor %}
                               </ul>
                           
                               <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous" ></a>
                               <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                           
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="uk-flex uk-flex-left" style="margin-top: -40%; margin-left:5% ;"  uk-grid>
               <div class="uk-width-1-3 uk-height-small ">
                <img src="{% static 'img/flash-banner.png' %}"   alt="..."> 
            </div>
               <hr style="background-color: #B54C48; width: 90%; margin-left: 1%; height: 0.1vh; margin-top: -9%;">
           </div>
          
   
           <div class="uk-grid-small uk-child-width-auto uk-flex uk-flex-right" uk-grid uk-countdown="date: {{today}}" style="padding-right: 10%; margin-top: -14.5%; ">
               <div class="count" >
                   <div class="uk-countdown-number uk-countdown-hours" style="font-size: 1em;"></div>
               </div>
               <div class="uk-countdown-separator" style="font-size: 1.5em; padding-left: 2%; padding-right: 2%;">:</div>
               <div class="count" >
                   <div class="uk-countdown-number uk-countdown-minutes" style="font-size: 1em;"></div>
               </div>
               <div class="uk-countdown-separator" style="font-size: 1.5em;padding-left: 2%; padding-right: 2%;">:</div>
               <div class="count" >
                   <div class="uk-countdown-number uk-countdown-seconds" style="font-size: 1em;"></div>
               </div>
           </div>
           <br>
           <br>
   
           <div class="uk-margin">
               <div class="bom-up">
               </div>
           </div>
           <div class="uk-margin uk-flex uk-flex-center">
               <div class="bom-up" style="width: 30%; margin-top: -3%; margin-left: -2%;" >
                   <p style="font-size: 1.5em; color:white; text-align: center; padding: 0%;">BEST OF MONTH</p>
               </div>
           </div>
           <div class="uk-margin">
               <div class="bom-up" style="margin-top: -3%;">
               </div>
           </div>
          
   
           <div class="uk-text-center"  uk-grid>
               <div class="uk-width-expand@m uk-height-large uk-flex uk-flex-center ">
                   <div style="background-color: #FFFFFF; padding-bottom: 5%; margin-top: -2%; width: 90%; margin-left: 0%;" class="uk-child-width-1-3@s uk-grid-match" uk-grid uk-height-match="target: > div > .uk-card">
                            <div style="margin-left: -2%; margin-top: 7%;"> 
                                <a href="{% url 'shop:product' first.pk %}">
                                    <div class="uk-card uk-card-default uk-card-body" style="background-color: #F7F5F5; ">
                                        <!-- photo of product -->
                                        <img src="{% static 'img/sil.png' %}" style="margin-top: -35%; width: 40%; margin-left: 80%;" alt="...">
                                        <div style="padding-top: 5%;">
                                                <br>
                                                <div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0%;background-color: #F7F5F5;">
                                                    <img src="{{first.photo.first.file.url}}"   alt="..."> 
                                                </div>
                                            </div>    
                                        <br>
                                        <!-- name of product -->
                                        <br>{{first.name}}
                                        <!-- price of product -->
                                        <br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ {{first.price}}</span> 
                                    </div>
                                </a>
                            </div>

                            <div style="margin-top: 7%;">
                                <a href="{% url 'shop:product' second.pk %}">
                                    <div class="uk-card uk-card-default uk-card-body" style="background-color: #F7F5F5;">
                                    <!-- photo of product -->
                                    <img src="{% static 'img/gold.png' %}" style="margin-top: -35%; width: 40%; margin-left: 80%;" alt="...">
                                    <div style="padding-top: 5%;">
                                        <br>
                                        <div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0%;background-color: #F7F5F5;">
                                            <img src="{{second.photo.first.file.url}}"   alt="..."> 
                                        </div>
                                    </div>                      
                                        <br>
                                    <!-- name of product -->
                                    <br>{{second.name}}
                                    <!-- price of product -->
                                    <br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ {{second.price}}</span> 
                                    </div>
                                </a> 
                            </div>

                            <div style="margin-top: 7%;">
                                <a href="{% url 'shop:product' third.pk %}">
                                    <div class="uk-card uk-card-default uk-card-body" style="background-color: #F7F5F5;">
                                    <!-- photo of product -->
                                    <img src="{% static 'img/bronze.png' %} " style="margin-top: -35%; width: 40%; margin-left: 80%;" alt="...">
                                    <div style="padding-top: 5%;">
                                        <br>
                                        <div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0%;background-color: #F7F5F5;">
                                            <img src="{{third.photo.first.file.url}}"   alt="..."> 
                                        </div>
                                        </div>                            
                                        <br>
                                    <!-- name of product -->
                                    <br>{{third.name}}
                                    <!-- price of product -->
                                    <br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ {{third.price}}</span> 
                                    </div>
                                </a>
                            </div>
                   </div>
               </div>
           </div>
           <div class="uk-margin">
               <div class="bom-up" style="margin-top: -2%;">
               </div>
           </div>
   
           <div class="catagory-background">
               <div class="catagory-word">
               <p class="font-weight-bold">CATEGORIES</p>
               </div>
                <img class="catagory-logo" src="{% static 'img/a772e06d9e.png' %}"  height=40px alt="...">
           </div>
           <div class="catagory-line">
           </div>
           
          <a href="{% url 'shop:homeandlifestyle' %}">
           <img src="{% static 'img/home.png' %} " style="margin-top: -43%; width: 13%; margin-left: 20%;" alt="...">
          </a>
          <a href="{% url 'shop:fashion' %}">
           <img src="{% static 'img/fashion.png' %} " style="margin-top: -43%; width: 13%; margin-left: 2%;" alt="...">
          </a>
          <a href="{% url 'shop:healthandbeauty' %}">
           <img src="{% static 'img/health.png' %} " style="margin-top: -43%; width: 13%; margin-left: 2%;" alt="...">
          </a>
          <a href="{% url 'shop:sportsandtravel' %}">
           <img src="{% static 'img/sport.png' %} " style="margin-top: -43%; width: 13%; margin-left: 2%;" alt="...">
          </a>
     
          <a href="{% url 'shop:groceriesandpets' %}">
           <img src="{% static 'img/pets.png' %} " style="margin-top: -15%; width: 13%; margin-left: 20%;" alt="...">
          </a>
          <a href="{% url 'shop:toys' %}">
           <img src="{% static 'img/toy.png' %} " style="margin-top: -15%; width: 13%; margin-left: 2%;" alt="...">
          </a>
          <a href="{% url 'shop:electronics' %}">
           <img src="{% static 'img/elec.png' %} " style="margin-top: -15%; width: 13%; margin-left: 2%;" alt="...">
          </a>
          <a href="{% url 'shop:justforyou' %}">
           <img src="{% static 'img/justforu.png' %} " style="margin-top: -15%; width: 13%; margin-left: 2%;" alt="...">
          </a>
   
          <div class="justforyou-background">
             
       </div>
       
       <div class="justforyou-line">
       </div>
       
       <img class="justforyou-banner" src="{% static 'img/justforu-banner.png' %}"  height=160px   alt="...">
   
       <div class="uk-child-width-1-3@s uk-text-center uk-grid-match" style="width: 80%; margin-left: 8%;margin-top: -24%;" uk-grid uk-height-match="target: > div > .uk-card" >
            {% for p in justforyou %}
                <a href="{% url 'shop:product' p.pk %}">
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="background-color: #F7F5F5;">
                            <div style="padding-top: 5%;">
                                <br>
                                <div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0%;background-color: #F7F5F5;">
                                    <img src="{{p.photo.first.file.url}}"  alt="..."> 
                                </div>
                            </div>
                            <br>
                            <br>{{p.name}}
                            <br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ {{p.price}}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
       </div>
    
       
      <div class="fixed-bottom">
       <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
         <div>
             <div class="uk-background-muted ">
                <a class="home-button" href="{% url 'shop:home' %}">
               <img src="{% static 'img/home1.png' %} "  width="100%" alt="...">
             </a>
           </div>
         </div>
         <div>
             <div class="uk-background-muted">
               <a class="order-button" href="{% url 'shop:justforyou' %}">
                 <img src="{% static 'img/cata1.png' %} "  width="100%" alt="...">
             </a>
             </div>
         </div>
         <div>
             <div class="uk-background-muted">
                <a href="{% url 'shop:order' %}">
                    <img src="{% static 'img/order1.png' %} "  width="100%" alt="...">
                </a>
             </div>
         </div>
         <div>
           <div class="uk-background-muted">
                <a href="{% url 'shop:profile' %}">
                    <img src="{% static 'img/pikpay1.png' %} "  width="100%" alt="...">
                </a>
         </div>
       </div>
     </div>
     </div>
               
           
           
           
           
           
           
   
          
       </body>
   </html>
       
    </body>
</html>