{% load static %}
{% load multiply %}
<script src="{% static 'js/uikit.min.js' %}"></script>
<script src="{% static 'js/uikit-icons.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myCart.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.nice-number.css' %}">
        <script src="{% static 'js/jquery-3.5.0.js' %}"></script>
        <script src="{% static 'js/jquery.nice-number.js' %}"></script>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/mycart.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <title>My Cart</title>
    </head>
    <body>
        <style>
          
        </style>
          <div class="myCart-head">
            <a href="{% url 'shop:home' %}" class="home-button"><b>< HOME</a>
            <br>
            <h2>My Cart</h2>
            <br>
        </div>
        <img src="{% static 'img/shippingFree.png' %}" alt="...">

    <form action="" method="post">
        {% csrf_token %}
        {% for product in bucket %}
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s " style="box-shadow: none;" uk-grid>
                <div>
                    <div class="uk-card-body">
                        <br><br><br>
                        <label class="container" >
                        <td><button onclick="del_buck_cart({{product.pk}})"><i class="las la-trash-alt"></i></button></td>
                            {% comment %} <input type="checkbox" name="product2" value="product" ><br/>
                            <span class="checkmark"></span> {% endcomment %}
                        </label>
                        <img  src="{{product.product.product.photo.first.file.url}}" class="product-img" alt="">
                        <p class="product-name">{{product.product.product.name}}</p>
                        <p class="product-detail"> {{product.product.product.seller.shop_name}} </p>
                        <p class="product-detail">{{product.product.name}}</p>
                        <p class="product-price">฿ {{product.product.product.price}}</p>
                        <p class="product-detail">Amount :{{product.amount}} </p>
                        <p class="product-price">Sub total : {% multiply product.amount product.product.product.price %} </p>
                        <br><br>
                    </div>
                </div>
            </div>
        {% endfor %}

        <p uk-margin>
            <a class="uk-button uk-button-default"type="submit" href="{% url 'shop:shoppinginfo' %}" style="margin-top: 10%;font-size: 1.5em; background-color: #ED796D; color: white; padding: 3% 10%; border-radius: 4vh; margin-left: 35%;">Submit</a>
        </p>
    </form>



    </body>
<script src="{% static 'js/axios.js' %}"></script>
<script>
    function del_buck_cart(pk){
            axios.get(`/del_bucket/${pk}`);
            location.reload();
        }
</script>
</html>

