{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mypikpay.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>

        
        <title>MyPikpay</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style>
            
        </style>
            <div class="head">
                <br>
                <a href="#" class="back-button">< BACK</a>
                  <div class="avatar">
                    <span>
                        <p class="user">Username</p>
                        <img data-src="{% static 'img/holding_avatar@3x.png' %}"  alt="" uk-img>
                    </span>
                  </div>
            </div>

            <div class="block" style="margin-top: 3%; ">
                <div class="uk-child-width-expand@s uk-text-center" style="width: 100%; " uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                            <p>
                                <span class="font"><i class="fas fa-shopping-bag"></i></span>
                                <span class="topic">My Purchase</span>
                                <span class="button">
                                    <a class="uk-button uk-button-default" href="#" style="font-size: 1.2em;border: none;">History ></a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block" style="margin-top: 0%; padding: 0%;">
                <div class="uk-child-width-expand@s uk-text-center" style="width: 100%; margin-left: 0%; " uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="padding: 0; width: 150%;margin-top: 30%; box-shadow: none;">
                            <p style="margin-left: -120%;">
                                <span class="button">
                                    <a class="uk-button uk-button-default" href="#" style="font-size: 1.2em;border: none;">                               
                                        <span class="font1"><i class="fas fa-shipping-fast"></i></span>
                                        <p class="text" style="margin-left: -25%;">Ready for shipping</p>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="padding: 0; width: 150%;margin-top: 30%; box-shadow: none;">
                            <p style="margin-left: -120%;">
                                <span class="button">
                                    <a class="uk-button uk-button-default" href="#" style="font-size: 1.2em;border: none;">                               
                                        <span class="font1"><i class="fas fa-file-invoice-dollar"></i></span>
                                        <p class="text">Paying</p>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="padding: 0; width: 150%;margin-top: 30%; box-shadow: none;">
                            <p style="margin-left: -120%;">
                                <span class="button">
                                    <a class="uk-button uk-button-default" href="#" style="font-size: 1.2em;border: none;">                               
                                        <span class="font1"><i class="fas fa-clipboard-check"></i></span>
                                        <p class="text">Success</p>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="padding: 0;margin-left: 20%; width: 80%;margin-top: 30%; box-shadow: none;">
                            <p style="margin-left: -110%;">
                                <span class="button">
                                    <a class="uk-button uk-button-default" href="#" style="font-size: 1.2em;border: none;">                               
                                        <span class="font1"><i class="far fa-thumbs-up"></i></span>
                                        <p class="text">Review</p>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block" style="margin-top: 3%;">
                <div class="uk-child-width-expand@s uk-text-center" style="width: 100%; " uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                            <p  class="text1">
                                <span class="font"><i class="fas fa-store"></i></span>
                                <span class="button1" style="">
                                    <a class="uk-button uk-button-default" href="#" style="font-size: 1.2em;border: none;margin-top: -1%;">My shop</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block" style="margin-top: 0%;">
                <div class="uk-child-width-expand@s uk-text-center" style="width: 100%; " uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                            <p  class="text1" style="margin-left: -70%;">
                                <span class="font" style="color:#e74c3c;"><i class="fas fa-heart"></i></span>
                                <span class="button1" style="">
                                    <a class="uk-button uk-button-default" href="#" style="font-size: 1.2em;border: none;margin-top: -1%;">Likes</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block" style="margin-top: 0%;">
                <div class="uk-child-width-expand@s uk-text-center" style="width: 100%; " uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                            <p  class="text1" style="margin-left: -66%;">
                                <span class="font"><i class="fas fa-info-circle"></i></span>
                                <span class="button1" style="">
                                    <a class="uk-button uk-button-default" href="#" style="font-size: 1.2em;border: none;margin-top: -1%;">Report</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block" style="margin-top: 0%;">
                <div class="uk-child-width-expand@s uk-text-center" style="width: 100%; " uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                            <p  class="text1" style="margin-left: -66%;">
                                <span class="font"><i class="fas fa-wallet"></i></span>
                                <span class="button1" style="">
                                    <a class="uk-button uk-button-default" href="#" style="font-size: 1.2em;border: none;margin-top: -1%;">Wallet</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-bottom: 20%;"></div>
    </body>

</html>