{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysales-detail.css' %}">
    
        <title>MySales-Detail</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style>
           
        </style>
        
        <a href="#" class="back-button" style="">< BACK</a>
        <div>
            <img data-src="{% static 'img/graySquare.png' %}" class="gray-detail" alt="..." uk-img>
        <div class="order-title">
            <p>Order NO.00003<br>User : Username</p>
        </div>
        <div class="detail-text" style=" margin-top: 40%;">
            <p style="color: black;">Product :<p style="color:#6E6E6E;">ROYAL CANIN PUPPY</p></p>
        </div>

        <div class="detail-text">
            <p style="color: black;">Quantity :<p style="color:#6E6E6E;">1</p></p>
        </div>

        <div class="detail-text">
            <p style="color: black;">Price Total :<p style="color:#6E6E6E;">฿ 481</p></p>
        </div>

        <div class="detail-text">
            <p style="color: black;">Payment :<p style="color:#6E6E6E;">Credit/Debit Card</p></p>
        </div>

        <div class="detail-text">
            <p style="color: black;">Status :<p style="color:#6E6E6E;">Unshipped</p></p>
        </div>

        <div class="detail-text">
            <p style="color: black;">Delivery Method :<p style="color:#6E6E6E;">Thailand Post (EMS)<span style="padding-left: 20%;">Tracking ID :</span></p></p>
            <div class="uk-margin">
                <p class="tracknum" style="padding-top: 1%; padding-left: 2%;">RP123456789TH</p>
            </div>
        </div>

        <div class="detail-text" style="margin-top: 5%;">
            <p style="color: black;">Delivery Address :<p style="color:#6E6E6E;">addressaddressaddressaddressaddressaddress addressaddressaddressaddressaddressaddress addressaddressaddressaddressaddressaddress</p></p>
        </div>
        </div>
        
        


    </body>

</html>