{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myWallet.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <title>
            My Wallet
        </title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
    </head>
    <body>
        <style>
          
        </style>
            <div class="head">
                <br>
                <a href="{% url 'shop:sellhome' %}" class="back-button">< BACK</a>
                <div class="uk-navbar-right">

                    <div style="margin-left: 85%;margin-top: -5%; color: #000;">
                        <a class="uk-navbar-toggle" href="#" uk-search-icon="icon: search; ratio: 2"></a>
                        <div class="uk-navbar-dropdown" uk-drop="mode: click; cls-drop: uk-navbar-dropdown; boundary: !nav">
            
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-1-1" style="width: 200%;">
                                    <form class="uk-search uk-search-navbar uk-width-1-1">
                                        <input class="uk-search-input" type="search" placeholder="Search in shop" autofocus>
                                    </form>
                                </div>
                                <div class="uk-width-auto">
                                    <a class="uk-navbar-dropdown-close" href="#" uk-close></a>
                                </div>
                            </div>
            
                        </div>
                    </div>
            
                </div>
                  <div class="avatar">
                    <span>
                        <p class="text-head">My Wallet</p>
                    </span>
                  </div>
            </div>

            <div class="block" style="margin-top: 3%; ">
                <div class="uk-child-width-expand@s uk-text-left" style="width: 100%" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                            <p style="font-size: 1.5em;">
                                Seller Balance
                            </p>
                            <p class="amount">฿ {{seller.total_income}}</p>
                            <p class="auto">Automatic Withdraw</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block" style="margin-top: 3%; ">
                <div class="uk-child-width-expand@s uk-text-left" style="width: 100%" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                            <p style="font-size: 1.5em;">
                                MY BANK ACCOUNT
                            </p>
                            <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;border:solid thin #707070a2;">
                                <span>
                                    <img src="{% static 'img/logo.png' %}" width="10%" style="padding-top:2%;" alt="..."> 
                                    <span style="font-size: 1.7em;padding-left:5%">{{seller.bank.short_en}}</span>
                                    <span style="font-size: 1.7em;padding-left:50%">**** **** **{{seller.account_number| slice:"-4::"}}</span>
                                    <span style="font-size: 1.7em;padding-left:15%;color: #E4E4E4;">checked</span>
                                </span>
                            </div>
                            {% comment %} <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;background-color: #F7F7F7;margin-top: 3%;">
                                <span>
                                    <span style="font-size: 3em;padding-left:3% ;color: #FF6E6E;"><i class="fas fa-credit-card"></i></span>
                                    <span style="font-size: 1.7em;padding-left:47%;">    
                                        <a class="uk-button uk-button-default" style="color: #FF6E6E;font-size:0.8em;border: none;" href="#">+ ADD BANK ACCOUNT</a>
                                    </span>
                                </span>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="uk-child-width-1-2@s uk-text-center " style="width: 80%; margin-left: 10%;margin-top: 5%;" uk-grid uk-height-match="target: > div > .uk-card" >
                <div>
                    <div class="uk-card uk-card-default uk-card-body" style="background-color: #FFFFFF;">
                        <p style="text-align: right;">Order No.00003</p>
                        <div style="padding-top: 5%;">
                        <div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0% ;background-color: #FFFFFF;">
                            <img src="{% static 'img/banner1.jpg' %}" alt="..."> 
                        </div>
                      </div>
                    <br>
                    <br>ROYAL CANIN PUPPY
                    <br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ 481</span>
                    <br>
                    <p style="text-align: left;">Release Date : 06-03-2020</p>
                    <p style="text-align: left;color: #ED796D;">Buyer Confirm Order Received</p>
                    </div>
                  </div>
                  <div>
                    <div class="uk-card uk-card-default uk-card-body" style="background-color: #FFFFFF;">
                        <p style="text-align: right;">Order No.00003</p>
                        <div style="padding-top: 5%;">
                        <div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0% ;background-color: #FFFFFF;">
                            <img src="{% static 'img/banner1.jpg' %}" alt="..."> 
                        </div>
                      </div>
                    <br>
                    <br>ROYAL CANIN PUPPY
                    <br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ 481</span>
                    <br>
                    <p style="text-align: left;">Release Date : 06-03-2020</p>
                    <p style="text-align: left;color: #ED796D;">Buyer Confirm Order Received</p>
                    </div>
                  </div>
                  <div>
                    <div class="uk-card uk-card-default uk-card-body" style="background-color: #FFFFFF;">
                        <p style="text-align: right;">Order No.00003</p>
                        <div style="padding-top: 5%;">
                        <div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0% ;background-color: #FFFFFF;">
                            <img src="{% static 'img/banner1.jpg' %}" alt="..."> 
                        </div>
                      </div>
                    <br>
                    <br>ROYAL CANIN PUPPY
                    <br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ 481</span>
                    <br>
                    <p style="text-align: left;">Release Date : 06-03-2020</p>
                    <p style="text-align: left;color: #ED796D;">Buyer Confirm Order Received</p>
                    </div>
                  </div>
                  <div>
                    <div class="uk-card uk-card-default uk-card-body" style="background-color: #FFFFFF;">
                        <p style="text-align: right;">Order No.00003</p>
                        <div style="padding-top: 5%;">
                        <div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0% ;background-color: #FFFFFF;">
                            <img src="{% static 'img/banner1.jpg' %}" alt="..."> 
                        </div>
                      </div>
                    <br>
                    <br>ROYAL CANIN PUPPY
                    <br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ 481</span>
                    <br>
                    <p style="text-align: left;">Release Date : 06-03-2020</p>
                    <p style="text-align: left;color: #ED796D;">Buyer Confirm Order Received</p>
                    </div>
                  </div>
                 </div>
                
           
              
            
            
            <div style="padding-bottom: 20%;"></div>
    </body>

</html>