{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
    
        <title>Order</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style>
           
        </style>
        <a style="color:black; font-size: 1.5em; margin-left: 2%;" href="{% url 'shop:home' %}">< BACK</a>
        <div class="gray-bg"><a style="color:#F7F5F5 ;">ssss</a>
            <div class="white-bg"><a style="color: white;">ssss</a>
                <ul uk-tab >
                    <li class="b1"><a href="#">ALL</a></li>
                    <li class="b2"><a href="#">UNPAID</a></li>
                    <li class="b3"><a href="#">PAID</a></li>
                </ul>
                
                <ul class="uk-switcher uk-margin">
                    <li>
                        {% for order in all_order %}
                            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-4@s " style="width: 100%;margin-left: 0%;margin-top: -2.8%; box-shadow: none; border-color: #70707048;border-width: thin;border-style: solid;" uk-grid>
                                <div>
                                    <div class="uk-card-body">
                                        <p style="margin-top: 25%; line-height: 120%;font-size: 1.2em;">{{order.timestamp}}<br>Order No.{{order.pk}}</p> 
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <img style="margin-top: 25%;" src="{% static 'img/banner1.jpg' %}" class="product-img" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <p style="margin-top: 25%; line-height: 120%;font-size: 1.2em;">{{order.product.product.name}} - {{order.product.model}}<br>฿ 0000</p> 
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <p uk-margin>
                                            <a class="uk-button uk-button-default" href="#" style="border-color: #57BD37; color: #57BD37;font-size: 0.8em; width: 100%;">buy</a>
                                            <a class="uk-button uk-button-default" href="#" style="border-color: #5CF6FC; color: #5CF6FC;font-size: 0.8em;width: 100%;">Detail</a>
                                            <a class="uk-button uk-button-default" href="#" style="border-color: #E1866C; color: #E1866C;font-size: 0.8em; width: 100%;">Tracking</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </li>
                    <li>
                        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-4@s " style="width: 100%;margin-left: 0%;margin-top: -2.8%; box-shadow: none; border-color: #70707048;border-width: thin;border-style: solid;" uk-grid>
                            <div>
                                <div class="uk-card-body">
                                    <p style="margin-top: 25%; line-height: 120%;font-size: 1.2em;">DD/MM/YYYY XX.XX<br>Order No.004</p> 
                                </div>
                            </div>
                            <div>
                                <div class="uk-card-body">
                                    <img style="margin-top: 25%;" src="{% static 'img/banner1.jpg' %}" class="product-img" alt="">
                                </div>
                            </div>
                            <div>
                                <div class="uk-card-body">
                                    <p style="margin-top: 25%; line-height: 120%;font-size: 1.2em;">NameProduct<br>฿ 0000</p> 
                                </div>
                            </div>
                            <div>
                                <div class="uk-card-body">
                                    <p uk-margin>
                                        <a class="uk-button uk-button-default" href="#" style="border-color: #57BD37; color: #57BD37;font-size: 0.8em; width: 100%;">buy</a>
                                        <a class="uk-button uk-button-default" href="#" style="border-color: #5CF6FC; color: #5CF6FC;font-size: 0.8em;width: 100%;">Detail</a>
                                        <a class="uk-button uk-button-default" href="#" style="border-color: #E1866C; color: #E1866C;font-size: 0.8em; width: 100%;">Tracking</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-4@s " style="width: 100%;margin-left: 0%;margin-top: -2.8%; box-shadow: none; border-color: #70707048;border-width: thin;border-style: solid;" uk-grid>
                            <div>
                                <div class="uk-card-body">
                                    <p style="margin-top: 25%; line-height: 120%;font-size: 1.2em;">DD/MM/YYYY XX.XX<br>Order No.004</p> 
                                </div>
                            </div>
                            <div>
                                <div class="uk-card-body">
                                    <img style="margin-top: 25%;" src="{% static 'img/banner1.jpg' %}" class="product-img" alt="">
                                </div>
                            </div>
                            <div>
                                <div class="uk-card-body">
                                    <p style="margin-top: 25%; line-height: 120%;font-size: 1.2em;">NameProduct<br>฿ 0000</p> 
                                </div>
                            </div>
                            <div>
                                <div class="uk-card-body">
                                    <p uk-margin>
                                        <a class="uk-button uk-button-default" href="#" style="border-color: #5CF6FC; color: #5CF6FC;font-size: 0.8em;width: 100%;">Detail</a>
                                        <a class="uk-button uk-button-default" href="#" style="border-color: #E1866C; color: #E1866C;font-size: 0.8em; width: 100%;">Tracking</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>