{% extends 'shop/mobile/base.html' %}
{% load static %}
{% block title %} Sport {% endblock title %}



{% block content %}

	<div>
		<img src="{% static 'img/sport-banner.png' %}"  alt="...">
	</div>
	<div class="uk-child-width-1-3@s uk-text-center uk-grid-match" style="width: 70%; margin-left: 25%;margin-top: 8.5%;" uk-grid uk-height-match="target: > div > .uk-card" >
		{% for p in product %}
			<a href="{% url 'shop:product' p.pk %}" class="">
				<div>
					<div class="uk-card uk-card-default uk-card-body" style="background-color: #F7F5F5;">
					<br>
					<div style="padding-top: 5%;">
						<div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0% ;background-color: #F7F5F5;">
						<img src="{{p.photo.first.file.url}}" alt="..."> 
						</div>
					</div>
					<br>
					<br>{{p.name}}
					<br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ {{p.price}}</span>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>

{% endblock content %}
