{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <!-- <link rel="stylesheet" type="text/css" href="product.css"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
        <!-- <link rel="stylesheet" href="jquery.nice-number.css"> -->
        <link rel="stylesheet" href="{% static 'css/jquery.nice-number.css' %}">
        <!-- <script src="https://code.jquery.com/jquery-3.5.0.js"></script> -->
        <script src="{% static 'js/jquery-3.5.0.js' %}"></script>
        <script src="{% static 'js/jquery.nice-number.js' %}"></script>
        <script src="{% static 'js/product.js' %}"></script>
        <script src="{% static 'js/anime.min.js' %}"></script>
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>
        <title>PikPay | {{product.name}}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    </head>
    <body>

   



        <a href="{% url 'shop:home' %}" class="back-button">< BACK</a>

        <div style="margin-left: 30%;">
           <nav class="navbar navbar-light bg-black">
               <a class="navbar-brand" href="{% url 'shop:mycart' %}">
                   <img class="cart-btn" src="{% static 'img/cart.png' %}" alt="">
               </a>
             </nav>
           <nav class="navbar navbar-light bg-black">
               <a class="navbar-brand" href="{% url 'shop:myfavourite' %}">
                 <img class="chat-btn" src="{% static 'img/heart_PNG51335.png' %}"  alt="">
               </a>
             </nav>
        </div>
           
           
       
        <div class="white-background">
            <div class="uk-text-center"  uk-grid>
                <div class="uk-width-expand@m uk-height-large uk-flex uk-flex-center ">
                    <div style=" margin-top: 5%; width: 130%; margin-left: -25%; " class="uk-child-width-1-2@s " uk-grid uk-height-match="target: > div > .uk-card">
                        <div class="uk-panel" style="margin-top: 10%; margin-left: -2%;">
                            <div style="margin-left:0%;"> 
                                <div class="uk-card uk-card-default uk-card-body" style="background: none;box-shadow: none;">
                                <!-- photo of product -->
                                <img src="{{product.photo.first.file.url}}" style="width: 100%;" alt="..."> 
                                <br>
                                <!-- name of product -->
                                
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="uk-grid-small uk-child-width-1-6@s uk-text-center" style="margin-left: -4%; margin-top: -5%;" uk-grid>
                {% comment %} {% for img in product.photo.all %} {% endcomment %}
                    <div class="uk-panel" >
                        <div style="margin-left:0%;"> 
                            <div class="uk-card uk-card-default uk-card-body" style="background: none;box-shadow: none;">
                            <!-- photo of product -->
                            {% comment %} <img src="{{img.file.url}}" style="max-height: 14vh;" alt="...">  {% endcomment %}
                            <br>
                            </div>
                        </div>
                    </div>
                {% comment %} {% endfor %}  {% endcomment %}
            </div>
    
            
        </div>
           
       
               <div class="product-background" style="">
                   <div>
                       <img data-src="{% static 'img/bookmark.png' %}"  style="padding-left: 80%;" alt="" uk-img>
                       <p style="font-size: 0.8em; margin-top:-13%; margin-left: 83%; color: white;">14 %<br>SAVE</p>
                   </div>
                   <p style="padding-left: 5%;margin-top: -5%; font-size: 1.5em;">{{product.name}}</p>
                   <p style="padding-left: 5%;margin-top: 0%; font-size: 1.3em; color: #E74C3C;">฿ {{product.price}}</p>
                   {% comment %} <p style="padding-left: 5%;margin-top: -4%; font-size: 1.1em; "><del>฿ 561</del></p> {% endcomment %}
       
       
                   
               <a href="">
                   <button type="button" class="lowestprice-button">Lowest Price Guaranteed!</button>
               </a>
               <a>
                    <div class="heart-button" id="favbutt">
                        <button onclick="fav({{product.pk}})">
                            <svg class="bi bi-heart-fill" width="1.7em" height="1.7em" viewBox="0 0 16 16" fill="#E74C3C" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
                            </svg>
                        </button>
                    </div>
               </a>
       
           </div>
       
           
           
       
           <ul id="rating" style="margin-left: 47%; margin-top: -5%;">
              
               <h6 class="uk-margin-remove" id="star{{review.pk}}"></h6>
           </ul>  
                  
                     <p style="margin-left: 67%; margin-top: -4%; font-size: 1.2em;">| {{product.sales}} Sold</p>
       
                     <div class="product-button">
                        <button class="uk-button uk-button-default uk-width-1-1" href="#modal" uk-toggle="target: #modal"> <p id='display_detail'>Detail (Ex. Color, Size, Quantity)</p> </button>
                        <div class="uk-container" uk-dropdown="mode: click">
                     </div>
                           <div  class = "product-popup"id="modal" uk-modal>
                               <div class="uk-modal-dialog uk-modal-body">
                                   <button class="uk-modal-close-default" type="button" uk-close></button>
                                   <h2 align="right" class="uk-modal-title">{{product.name}}</h2>
                                   <p align="right">{{product.price}} <br>{{product.total_amount}}</p>
                                   
                                   <hr>

                                   <p class="uk-text-right">
                                       <p align="left" style="font-size: 20px;">Types</p>
                                        {% for detail in details %}
                                            <input type="radio" id="model" name="model" value="{{detail.pk}}"  onchange="showmodel('{{detail.model}}','{{detail.pk}}');"><label for="model" id="s_model">{{detail.model}}</label>
                                        {% endfor %}
                                    <hr>
       
                                           <p align="left" style="font-size: 20px;">Quantity</p>
                                           <p align="left" style="font-size: 18px; color: #ED796D;">({{product.total_amount}} piece Available)</p>
                                           <p align="left" ></p>
                                           <div class="uk-align-right uk-flex-inline uk-margin-large-left" style="background-color: #F4F4F4;">
                                                <button onclick="adj_quan(-1)" type="button"><i class="las la-minus"></i></button>
                                                <p id="quantity" name="quantity">  </p>
                                                <button onclick="adj_quan(1)" type="button"><i class="las la-plus"></i></button>
                                           </div>                            
                                   </p>
                                <button class="uk-button uk-modal-close uk-button-default" type="button">OK</button>
                               </div>
       
                           </div>
                     </div>
       
                     <div class="seller-background">
                       <img data-src="{% static 'img/holding_avatar@3x.png' %} "  style="padding-left: 5%;padding-top: 5%; width: 20%;" alt="" uk-img>
                       <p align="left" style="font-size: 20px; margin-top: -15%; padding-left: 25%;"><br>{{product.seller.shop_name}}</p>
                       <a href="">
                           <button type="button" class="viewShop">View Shop</button>
                       </a>
                       <div style="font-size: 1em; margin-top: 7%; margin-left: 7%;"><p style="padding-left: 5%;color: #E74C3C;">96</p><br><p style="margin-top: -10%;">Products</p></div>
                       <div style="font-size: 1.5em; margin-top: -15%; margin-left: 27%;"><p style="padding-left: 5%;">|</div>
                           
                       <div style="font-size: 1em; margin-top: -13%; margin-left: 45%;"><p style="padding-left: 5%;color: #E74C3C;">4.7</p><br><p style="margin-top: -17%;">Rating</p></div>
                       <div style="font-size: 1.5em; margin-top: -15%; margin-left: 65%;"><p style="padding-left: 5%;">|</div>
           
                       <div style="font-size: 1em; margin-top: -13%; margin-left: 80%;"><p style="padding-left: 5%;color: #E74C3C;">100%</p><br><p style="margin-top: -49%; margin-left: 5%;" >Sold</p></div>
                     </div>
                    <form action="" method="post">
                        {% csrf_token %} 
                        <div class="product-decideBG">
                            <h4 style="text-align: center;color="red";">{{msg}}</h4>
                            <input type="number" name="quantity" id="input_quan" value="1" hidden>
                            <input type="text" name='model' id="form_model" hidden>         
                            <button type="submit" name="add" style="background-color: rgba(247, 165, 120, 0.726); border-radius: 0%; color: #000000;margin-left:20%; font-size: 16px; width: 200px;border-radius: 5px; margin-top: 5%;"><img data-src="{% static 'img/smart-cart@3x.png' %}" width="" height="" alt="" uk-img>  Add To Cart</button>
                            <button type="submit" name="buy" style="background-color: #E74C3C; border-radius: 0%; height: 48px; font-size: 16px; width: 200px; color: #FFFFFF; margin-left: 40px;border-radius: 5px">  BUY NOW!</button>
                        </div>
                    </form>
       
                     <div class="desciption-background">
                       <p align="left" style="font-size: 20px;  margin-left: 20px; margin-top: 20px;"><b>Product Description</b></p>
                       <hr  color="#E74C3C" style="margin-top: 20px;">
                       <p align="middle" style="font-size: 20px;  margin-left: -500px; margin-top: 30px; color: #6F6F6F;"><b>Brand<br><br>Stock<br><br>Shipping From</b></p>
                       <p align="middle" style="font-size: 20px;  margin-left: 50%; margin-top: -22%; color: #6F6F6F;">{{product.name}}<br><br>{{product.amount}}<br><br>KlongLuang</p>
       
                       <hr>
                       <p align="left" style="font-size: 20px;  margin-left: 20px; margin-top: 30px; color: #6F6F6F;">{{product.description}}
                   </div>
       
       
                   <div class="review-background">
                       <div class="review-head"><p style=" font-size: 26px;  margin-left: 340px; margin-top: 20px; color: #FFFFFF;">REVIEW</p></div>
                       <ul class="uk-comment-list">
                            {% for review  in reviews %}
                                <li>
                                    <article class="uk-comment uk-visible-toggle" style="margin-left: 20px; margin-top: 90px;" tabindex="-1">
                                        <header class="uk-comment-header uk-position-relative">
                                            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                                <div class="uk-width-auto">
                                                    <img class="uk-comment-avatar" src="{% static 'img/account@3x.png' %}" width="40" height="40" alt="">
                                                </div>
                                                
                                                <div class="uk-width-expand">
                                                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#" ></a>{{review.buyer.account}}</a></h4>
                                                    <div class="uk-width-auto">
                                                        <ul id="rating" style="margin-left: -5%;">
                                                                                                
                                                        </ul>                                        
                                                    </div>
                                                </div>
                                            
                                        </header>
                                        <div class="uk-comment-body">
                                            <p>{{review.description}}</p>
                                        </div>
                                    </article>
                            
                                    <div class="uk-grid-small uk-child-width-1-6@s uk-text-center" style="margin-left: -4%; margin-top: 0%;" uk-grid>
                                        {% for pic in review.photo.all %}
                                            <div class="uk-panel" >
                                                <div style="margin-left:0%;"> 
                                                    <div class="uk-card uk-card-default uk-card-body" style="background: none;box-shadow: none;">
                                                    <!-- photo of product -->
                                                    <img src="{{pic.file.url}}" style="max-height: 14vh;" alt="..."> 
                                                    <br>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <hr style="margin-top: 60px;">
                                </li>
                            {% endfor %}
                        </ul>
           </body>
        </html>
<script src="{% static 'js/axios.js' %}"></script>
<script src="{% static 'js/renderstar.js' %}"></script>
<script>
var favorite = '{{is_fav}}'

function fav(pk){
    console.log(pk);
    axios.get(`/add_favorite/${pk}`)
        .then(response => response.data)
        .catch(error => console.error(error))
    if(favorite==='False'){
        document.getElementById('favbutt').style.color='red';
        favorite = 'False'
    }else{
        document.getElementById('favbutt').style.color='black';
    }
    
}

if(favorite ==='True'){
    document.getElementById('favbutt').style.color='red';
}

function showmodel(name,pk){
    console.log(name,pk);
    document.getElementById('display_detail').innerHTML = name;
    document.getElementById('form_model').value = pk;
}

function amount(){
    let quan = document.getElementById('quan').value
    console.log(quan);
}
var quan = 1;
document.getElementById('quantity').innerHTML = quan;
function adj_quan(value){
    if(quan>=1){
        if(value == -1){
            quan -= 1;
            if(quan==0){
                quan=1;
            }
        }
        else{
            quan += 1;
            elm = quan;
        }
    }
    document.getElementById('quantity').innerHTML = quan;
    document.getElementById('input_quan').value = quan;
}
</script>
           
              