{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <script src="{% static 'js/fc54792532.js' %}"></script>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">


        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
        
        <title>Profile</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>

    <body>
        <style>
            
        </style>
        <br>
        <div class="back-button">
            <a href="{% url 'shop:home' %}" style="color: black;" >< HOME</a>
        </div>
        <br>
        <div class="white-bg">
            <div style="width: 70%;padding-top: 5%; padding-left: 3%; " class="uk-child-width-expand@s uk-text-center"  uk-grid uk-height-match="target: > div > .uk-card">
                <div>
                    <div class="uk-card uk-card-default uk-card-body" style="background-color: white;box-shadow: none;">
                        {% if profile.image %}
                            <img class="profilepic" src="{{ profile.image.url }}" alt="Profile" height="100%" width="100%">
                        {% else %}
                            <img class="profilepic" src="{% static 'img/Profile.png' %}" alt="Profile" height="100%" width="100%">
                        {% endif %}
                        <br>
                        <img src="{% static 'img/logofinal.png' %}" style="margin-left: -2%;" width="30%" alt="" uk-img>
                        <span style="font-size: 1.2em;">{{profile.user}}</span>
                    </div>
                 </div>
                 <div>
                    <div class="uk-card uk-card-default uk-card-body" style="background-color: white;box-shadow: none;">
                        <div class="profile-head" >MY Profile</div>  
                        <div class="profile-body">
                            <p style="padding-top: 5%;">Name : {{profile.first_name}} {{profile.last_name}}</p>
                            <br><p>Username : {{profile.user}}</p>
                            <br><p>Phone number : {{profile.phone}}</p>
                            <br><p>Email : {{profile.user.email}}</p>
                            <br><p>Gender : {{profile.get_gender_display}}</p>
                            <br><p>Birthday : {{profile.dob}}</p>
                            <p uk-margin>
                                <a class="uk-button uk-button-default" style="background-color: white; border-style: solid; border-color: #E3866C; border-width: thin; margin-left: 70%;" href="{% url 'shop:editprofile' %}">Edit</a>
                            </p> 
                        </div>                     
                    </div>
                 </div>
            </div>
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" style="width: 90%; margin-left: 5%; box-shadow: none; " uk-grid>
                <div>
                    <div class="uk-card-body">
                        <div class="ship-head">
                            <p>Shipping Address</p>
                        </div>
                        <div class="ship-body">
                            <p uk-margin>
                                <a class="uk-button uk-button-default" style="background-color: #EAEAEA; border-style: solid; border-color: #EAEAEA; border-width: thin; margin-left: 5%; margin-top: -2%; color: #7C7979; padding: 1% 2%;" uk-toggle="target: #new_address">+ Add New Address</a>
                            </p>
                            <div class="uk-child-width-1-1@s uk-text-center" style="width: 90%; margin-left: 5%; " uk-grid>
                                {% for addr in address %}
                                    <div>
                                        <div class="uk-card uk-card-default uk-card-body" style="border-style: solid; border-color: #E3866C; border-width: thin;">
                                            <div class="uk-text-top uk-text-right uk-margin-small-right">
                                                <a href="{% url 'shop:set_dault_shippingaddress' addr.pk 'shipping' %}"><i class="las la-pen">set as default</i></a>
                                                <a href="{% url 'shop:del_shippingaddress' addr.pk 'shipping' %}"><i class="las la-trash-alt">delete</i></a>
                                            </div>
                                            {% if addr.is_use == True %}
                                                <p style="color:#E3866C ; text-align: center;">default</p>
                                            {% endif %}
                                            <br>
                                            <p>{{addr.name}} {{addr.phone}}</p>
                                            <p>{{addr.address1}}</p>
                                            <p>{{addr.address2}}</p>
                                            <br>
                                        </div>
                                        </div>
                                {% endfor %}
                                
                            </div>
                            {% comment %} <p uk-margin>
                                <a class="uk-button uk-button-default" style="background-color: #E3866C; border-style: solid; border-color: #E3866C; border-width: thin; margin-left: 5%; margin-top: 0%; color: white; padding: 1% 2%;" href="#">Save as default address</a>
                            </p>  {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>


            <div class="uk-modal-container" id="new_address" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <form class="uk-form-horizontal" id="addressform" method="POST" action="{% url 'shop:shippingaddress' %}">
                        {% csrf_token %} 
                        <legend>Add Address</legend>                            
                        <div>
                            <label class="uk-form-label" for="form-horizontal-text">Name</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="name">
                            </div>
                        </div>
                    
                        <div>
                            <label class="uk-form-label" for="form-horizontal-text">Phone</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-horizontal-text" type="number" placeholder="" name="phone" inputmode="numeric">
                            </div>
                        </div>

                        <div>
                            <label class="uk-form-label" for="form-horizontal-text">Zip Code</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="zipcode" type="number" placeholder="" name="zipcode" onkeyup="onKeyupHandler(event)">
                            </div>
                        </div>
                        
                        <div>
                            <label class="uk-form-label" for="form-horizontal-select">District</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" id="district" name="district" onchange="onKeyupHandler2(event)">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <label class="uk-form-label" for="form-horizontal-select">Amphur</label>
                            <div class="uk-form-controls">
                                <!-- <select class="uk-select" id="form-horizontal-select">
                                    <option>Option 01</option>
                                    <option>Option 02</option>
                                </select> -->
                                <input class="uk-input" id="amphur" type="text" placeholder="" name="amphur" disabled>
                            </div>
                        </div>
                        <div>
                            <label class="uk-form-label" for="form-horizontal-select">Province</label>
                            <div class="uk-form-controls">
                                <!-- <select class="uk-select" id="form-horizontal-select">
                                    <option>Option 01</option>
                                    <option>Option 02</option>
                                </select> -->
                                <input class="uk-input" id="province" type="text" placeholder="" name="province" disabled>
                            </div>
                        </div>

                        <div>
                            <label class="uk-form-label" for="form-horizontal-text">Address</label>
                            <div class="uk-form-controls">
                                <textarea class="uk-textarea" rows="5" placeholder="" name="address"></textarea>
                            </div>
                        </div>
                        
                        <div>                                    
                            <div class="uk-form-controls">
                                <input class="uk-radio" type="radio" name="seva_as_default">  Save as default address                                 
                            </div>
                        </div>
                        
                        <div> 
                            <div class="uk-form-controls" style="width: 20vw;">
                                <Button class="uk-align-left" type="submit">Save</Button>
                                <!-- <button class="uk-align-right" type="">Cancel</button> -->
                            </div>                                   
                        </div>
                    </form>
                </div> 
                
            </div>

            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" style="width: 90%; margin-left: 5%; box-shadow: none; " uk-grid>
                <div>
                    <div class="uk-card-body">
                        <div class="ship-head">
                            <p>Credit / Debit Card</p>
                        </div>
                        <div class="ship-body">
                            <div class="uk-child-width-1-1@s uk-text-center" style="width: 50%; margin-left: 25%;padding-bottom: 5%; " uk-grid>
                                {% for card in creadit_card %}
                                    <div>
                                        <div class="uk-card uk-card-default uk-card-body" >
                                            <a href="{% url 'shop:delete_card' card.pk %}">
                                                <p style="color:#D9D9D9 ; text-align: right;">Delete</p>
                                            </a>
                                            <a style="margin-left: -80%;" href="">
                                                <span style="font-size: 2em; ">
                                                {% if card.kind == 'jb' %}
                                                    <i class="fab fa-cc-jcb"></i>
                                                {% elif card.kind == 'va' %}
                                                    <i class="fab fa-cc-visa "></i>
                                                {% elif card.kind == 'md' %}
                                                    <i class="fab fa-cc-mastercard"></i>
                                                {% elif card.kind == 'ax' %}
                                                    <i class="fab fa-cc-amex"></i>
                                                {% else %}
                                                    <i class="fas fa-credit-card"></i>
                                                {% endif %}
                                                </span> </span>
                                                <span><p style="color:#E3866C ; margin-top: -6%;margin-left: 5%; font-size: 1.1em;">**** **** **** {{card.card_number | slice:"-4::"}}</p></span>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div>
                                    <a href="#addcard-modal" uk-toggle>
                                        <div class="uk-card uk-card-default uk-card-body" >
                                            <span><p style="color:#E3866C ;text-align: center;padding-top: 7%; font-size: 1.1em;">+ Add New Credit/Debit Card</p></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="addcard-modal" class="uk-flex-top" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <!-- Add card Form -->
                <form class="uk-form-horizontal" id="addcardform" method="POST" action="{% url 'shop:creditcard' %}">
                    {% csrf_token %}
                    <legend>Add Card</legend>
                    <div>
                        <div class="uk-form-label">Card Number</div>
                        <div class="uk-form-controls uk-form-controls-text">
                            <input class="uk-input" type="text" name="card_no" placeholder="xxxx xxxx xxxx xxxx" inputmode="numeric" required>
                        </div>
                    </div>
                    <div>
                        <div class="uk-form-label">Name on card</div>
                        <div class="uk-form-controls uk-form-controls-text">
                            <input class="uk-input" type="text" name="name" placeholder="" required>
                        </div>
                    </div>
                    <div>
                        <div class="uk-form-label">Expire Date (mm/yy)</div>
                        <div class="uk-form-controls uk-form-controls-text" uk-grid>
                            <div class="uk-width-1-2 uk-padding-remove-left">
                                <select class="uk-select" id="form-stacked-select" name="month">
                                    <!-- <option>Option 01</option>
                                    <option>Option 02</option> -->
                                    {% for m in month %}
                                        <option value="{{m}}">{{m}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="uk-width-1-2 uk-padding-remove-left">
                                <select class="uk-select" id="form-stacked-select" name="year">
                                    <!-- <option>Option 01</option>
                                    <option>Option 02</option> -->
                                    {% for y in year %}
                                        <option value="{{y}}">{{y}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-form-label">Security Code</div>
                        <div class="uk-form-controls uk-form-controls-text">
                            <input class="uk-input" type="text" name="secure" placeholder="" pattern="[0-9]{3}" required>
                        </div>
                    </div>
                    <!-- Submit  -->
                    <p class="uk-text-center">                    
                        <button class="uk-button" type="submit" id="confirmbutt">Confirm</button>
                    </p>    
                </form>            
            </div>
        </div>
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" style="width: 90%; margin-left: 5%; box-shadow: none;" uk-grid>
                <div>
                    <div class="uk-card-body">
                        <div class="ship-head">
                            <p>Your Order</p>
                        </div>
                        <div class="ship-body" style="padding-bottom: 10%;                        ">
                            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-4@s " style="width: 90%;margin-left: 5%; box-shadow: none; border-color: #707070a9;border-width: thin;border-style: solid;" uk-grid>
                                <div>
                                    <div class="uk-card-body">
                                        <p style="margin-top: 5%; line-height: 120%;">DD/MM/YYYY XX.XX<br>Order No.004</p> 
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <img  src="{% static 'img/grayBG.png' %}" class="product-img" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <p style="margin-top: 5%; line-height: 120%;">Name Product<br>฿ 0000</p> 
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <p uk-margin>
                                            <a class="uk-button uk-button-default" href="#" style="border-color: #5CF6FC; color: #5CF6FC;">Detail</a>
                                            <a class="uk-button uk-button-default" href="#" style="border-color: #E1866C; color: #E1866C;font-size: 0.8em; padding: 1% 20%;">Tracking</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-4@s " style="width: 90%;margin-left: 5%; box-shadow: none; border-color: #707070a9;border-width: thin;border-style: solid;" uk-grid>
                                <div>
                                    <div class="uk-card-body">
                                        <p style="margin-top: 5%; line-height: 120%;">DD/MM/YYYY XX.XX<br>Order No.004</p> 
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <img  src="{% static 'img/grayBG.png' %}" class="product-img" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <p style="margin-top: 5%; line-height: 120%;">Name Product<br>฿ 0000</p> 
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <p uk-margin>
                                            <a class="uk-button uk-button-default" href="#" style="border-color: #5CF6FC; color: #5CF6FC;">Detail</a>
                                            <a class="uk-button uk-button-default" href="#" style="border-color: #E1866C; color: #E1866C;font-size: 0.8em; padding: 1% 20%;">Tracking</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-4@s " style="width: 90%;margin-left: 5%; box-shadow: none; border-color: #707070a9;border-width: thin;border-style: solid;" uk-grid>
                                <div>
                                    <div class="uk-card-body">
                                        <p style="margin-top: 5%; line-height: 120%;">DD/MM/YYYY XX.XX<br>Order No.004</p> 
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <img  src="{% static 'img/grayBG.png' %}" class="product-img" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <p style="margin-top: 5%; line-height: 120%;">Name Product<br>฿ 0000</p> 
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <p uk-margin>
                                            <a class="uk-button uk-button-default" href="#" style="border-color: #5CF6FC; color: #5CF6FC;">Detail</a>
                                            <a class="uk-button uk-button-default" href="#" style="border-color: #E1866C; color: #E1866C;font-size: 0.8em; padding: 1% 20%;">Tracking</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="padding-top: 5%; padding-bottom: 20%;" uk-margin>
                <a class="uk-button uk-button-default" style="font-size: 1.8em; background-color: #E3866C; color: white; width: 40%; margin-left: 30%; padding: 2%2%;border-radius: 2vh;" href="{% url 'shop:sellhome' %}">Seller</a>
                <a class="uk-button uk-button-default" style="font-size: 1.8em; background-color: #E3866C; color: white; width: 40%; margin-left: 30%; padding: 2%2%;border-radius: 2vh;" href="{% url 'authen:logout' %}">log out</a>
            </p>
        </div>
    </body>
</html>
<script src="{% static 'js/axios.js' %}"></script>
<script>
        function onKeyupHandler(e) {
            if (e.keyCode === 13) {
                search_zipcode().then(data => render(data))
            } else {
                search_zipcode().then(data => render(data))
            }
        }
        function search_zipcode() {
            let zipcode = document.querySelector('#zipcode').value
        
            return axios.get(`/auth/zipcode/?zipcode=${zipcode}`)
              .then(response => response.data)
              .catch(error => console.error(error))
        }
        function render(data){
            data.forEach(add_data)
        }
        function add_data(item,index){
            var option = document.createElement("option");
            option.text = item.name_en + " " + item.name_th;
            option.value = item.pk;
            var select = document.getElementById("district");
            select.appendChild(option);
        }
        
        function onKeyupHandler2(e) {
            if (e.keyCode === 13) {
                search_amphur().then(data => render_amphur(data))
            } else {
                search_amphur().then(data => render_amphur(data))
            }
        }
        function search_amphur() {
            let amphur = document.querySelector('#district').value
            console.log(amphur)
            return axios.get(`/auth/amphur/?amphur=${amphur}`)
              .then(response => response.data)
              .catch(error => console.error(error))
        }
        function render_amphur(data){
            //console.log(data)
            document.getElementById('amphur').value = data[0].amphur__name_en+" "+data[0].amphur__name_th;
            document.getElementById('province').value = data[0].amphur__province__name_en+" "+data[0].amphur__province__name_th;
        }
        
        
</script>