{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
        
        <title>Register</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style>
             
        </style>

        <div class="white-head">
            <div class="close">
                <a href=""><svg class="bi bi-x" width="2em" height="2em" viewBox="0 0 16 16" fill="#E74C3C" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                  </svg>
                </a>
            </div>

        </div>
        <div class="login">
            <ul uk-tab >
                <li class="b1"><a href="#">Register</a></li>
                <li class="b2"><a href="#">Login</a></li>
            </ul>
            
            <ul class="uk-switcher uk-margin">
                <li>
                    <form action="" style="margin-top: 7%;">

                        <textarea class="add-detail" name="message" rows="1" cols="58" placeholder="Username"></textarea>
                        <textarea class="add-detail" name="message" rows="1" cols="58" placeholder="Password"></textarea>
                        <textarea class="add-detail" name="message" rows="1" cols="58" placeholder="Confirm Password"></textarea>


                            
                    </form>
                    
                    <button type="button" class="avatar-button"> Tap to choose your profile</button>
                    <img data-src="{% static 'img/holding_avatar@3x.png' %}" class="avatar-img" alt="" uk-img>



                    <button class="login-button" type="button"><p>Register</p></button>

                   
                   
                </li>



                <li>
                    <span class="dot"></span>
                    <img data-src="{% static 'img/logofinal.png' %}" class="logo-img" alt="" uk-img>

                    <form action="">
                        <textarea class="add-detail" name="message" rows="1" cols="58" placeholder="E-mail/Username"></textarea>
                        <!-- <div class="pass-white">
                            
                        </div> -->
                        
                        <textarea class="add-detail" name="message" rows="1" cols="58" style="margin-top: -1%;" placeholder="Password"></textarea>
                        <button type="button" class="addmore-button">Forgot Password?</button>
                            
                    </form>

                    <button class="login-button" type="button"><p>LOGIN</p></button>

                </li>
            </ul>
        </div>
           
    </body>

</html>