{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}">
    
        <title>Report</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style>
           
        </style>
        <div class="head">
            <a href="#" style="margin-top: 10%;">< BACK</a>
            <img data-src="{% static 'img/problem.png' %}"  alt="" uk-img>
            <p class="review-text"><b>Report This Product</b></p>
        </div>

        <p class="select-text">Select Reason</p>
        <hr>
        <form>
            <div class="uk-margin">
                <div class="uk-form-label"></div>
                <div class="uk-form-controls">
                    <div class="radio">
                        <label><input class="uk-radio" type="radio" name="radio1" style="background-color: #E27558;"> Counterfeits and copyright</label><br><br>
                        <label><input class="uk-radio" type="radio" name="radio1" style="background-color: #E27558;"> Prohibited (banned) items</label><br><br>
                        <label><input class="uk-radio" type="radio" name="radio1" style="background-color: #E27558;"> Listing policy violations (improper keyword, outside links, etc.)</label><br><br>
                        <label><input class="uk-radio" type="radio" name="radio1" style="background-color: #E27558;"> Offensive and potentially offensive items</label><br><br>
                        <label><input class="uk-radio" type="radio" name="radio1" style="background-color: #E27558;"> Fraudulent listing (illegal seller demands etc.)</label><br><br>
                        <label><input class="uk-radio" type="radio" name="radio1" style="background-color: #E27558;"> Stolen Property</label><br><br>
                        <label><input class="uk-radio" type="radio" name="radio1" style="background-color: #E27558;"> Others</label>
                    </div>
                    
                </div>
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-width-1-2 uk-form-large" class="trackid" style=" margin-top: 0%; margin-left: 23%;" type="text" placeholder="Report Product Reason">
            </div>
        
        </form>
        <button class="report-button" type="button"><p>Report</p></button>
        

    </body>
</html>