{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/review.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>

        
        <title>Review</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style>
   

        </style>
        <div class="head">
            <p><br></p>
            <a href="{% url 'shop:home' %}" style="margin-top: 60%;">< BACK</a>
            <p class="review-text"><b>REVIEW</b></p>
        </div>
        <ul uk-tab  style="margin-top: -5.5%; " >
            <li class="b1"><a href="#" style="font-size: 2em;">All</a></li>
            <li class="b2"><a href="#" style="font-size: 2em;">Already Reviewed</a></li>
            <li class="b3"><a href="#" style="font-size: 2em;">Not yet</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
            <li>
                <!-- code Reviewed
                <div class="uk-child-width-1-1 uk-text-left" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="border: solid thin #707070a2; padding-bottom: 0%;">
                            <span>
                                <img data-src="photo/holding_avatar@3x.png" class="ava-img" alt="" uk-img>
                                <span class="shop-name">Shop</span>
                            </span>
                            <br>
                            <img data-src="photo/grayBG.png" class="photo-img" alt="" uk-img>
                            <p class="product-text">Name of Product<br>฿ Price<br>Quantity : 1</p>
                            <div class="uk-card uk-card-default uk-card-body uk-text-right" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 3%;">
                                <p style="font-size: 1.5em;" >Total :<span style="color: #ED796D;">฿ Price</span></p>
                            </div>
                            <br><br><br><br> //here
                            <p class="uk-text-right" style="margin-top: -7%; padding-bottom: 3%;" uk-margin>
                                <a class="uk-button uk-button-default" style="font-size: 1.5em; background-color: #FF6E6E; color: white; width: 20%; margin-left: 0%;margin-right: 2%;; padding: 1%2%;border-radius: 2vh;" href="#">Review</a>
                            </p> //here
                        </div>
                    </div>
                </div>
            code not review yet :

                delete  <br><br><br><br>
                            <p class="uk-text-right" style="margin-top: -7%; padding-bottom: 3%;" uk-margin>
                                <a class="uk-button uk-button-default" style="font-size: 1.5em; background-color: #FF6E6E; color: white; width: 20%; margin-left: 0%;margin-right: 2%;; padding: 1%2%;border-radius: 2vh;" href="#">Review</a>
                        </p>
            -->

                <div class="uk-child-width-1-1 uk-text-left" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="border: solid thin #707070a2; padding-bottom: 0%;">
                            <span>
                                <img data-src="{% static 'img/holding_avatar@3x.png' %}" class="ava-img" alt="" uk-img>
                                <span class="shop-name">Shop</span>
                                <span style="margin-left: 60%; ">    
                                    <a class="uk-button uk-button-default" style="color: #FF6E6E;font-size: 1em;border: none;" href="#">Go to shop</a>
                                </span>
                            </span>
                            <br>
                            <img data-src="{% static 'img/grayBG.png' %}" class="photo-img" alt="" uk-img>
                            <p class="product-text">Name of Product<br>฿ Price<br>Quantity : 1</p>
                            <div class="uk-card uk-card-default uk-card-body uk-text-left" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                <p style="font-size: 1.5em;" >Paying Method</p>
                                <p><span style="font-size: 3em; color: #FF6E6E;"><i class="far fa-credit-card"></i></span><span style="margin-left: 3%;font-size: 1.2em;">Credit / Debit Card</span></p>
                            </div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-left" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                <table class="uk-table" style="width: 80%; margin-left: 20%; font-size: 1.2em;">
                                    <!-- Number : Paying Date : Shipping Date : Complete Date : -->
                                    <!-- XXXXXXXXXX XX-XX-XXXX 00:00 XX-XX-XXXX 00:00 XX-XX-XXXX 00.00 -->
                                    <tbody>
                                        <tr>
                                            <td>Number</td>
                                            <td>XXXXXXXXXX</td>
                                        </tr>
                                        <tr>
                                            <td>Paying Date</td>
                                            <td>XX-XX-XXXX 00:00</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping Date</td>
                                            <td>XX-XX-XXXX 00:00</td>
                                        </tr>
                                        <tr>
                                            <td>Complete Date</td>
                                            <td>XX-XX-XXXX 00:00</td>
                                        </tr>
                                    </tbody>
                                </table>                            
                            </div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-right" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                <p style="font-size: 1.5em;" >Total :<span style="color: #ED796D;">฿ Price</span></p>
                            </div>
                            <br><br><br><br>
                            <p class="uk-text-right" style="margin-top: -7%; padding-bottom: 3%;" uk-margin>
                                <a class="uk-button uk-button-default" style="font-size: 1.5em; background-color: #E4E4E4; color: black; width: 20%; margin-left: 0%;margin-right: 2%;; padding: 1%2%;border-radius: 2vh;" href="#">BUY AGAIN</a>
                                <a class="uk-button uk-button-default" href="#offcanvas-usage" uk-toggle style="font-size: 1.5em; background-color: #FF6E6E; color: white; width: 20%; margin-left: 0%;margin-right: 2%;; padding: 1%2%;border-radius: 2vh;" href="#">Review</a>
                            </p>


                            <!-- offcanvas-usage -->
                            <div id="offcanvas-usage" style="width: 100%;" uk-offcanvas="flip: true">
                                <div class="uk-offcanvas-bar" style="width: 100%;background-color: #FEFBE5;">
                                    <button class="uk-offcanvas-close" type="button" style="color: black;" uk-close></button>
                                    <br>
                                    <div class="uk-card uk-card-default uk-card-body" style="border: solid thin #707070a2; padding-bottom: 0%;">
                                        <span>
                                            <img data-src="{% static 'img/holding_avatar@3x.png' %}" class="ava-img" alt="" uk-img>
                                            <span class="shop-name">Shop</span>
                                            <span style="margin-left: 80%; ">    
                                                <a class="uk-button uk-button-default" style="color: #FF6E6E;font-size: 1em;border: none;" href="#">Go to shop</a>
                                            </span>
                                        </span>
                                        <br>
                                        <img data-src="{% static 'img/grayBG.png' %}" class="photo-img" alt="" uk-img>
                                        <p class="product-text">Name of Product<br>฿ Price<br>Quantity : 1</p>
                                                             
                                        <div class="uk-card uk-card-default uk-card-body uk-text-right" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                            <p style="font-size: 1.5em;" >Total :<span style="color: #ED796D;">฿ Price</span></p>
                                        </div>
                                        <div class="uk-card uk-card-default uk-card-body uk-text-right" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                            <div class="rate">
                                                <input type="radio" id="star5" name="rate" value="5" />
                                                <label for="star5" title="text">5 stars</label>
                                                <input type="radio" id="star4" name="rate" value="4" />
                                                <label for="star4" title="text">4 stars</label>
                                                <input type="radio" id="star3" name="rate" value="3" />
                                                <label for="star3" title="text">3 stars</label>
                                                <input type="radio" id="star2" name="rate" value="2" />
                                                <label for="star2" title="text">2 stars</label>
                                                <input type="radio" id="star1" name="rate" value="1" />
                                                <label for="star1" title="text">1 star</label>
                                            </div>
                                        </div>
                                        <div class="uk-card uk-card-default uk-card-body uk-text-right" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                            <div class="uk-margin">
                                                <textarea class="uk-textarea" style="width: 100%;background-color: #F7F7F7;color: #000;padding: 2% 2%;" rows="10" placeholder="Why do you like this product ?"></textarea>
                                            </div>
                                        </div>
                                        <div class="uk-card uk-card-default uk-card-body uk-text-right" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                            <div class="js-upload uk-flex uk-flex-center" uk-form-custom>
                                                <input type="file" multiple>
                                                <button class="uk-button uk-button-default " type="button" tabindex="-1" style="color: black;font-size: 1.5em;">
                                                    <p style="text-align: center; font-size: 3em;"><i class="fas fa-camera"></i></p>
                                                    Add photo
                                                </button>
                                            </div>
                                        </div>
                                        <div class="uk-card uk-card-default uk-card-body uk-text-center" style="box-shadow: none;border: none;background:none; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                            <a class="uk-button uk-button-default" style="font-size: 1.5em; background-color: #FF6E6E; color: white; width: 40%; padding: 1%2%;border-radius: 2vh;" href="#">Review</a>
                                        </div>
                                    </div>
                                   
                            
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="uk-child-width-1-1 uk-text-left" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="border: solid thin #707070a2; padding-bottom: 0%;">
                            <span>
                                <img data-src="{% static 'img/holding_avatar@3x.png' %}" class="ava-img" alt="" uk-img>
                                <span class="shop-name">Shop</span>
                                <span style="margin-left: 60%; ">    
                                    <a class="uk-button uk-button-default" style="color: #FF6E6E;font-size: 1em;border: none;" href="#">Go to shop</a>
                                </span>
                            </span>
                            <br>
                            <img data-src="{% static 'img/grayBG.png' %}" class="photo-img" alt="" uk-img>
                            <p class="product-text">Name of Product<br>฿ Price<br>Quantity : 1</p>
                            <div class="uk-card uk-card-default uk-card-body uk-text-left" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                <p style="font-size: 1.5em;" >Paying Method</p>
                                <p><span style="font-size: 3em; color: #FF6E6E;"><i class="far fa-credit-card"></i></span><span style="margin-left: 3%;font-size: 1.2em;">Credit / Debit Card</span></p>
                            </div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-left" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                <table class="uk-table" style="width: 80%; margin-left: 20%; font-size: 1.2em;">
                                    <!-- Number : Paying Date : Shipping Date : Complete Date : -->
                                    <!-- XXXXXXXXXX XX-XX-XXXX 00:00 XX-XX-XXXX 00:00 XX-XX-XXXX 00.00 -->
                                    <tbody>
                                        <tr>
                                            <td>Number</td>
                                            <td>XXXXXXXXXX</td>
                                        </tr>
                                        <tr>
                                            <td>Paying Date</td>
                                            <td>XX-XX-XXXX 00:00</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping Date</td>
                                            <td>XX-XX-XXXX 00:00</td>
                                        </tr>
                                        <tr>
                                            <td>Complete Date</td>
                                            <td>XX-XX-XXXX 00:00</td>
                                        </tr>
                                    </tbody>
                                </table>                            </div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-right" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                <p style="font-size: 1.5em;" >Total :<span style="color: #ED796D;">฿ Price</span></p>
                            </div>
                            <br><br><br><br>
                            <p class="uk-text-right" style="margin-top: -7%; padding-bottom: 3%;" uk-margin>
                                <a class="uk-button uk-button-default" style="font-size: 1.5em; background-color: #E4E4E4; color: black; width: 20%; margin-left: 0%;margin-right: 2%;; padding: 1%2%;border-radius: 2vh;" href="#">BUY AGAIN</a>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-child-width-1-1 uk-text-left" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="border: solid thin #707070a2; padding-bottom: 0%;">
                            <span>
                                <img data-src="{% static 'img/holding_avatar@3x.png' %} " class="ava-img" alt="" uk-img>
                                <span class="shop-name">Shop</span>
                                <span style="margin-left: 60%; ">    
                                    <a class="uk-button uk-button-default" style="color: #FF6E6E;font-size: 1em;border: none;" href="#">Go to shop</a>
                                </span>
                            </span>
                            <br>
                            <img data-src="{% static 'img/grayBG.png' %} " class="photo-img" alt="" uk-img>
                            <p class="product-text">Name of Product<br>฿ Price<br>Quantity : 1</p>
                            <div class="uk-card uk-card-default uk-card-body uk-text-left" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                <p style="font-size: 1.5em;" >Paying Method</p>
                                <p><span style="font-size: 3em; color: #FF6E6E;"><i class="far fa-credit-card"></i></span><span style="margin-left: 3%;font-size: 1.2em;">Credit / Debit Card</span></p>
                            </div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-left" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                <table class="uk-table" style="width: 80%; margin-left: 20%; font-size: 1.2em;">
                                    <!-- Number : Paying Date : Shipping Date : Complete Date : -->
                                    <!-- XXXXXXXXXX XX-XX-XXXX 00:00 XX-XX-XXXX 00:00 XX-XX-XXXX 00.00 -->
                                    <tbody>
                                        <tr>
                                            <td>Number</td>
                                            <td>XXXXXXXXXX</td>
                                        </tr>
                                        <tr>
                                            <td>Paying Date</td>
                                            <td>XX-XX-XXXX 00:00</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping Date</td>
                                            <td>XX-XX-XXXX 00:00</td>
                                        </tr>
                                        <tr>
                                            <td>Complete Date</td>
                                            <td>XX-XX-XXXX 00:00</td>
                                        </tr>
                                    </tbody>
                                </table>                            </div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-right" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                <p style="font-size: 1.5em;" >Total :<span style="color: #ED796D;">฿ Price</span></p>
                            </div>
                            <br><br><br><br>
                            <p class="uk-text-right" style="margin-top: -7%; padding-bottom: 3%;" uk-margin>
                                <a class="uk-button uk-button-default" style="font-size: 1.5em; background-color: #E4E4E4; color: black; width: 20%; margin-left: 0%;margin-right: 2%;; padding: 1%2%;border-radius: 2vh;" href="#">BUY AGAIN</a>
                            </p>
                        </div>
                    </div>
                </div>       
            </li>
            <li>
                <div class="uk-child-width-1-1 uk-text-left" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="border: solid thin #707070a2; padding-bottom: 0%;">
                            <span>
                                <img data-src="{% static 'img/holding_avatar@3x.png' %} " class="ava-img" alt="" uk-img>
                                <span class="shop-name">Shop</span>
                                <span style="margin-left: 60%; ">    
                                    <a class="uk-button uk-button-default" style="color: #FF6E6E;font-size: 1em;border: none;" href="#">Go to shop</a>
                                </span>
                            </span>
                            <br>
                            <img data-src="{% static 'img/grayBG.png' %} " class="photo-img" alt="" uk-img>
                            <p class="product-text">Name of Product<br>฿ Price<br>Quantity : 1</p>
                            <div class="uk-card uk-card-default uk-card-body uk-text-left" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                <p style="font-size: 1.5em;" >Paying Method</p>
                                <p><span style="font-size: 3em; color: #FF6E6E;"><i class="far fa-credit-card"></i></span><span style="margin-left: 3%;font-size: 1.2em;">Credit / Debit Card</span></p>
                            </div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-left" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                <table class="uk-table" style="width: 80%; margin-left: 20%; font-size: 1.2em;">
                                    <!-- Number : Paying Date : Shipping Date : Complete Date : -->
                                    <!-- XXXXXXXXXX XX-XX-XXXX 00:00 XX-XX-XXXX 00:00 XX-XX-XXXX 00.00 -->
                                    <tbody>
                                        <tr>
                                            <td>Number</td>
                                            <td>XXXXXXXXXX</td>
                                        </tr>
                                        <tr>
                                            <td>Paying Date</td>
                                            <td>XX-XX-XXXX 00:00</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping Date</td>
                                            <td>XX-XX-XXXX 00:00</td>
                                        </tr>
                                        <tr>
                                            <td>Complete Date</td>
                                            <td>XX-XX-XXXX 00:00</td>
                                        </tr>
                                    </tbody>
                                </table>                            </div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-right" style="box-shadow: none;border: solid thin #707070a2; width: 107%;margin-left: -3.5%; margin-top: 0%;">
                                <p style="font-size: 1.5em;" >Total :<span style="color: #ED796D;">฿ Price</span></p>
                            </div>
                            <br><br><br><br>
                            <p class="uk-text-right" style="margin-top: -7%; padding-bottom: 3%;" uk-margin>
                                <a class="uk-button uk-button-default" style="font-size: 1.5em; background-color: #E4E4E4; color: black; width: 20%; margin-left: 0%;margin-right: 2%;; padding: 1%2%;border-radius: 2vh;" href="#">BUY AGAIN</a>
                                <a class="uk-button uk-button-default" style="font-size: 1.5em; background-color: #FF6E6E; color: white; width: 20%; margin-left: 0%;margin-right: 2%;; padding: 1%2%;border-radius: 2vh;" href="#">Review</a>
                            </p>
                        </div>
                    </div>
                </div> 
            </li>
        </ul>

    </body>
</html>