{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/catagory2.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <title>Catagory</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
    </head>
    <body>
    <body>
        <style>
  
    
       
        </style>
        <a href="{% url 'shop:home' %}" class="back-button">< HOME</a>
        
        <div class="beaytymenu-background">
          <div class="uk-child-width-expand@s" uk-grid style="padding-top: 5%; padding-left: 3%;">
            <div class="uk-grid-item-match">
                <div class="uk-margin">
                    <form class="uk-search uk-search-default">
                        <span uk-search-icon></span>
                        <input class="uk-search-input" type="search"  style="background-color: white; border-radius: 2vh; width: 280%; padding-top: 15%; padding-bottom: 15%; " placeholder="Search..." id="searchbox" onkeyup="onKeyupHandler(event)" value={{search_key}}>
                    </form>
                    <div class="autocomplete" uk-dropdown="mode: click">
                      <ul class="uk-nav uk-dropdown-nav suggestions">
                          <li>ไม่มีคำแนะนำ</li>
                      </ul>
                  </div>
                </div>
             </div>
            <div class="heart">
                <nav class="navbar navbar-light bg-black">
                        <a  href="{% url 'shop:myfavourite' %}">
                            <img  src="{% static 'img/heart_PNG51335.png' %}" width="20%" style="margin-left: 60%; margin-top: -5%;" alt="">
                        </a>
                </nav>
            </div>
        </div>
        </div>
        
        <p uk-margin class="uk-flex uk-flex-center" style="">
          <button class="uk-button uk-button-default" style="margin-right: 5%; background-color: #E4E4E4; font-size: 1.2em; padding: 1% 5%;">New</button>
          <button class="uk-button uk-button-default" style="margin-right: 5%; background-color: #E4E4E4; font-size: 1.2em;padding: 1% 5%;">Best Seller</button>
          <!-- arrow-up &  arrow-down -->
          <button class="uk-button uk-button-default" style=" background-color: #E4E4E4; font-size: 1.2em;padding: 1% 5%;">Price <span uk-icon="arrow-down"></span></button>
        </p>
        
       
        <div >
          <img src="{% static 'img/search.png' %}"  alt="...">
        </div>

        <div style="background-color: #FEFBE5; padding-top: 5%;">
          <div class="uk-child-width-1-3@s uk-text-center uk-grid-match" style="width: 70%; margin-left: 25%;margin-top: 5%;" uk-grid uk-height-match="target: > div > .uk-card" >
			{% for p in product %}
				<a href="{% url 'shop:product' p.pk %}">
					<div>
						<div class="uk-card uk-card-default uk-card-body" style="background-color: #F7F5F5;">
							<br>
							<div style="padding-top: 5%;">
							<div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0% ;background-color: #F7F5F5;">
								<img src="{{p.photo.first.file.url}}" alt="..."> 
							</div>
							</div>
						<br>
						<br>{{p.name}}
						<br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ {{p.price}}</span>
						</div>
					</div>
				</a>
			{% endfor %}
            
          </div>
        </div>

        

        <div class="fixed-bottom">
          <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
            <div>
                <div class="uk-background-muted ">
                   <a class="home-button" href="{% url 'shop:home' %}">
                  <img src="{% static 'img/home1.png' %}"  width="100%" alt="...">
                </a>
              </div>
            </div>
            <div>
                <div class="uk-background-muted">
                  <a class="order-button" href="{% url 'shop:fashion' %}">
                    <img src="{% static 'img/cata1.png' %}"  width="100%" alt="...">
                </a>
                </div>
            </div>
            <div>
                <div class="uk-background-muted">
                  <a href="{% url 'shop:mycart' %}">
                    <img src="{% static 'img/order1.png' %}"  width="100%" alt="...">
                  </a>
                </div>
            </div>
            <div>
              <div class="uk-background-muted">
                <a href="{% url 'shop:profile' %}">
                  <img src="{% static 'img/pikpay1.png' %}"  width="100%" alt="...">
                </a>
            </div>
          </div>
        </div>
        </div>
         
    </body>
    <script src="{% static 'js/axios.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
</html>


