{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/seller.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>

        
        <title>Seller</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style>
            
        </style>
        <div class="head">
            <p><br></p>
            <a href="#" style="margin-top: 60%;">< BACK</a>
              <div class="avatar">
                <img data-src="{% static 'img/holding_avatar@3x.png' %}"  alt="" uk-img>
                <p class="user">Username</p>
              </div>
            <br><br><br>
   
        </div>
        <div style="margin-top: 30%;">
            <span style="font-size: 30em;color:white; margin-left: 25%;"><i class="fas fa-circle"></i></span>
            <img data-src="{% static 'img/shop.png' %}" style="margin-left: -35%; margin-top: -25%;"  alt="" uk-img>    
        </div>
        <div >
        </div>

  
        </div>
        <div class="uk-flex uk-flex-center" style="margin-top: -17%;">
            <div class="uk-card uk-card-default uk-card-body" style="width: 30%;background-color: #F3705A;">
                <div class="js-upload" uk-form-custom>
                    <input type="file" multiple>
                    <button class="uk-button uk-button-default" type="button" tabindex="-1" style="border: none;background: none;font-size: 1em;padding-left: 14%;color: white;">Add Your Products</button>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 20%;"></div>


    </body>
</html>