{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">


        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysale.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>

        
        <title>My Sale</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <div >
            <div style="background-color:">
            <div class="uk-child-width-1-1 uk-text-center" style="width: 90%; margin-left: 5%;" uk-grid>
                <div>
                    <div class="uk-flex uk-card uk-card-default uk-card-body" style="box-shadow: none;" >
                        <img src="{{order.product.product.photo.first.file.url}}" width="40%" alt="..."> 
                        <p style="margin-left: 5%; margin-top: 3%; padding-bottom: 20%;font-size: 1.5em;">Order NO.{{order.pk}}</p>
                        <p style="margin-left: -24.5%; margin-top: 8%; padding-bottom: 20%; font-size: 1.5em;">User : {{order.buyer.account.user}}</p>
                    </div>
                </div>
                <div>
                    <div class="uk-flex uk-text-left  uk-card uk-card-default uk-card-body" style="box-shadow: none;" >
                        <table class="uk-table uk-table-divider">
                            <tbody>
                                <tr>
                                    <td style="font-size: 1.4em; color: #000;">Product :</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.4em; color: #6E6E6E;">{{order.product}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="uk-flex uk-text-left  uk-card uk-card-default uk-card-body" style="box-shadow: none;" >
                        <table class="uk-table uk-table-divider">
                            <tbody>
                                <tr>
                                    <td style="font-size: 1.4em; color: #000;">Price Total :</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.4em; color: #6E6E6E;">฿ {{order.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="uk-flex uk-text-left  uk-card uk-card-default uk-card-body" style="box-shadow: none;" >
                        <table class="uk-table uk-table-divider">
                            <tbody>
                                <tr>
                                    <td style="font-size: 1.4em; color: #000;">Payment :</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.4em; color: #6E6E6E;">{{order.payment_method.get_kind_display}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="uk-flex uk-text-left  uk-card uk-card-default uk-card-body" style="box-shadow: none;" >
                        <table class="uk-table uk-table-divider">
                            <tbody>
                                <tr>
                                    <td style="font-size: 1.4em; color: #000;">Status :</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.4em; color: #6E6E6E;">{{order.get_status_display}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="uk-flex uk-text-left  uk-card uk-card-default uk-card-body" style="box-shadow: none;" >
                        <table class="uk-table uk-table-divider">
                            <tbody>
                                <tr>
                                    <td style="font-size: 1.4em; color: #000;">Delivery Method :</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.4em; color: #6E6E6E;">{{order.logistic_company}}</td>
                                </tr>
                            </tbody>
                        </table>
                            <form method="post">
                                {% csrf_token %}
                                {% if send %}
                                    <input class="uk-input uk-form-width-medium uk-form-large" style="border-color: #4DCFE0;color: #000; margin-left: -5%;" type="text" placeholder="Enter Tracking Id" disable value="{{order.tracking_id}}">
                                {% else %}
                                    <!-- unship & unpaid code !!!!!!!!! -->
                                    <input class="uk-input uk-form-width-medium uk-form-large" style="border-color: #4DCFE0;color: #000; margin-left: -5%;" type="text" placeholder="Enter Tracking Id" name="tracking_id" required value="{{order.tracking_id}}">
                                    
                                    <button class="uk-button uk-button-default" type="submit" style="background-color: #4DCFE0; color: white;font-size: 1.5em;margin-left: 85%;margin-top: -33%;">enter</button>
                                {% endif %}
                            </form>
                    </div>
                </div>
                <div>
                    <div class="uk-flex uk-text-left  uk-card uk-card-default uk-card-body" style="box-shadow: none;" >
                        <table class="uk-table uk-table-divider">
                            <tbody>
                                <tr>
                                    <td style="font-size: 1.4em; color: #000;">Delivery Address :</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.4em; color: #6E6E6E;">{{order.address.getAddr}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br><br>
                <p uk-margin>
                    <div class="progress" style="width: 80%; margin-left: 11%;margin-top: 0%;">
                        <div class="progress-bar" role="progressbar" style="width: 25%;background-color: #5FC141;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                    </div>
                    <p style="margin-left: -2%; margin-top: -5%;" uk-margin>
                        <span class="font-yet"><i class="fas fa-circle"></i></span>
                        <span class="font-yet"><i class="fas fa-circle"></i></span>
                        <span class="font-not"><i class="fas fa-circle"></i></span>
                        <span class="font-not"><i class="fas fa-circle"></i></span>
                        <span class="font-not" style="margin-right: 0%;"><i class="fas fa-circle"></i></span>
                    </p>
                    <div style="padding-bottom: 5%;"></div>
                </p>
                <p style="margin-top: -5%;margin-left: -3%; color: #000;"  uk-margin>
                    <span class="status" style="margin-right: 7%;">Processing</span>
                    <span class="status" style="margin-right: 9%;">Paid</span>
                    <span class="status" style="margin-right: 7%;">Delivering</span>
                    <span class="status" style="margin-right: 5%;">Arrived</span>
                    <span class="status" style="margin-right: 0%;">Reviewed</span>
                </p>

                <div class="uk-child-width-1-1 uk-text-center" style="width: 110%; margin-left: 5%;padding:3% 0%;box-shadow: 0.1em 0.1em 0.1em 0.1em #00000029;" uk-grid>
                    <div class="uk-grid-small uk-child-width-1-1 uk-text-center" style="width: 50%; margin-left: 0%;margin-top: 0%;font-size: 1.3em;" uk-grid>
                        <div class="uk-card uk-card-default uk-card-body" style="padding: 0% 15%; background: none;box-shadow: none;">
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">Tracking Number</div>
                            </div>
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 2% 0%;background: none;box-shadow: none;">Delivery Method</div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid-small uk-child-width-1-1 uk-text-center" style="width: 50%; margin-left: 0%;margin-top: 0%;font-size: 1.3em;" uk-grid>
                        <div class="uk-card uk-card-default uk-card-body" style="padding: 0%;background: none;box-shadow: none;">
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 0.5% 0%;background: none;box-shadow: none;">: {{order.tracking_id}}</div>
                            </div>
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 0.5% 0%;background: none;box-shadow: none;">: {{order.logistic_company}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>
                <div class="uk-child-width-1-1 uk-text-center" style="width: 110%; margin-left: 5%;box-shadow: 0.1em 0.1em 0.1em 0.1em #00000029;padding:3% 0%;" uk-grid>
                    <div class="uk-grid-small uk-child-width-1-1 uk-text-center" style="width: 50%; margin-left: 0%;margin-top: 0%;" uk-grid>
                        <div class="uk-card uk-card-default uk-card-body" style="padding: 0% 15%; background: none;box-shadow: none;">
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">2018-08-14 00:00:00</div>
                            </div>
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 2% 0%;background: none;box-shadow: none;">2018-08-13 00:00:00</div>
                            </div>
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">2018-08-11 00:00:00</div>
                            </div>
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">2018-08-09 00:00:00</div>
                            </div>
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">2018-08-09 00:00:00</div>
                            </div>
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">2018-08-09 00:00:00</div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid-small uk-child-width-1-1 uk-text-center" style="width: 50%; margin-left: 0%;margin-top:1%;" uk-grid>
                        <div class="uk-card uk-card-default uk-card-body" style="padding: 0%;background: none;box-shadow: none;">
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 0.5% 0%;background: none;box-shadow: none;">: Delivery Successfully</div>
                            </div>
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 0.5% 0%;background: none;box-shadow: none;">: Shipment picked up</div>
                            </div>
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">: Departing from Warehouse</div>
                            </div>
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">: Packing</div>
                            </div>
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">: Payment Confirm</div>
                            </div>
                            <div class="text">
                                <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">: Order Submitted</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <table class="uk-table uk-table-small uk-table-divider" style="width: 110%; margin-left: 5%;border: thin solid #E4E4E4;">
                    <thead>
                        <tr style="background-color: #E4E4E4;">
                            <th class="th-head" style="color: #6F6F6F;font-size: 1.2em; width: 30%;">Product</th>
                            <th style="width: 50%;"></th>
                            <th style="color: #6F6F6F;font-size: 1.2em;padding: 2% 2%;">Product</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="color: black;">
                            <td>                            
                                <img  src="{{order.product.product.photo.first.file.url}}" width="90%" alt="">
                            </td>
                            <td > {{order.product}}</td>
                            <td>{{order.amount}}</td>
                        </tr>
                        {% comment %} <tr style="color: black;">
                            <td>                            
                                <img  src="{% static 'img/banner1.jpg' %}" width="90%" alt="">
                            </td>
                            <td>(Name) ROYAL CANIN PUPPY</td>
                            <td>1</td>
                        </tr>
                        <tr style="color: black;">
                            <td>                            
                                <img  src="{% static 'img/banner1.jpg' %}" width="90%" alt="">
                            </td>                        
                            <td>(Name) ROYAL CANIN PUPPY</td>
                            <td>2</td>
                        </tr> {% endcomment %}
                    </tbody>
                </table>
                <br><br>
            </div>
        </div>
    </body>