{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sellerPikpay.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/line-awesome.min.css' %}">
        
        <title>Pikpay Seller</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style>
           
        </style>
            <div class="head">
                <br>
                <a href="{% url 'shop:home' %}" class="back-button">< BACK</a>
                  <div class="avatar">
                    <span>
                        <p class="user">{{seller.shop_name}}</p>
                        <img data-src="{% static 'img/holding_avatar@3x.png' %}"  alt="" uk-img>
                    </span>
                  </div>
            </div>

            <div class="block" style="margin-top: 3%; ">
                <div class="uk-child-width-expand@s uk-text-center" style="width: 100%; " uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                            <p>
                                <span class="font" style="margin-left: 3%;"><i class="fas fa-shopping-bag"></i></span>
                                <span class="topic">My Sales</span>
                                <span class="button">
                                    <a class="uk-button uk-button-default" href="{% url 'shop:mysell' %}" style="font-size: 1.2em;border: none;">History ></a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block" style="margin-top: 0%;">
                <div class="uk-child-width-expand@s uk-text-center" style="width: 100%; " uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                            <p  class="text1" style="margin-left: -66%;">
                                <span class="font"><i class="fas fa-wallet"></i></span>
                                <span class="button1" style="">
                                    <a class="uk-button uk-button-default" href="{% url 'shop:sellwallet' %}" style="font-size: 1.2em;border: none;margin-top: -1%;">Wallet</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block" style="margin-top: 0%;">
                <div class="uk-child-width-expand@s uk-text-center" style="width: 100%; " uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                            <p  class="text1" style="margin-left: -66%;">
                                <span class="font"><i class="fas fas fa-box"></i></span>
                                <span class="button1" style="">
                                    <a class="uk-button uk-button-default" href="{% url 'shop:addproduct' %}" style="font-size: 1.2em;border: none;margin-top: -1%;">Add Product</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block" style="margin-top: 0%; padding: 0%;">
                <div class="uk-child-width-expand@s uk-text-center" style="width: 100%; margin-left: 0%; " uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="padding: 0; width: 150%;margin-top: 30%; box-shadow: none;">
                            <p style="margin-left: -120%;">
                                <span class="button">
                                    <a class="uk-button uk-button-default" href="{% url 'shop:mysell' %}" style="font-size: 1.2em;border: none;">                               
                                        <span class="font1"><i class="fas fa-shipping-fast"></i></span>
                                        <p class="text" style="margin-left: -25%;">Ready for shipping</p>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="padding: 0; width: 150%;margin-top: 30%; box-shadow: none;">
                            <p style="margin-left: -120%;">
                                <span class="button">
                                    <a class="uk-button uk-button-default" href="{% url 'shop:mysell' %}" style="font-size: 1.2em;border: none;">                               
                                        <span class="font1"><i class="far fa-times-circle"></i></span>
                                        <p class="text">Cancel</p>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="padding: 0; width: 150%;margin-top: 30%; box-shadow: none;">
                            <p style="margin-left: -120%;">
                                <span class="button">
                                    <a class="uk-button uk-button-default" href="{% url 'shop:mysell' %}" style="font-size: 1.2em;border: none;">                               
                                        <span class="font1"><i class="fas fa-redo-alt"></i></span>
                                        <p class="text">Refund</p>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="padding: 0;margin-left: 20%; width: 80%;margin-top: 30%; box-shadow: none;">
                            <p style="margin-left: -110%;">
                                <span class="button">
                                    <a class="uk-button uk-button-default" href="{% url 'shop:mysell' %}" style="font-size: 1.2em;border: none;">                               
                                        <span class="font1"><i class="fas fa-ellipsis-h"></i></span>
                                        <p class="text">More</p>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-child-width-1-3@s uk-text-center uk-grid-match" style="width: 90%; margin-left: 5%;margin-top: 5%;" uk-grid uk-height-match="target: > div > .uk-card" >
                {% for product in products_mobile %}
                    <a href="{% url 'shop:edit_product' product.pk %}">
                        <div> 
                            <div class="uk-card uk-card-default uk-card-body" style="background-color: #FFFFFF;">
                                <!-- photo of product -->
                                <br><br><br>
                                <div style="padding-top: 0%;">
                                    <div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0% ;background-color: #FFFFFF;">
                                        <img src="{{product.photo.first.file.url}}" alt="..."> 
                                    </div>
                                </div>                    
                                <br><br><br>
                                <!-- name of product -->
                                <br>{{product.name}}
                                <!-- price of product -->
                                <br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ {{product.price}}</span> 
                                <i class="far fa-edit" style="font-size: 1.5rem; color: #363636;">Edit</i>
                                </div>
                                </div>
                            <div> 
                        </div>
                    </a>
                {% endfor %}
            <div>
           
              
            
            
            <div style="padding-bottom: 20%;"></div>
    </body>

</html>