{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/seller1.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>
        <script src="{% static 'js/addproduct.js' %}"></script>


        
        <title>Seller</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style>
             
           
        </style>
        <div class="head">
            <p><br></p>
            <a href="{% url 'shop:home' %}" style="margin-top: 60%;">< BACK</a>
              <div class="avatar">
                <span>
                    <img data-src="{% static 'img/holding_avatar@3x.png' %}"  alt="" uk-img>
                    <span class="user">Username</span>
                </span>
              </div>      
        </div>
        {% if wait_verify == True %}
            <h1 style="text-align: center; margin-top:15%;margin-bottom:15%;%">Waiting for verify Shop</h1>
        {% else %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="gray-bg">
                    <br><br>
                        <div>
                            <p style="text-align: left;">Shop Informations</p>
                            <br>

                            <div class="uk-margin" >
                                <input class="uk-input uk-form-width-medium uk-form-large" style="width: 100%; padding: 5% 5%;border: solid thin #E4E4E4;"placeholder="Shop Name" required name="shop_name">
                            </div>
                        </div>

                        <div>
                            <p style="text-align: left;">Personal Information</p>
                            <br>
                            <div class="uk-margin" >
                                <input class="uk-input uk-form-width-medium uk-form-large" style="width: 100%; padding: 5% 5%;border: solid thin #E4E4E4;"  type="text" placeholder="First and Last Name" required name="name">
                            </div>
                            <div style="margin-top: -2.5%;" >
                                <input class="uk-input uk-form-width-medium uk-form-large" style="width: 100%; padding: 5% 5%;border: solid thin #E4E4E4; " type="text" placeholder="Citizen ID" required name="citizen" inputmode="numeric" pattern="[0-9]{13}">
                            </div>
                        </div>

                        <div>
                            <p style="text-align: left;">Payment Information</p>
                            <br>

                            <div class="uk-margin" >
                                <input class="uk-input uk-form-width-medium uk-form-large" style="width: 100%; padding: 5% 5%;border: solid thin #E4E4E4;" placeholder="Account Name" required name="acc_name">
                            </div>
                            <div style="margin-top: -2.5%;" >
                                <input class="uk-input uk-form-width-medium uk-form-large" style="width: 100%; padding: 5% 5%;border: solid thin #E4E4E4; " type="number" placeholder="Account Number" required name="acc_number" inputmode="numeric">
                            </div>
                            <div style="" >
                                <select class="uk-select" id="form-stacked-select" name="bank" required>
                                    {% for bank in banks %}
                                        <option value="{{bank.pk}}">{{bank}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <button type="submit" class="addmore-button">Confirm</button>
                        <br><br>

                    
                </div>
            </form>
        {% endif %}
        

    </body>
</html>