{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/seller1.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>
        <script src="{% static 'js/addproduct.js' %}"></script>


        
        <title>Seller</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style>
             
           
        </style>
        <div class="head">
            <p><br></p>
            <a href="#" style="margin-top: 60%;">< BACK</a>
              <div class="avatar">
                <span>
                    <img data-src="{% static 'img/holding_avatar@3x.png' %}"  alt="" uk-img>
                    <span class="user">Username</span>
                </span>
              </div>      
        </div>
        <div class="gray-bg">
            <br><br><br>
            <form>

                <div class="uk-margin" >
                    <input class="uk-input uk-form-width-medium uk-form-large" style="width: 100%; padding: 5% 5%;border: solid thin #E4E4E4;" type="text" placeholder="Name On Card">
                </div>
                <div style="margin-top: -2.5%;" >
                    <input class="uk-input uk-form-width-medium uk-form-large" style="width: 100%; padding: 5% 5%;border: solid thin #E4E4E4; " type="text" placeholder="Account Number">
                </div>
                <div style="" >
                    <input class="uk-input uk-form-width-medium uk-form-large" style="width: 100%; padding: 5% 5%;border: solid thin #E4E4E4; " type="text" placeholder="Bank">
                </div>

                <button type="button" class="addmore-button">NEXT</button>
                <br><br>

            </form>
        </div>
        
        

    </body>
</html>