{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <script src="{% static 'js/fc54792532.js' %}"></script>


        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/shoppingInfo.css' %}">
        
        <title>ShoppingInfomation</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <form method="post" action="{% url 'shop:confirmshipping' %}">
        {% csrf_token %}
        <body>
        <style>
            
        
        </style>
        <br><br><br>
        <div class="white-bg">
        <br>
        <img data-src="{% static 'img/deliverytruck.png' %}" class="delivery-img" alt="" uk-img>
        <h1>Shopping Information</h1>
        <div class="delivery-way">

        </div>
        <div class="uk-margin" style="margin-left: 15%; color: #000">
            
        </div>
        <p style="font-size: 1.5em;margin-top: 5%; margin-left: 15%; color: #000;">Delivery Address</p>
        <br>
        <div class="ship-body">
            <div class="uk-child-width-1-1@s uk-text-center" style="width: 100%; margin-left: -7.5%;padding: 2%5%; " uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body" style="border-style: solid; border-color: #FF6E6E; border-width: thin;box-shadow: none;">
                        <p style="color:#FF6E6E ; text-align: right;">default</p>
                        <br>
                        {% if address == None %}
                            <h2>Please add you address</h2>
                        {% else %}
                            <p>{{address.name}}</p>
                            <p>{{address.address1}}</p>
                            <p>{{address.address2}}</p>
                        {% endif %}
                        <br>
                        <a class="uk-position-bottom-right uk-margin-small-bottom" href="{% url 'shop:profile' %}"><i class="las la-pen" style="text-align: right;">edit address</i></a>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="uk-margin" style="margin-left: 15%; color: #000">
            <div class="uk-form-label" style="font-size: 1.5em;; padding-bottom: 3%;">Choose a delivery method</div>
            <div class="uk-form-controls">
                <table>
                    {% for logis in logistic %}
                        <tr>
                            <th>
                                <label>
                                    <input class="uk-radio" type="radio" name="delivery" value="{{logis.pk}}" style="background-color: #E27558;" required>
                                    <span style="padding-left: 2%;">{{logis.name}} </span> 
                                    <span style="color: #FF6E6E; padding-left: 5%;">฿ {{logis.price}}</span>
                                    </label>
                                    <br>
                            </th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <img data-src="{% static 'img/credit-card.png' %} " class="payment-img" alt="" uk-img>
        <h2>Payment Option</h2>
        <div class="uk-margin" style="margin-left: 15%; color: #000">
            <div class="uk-form-label" style="font-size: 1.5em;; padding-bottom: 3%;">Please choose payment option</div>
            <div class="uk-form-controls">
                <table style="color: #6F6F6F;">
                    <tr>
                        <!-- fontawesome 
                                            mastercard <i class="fab fa-cc-mastercard"></i>
                                            creditcard  <i class="far fa-credit-card"></i>
                                            visa    <i class="fab fa-cc-visa"></i>
                        -->
                      <th style="padding-bottom: 2%;"><label><input class="uk-radio" type="radio" name="pay" value="card" style="background-color: #E27558;" onclick="require_card()">
                            <span style="font-size: 1.5em; margin-left: 3%; margin-top: -1%;"><i class="far fa-credit-card"></i> </span>
                            <span style="padding-left: 5%;">Credit / Debit Card</span> </label>
                            <br>
                            {% for card in creadit_card %}
                                <input style="background-color: #E27558;" class="uk-radio uk-margin-medium-right" type="radio" name="subpay" value="{{card.pk}}" required id="cards">
                                <div>
                                    <span style="margin-left: 10%;">
                                        <span style="font-size: 1.5em;margin-top: -1%;">
                                            {% comment %} <i class="fab fa-cc-visa"></i>{% endcomment %}
                                            {% if card.kind == 'jb' %}
                                                <i class="lab la-cc-jcb"></i>
                                            {% elif card.kind == 'va' %}
                                                <i class="lab la-cc-visa "></i>
                                            {% elif card.kind == 'md' %}
                                                <i class="lab la-cc-mastercard"></i>
                                            {% elif card.kind == 'ax' %}
                                                <i class="lab la-cc-amex"></i>
                                            {% else %}
                                                <i class="las la-credit-card"></i>
                                            {% endif %}
                                        </span>
                                        **** **** **** {{card.card_number | slice:"-4::"}}
                                    </span>
                                </div>
                            {% endfor %}
                      </th>
                    </tr>
                    <tr>
                      <th><label><input class="uk-radio" type="radio" name="pay" value="bank" style="background-color: #E27558;" onclick="uncheckcard()">
                        <span style="font-size: 1.5em; margin-left: 3%; margin-top: -1%;"><i class="fas fa-comments-dollar"></i> </span>
                            <span style="padding-left: 5%;">Bank Transfer</span> </label>
                            <br>
                            <div>
                            </span>
                            </div>
                      </th>
                    </tr>
                    <tr>
                      <th><label><input class="uk-radio" type="radio" name="pay" value="cod" style="background-color: #E27558;" onclick="uncheckcard()">
                        <span style="font-size: 1.5em; margin-left: 3%; margin-top: -1%;"><i class="fas fa-box" style="font-weight: bold; font-size: 1.5rem;"></i></i> </span>
                            <span style="padding-left: 5%;">Cash on Delivery (Available for orders above 300 baht)</span> </label>
                            <br>
                            <div>
                            </span>
                            </div>
                      </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="uk-padding uk-text-right uk-padding-remove-top">
            <a href="{% url 'shop:mycart' %}"><button class="uk-button uk-button-default" type="button" id="backbutton">Back</button></a>
            <button class="uk-button uk-button-default" id="confirmbutt" type="submit">Next</button></a>
        </div>
    </div>
    </form>

<script>
function uncheckcard(){
    document.getElementById('cards').checked = false;
    document.getElementById('cards').required = false;
}
function require_card(){
    document.getElementById('cards').required = true;
}
</script>
</html>