{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/tracking.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>

        <title>sellerPikpay</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
        
    </head>
    <body>
        <style>
            
        </style>
        <!-- Order No. Name Mobile Address -->
        <br>
        <a href="{% url 'shop:home' %}"><p class="back-button">< BACK</p></a>
        <div class="white-bg">
            <br>
            <div class="uk-grid-small uk-child-width-1-2 uk-text-center" style="width: 100%; margin-left: 0%;margin-top: -2.7%;padding: 5% 0%; background-color: #00000029;" uk-grid>
                <div class="uk-grid-small uk-child-width-1-1 uk-text-center" style="width: 30%; margin-left: 0%;margin-top: 0%;" uk-grid>
                    <div class="uk-card uk-card-default uk-card-body" style="padding: 0% 15%; background: none;box-shadow: none;">
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">Order No.</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 2% 0%;background: none;box-shadow: none;">Name</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 2% 0%;background: none;box-shadow: none;">Mobile</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 2% 0%;background: none;box-shadow: none;">Address</div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid-small uk-child-width-1-1 uk-text-center" style="width: 70%; margin-left: 0%;margin-top:0%;" uk-grid>
                    <div class="uk-card uk-card-default uk-card-body" style="padding: 0%;background: none;box-shadow: none;">
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 0.5% 0%;background: none;box-shadow: none;">: {{order.pk}}</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 0.5% 0%;background: none;box-shadow: none;">: {{order.buyer.account}}</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 0.5% 0%;background: none;box-shadow: none;">: {{order.address.phone}}</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 0.5% 0%;background: none;box-shadow: none;">: {{order.address.getAddr}}</div>
                        </div>
                    </div>
                </div>
                
            </div>
            <br><br>
            <p uk-margin>
                {% if order.status == 'pa' %}
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-not"><i class="fas fa-circle"></i></span>
                    <span class="font-not"><i class="fas fa-circle"></i></span>
                    <span class="font-not" style="margin-right: 0%;"><i class="fas fa-circle"></i></span>
                    <div class="progress" style="width: 80%; margin-left: 10%;margin-top: -6.5%;">
                        <div class="progress-bar" role="progressbar" style="width: 25%;background-color: #5FC141;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                    </div>
                {% elif order.status == 'sc' %}
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-not"><i class="fas fa-circle"></i></span>
                    <span class="font-not"><i class="fas fa-circle"></i></span>
                    <span class="font-not" style="margin-right: 0%;"><i class="fas fa-circle"></i></span>
                    <div class="progress" style="width: 80%; margin-left: 10%;margin-top: -6.5%;">
                        <div class="progress-bar" role="progressbar" style="width: 40%;background-color: #5FC141;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ></div>
                    </div>
                {% elif order.status == 'se' %}
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-not"><i class="fas fa-circle"></i></span>
                    <span class="font-not" style="margin-right: 0%;"><i class="fas fa-circle"></i></span>
                    <div class="progress" style="width: 80%; margin-left: 10%;margin-top: -6.5%;">
                        <div class="progress-bar" role="progressbar" style="width: 60%;background-color: #5FC141;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ></div>
                    </div>
                {% elif order.status == 'cf' %}
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-not" style="margin-right: 0%;"><i class="fas fa-circle"></i></span>
                    <div class="progress" style="width: 80%; margin-left: 10%;margin-top: -6.5%;">
                        <div class="progress-bar" role="progressbar" style="width: 60%;background-color: #5FC141;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" ></div>
                    </div>
                {% elif order.status == 'cc' %}
                    <div>
                    </div>
                {% else %}
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-yet"><i class="fas fa-circle"></i></span>
                    <span class="font-yrt" style="margin-right: 0%;"><i class="fas fa-circle"></i></span>
                    <div class="progress" style="width: 80%; margin-left: 10%;margin-top: -6.5%;">
                        <div class="progress-bar" role="progressbar" style="width: 100%;background-color: #5FC141;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ></div>
                    </div>
                {% endif %}
                <div style="padding-bottom: 5%;"></div>
            </p>
            <p style="margin-top: -2%;" uk-margin>
                <span class="status" >Processing</span>
                <span class="status" style="margin-right: 10%;">Paid</span>
                <span class="status" style="margin-right: 9%;">Delivering</span>
                <span class="status" style="margin-right: 8%;">Arrived</span>
                <span class="status" style="margin-right: 0%;">Reviewed</span>
            </p>
            <br><br>
            <div class="uk-child-width-1-1 uk-text-center" style="width: 80%; margin-left: 10%;box-shadow: 0.1em 0.1em 0.2em 0.2em #00000029;padding:3% 0%;" uk-grid>
                <div class="uk-grid-small uk-child-width-1-1 uk-text-center" style="width: 50%; margin-left: 0%;margin-top: 0%;" uk-grid>
                    <div class="uk-card uk-card-default uk-card-body" style="padding: 0% 15%; background: none;box-shadow: none;">
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">Tracking Number</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 2% 0%;background: none;box-shadow: none;">Delivery Method</div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid-small uk-child-width-1-1 uk-text-center" style="width: 50%; margin-left: 0%;margin-top:1%;" uk-grid>
                    <div class="uk-card uk-card-default uk-card-body" style="padding: 0%;background: none;box-shadow: none;">
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 0.5% 0%;background: none;box-shadow: none;">: {{order.tracking_id}}</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 0.5% 0%;background: none;box-shadow: none;">: {{order.logistic_company}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="uk-child-width-1-1 uk-text-center" style="width: 80%; margin-left: 10%;box-shadow: 0.1em 0.1em 0.2em 0.2em #00000029;padding:3% 0%;" uk-grid>
                <div class="uk-grid-small uk-child-width-1-1 uk-text-center" style="width: 50%; margin-left: 0%;margin-top: 0%;" uk-grid>
                    <div class="uk-card uk-card-default uk-card-body" style="padding: 0% 15%; background: none;box-shadow: none;">
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">2018-08-14 00:00:00</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 2% 0%;background: none;box-shadow: none;">2018-08-13 00:00:00</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">2018-08-11 00:00:00</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">2018-08-09 00:00:00</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">2018-08-09 00:00:00</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">2018-08-09 00:00:00</div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid-small uk-child-width-1-1 uk-text-center" style="width: 50%; margin-left: 0%;margin-top:1%;" uk-grid>
                    <div class="uk-card uk-card-default uk-card-body" style="padding: 0%;background: none;box-shadow: none;">
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 0.5% 0%;background: none;box-shadow: none;">: Delivery Successfully</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body" style="padding: 0.5% 0%;background: none;box-shadow: none;">: Shipment picked up</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">: Departing from Warehouse</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">: Packing</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">: Payment Confirm</div>
                        </div>
                        <div class="text">
                            <div class="uk-flex uk-card uk-card-default uk-card-body"  style="padding: 2% 0%;background: none;box-shadow: none;">: Order Submitted</div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <table class="uk-table uk-table-small uk-table-divider" style="width: 80%; margin-left: 10%;border: thin solid #E4E4E4;">
                <thead>
                    <tr style="background-color: #E4E4E4;">
                        <th class="th-head" style="color: #6F6F6F;font-size: 1.2em; width: 30%;">Product</th>
                        <th style="width: 50%;"></th>
                        <th style="color: #6F6F6F;font-size: 1.2em;padding: 2% 2%;">Product</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>                            
                            <img  src="{{order.product.product.photo.first.file.url}}" width="90%" alt="">
                        </td>
                        <td>{{order.product}}</td>
                        <td>{{order.amount}}</td>
                    </tr>
                </tbody>
            </table>
            <div style="margin-bottom: 10%;"></div>
        <div class="uk-padding uk-text-center uk-padding-remove-top">
            {% if order.status == 're' %}
                <a href="{% url 'shop:reviewproduct' order.pk %}"><button class="uk-button uk-button-default" id="reviewbutton">Review</button></a>
            {% else %}
                <button class="uk-button uk-button-default" id="confirmbutt" onclick="confirmorder({{order.pk}})">Confirm Order received</button>
            {% endif %}
            
        </div>
        </div>
       

    </body>
<script src="{% static 'js/axios.js' %}"></script>
<script>
function confirmorder(pk){
    axios.get(`/confirm_order/${pk}`);
    location.reload();
}
</script>
</html>