{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/viewshop.css' %}">
        <script src="{% static 'js/fc54792532.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>

        <!-- UIkit JS -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <title>
            viewShop
        </title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logofinal.png' %}">
    </head>
    <body>
        <style>
            
        </style>
            <div class="head">
                <br>
                <a href="#" class="back-button">< BACK</a>
                <div class="uk-navbar-right">

                    <div style="margin-left: 85%;margin-top: -5%; color: #000;">
                        <a class="uk-navbar-toggle" href="#" uk-search-icon="icon: search; ratio: 2"></a>
                        <div class="uk-navbar-dropdown" uk-drop="mode: click; cls-drop: uk-navbar-dropdown; boundary: !nav">
            
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-1-1" style="width: 200%;">
                                    <form class="uk-search uk-search-navbar uk-width-1-1">
                                        <input class="uk-search-input" type="search" placeholder="Search in shop" autofocus>
                                    </form>
                                </div>
                                <div class="uk-width-auto">
                                    <a class="uk-navbar-dropdown-close" href="#" uk-close></a>
                                </div>
                            </div>
            
                        </div>
                    </div>
            
                </div>
                  <div class="avatar">
                    <span>
                        <p class="user">Username</p>
                        <img data-src="{% static 'img/holding_avatar@3x.png' %}"  alt="" uk-img>
                    </span>
                  </div>
            </div>

            <div class="block" style="margin-top: 3%; ">
                <div class="uk-child-width-expand@s uk-text-center" style="width: 100%; " uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                            <p style="font-size: 2em;">
                               rffrghklgkmkgrekremkkrmkmk(description)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block" style="margin-top: 3%; ">
                <div class="uk-child-width-expand@s uk-text-left" style="width: 100%; " uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                            <table class="uk-table" style="font-size: 2em;margin-left: 5%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>
                                                <i class="fas fa-archive"></i>
                                                <span style="padding-left: 3%;color: #E67373;">Product</span>
                                             </span>
                                        </td>
                                        <td class="uk-text-left">
                                            <span style="margin-left: 60%;color: #E67373;">13</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block" style="margin-top: 0%; ">
                <div class="uk-child-width-expand@s uk-text-left" style="width: 100%; " uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                            <table class="uk-table" style="font-size: 2em;margin-left: 5%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>
                                                <i class="fas fa-truck-loading"></i>   
                                                <span style="padding-left: 3%;color: #E67373;">Sold</span>
                                             </span>
                                        </td>
                                        <td class="uk-text-left">
                                            <span style="margin-left: 65%;color: #E67373;">130</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block" style="margin-top: 0%; ">
                <div class="uk-child-width-expand@s uk-text-left" style="width: 100%; " uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body" style="box-shadow: none;">
                            <table class="uk-table" style="font-size: 2em;margin-left: 5%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>
                                                <i class="fas fa-star"></i>
                                                <span style="padding-left: 3%;color: #E67373;">Rating</span>
                                             </span>
                                        </td>
                                        <td class="uk-text-left">
                                            <span style="margin-left: 60%;color: #E67373;">4.9</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <p class="topic">PRODUCT</p>
            <div class="uk-child-width-1-3@s uk-text-center uk-grid-match" style="width: 90%; margin-left: 5%;margin-top: 5%;" uk-grid uk-height-match="target: > div > .uk-card" >
                <div> 
                    <div class="uk-card uk-card-default uk-card-body" style="background-color: #FFFFFF;">
                    <!-- photo of product -->
                    <br><br><br>
                    <div style="padding-top: 0%;">
                        <div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0% ;">
                            <img src="{% static 'img/whiteBG.png' %}" alt="...">
                        </div>
                    </div>                    
                    <br><br><br>
                    <!-- name of product -->
                    <br>ROYAL CANIN PUPPY
                    <!-- price of product -->
                    <br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ 481</span> 
                    </div>
                </div>
                <div> 
                    <div class="uk-card uk-card-default uk-card-body" style="background-color: #FFFFFF;">
                    <!-- photo of product -->
                    <br><br><br>
                    <div style="padding-top: 0%;">
                        <div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0% ;">
                            <img src="{% static 'img/whiteBG.png' %}" alt="...">
                        </div>
                    </div>                    
                    <br><br><br>
                    <!-- name of product -->
                    <br>ROYAL CANIN PUPPY
                    <!-- price of product -->
                    <br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ 481</span> 
                    </div>
                </div>
                <div> 
                    <div class="uk-card uk-card-default uk-card-body" style="background-color: #FFFFFF;">
                    <!-- photo of product -->
                    <br><br><br>
                    <div style="padding-top: 0%;">
                        <div class="uk-height-small uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle" style="box-shadow: none;padding: 0% ;">
                            <img src="{% static 'img/whiteBG.png' %}" alt="...">
                        </div>
                    </div>                    
                    <br><br><br>
                    <!-- name of product -->
                    <br>ROYAL CANIN PUPPY
                    <!-- price of product -->
                    <br><span style="float: left; color: #ED796D; padding-left: 2%;">฿ 481</span> 
                    </div>
                </div>
               
           
              
            
            
            <div style="padding-bottom: 20%;"></div>
    </body>

</html>