<html>
{% load static %}

<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">         -->
        <link rel="stylesheet" href="{% static 'css/line-awesome.min.css' %}">
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/pikpay.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
        <title>{% block title %}  {% endblock title %}</title>        
</head>
<body>
    <nav class="sellernavbar" uk-navbar>
        <div class="uk-navbar-left uk-margin-medium-left">
            <a href="{% url 'shop:home' %}" class="uk-logo uk-width-small" >
                <img src="{% static 'img/logo.png' %}" alt="logo PikPay" height="75%" width="75%">
            </a>
            <a href="{% url 'shop:sellhome' %}">
                <h1>PIKPAY SELLER</h1>
            </a>
            <a href="{% url 'shop:sellhome' %}">
                <h2>My shop</h2>
            </a>
            <a href="{% url 'shop:mysell' %}">
                <h2>My sales</h2>
            </a>
            <a href="{% url 'shop:myproduct' %}">
                <h2>Product</h2>
            </a>
            <a href="{% url 'shop:sellwallet' %}">
                <h2>Wallet</h2>
            </a>
        </div>

        <div class="uk-navbar-right uk-margin-medium-right">
            <img src="{% static 'img/Profile.png' %}" alt="" height="120px" width="120px">
        </div>
    </nav>

    <!-- Body data -->
    {% block content %}
    {% endblock content %}
</body>
</html>