{% load  static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">         -->
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/pikpay.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css"/>
        {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>         {% endcomment %}

        {% block static %}
        {% endblock static %}

        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        <!-- Base nav -->
        <div class="uk-container-expand" style="border-bottom: 1px solid #A2A2A2;">
            <nav class="uk-navbar-container" uk-navbar id="manubar">
                <div class="uk-navbar-left" >
                    <ul class="uk-navbar-nav uk-margin-medium-left">
                        <a href="#"><i class="lab la-facebook" id="icon"></i></a>
                        <a href="#"><i class="lab la-instagram" id="icon"></i></a>
                        <a href="#"><i class="lab la-line" id="icon"></i></a>
                        <a href="#"><i class="lab la-twitter" id="icon"></i></a>
                        <i class="las la-phone uk-margin-small-left" id="icon"><p1 id="font">097-770-1402</p1></i>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav uk-text-center">
                        <li ><a href="{% url 'shop:order' %}" class="uk-padding-remove-right"><p id="menu">Order</p></a></li>
                        <li ><a href="{% url 'shop:sellhome' %}" class="uk-padding-remove-right"><p id="menu">Sell</p></a></li>
                        {% if user.is_authenticated %}
                            <li ><a href="{% url 'shop:profile' %}" class="uk-padding-remove-right"><i class="lar la-user" id="icon"></i><p id="menu">My Profile</p></a></li>
                            <li><a href="{% url 'authen:logout' %}" id="menu">Log out</a></li>
                        {% else %}
                            <li ><a href="{% url 'authen:login' %}"><p id="font">Log in</p></a></li>
                        {% endif %}
                    </ul>        
                </div>        
            </nav>
        </div>

        <!-- Search nav -->
        <nav class="uk-navbar-container navbar-expand-lg boundary-align uk-panel uk-placeholder uk-margin-remove uk-re" uk-navbar id="searchbar">
            <div class="uk-navbar-left uk-margin-medium-left">   
                <a href="{% url 'shop:home' %}" class="uk-logo uk-width-small" >
                    <img src="{% static 'img/logo.png' %}" alt="logo PikPay" height="75%" width="75%">
                </a>
                <ul class="uk-navbar-nav uk-text-center ">                
                    <li><a href="{% url 'shop:home' %}"><h1 id="searcbarmanu">HOME</h1></a></li>
                    <li>
                        <a class="uk-active uk-float-left" uk-toggle ><h1 id="searcbarmanu">Category</h1></a>
                        <div uk-dropdown="pos: bottom-justify; boundary: .boundary-align; boundary-align: true"  id="category">
                            <ul class="uk-navbar-nav uk-dropdown-nav uk-flex uk-flex-center uk-width-expand">
                                <li><a href="{% url 'shop:homeandlifestyle' %}">Home & Lifestyle</a></li>                    
                                <li><a href="{% url 'shop:fashion' %}">Fashion</a></li>
                                <li><a href="{% url 'shop:healthandbeauty' %}">Health & Beauty</a></li>
                                <li><a href="{% url 'shop:sportsandtravel' %}">Sports & Travel</a></li>
                                <li><a href="{% url 'shop:groceriesandpets' %}">Groceries & Pet</a></li>
                                <li><a href="{% url 'shop:toys' %}">Toys</a></li>
                                <li><a href="{% url 'shop:electronics' %}">Electronics</a></li>
                                <li><a href="{% url 'shop:justforyou' %}">Just For You</a></li>
                            </ul>                        
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right uk-margin-medium-right">
                <ul class="uk-navbar-nav uk-text-center" id="rightsearchbar">
                    <li class="uk-padding-small uk-margin-auto-vertical" >
                        <form class="searchbox uk-flex-inline">
                            <input type="text" placeholder="Search.." id="searchbox" onkeyup="onKeyupHandler(event)" value={{search_key}}>
                            <button type="submit" onclick="onSearchButtonClick()"><i class="las la-search"></i></button>
                        </form>
                    </li>
                        <div class="autocomplete" uk-dropdown="mode: click">
                            <ul class="uk-nav uk-dropdown-nav suggestions">
                                <li>ไม่มีคำแนะนำ</li>
                            </ul>
                        </div>

                    <li class="uk-padding-remove" id="baseicon">
                        <a uk-toggle="target: #cart;" onclick="bucket()">
                            <button type="button" >
                                <i class="las la-shopping-bag" style="padding: 5px; background-color: #007E83; border-radius: 50%; color: #FFFFFF; font-size: 36px;"></i>                            
                            </button>
                        </a>
                    </li>                
                    <li class="uk-padding-remove" id="baseicon">
                        <a href="{% url 'shop:myfavourite' %}">
                            <button class="favsss">
                                <i class="lar la-heart" style="padding: 5px; background-color: #cc1100; border-radius: 50%; color: #FFFFFF; font-size: 36px;"></i>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

            <!-- Cart -->
            <div id="cart" hidden>
                <div class="mycart">
                    <div id="top">
                        <h1>My Cart</h1>
                    </div>

                    <div id="item">
                        <ul class="uk-padding-remove uk-margin-remove-vertical">
                            <div id="cart_item">
                               
                            </div>  
                        </ul>
                    </div>

                    <div id="bottom">
                        <div class="uk-align-left uk-margin-remove-vertical">
                            <h1 id="total">Total <p id="count"></p> Product</h1>
                        </div>
                        <div class="uk-align-right uk-margin-remove-vertical">
                            <h1>Amount </h1><p id="total_price"> </p>
                        </div>
                        <a href="{% url 'shop:mycart' %}" class="uk-align-center uk-margin-remove-bottom">CHECKOUT</a>
                    </div>   
                </div>
            </div>    


        <!-- Data Zone -->
        <div class="uk-container-expand" style="background-color: #FFFBE3; min-height: 100%; ">
            
            {% block content %}
            
            {% endblock content %}
        </div>

        <!-- Optional JavaScript -->
        <script src="{% static 'js/axios.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript">
            var scrolltotop={setting:{startline:100,scrollto:0,scrollduration:1e3,fadeduration:[500,100]},controlHTML:'<img src="https://i1155.photobucket.com/albums/p559/scrolltotop/arrow86.png" />',controlattrs:{offsetx:5,offsety:5},anchorkeyword:"#top",state:{isvisible:!1,shouldvisible:!1},scrollup:function(){this.cssfixedsupport||this.$control.css({opacity:0});
            var t=isNaN(this.setting.scrollto)?this.setting.scrollto:parseInt(this.setting.scrollto);t="string"==typeof t&&1==jQuery("#"+t).length?jQuery("#"+t).offset().top:0,this.$body.animate({scrollTop:t},this.setting.scrollduration)},keepfixed:function(){var t=jQuery(window),o=t.scrollLeft()+t.width()-this.$control.width()-this.controlattrs.offsetx,s=t.scrollTop()+t.height()-this.$control.height()-this.controlattrs.offsety;
                this.$control.css({left:o+"px",top:s+"px"})},togglecontrol:function(){var t=jQuery(window).scrollTop();
                this.cssfixedsupport||this.keepfixed(),this.state.shouldvisible=t>=this.setting.startline?!0:!1,this.state.shouldvisible&&!this.state.isvisible?(this.$control.stop().animate({opacity:1},this.setting.fadeduration[0]),this.state.isvisible=!0):0==this.state.shouldvisible&&this.state.isvisible&&(this.$control.stop().animate({opacity:0},this.setting.fadeduration[1]),this.state.isvisible=!1)},init:function(){jQuery(document).ready(function(t){var o=scrolltotop,s=document.all;
                    o.cssfixedsupport=!s||s&&"CSS1Compat"==document.compatMode&&window.XMLHttpRequest,o.$body=t(window.opera?"CSS1Compat"==document.compatMode?"html":"body":"html,body"),o.$control=t('<div id="topcontrol">'+o.controlHTML+"</div>").css({position:o.cssfixedsupport?"fixed":"absolute",bottom:o.controlattrs.offsety,right:o.controlattrs.offsetx,opacity:0,cursor:"pointer"}).attr({title:"Scroll to Top"}).click(function(){return o.scrollup(),!1}).appendTo("body"),document.all&&!window.XMLHttpRequest&&""!=o.$control.text()&&o.$control.css({width:o.$control.width()}),o.togglecontrol(),t('a[href="'+o.anchorkeyword+'"]').click(function(){return o.scrollup(),!1}),t(window).bind("scroll resize",function(t){o.togglecontrol()})})}};
                    scrolltotop.init();
            search().then(product => renderSuggestionList(product))
            function search() {
                let searchText = document.querySelector('#searchbox').value

                return axios.get(`/api/v1/product/?format=json&search=${searchText}`)
                .then(response => response.data)
                .catch(error => console.error(error))
            }

            function onKeyupHandler(e) {
                if (e.keyCode === 13) {
                    search().then(product => renderListedPeople(product))
                } 
                else {
                    search().then(product => renderSuggestionList(product))
                }
            }
              function searchBySuggestion(name, last_name) {
                document.querySelector('#searchbox').value = `${name} ${last_name}`

                search().then(people => renderListedPeople(people))
            }
            function renderSuggestionList(product) {
                console.log(product)
                let renderSuggestionList = ''

                if (product.results.length != 0) {
                    product.results.forEach(function(p){
                        renderSuggestionList += `
                                    <li>
                                        <a href="/search/?search=${p.name}">
                                            ${p.name}
                                        </a>
                                    </li>
                                `
                    });
                }
                else {
                renderSuggestionList = '<li>ไม่มีคำแนะนำ</li>'
                }

                let suggestionDOM = document.querySelector('.suggestions')
                suggestionDOM.innerHTML = renderSuggestionList
            }
            function getBuck(){
                return axios.get(`/shop/api/mybuck/`).
                then(response => response.data)
                .catch(error => console.error(error))
            }
            function bucket(){
                getBuck().then(data=>renderBuck(data))
            }
            function renderBuck(data){
                console.log(data)
                var renderText = ''
                var count=0
                var total_price =0
                if(data.length!=0){
                    data.forEach(d=>{
                        // console.log(d);
                        renderText += `<li>
                                <div class="uk-child-width-expand@s uk-margin-remove" uk-grid> 
                                    <div class="uk-padding-remove " id="img1"><img src="${d.image}"></div>
                                    <div class="uk-padding-remove uk-display-block"> 
                                        <h1>${d.name}</h1><br>
                                        <div class="uk-display-inline">
                                            <p> ${d.amount} </p>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-text-right" >
                                    <a onclick="del_buck(${d.id})">remove</a>
                                    <br>
                                    <h2>฿ ${d.price}</h2>
                                </div>
                            </li>`
                        
                        count+=1
                        total_price+=d.price
                    })
                }
                document.getElementById('cart_item').innerHTML = renderText;
                document.getElementById('count').innerHTML = count
                document.getElementById('total_price').innerHTML = total_price
            }
            function del_buck(pk){
                axios.get(`/del_bucket/${pk}`).
                then(response => response)
                .catch(error => console.error(error))
                bucket()
            }

            
 
        
        </script>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
    <footer class="footer">
        
    </footer>
</html>