{% extends 'shop/web/base.html' %}
{% load static %}
{% load multiply %}
{% block title %} Confirm shipping {% endblock title %}
{% block content %}
    <body>
        <div class="uk-container-expand uk-padding-large" style="background-color: #FFFBE3; min-height: 100vh; max-width: 100%;">
               
            <!-- My Cart -->
            <div class="uk-width-expand" style="background-color: #ffffff;" id="confirmshipping">
                <!-- Shipping data -->
                <div class="uk-padding-large">
                    <h1>Confirm Shipping Information</h1>
                    <div class="uk-card uk-card-default uk-width-expand uk-padding">
                        <p>Delivery Address : <span style="padding-left: 1vw;">{{address.name}} {{address.address1}} {{address.address2}}</span></p>
                        <p>Delivery method  : <span style="padding-left: 1vw;">{{delivery_method.name}}</span></p>
                        {% if payment.hold_name == "bank" %}
                            <p>Payment Method  :<span style="padding-left: 1vw;">Banking Transfer</span></p>
                        {% elif payment.hold_name == "cod" %}
                            <p>Payment Method  :<span style="padding-left: 1vw;">Cash on Delivery</span></p>
                        {% else %}
                            <p>Payment Method  :<span style="padding-left: 1vw;">Creadit Card - **** **** **** {{payment.card_number | slice:"-4::"}}</span></p>
                        {% endif %}
                    </div>
                </div>

                <!-- Order Here -->
                <div class="uk-padding-large uk-padding-remove-top">
                    <h1>Order Detail</h1>
                    <div class="uk-margin-remove mycartpage">                                    
                        <div class="uk-grid-medium uk-child-width-expand@s uk-margin-remove" uk-grid>
                            <div class="uk-padding-remove uk-width-1-1" style="border: #BEBEBE solid 1px;">
                                <div class="uk-overflow-auto" id="mycarttable">
                                    <table class="uk-table uk-table-middle uk-table-divider uk-text-center" >
                                        <thead>
                                            <tr>                                    
                                                <th class="uk-table-expand">Product</th>
                                                <th class="uk-width-small">Price</th>
                                                <th class="uk-width-small">Quantity</th>
                                                <th class="uk-width-small">Sub Total</th>                                        
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- List of bucket limit over 5 row will scroll-->
                                            <!-- Sample product  -->
                                            {% for product in bucket %}
                                                <tr>                                                
                                                    <!-- Img and Productname her -->
                                                    <td class="uk-text-left">
                                                        <div style="display: inline-flex; padding-left: 5vw;">
                                                            <img class="uk-preserve-width " src="{{product.product.product.photo.first.file.url}}" width="100" alt="">
                                                            <h2 class="uk-margin-auto-vertical">{{product.product.product.name}}</h2>
                                                        </div>
                                                    </td>
        
                                                    <!-- Product price -->
                                                    <td class="uk-text-truncate">฿ {{product.product.product.price}}</td>
        
                                                    <!-- Quantity -->
                                                    <td class="uk-text-truncate">                                                    
                                                        <p> {{product.amount}} </p>
                                                    </td>
        
                                                    <!-- All price -->
                                                    <td class="uk-text-truncate">฿ {% multiply product.amount product.product.product.price %}</td>    
                                                </tr>                                                             
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>                                    
                            </div>                                                            
                        </div>
                    </div>
                </div>
            
                <!-- Summary pay -->
                <div class="uk-padding-large uk-padding-remove-top">
                    <h1>Confirm Shipping Information</h1>
                    <div class="uk-card uk-card-default uk-width-expand uk-padding">
                        <p style="padding-left: 70%;">Order price : <span style="padding-left: 1vw; color: #FF5F5F;">฿ {{order_price}}</span></p>
                        <p style="padding-left: 70%;">Delivery price  : <span style="padding-left: 1vw; color: #FF5F5F;">+ {{delivery_method.price}}</span></p>
                        <p style="font-weight: 500; padding-left: 70%;">Total price  :<span style="padding-left: 1vw; color: #FF5F5F;">฿ {{total_price}}</span></p>
                    </div>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <!-- Button zone -->
                    <div class="uk-padding uk-text-right uk-padding-remove-top">
                        <input type="text" name="confirm" hidden>
                        <a href="{% url 'shop:shoppinginfo' %}"><button class="uk-button uk-button-default" id="backbutton">Back</button></a>
                        <button class="uk-button uk-button-default" id="confirmbutt" type="submit">Confirm and pay</button>
                    </div>
                    <input type="text" name="logistic" value="{{delivery_method.pk}}" hidden>
                    <input type="text" name="payment_method" value="{{payment.pk}}" hidden>
                </form>
            </div>
    
        </div>
    </body>
{% endblock content %}