{% extends 'shop/web/base.html' %}
{% load static %}
{% block title %} Cradit Card {% endblock title %}
{% block content %}
    <body>
        <!-- Data Zone -->
        <div class="uk-container-expand uk-padding-large" style="background-color: #FFFBE3; min-height: 100vh; max-width: 100%;">
            <div class="profile uk-margin-auto " uk-grid>
                <div class="uk-width-1-4 uk-padding-large uk-padding-remove-right">     
                    <div uk-grid>
                        <div class="uk-width-1-2">
                            {% if profile.image %}
                                <img class="profilepic" src="{{ profile.image.url }}" alt="Profile" height="100%" width="100%">
                            {% else %}
                                <img class="profilepic" src="{% static 'img/Profile.png' %}" alt="Profile" height="100%" width="100%">
                            {% endif %}
                        </div> 
                        <ul class="uk-list uk-width-1-2">
                            <p class="wordWrap" id="usernameprofile">{{profile.user}}</p>
                            <p id="memberstatus">Membership</p>
                        </ul>                        
                    </div>
                    <ul class="uk-list uk-margin-medium-top uk-link-reset" style="font-size: 1.8rem;">
                        <li class="profileicon">
                            <a href="{% url 'shop:profile' %}"><i class="las la-user"></i>  Profile</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:shippingaddress' %}"><i class="las la-home"></i>  Shipping Address</a>
                        </li>
                        <li id="selected">
                            <a href="{% url 'shop:creditcard' %}"><i class="las la-credit-card"></i>  Credit Card</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:order' %}"><i class="las la-receipt"></i>  Order</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:myfavourite' %}"><i class="las la-heart"></i>  My favourite</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:review' %}"><i class="lar la-thumbs-up"></i>  My review</a>
                        </li>
                    </ul>
                </div>

                <div class="uk-width-3-4 uk-padding-large">
                    <div style="height: 100%; width: 100%; background-color: #FAFAFA;">
                        <div class="uk-padding-large">
                            <h2 style="border-bottom: 2px solid #FF9C9C; padding-bottom: 2%;">Credit/Debit Carde</h2>
                            
                            <!-- Show availble card -->                                                       
                            <div class="uk-flex uk-flex-column uk-width-3-5">
                                <!-- <div class="uk-card uk-card-default uk-card-small uk-card-body uk-margin-bottom uk-flex-inline uk-flex-center" id="card">
                                    <i class="lab la-cc-visa "></i>
                                    <h3>**** **** **** 5790</h3>
                                    <a>Delete</a>
                                </div>
                                <div class="uk-card uk-card-default uk-card-small uk-card-body uk-margin-bottom uk-flex-inline uk-flex-center" id="card">                                    
                                    <i class="lab la-cc-mastercard"></i>
                                    <h3>**** **** **** 5791</h3>
                                    <a>Delete</a>
                                </div>
                                <div class="uk-card uk-card-default uk-card-small uk-card-body uk-margin-bottom uk-flex-inline uk-flex-center" id="card">                                    
                                    <i class="lab la-cc-amex"></i>
                                    <h3>**** **** **** 5792</h3>
                                    <a>Delete</a>
                                </div>
                                <div class="uk-card uk-card-default uk-card-small uk-card-body uk-margin-bottom uk-flex-inline uk-flex-center" id="card">                                    
                                    <i class="lab la-cc-jcb"></i>
                                    <h3>**** **** **** 5793</h3>
                                    <a>Delete</a>
                                </div>
                                <div class="uk-card uk-card-default uk-card-small uk-card-body uk-margin-bottom uk-flex-inline uk-flex-center" id="card">                                    
                                    <i class="lab la-cc-apple-pay"></i>
                                    <h3>**** **** **** 5794</h3>
                                    <a>Delete</a>
                                </div> -->
                                {% for card in creadit_card %}
                                    <div class="uk-card uk-card-default uk-card-small uk-card-body uk-margin-bottom uk-flex-inline uk-flex-center" id="card">                                    
                                        {% if card.kind == 'jb' %}
                                            <i class="lab la-cc-jcb"></i>
                                        {% elif card.kind == 'va' %}
                                            <i class="lab la-cc-visa "></i>
                                        {% elif card.kind == 'md' %}
                                            <i class="lab la-cc-mastercard"></i>
                                        {% elif card.kind == 'ax' %}
                                            <i class="lab la-cc-amex"></i>
                                        {% else %}
                                            <i class="las la-credit-card"></i>
                                        {% endif %}
                                        <h3>**** **** **** {{card.card_number | slice:"-4::"}}</h3>
                                        <a href="{% url 'shop:delete_card' card.pk %}">Delete</a>
                                    </div>
                                {% endfor %}
                                
                                <a href="#addcard-modal" uk-toggle>
                                    <div class="uk-card uk-card-default uk-card-small uk-card-body uk-margin-bottom" id="addcard">
                                        <h3>+ Add New Credit/Debit Card</h3>
                                    </div>                             
                                </a> 
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Add card Modal -->
        <div id="addcard-modal" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <!-- Add card Form -->
                <form class="uk-form-horizontal" id="addcardform" method="POST">
                    {% csrf_token %}
                    <legend>Add Card</legend>
                    <div>
                        <div class="uk-form-label">Card Number</div>
                        <div class="uk-form-controls uk-form-controls-text">
                            <input class="uk-input" type="text" name="card_no" placeholder="xxxx xxxx xxxx xxxx" inputmode="numeric" required>
                        </div>
                    </div>
                    <div>
                        <div class="uk-form-label">Name on card</div>
                        <div class="uk-form-controls uk-form-controls-text">
                            <input class="uk-input" type="text" name="name" placeholder="" required>
                        </div>
                    </div>
                    <div>
                        <div class="uk-form-label">Expire Date (mm/yy)</div>
                        <div class="uk-form-controls uk-form-controls-text" uk-grid>
                            <div class="uk-width-1-2 uk-padding-remove-left">
                                <select class="uk-select" id="form-stacked-select" name="month">
                                    <!-- <option>Option 01</option>
                                    <option>Option 02</option> -->
                                    {% for m in month %}
                                        <option value="{{m}}">{{m}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="uk-width-1-2 uk-padding-remove-left">
                                <select class="uk-select" id="form-stacked-select" name="year">
                                    <!-- <option>Option 01</option>
                                    <option>Option 02</option> -->
                                    {% for y in year %}
                                        <option value="{{y}}">{{y}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-form-label">Security Code</div>
                        <div class="uk-form-controls uk-form-controls-text">
                            <input class="uk-input" type="text" name="secure" placeholder="" pattern="[0-9]{3}" required>
                        </div>
                    </div>
                    <!-- Submit  -->
                    <p class="uk-text-center">                    
                        <button class="uk-button" type="submit" id="confirmbutt">Confirm</button>
                    </p>    
                </form>            
            </div>
        </div>
    </body>
{% endblock content %}