{% extends 'shop/web/base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}
{% block content %}
    <body>
        <!-- Profile Zone -->
        <div class="uk-container-expand uk-padding-large" style="background-color: #FFFBE3; min-height: 100vh; max-width: 100%;">
            <div class="profile uk-margin-auto " uk-grid>
                <div class="uk-width-1-4 uk-padding-large uk-padding-remove-right">     
                    <div uk-grid>
                        <div class="uk-width-1-2">
                            {% if profile.image %}
                                <img class="profilepic" src="{{ profile.image.url }}" alt="Profile" height="100%" width="100%">
                            {% else %}
                                <img class="profilepic" src="{% static 'img/Profile.png' %}" alt="Profile" height="100%" width="100%">
                            {% endif %}
                        </div> 
                        <ul class="uk-list uk-width-1-2">
                            <p class="wordWrap" id="usernameprofile">{{profile.user}}</p>
                            <p id="memberstatus">Membership</p>
                        </ul>                        
                    </div>
                    <ul class="uk-list uk-margin-medium-top uk-link-reset" style="font-size: 1.8rem;">
                        <li class="profileicon">
                            <a><i class="las la-user"></i>  Profile</a>
                        </li>
                        <li class="profileicon">
                            <a><i class="las la-home"></i>  Shipping Address</a>
                        </li>
                        <li class="profileicon">
                            <a><i class="las la-credit-card"></i>  Credit Card</a>
                        </li>
                        <li class="profileicon">
                            <a><i class="las la-receipt"></i>  Order</a>
                        </li>
                        <li class="profileicon">
                            <a><i class="las la-heart"></i>  My favourite</a>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-3-4 uk-padding-large">
                    <div style="height: 100%; width: 100%; background-color: #FAFAFA;">
                        <div class="uk-padding-large">
                            <h2 style="border-bottom: 2px solid #FF9C9C; padding-bottom: 2%;">My Profile</h2>
                            <!-- Profile Form -->
                            <form class="uk-form-horizontal uk-margin-large" method="POST">
                                {% csrf_token %}
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text" style="font-size: 1.25rem; color: #5C5454;">Username</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" value="{{profile.user}}" disabled>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text" style="font-size: 1.25rem; color: #5C5454;">Name</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="name" value="{{profile.first_name}} {{profile.last_name}}">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text" style="font-size: 1.25rem; color: #5C5454;">Phone number</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-horizontal-text" type="number" placeholder="" name="phone" value="{{profile.phone}}">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text" style="font-size: 1.25rem; color: #5C5454;">Gender</label>
                                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" >
                                        {% if profile.gender == 'm' %}
                                            <label><input class="uk-radio" type="radio" name="gender" checked value="m"> Male</label>
                                            <label><input class="uk-radio" type="radio" name="gender" value="f"> Female</label>
                                            <label><input class="uk-radio" type="radio" name="gender" value="r"> Rather not say</label>
                                        {% elif profile.genter == 'f' %}
                                            <label><input class="uk-radio" type="radio" name="gender" value="m"> Male</label>
                                            <label><input class="uk-radio" type="radio" name="gender" checked value="f"> Female</label>
                                            <label><input class="uk-radio" type="radio" name="gender" value="r"> Rather not say</label>
                                        {% else %}
                                            <label><input class="uk-radio" type="radio" name="gender" value="m"> Male</label>
                                            <label><input class="uk-radio" type="radio" name="gender" value="f"> Female</label>
                                            <label><input class="uk-radio" type="radio" name="gender" checked value="r">  Rather not say</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text" style="font-size: 1.25rem; color: #5C5454;">Birthday</label>
                                    <div class="uk-form-controls selectform">
                                        <select class="uk-select uk-width-1-4 " id="form-stacked-select" name="day">
                                            {% for i in day %}
                                                {% if i == profile.dob.day %}
                                                    <option selected >{{i}}</option>
                                                {% else %}
                                                    <option >{{i}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <select class="uk-select uk-width-1-4" id="form-stacked-select" name="month">
                                            {% for i,m in month %}
                                                {% if i == profile.dob.month %}
                                                    <option selected >{{m}}</option>
                                                {% else %}
                                                    <option >{{m}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <select class="uk-select uk-width-1-4" id="form-stacked-select" name="year">
                                            {% for i in year %}
                                                {% if i == profile.dob.year %}
                                                    <option selected >{{i}}</option>
                                                {% else %}
                                                    <option >{{i}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>                
                                </div>
                                <div class="uk-text-right">
                                    <!-- <a href="{% url 'shop:editprofile' %}"><i class="las la-edit"></i>  Edit</a> -->
                                    <button class="uk-button" type="submit">SAVE</button>
                                </div>                                
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
{% endblock content %}