{% extends 'shop/web/base.html' %}
{% load static %}
{% load percentage %}
{% block title %} PikPay {% endblock title %}
{% block content %}
    <body>
        <!-- Top Banner -->
        <div class="uk-padding-remove-horizontal banner" uk-slideshow="autoplay: true; autoplay-interval: 4500; pause-on-hover: true; min-height: 300; max-height: 500">
            <ul class="uk-slideshow-items ">
                <li>
                    <img src="{% static 'img/banner1.jpg' %}" alt="" uk-cover>
                </li>
                <li>
                    <img src="{% static 'img/shipfree.png' %}" alt="" uk-cover>
                </li>
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>

        <!-- Hot Product -->
        <div class="uk-margin-remove-vertical uk-width-3-4 uk-align-center" uk-slider style="padding: 10vh 0px;">
            <div class="uk-position-relative" id="hotproduct">     
                <div class="uk-container-expand">
                    <img class="uk-align-center" src="{% static 'img/Hotproduct_head.png' %}" id="hotproductimg">
                </div>       
                <div class="uk-slider-container uk-light">
                    <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-5@m uk-grid-match">        
                        {% for p in hot_promotion %}
                            <li>
                                <a id="itemcard" href="{% url 'shop:product' p.pk %}">
                                    <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                                        <!-- Fixed img here -->
                                        <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover" data-src="{{p.photo.first.file.url}}" uk-img></div>
                                        <div class="uk-text-center">
                                            <p id="nametag">{{p.name}}</p>
                                            <p id="price">{{p.price}}฿</p>
                                        </div>                                                                
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="uk-hidden@s uk-light">
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
        
                <div class="uk-visible@s">
                    <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>            
            </div>
        </div>

        <!-- Flash Sale -->
        <div class="uk-margin-remove-vertical uk-width-3-4 uk-align-center uk-padding-remove-top" uk-slider style="padding: 10vh 0px;">
            <div class="uk-container-expand uk-flex-inline" id="flashsalehead">
                <i class="las la-clock"></i>
                <h1> FLASH SALE </h1>
                <h2 class="uk-flex-inline">
                    Hurry Up! Offers End In : 
                    <!-- countdown time here -->
                    <div uk-countdown="date: {{today}}" id="flashsalecountdown">
                        <span id="subcount"><span class="uk-countdown-number uk-countdown-hours"></span></span>
                        <span id="subcount"><span class="uk-countdown-number uk-countdown-minutes"></span></span>
                        <span id="subcount"><span class="uk-countdown-number uk-countdown-seconds"></span></span>
                    </div>
                </h2>
            </div>
            <div class="uk-position-relative" id="flashsalebody">                
                <div class="uk-slider-container uk-light">
                    <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-5@m uk-grid-match">        
                        {% for p in flash_sale %}
                            <li>
                                <!-- Add product link here -->
                                <a id="itemcardflashsale" href="{% url 'shop:product' p.product.pk %}">        
                                    <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                                        <span id="flashsaleban"><img src="{% static 'img/flashsaleban.png' %}" height="20%" width="60%"></span>                                                                                     
                                        <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover" data-src="{{p.product.photo.first.file.url}}" uk-img></div>
                                        <div class="uk-text-center">
                                            <p id="nametag">{{p.product.name}}</p>
                                            <p><s>{{p.product.price}} ฿</s></p>
                                            <p id="price"> {% percentage p.product.price p.discount %} ฿</p>
                                        </div>                                                                
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="uk-hidden@s uk-light">
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
        
                <div class="uk-visible@s">
                    <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>            
            </div>
        </div>

        <!-- Best of Month -->
        <div class="uk-margin-remove-vertical uk-width-3-4 uk-align-center uk-padding-remove-top" uk-slider style="padding: 10vh 0px;">
            <div class="uk-container-expand uk-flex-inline" id="besthead">
                <span class="uk-width-1-3 uk-margin-auto-vertical"></span>
                <h1 class="uk-width-1-3"> BEST OF MONTH </h1>
                <span class="uk-width-1-3 uk-margin-auto-vertical"></span>  
            </div>
            <div class="uk-position-relative" id="bestbody">                
                <div class="" uk-grid>
                    <div class="uk-width-1-3 uk-padding">
                        <!-- 1st best selling -->
                        <a id="itemcard" href="{% url 'shop:product' first.pk %}">
                            <div class="uk-card uk-card-default uk-card-body uk-padding-small" id="goldbann">
                                <span><img src="{% static 'img/gold.png' %}" height="20%" width="30%"></span>                                                                                  
                                <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover" data-src="{{first.photo.first.file.url}}" uk-img></div>
                                <div class="uk-text-center">
                                    <p id="nametag">{{first.name}} </p>
                                    <p id="price"> {{first.price}} ฿</p>
                                </div>                                                                
                            </div>
                        </a>
                    </div> 
                    <div class="uk-width-2-3 uk-flex-inline uk-flex-bottom uk-padding uk-padding-remove-horizontal">
                        <div class="uk-grid-small uk-child-width-1-3 uk-text-center uk-width-1-1 uk-margin-medium-top uk-grid-match" uk-grid>

                            <!-- 2nd best selling -->
                            <div class="uk-width-1-3">
                                <a id="itemcard" href="{% url 'shop:product' second.pk %}">
                                    <div class="uk-card uk-card-default uk-card-body uk-padding-small" id="silbronban">
                                        <span><img src="{% static 'img/silver.png' %}" height="20%" width="25%"></span>                                                                                      
                                        <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover" data-src="{{second.photo.first.file.url}}" uk-img></div>
                                        <div class="uk-text-center">
                                            <p id="nametag">{{second.name}}</p>
                                            <p id="price">{{second.price}}฿</p>
                                        </div>                                                                
                                    </div>
                                </a>
                            </div>
                            {% for best in best_sale %}
                            <!-- 3th best selling -->
                            <div class="uk-width-1-3 ">
                                <a id="itemcard" href="{% url 'shop:product' best.pk %}">
                                    <div class="uk-card uk-card-default uk-card-body uk-padding-small" id="silbronban">
                                        <span><img src="{% static 'img/bronze.png' %}" height="20%" width="25%"></span>
                                        <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover" data-src="{{best.photo.first.file.url}}" uk-img></div>
                                        <div class="uk-text-center">
                                            <p id="nametag">{{best.name}}</p>
                                            <p id="price">{{best.price}} ฿</p>
                                        </div>                                                                
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                            <!-- 4th best selling -->
                            {% comment %} <div class="uk-width-1-3">
                                <a id="itemcard" >
                                    <div class="uk-card uk-card-default uk-card-body uk-padding-small" id="silbronban">
                                        <span><img src="{% static 'img/bronze.png' %}" height="20%" width="25%"></span>
                                        <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover" data-src="{% static 'img/Example_product2.png' %}" uk-img></div>
                                        <div class="uk-text-center">
                                            <p id="nametag">{{best.name}}</p>
                                            <p id="price">{{best.price}}฿</p>
                                        </div>                                                                
                                    </div>
                                </a>
                            </div> {% endcomment %}

                        </div>
                    </div>
                </div>                          
            </div>
        </div>

        <!-- Bnner ADs -->     
        <div class="uk-margin-remove-vertical uk-width-5-6 uk-align-center uk-padding-remove-top" style="padding: 10vh 0px;">
            <div class="uk-flex-inline">
                <div class="uk-width-3-4">
                    <img src="{% static 'img/banner2.png' %}" alt="" >
                </div>
                <div class="uk-width-1-4">
                    <img src="{% static 'img/banners_vertical.png' %}" alt="" >
                </div> 
            </div>
        </div>

        <!-- Catagory menu -->
        <div class="uk-margin-remove-vertical uk-width-3-4 uk-align-center uk-padding-remove-top" uk-slider style="padding: 10vh 0px;">
            <div class="showitem uk-width-auto">
                <h1 class="uk-padding-small" style="border-bottom: 3px solid #4FD0C6; color: #413B3B; font-weight: 600;"><img src="{% static 'img/categories.png' %}" width="8%" height="8%" alt="" style="margin-right: 2%;"> CATEGORIES</h1>       
                <div class="uk-grid-small uk-child-width-1-4@s uk-text-center uk-margin-small uk-padding" uk-grid id="cataegoryblock">
                    <div>
                        <a href="{% url 'shop:homeandlifestyle' %}">
                            <img src="{% static 'img/HandL.png' %}" width="100%" height="100%" alt="" style="margin-right: 2%;">
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'shop:fashion' %}">
                            <img src="{% static 'img/fashion.png' %}" width="100%" height="100%" alt="" style="margin-right: 2%;">
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'shop:healthandbeauty' %}">
                            <img src="{% static 'img/HAB.png' %}" width="100%" height="100%" alt="" style="margin-right: 2%;">
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'shop:sportsandtravel' %}">
                            <img src="{% static 'img/SAP.png' %}" width="100%" height="100%" alt="" style="margin-right: 2%;">
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'shop:groceriesandpets' %}">
                            <img src="{% static 'img/GAP.png' %}" width="100%" height="100%" alt="" style="margin-right: 2%;">
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'shop:toys' %}">
                            <img src="{% static 'img/toys.png' %}" width="100%" height="100%" alt="" style="margin-right: 2%;">
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'shop:electronics' %}">
                            <img src="{% static 'img/electronics.png' %}" width="100%" height="100%" alt="" style="margin-right: 2%;">
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'shop:justforyou' %}">
                            <img src="{% static 'img/JFY.png' %}" width="100%" height="100%" alt="" style="margin-right: 2%;">
                        </a>
                    </div>
                </div>         
            </div>
        </div>

        <!-- Just For You -->
        <div class="uk-margin-remove-vertical uk-width-3-4 uk-align-center uk-padding-remove-top" style="padding: 10vh 0px;">
            <div class="showitem uk-margin-auto uk-width-auto">
                <h1 style="border-bottom: 3px solid #F7A478; color: #833232;"><img src="{% static 'img/JFY.png' %}" width="8%" height="8%" alt="" style="margin-right: 2%;"> Just For You</h1>       
                <div class="uk-grid-small uk-child-width-1-6 uk-text-center uk-margin-small uk-padding" uk-grid>
                    {% comment %} <div>
                        <div class="uk-card uk-card-default uk-card-body">Item</div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">Item</div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">Item</div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">Item</div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">Item</div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">Item</div>
                    </div> {% endcomment %}
                    {% for product in justforyou %}
                        <div>
                            <a id="itemcard" href="{% url 'shop:product' product.pk %}">
                                <div class="uk-card uk-card-default uk-card-body uk-padding-small" id="silbronban">
                                    <img class="uk-margin-small-top" src="{{product.photo.first.file.url}}" alt="">
                                    <div class="uk-text-center">
                                        <p id="nametag">{{product.name}}</p>
                                        <p id="price">{{product.price}}฿</p>
                                    </div>                                                                
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>         
            </div>
        </div>     
    </body>
{% endblock content %}