{% extends 'shop/web/base.html' %}
{% load static %}
{% block title %} Just For You {% endblock title %}
{% block content %}
    <body>  
        <!-- Data Zone -->
        <div class="uk-container-expand" style="background-color: #FFFBE3; min-height: 100vh; max-width: 100%;">
            <!-- Top Banner -->
            <div class="uk-padding-remove-horizontal banner" uk-slideshow="autoplay: true; autoplay-interval: 4500; pause-on-hover: true; min-height: 300; max-height: 500">
                <ul class="uk-slideshow-items ">
                    <li>
                        <img src="{% static 'img/banner1.jpg' %}" alt="" uk-cover>
                    </li>
                    <li>
                        <img src="{% static 'img/shipfree.png' %}" alt="" uk-cover>
                    </li>
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    
                <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>

            <!-- Item Show -->
            <div class="showitem uk-margin-auto">
                <h1 style="border-bottom: 3px solid #F7A478; color: #833232;"><img src="{% static 'img/JFY.png' %}" width="8%" height="8%" alt="" style="margin-right: 2%;"> Just For You</h1>       
                <div class="uk-grid-small uk-child-width-1-6 uk-text-center uk-margin-small uk-padding" uk-grid>
                    {% for p in product %}
                        <li>
                            <a id="itemcard" href="{% url 'shop:product' p.pk %}">
                                <div class="uk-card uk-card-default uk-card-body uk-padding-small">                                                                    
                                    <img src="{{p.photo.first.file.url}}" alt="{{p.name}}">
                                    <div class="uk-text-center">
                                        <p id="nametag">{{p.name}}</p>
                                        <p id="price">{{p.price}}฿</p>
                                    </div>                                                                
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </div>         
            </div>
        </div>
        {% if product.has_other_pages %}
            <ul class="uk-pagination uk-flex-center" uk-margin>
                {% if product.has_previous %}
                    <li><a href="?page={{ users.previous_page_number }}"><span uk-pagination-previous></span></a></li>                    
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}

                {% for i in product.paginator.page_range %}
                    {% if product.number == i %}
                        <li class="uk-active"><span>{{ i }}</span></li>                       
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if product.has_next %}
                    <li><a href="?page={{ users.next_page_number }}"><span uk-pagination-next></span></a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </body>
{% endblock content %}