{% extends 'shop/web/base.html' %}
{% load static %}
{% load multiply %}
{% block title %} My cart {% endblock title %}
{% block content %}
    <body>
        <div class="uk-container-expand" style="background-color: #FFFBE3; min-height: 100vh; max-width: 100%;">
            <!-- Top Banner -->
            <div class="uk-margin-remove-vertical uk-width-5-6 uk-align-center uk-padding-remove-top" style="padding: 10vh 0px;">
                <img class="" src="{% static 'img/shipfree.png' %}" alt="">                    
            </div>    

            <!-- My Cart -->
            <div class="uk-margin-remove-vertical uk-width-5-6 uk-align-center uk-padding-remove-top" style="padding: 10vh 0px;">
                <div class="uk-container uk-width-5 uk-margin-remove mycartpage uk-padding uk-padding-remove-top">                
                    <div class="uk-container-expand uk-padding uk-padding-remove-horizontal">
                        <canvas class="uk- uk-margin-medium-right" id="mcbar"></canvas>
                        <span class="uk-text-middle uk-margin-medium-right" style="font-size: 2rem;">Shopping Cart</span>
                        <img src="{% static 'img/decorationmycartpage.png' %}" width="100" height="100">                        
                    </div>
                    
                    
                        
                    <div class="uk-grid-medium uk-child-width-expand@s uk-margin-remove" uk-grid>
                        <div class="uk-padding-remove uk-width-3-4" style="border: #BEBEBE solid 1px;">
                            <div class="uk-overflow-auto" id="mycarttable">
                                <table class="uk-table uk-table-hover uk-table-middle uk-table-divider uk-text-center" >
                                    <thead>
                                        <tr>
                                            <th class="uk-table-shrink"></th>
                                            <th class="uk-table-expand">Product</th>
                                            <th class="uk-width-small">Price</th>
                                            <th class="uk-width-small">Quantity</th>
                                            <th class="uk-width-small">Sub Total</th>
                                            <th class="uk-table-shrink">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- List of bucket limit over 5 row will scroll-->
                                        <!-- Sample product  -->
                                        {% comment %} <tr>
                                            <!-- Checkbox for action -->
                                            <td><input class="uk-checkbox" type="checkbox"></td>

                                            <!-- Img and Productname her -->
                                            <td class="uk-table-link uk-text-left">
                                                <a class="uk-link-reset" href="" style="display: inline-flex;">
                                                    <img class="uk-preserve-width " src="{% static 'img/Example_product1.png' %}" width="100" alt="">
                                                    <h2 class="uk-margin-auto-vertical">Product name</h2>
                                                </a>
                                            </td>

                                            <!-- Product price -->
                                            <td class="uk-text-truncate">฿ 790</td>

                                            <!-- Select Quantity -->
                                            <td class="uk-text-truncate">
                                                <div class="uk-flex-inline">
                                                    <button class="uk-margin-auto-vertical" id="qbutt"><i class="las la-minus"></i></button>
                                                    <p> 1 </p>
                                                    <button class="uk-margin-auto-vertical" id="qbutt"><i class="las la-plus"></i></button>
                                                </div>
                                            </td>

                                            <!-- All price -->
                                            <td class="uk-text-truncate">฿ 790</td>

                                            <!-- Delete product from bucket (action)-->
                                            <td><button><i class="las la-trash-alt"></i></button></td>
                                        </tr> {% endcomment %}
                                        {% for product in bucket %}
                                            <tr>
                                                <!-- Checkbox for action -->
                                                <input type="text" name="id" value="{{product.pk}}" hidden>
                                                <td><input class="uk-checkbox" type="checkbox" onclick="add_del_pk({{product.pk}})"></td>

                                                <!-- Img and Productname her -->
                                                <td class="uk-table-link uk-text-left">
                                                    <a class="uk-link-reset" href="" style="display: inline-flex;">
                                                        <img class="uk-preserve-width " src="{{product.product.product.photo.first.file.url}}" width="100" alt="">
                                                        <h2 class="uk-margin-auto-vertical">{{product.product.product.name}}</h2>
                                                    </a>
                                                </td>

                                                <!-- Product price -->
                                                <td class="uk-text-truncate">฿ {{product.product.product.price}}</td>

                                                <!-- Select Quantity -->
                                                <td class="uk-text-truncate">
                                                    <div class="uk-flex-inline">
                                                        {% comment %} <button class="uk-margin-auto-vertical" id="qbutt"><i class="las la-minus"></i></button> {% endcomment %}
                                                        <p> {{product.amount}} </p>
                                                        {% comment %} <button class="uk-margin-auto-vertical" id="qbutt"><i class="las la-plus"></i></button> {% endcomment %}
                                                    </div>
                                                </td>

                                                <!-- All price -->
                                                <td class="uk-text-truncate">฿ {% multiply product.amount product.product.product.price %} </td>

                                                <!-- Delete product from bucket (action)-->
                                                <td><button onclick="del_buck_cart({{product.pk}})"><i class="las la-trash-alt"></i></button></td>
                                            </tr>
                                        {% endfor %}
                                                                
                                    </tbody>
                                </table>
                            </div>                                    
                        </div>            
                        
                        <!-- Summary cart -->
                        <div class="uk-width-1-5 uk-margin-auto-left uk-padding-remove-left" style="border: #BEBEBE solid 1px;">
                            <table class="uk-table uk-table-middle uk-table-divider uk-text-left uk-margin-remove-bottom" id="summycart">
                                <thead>
                                    <tr>
                                        <th class="uk-table-expan" colspan="2">Cart Summary</th>                                
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Sum quantity -->
                                    <tr>                
                                        <td>Total Quantity</td> 
                                        <td class="uk-text-center">{{total_amount}}</td>                                      
                                    </tr>  
                                    
                                    <!-- Sum pay total -->
                                    <tr>                
                                        <td>Subtotal<br><span style="font-size: 0.75rem;">(Excluding Delivery Cost)</span></td>    
                                        <td class="uk-text-center">฿ {{total_price}}</td>                                   
                                    </tr>                                            
                                </tbody>
                            </table>
                            <div class="uk-container-expand uk-padding-small uk-text-center">
                                <a href={% url 'shop:shoppinginfo' %}><button class="uk-button" id="cfbutt">Confirm</button></a>
                            </div>
                            
                        </div>
                    </div>
                    

                    <div class="uk-grid-medium uk-child-width-expand@s uk-margin-remove-left" uk-grid>
                        <div class="uk-padding-remove uk-width-3-4">
                            <a href="{% url 'shop:home' %}"><button class="uk-width-1-4 uk-button uk-button-default">Continue Shopping</button></a>
                            <button class="uk-width-1-4 uk-button uk-button-default" onclick="empty_cart()">Empty Shopping Cart</button>
                            <button class="uk-width-1-4 uk-button uk-button-default" onclick="del_selected()">Delete Select</button>
                        </div>
                    </div>

                </div>
            </div>
    
        </div>
    </body>
    <script src="{% static 'js/axios.js' %}"></script>
    <script>
        function del_buck_cart(pk){
            axios.get(`/del_bucket/${pk}`);
            location.reload();
        }
        function empty_cart(){
            var list_pk = [{% for i in bucket %} {{i.pk}}, {% endfor %}]
            list_pk.forEach(pk=>{
                axios.get(`/del_bucket/${pk}`);
            })
            location.reload();
        }
        var list_pk_cart = []
        function add_del_pk(pk){
            if(list_pk_cart.includes(pk)){
                //list_pk_cart.remove(pk)
                var index = list_pk_cart.indexOf(pk);
                if (index !== -1){
                    list_pk_cart.splice(index, 1);
                }    
            }
            else{
                list_pk_cart.push(pk)
            }
            console.log(list_pk_cart)
        }
        function del_selected(){
            list_pk_cart.forEach(pk=>{
                axios.get(`/del_bucket/${pk}`);
            })
            location.reload();
        }
    </script>
{% endblock content %}