{% extends 'shop/web/base.html' %}
{% load static %}
{% block title %} Order {% endblock title %}
{% block content %}
    <body>
        <!-- Data Zone -->
        <div class="uk-container-expand uk-padding-large" style="background-color: #FFFBE3; min-height: 100vh; max-width: 100%;">       
            <div class="profile uk-margin-auto " uk-grid>
                <div class="uk-width-1-4 uk-padding-large uk-padding-remove-right">     
                    <div uk-grid>
                        <div class="uk-width-1-2">
                            {% if profile.image %}
                                <img class="profilepic" src="{{ profile.image.url }}" alt="Profile" height="100%" width="100%">
                            {% else %}
                                <img class="profilepic" src="{% static 'img/Profile.png' %}" alt="Profile" height="100%" width="100%">
                            {% endif %}
                        </div> 
                        <ul class="uk-list uk-width-1-2">
                            <p class="wordWrap" id="usernameprofile">{{profile.user}}</p>
                            <p id="memberstatus">Membership</p>
                        </ul>                        
                    </div>
                    <ul class="uk-list uk-margin-medium-top uk-link-reset" style="font-size: 1.8rem;">
                        <li class="profileicon">
                            <a href="{% url 'shop:profile' %}"><i class="las la-user"></i>  Profile</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:shippingaddress' %}"><i class="las la-home"></i>  Shipping Address</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:creditcard' %}"><i class="las la-credit-card"></i>  Credit Card</a>
                        </li>
                        <li id="selected">
                            <a href="{% url 'shop:order' %}"><i class="las la-receipt"></i>  Order</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:myfavourite' %}"><i class="las la-heart"></i>  My favourite</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:review' %}"><i class="lar la-thumbs-up"></i>  My review</a>
                        </li>
                    </ul>
                </div>

                <div class="uk-width-3-4 uk-padding-large">
                    <div style="height: 100%; width: 100%; background-color: #FAFAFA;">
                        <div class="uk-padding-large">
                            <h2 style="border-bottom: 2px solid #FF9C9C; padding-bottom: 2%;">Order</h2>
                            
                            <!-- Show availble card -->                                                       
                            <div class="odercontain">
                                <ul class="uk-child-width-expand uk-margin-remove-bottom" uk-tab id="headorder">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">To receive</a></li>
                                    <li><a href="#">Succuess</a></li>
                                </ul>
                                
                                <ul class="uk-switcher uk-margin-remove-vertical">
                                    <!-- All state -->
                                    <li id="scrollbarorder">
                                        <ul class="uk-list orderlist">
                                            <!-- 7 item scrolltab will display-->
                                            <!-- Example unpaid state -->  
                                            {% for order in all_order %}
                                                {% if order.status == 'pa'%}
                                                    <!-- Example unpaid state -->                                       
                                                    <li>         
                                                        <div class="uk-margin-remove" uk-grid>                                       
                                                            <div class="uk-width-1-5 uk-padding-remove " id="textorder">
                                                                <p>
                                                                    {{order.timestamp}} <br>
                                                                    Order No. {{order.pk}}
                                                                </p>
                                                            </div>
                                                            <div class="uk-width-2-5 uk-padding-remove uk-flex-middle uk-flex-inline">
                                                                <!-- <img class="" src="{% static 'img/Example_product1.png' %}" alt="" width="100px" height="100px"> -->
                                                                <img class="" src="{{order.product.product.photo.first.file.url}}" alt="" width="100px" height="100px">
                                                                <p id="itemorder">
                                                                    {{order.product.product.name}} - {{order.product.model}}<br>
                                                                    {{order.price}} ฿
                                                                </p>
                                                            </div>
                                                            <div class="uk-width-2-5 uk-flex-inline uk-flex-right uk-flex-bottom uk-padding-remove">
                                                                <a href="{% url 'shop:tracking' order.pk %}"><button id="detailbutt">Detail</button></a>                                                        
                                                                <a href="{% url 'shop:cancle_order' order.pk %}"><button id="cancelbutt">Cancel</button></a>
                                                            </div>
                                                        </div>                                     
                                                    </li>
                                                {% elif order.status == 'se' %}
                                                    <li>         
                                                        <div class="uk-margin-remove" uk-grid>                                       
                                                            <div class="uk-width-1-5 uk-padding-remove " id="textorder">
                                                                <p>
                                                                    {{order.timestamp}} <br>
                                                                    Order No. {{order.pk}}
                                                                </p>
                                                            </div>
                                                            <div class="uk-width-2-5 uk-padding-remove uk-flex-middle uk-flex-inline">
                                                                <!-- <img class="" src="{% static 'img/Example_product1.png' %}" alt="" width="100px" height="100px"> -->
                                                                <img class="" src="{{order.product.product.photo.first.file.url}}" alt="" width="100px" height="100px">
                                                                <p id="itemorder">
                                                                    {{order.product.product.name}} - {{order.product.model}}<br>
                                                                    {{order.price}} ฿
                                                                </p>
                                                            </div>
                                                            <div class="uk-width-2-5 uk-flex-inline uk-flex-right uk-flex-bottom uk-padding-remove">
                                                                <a href="{% url 'shop:tracking' order.pk %}"><button id="trackbutt">Tracking</button></a>
                                                            </div>
                                                        </div>                                     
                                                    </li>
                                                {% else %}
                                                    <!-- Example Paid state -->
                                                    <li>         
                                                        <div class="uk-margin-remove" uk-grid>                                       
                                                            <div class="uk-width-1-5 uk-padding-remove " id="textorder">
                                                                <p>
                                                                    {{order.timestamp}}<br>
                                                                    Order No. {{order.pk}}
                                                                </p>
                                                            </div>
                                                            <div class="uk-width-2-5 uk-padding-remove uk-flex-middle uk-flex-inline">
                                                                <img class="" src="{{order.product.product.photo.first.file.url}}" alt="" width="100px" height="100px">
                                                                <p id="itemorder">
                                                                    {{order.product.product.name}} - {{order.product.model}}<br>
                                                                    {{order.price}} ฿
                                                                </p>
                                                            </div>
                                                            <div class="uk-width-2-5 uk-flex-inline uk-flex-right uk-flex-bottom uk-padding-remove">
                                                                <a href="{% url 'shop:tracking' order.pk %}"><button id="detailbutt">Detail</button></a>
                                                            </div>
                                                        </div>                                     
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>

                                    <!-- Unpaid state -->
                                    <li id="scrollbarorder">
                                        <ul class="uk-list orderlist">
                                            <!-- 7 item scrolltab will display-->
                                            <!-- Example unpaid state -->     
                                            {% for order in all_order %}
                                                {% if order.status == 'pa' %}                                      
                                                    <li>         
                                                        <div class="uk-margin-remove" uk-grid>                                       
                                                            <div class="uk-width-1-5 uk-padding-remove " id="textorder">
                                                                <p>
                                                                    {{order.timestamp}}<br>
                                                                    Order No. {{order.pk}}
                                                                </p>
                                                            </div>
                                                            <div class="uk-width-2-5 uk-padding-remove uk-flex-middle uk-flex-inline">
                                                                <img class="" src="{{order.product.product.photo.first.file.url}}" alt="" width="100px" height="100px">
                                                                <p id="itemorder">
                                                                    {{order.product.product.name}} - {{order.product.model}}<br>
                                                                    {{order.price}} ฿
                                                                </p>
                                                            </div>
                                                            <div class="uk-width-2-5 uk-flex-inline uk-flex-right uk-flex-bottom uk-padding-remove">
                                                                <a href="{% url 'shop:tracking' order.pk %}"><button id="detailbutt">Detail</button></a>                                                        
                                                                <a href="{% url 'shop:cancle_order' order.pk %}"><button id="cancelbutt">Cancel</button></a>
                                                            </div>
                                                        </div>                                     
                                                    </li>
                                                {% elif order.status == 'se' %}
                                                    <li>         
                                                        <div class="uk-margin-remove" uk-grid>                                       
                                                            <div class="uk-width-1-5 uk-padding-remove " id="textorder">
                                                                <p>
                                                                    {{order.timestamp}} <br>
                                                                    Order No. {{order.pk}}
                                                                </p>
                                                            </div>
                                                            <div class="uk-width-2-5 uk-padding-remove uk-flex-middle uk-flex-inline">
                                                                <!-- <img class="" src="{% static 'img/Example_product1.png' %}" alt="" width="100px" height="100px"> -->
                                                                <img class="" src="{{order.product.product.photo.first.file.url}}" alt="" width="100px" height="100px">
                                                                <p id="itemorder">
                                                                    {{order.product.product.name}} - {{order.product.model}}<br>
                                                                    {{order.price}} ฿
                                                                </p>
                                                            </div>
                                                            <div class="uk-width-2-5 uk-flex-inline uk-flex-right uk-flex-bottom uk-padding-remove">
                                                                <a href="{% url 'shop:tracking' order.pk %}"><button id="trackbutt">Tracking</button></a>
                                                            </div>
                                                        </div>                                     
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>

                                    <!-- Paid state -->
                                    <li id="scrollbarorder">
                                        <ul class="uk-list orderlist">
                                            <!-- 7 item scrolltab will display-->                              
                                            <!-- Example Paid state -->
                                            {% for order in all_order %}
                                                {% if order.status == 'ss' or order.status == 'ca' %}
                                                    <li>         
                                                        <div class="uk-margin-remove" uk-grid>                                       
                                                            <div class="uk-width-1-5 uk-padding-remove " id="textorder">
                                                                <p>
                                                                    {{order.timestamp}}<br>
                                                                    Order No. {{order.pk}}
                                                                </p>
                                                            </div>
                                                            <div class="uk-width-2-5 uk-padding-remove uk-flex-middle uk-flex-inline">
                                                                <img class="" src="{{order.product.product.photo.first.file.url}}" alt="" width="100px" height="100px">
                                                                <p id="itemorder">
                                                                    {{order.product.product.name}} - {{order.product.model}}<br>
                                                                    {{order.price}} ฿
                                                                </p>
                                                            </div>
                                                            <div class="uk-width-2-5 uk-flex-inline uk-flex-right uk-flex-bottom uk-padding-remove">
                                                                <a href="{% url 'shop:tracking' order.pk %}"><button id="detailbutt">Detail</button></a>  
                                                            </div>
                                                        </div>                                     
                                                    </li>
                                                {% elif order.status == 're' %}
                                                    <li>         
                                                        <div class="uk-margin-remove" uk-grid>                                       
                                                            <div class="uk-width-1-5 uk-padding-remove " id="textorder">
                                                                <p>
                                                                    {{order.timestamp}}<br>
                                                                    Order No. {{order.pk}}
                                                                </p>
                                                            </div>
                                                            <div class="uk-width-2-5 uk-padding-remove uk-flex-middle uk-flex-inline">
                                                                <img class="" src="{{order.product.product.photo.first.file.url}}" alt="" width="100px" height="100px">
                                                                <p id="itemorder">
                                                                    {{order.product.product.name}} - {{order.product.model}}<br>
                                                                    {{order.price}} ฿
                                                                </p>
                                                            </div>
                                                            <div class="uk-width-2-5 uk-flex-inline uk-flex-right uk-flex-bottom uk-padding-remove">
                                                                <a href="{% url 'shop:reviewproduct' order.pk %}"><button id="detailbutt">review</button></a>  
                                                            </div>
                                                        </div>                                     
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>
{% endblock content %}