{% extends 'shop/web/base.html' %}
{% load static %}
{% block title %}  {{product.name}} {% endblock title %}
{% block content %}
    <body>  
        <div class="uk-container-expand uk-margin-remove uk-padding-large" style="background-color: #FFFBE3; min-height: 100vh; max-width: 100%;"> 
            <div class="containitem uk-margin-auto">

                <!-- link to go back -->
                <div class="uk-container-expand" >
                    <ul class="uk-breadcrumb" id="plist">
                        <li><a href="{% url 'shop:home' %}">Home</a></li>
                        {% if product.category.name == "homeandlifestyle" %}
                            <li><a href="{% url 'shop:homeandlifestyle' %}">home & lifestyle</a></li>
                        {% elif product.category.name == "fashion" %}
                            <li><a href="{% url 'shop:fashion' %}">fashion</a></li>
                        {% elif product.category.name == "healthandbeauty" %}
                            <li><a href="{% url 'shop:healthandbeauty' %}">health & beauty</a></li>
                        {% elif product.category.name == "sportsandtravel" %}
                            <li><a href="{% url 'shop:sportsandtravel' %}">sports & travel</a></li>
                        {% elif product.category.name == "groceriesandpets" %}
                            <li><a href="{% url 'shop:groceriesandpets' %}">groceries & pets</a></li>
                        {% elif product.category.name == "toys" %}
                            <li><a href="{% url 'shop:toys' %}">toys</a></li>
                        {% elif product.category.name == "electronics" %}
                            <li><a href="{% url 'shop:electronics' %}">electronics</a></li>
                        {% endif %}
                        <li><a href="">{{product.name}}</a></li>
                    </ul>
                </div>
                
                <!-- Product detail -->
                <div class="uk-child-width-1-3 uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-remove uk-grid-match" uk-grid>
                    <div class="uk-width-1-2">
                        <div class="uk-container">
                            <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-display-inline" uk-grid>
                                <div id="mainimg">
                                    <!-- <img src="{% static 'img/GAP.png' %}" alt=""> -->
                                    <div class="uk-height-viewport uk-flex uk-flex-center uk-flex-middle uk-background-contain" data-src="{{product.photo.first.file.url}}" uk-img></div>
                                    <!-- <img src="{{product.photo.first.file.url}}" alt=""> -->
                                </div>
                                <div class="uk-position-relative uk-padding-small uk-padding-remove-horizontal uk-align-center" style="width: 100%;">
                                    <div class="uk-margin-auto" tabindex="-1"  uk-slider style="max-width: 100%;">
                                        <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-3@ uk-grid-small uk-grid-match" uk-grid>
                                            <!-- <li>
                                                <a><img src="{% static 'img/GAP.png' %}" alt=""></a>
                                            </li>
                                            <li>
                                                <a><img src="{% static 'img/GAP.png' %}" alt=""></a>
                                            </li>                    -->
                                            {% for img in product.photo.all %}
                                                <li>
                                                    <a>
                                                        <div class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-contain" data-src="{{img.file.url}}" uk-img></div>
                                                        <!-- <img src="{{img.file.url}}" alt=""> -->
                                                    </a>
                                                </li>  
                                            {% endfor %}
                                        </ul>
                                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" id="subimgnav" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" id="subimgnav"href="#" uk-slidenav-next uk-slider-item="next"></a>                                       
                                    </div>
                                </div>
                                <h1>{{msg2}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="uk-padding productdetail">
                                <h1>{{product.name}}</h1>
                                <h2>{{product.price}}</h2>
                                <div id="additem" class="uk-flex-inline"> 
                                    <h3 class="uk-flex-center">Quantity</h3>
                                    <div class="uk-align-right uk-flex-inline uk-margin-large-left" style="background-color: #F4F4F4;">
                                        <button onclick="adj_quan(-1)" type="button"><i class="las la-minus"></i></button>
                                        <p id="quantity" name="quantity">  </p>
                                        <input type="number" name="quantity" id="input_quan" value="1" hidden>
                                        <button onclick="adj_quan(1)" type="button"><i class="las la-plus"></i></button>
                                    </div>                            
                                </div>
                                <div uk-grid>
                                    <div class="uk-width-1-3">
                                        <h3>Shipping</h3>
                                    </div>
                                    <div class="uk-width-2-3">
                                        <!-- <h4>Free Shipping</h4> -->
                                        <h4> {{product.logistic}} </h4>
                                    </div>
                                </div>
                                <h3 style="margin-top: 3vh;">Detail</h3>
                                <h6 style="color: red;">{{msg}}</h6>
                                <div class="uk-inline" id="adddetail">
                                    <!-- <button class="uk-button uk-button-default" type="button" uk-toggle="target: #product-detail"> (Ex. Color,Size) <i class="las la-angle-down"></i></button> -->
                                    <button class="uk-button uk-button-default" type="button" uk-toggle="target: #product-detail" id="display_model"> Please Select model <i class="las la-angle-down"></i></button>
                                    <div class="uk-container" uk-dropdown="mode: click">
                                        
                                    </div>
                                </div> 
                                
                                <div class="uk-margin-large-top" uk-grid>
                                    <div class="uk-width-1-3">
                                        <button type="submit" id="buynowbut" name="buy">Buy Now</button>
                                    </div>

                                    <div class="uk-width-1-3">
                                        <button type="submit" id="addcartbutt" name="add">Add to Cart</button>
                                    </div>

                                    <div class="uk-width-1-3">
                                        <button type="button" onclick="fav('{{product.pk}}')"><i class="lar la-heart" id="favbutt" style="color: black;"></i></button></a>
                                        {% comment %} <button><i class="las la-ellipsis-h" id="morebutt"></i></button> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <input type="text" name="model" id="post_model" value="" hidden>
                            <!-- product detail modal -->
                            <div id="product-detail" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body uk-flex-block" id="selectproduct">
                                        <!-- <div id="label1">
                                            <legend>Tpye</legend>
                                            <input type="radio" id="a" name="Type" value="xxxxx"><label for="a">xxxxx</label>
                                            <input type="radio" id="b" name="Type" value="yyyyy"><label for="b">yyyyy</label>
                                            <input type="radio" id="c" name="Type" value="zzzzz"><label for="c">zzzzz</label>
                                        </div>                                        
                                        <div id="divider"></div>
                                        
                                        <div id="label2">
                                            <legend>Size</legend>
                                            <input type="radio" id="m" name="Size" value="s"><label for="m">s</label>
                                            <input type="radio" id="n" name="Size" value="m"><label for="n">m</label>
                                            <input type="radio" id="o" name="Size" value="l"><label for="o">l</label>
                                            <input type="radio" id="p" name="Size" value="xl"><label for="p">xl</label>
                                        </div>
                                        <div id="divider"></div> -->
                                    <legend>Model รุ่น</legend>
                                    <div class="uk-child-width-1-4 uk-margin-remove-left uk-grid-small" uk-grid>
                                    {% for detail in details %}  
                                        <div class="uk-padding-remove">
                                            <label for="model" ><input type="radio" name="model" value="{{detail.pk}}"  onchange="showmodel('{{detail.model}}','{{detail.pk}}');"><span>{{detail.model}}</span></label>
                                        </div>                                        
                                    {% endfor %}
                                    </div>
                                    <p class="uk-text-center">
                                        <!-- <button type="button" id="cancelproduct">Back</button> -->
                                        <button class="uk-margin-medium-left uk-modal-close uk-margin-auto" type="button" id="submitproduct">OK</button>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>

                <!-- Shop detail -->
                <div class="shopdetail uk-margin-remove uk-padding-small" uk-grid>
                    <div class="uk-width-2-5" uk-grid>                        
                        <div class="uk-width-1-3">
                            <!-- shop shop pic here -->
                            <img class="uk-border-circle" src="{% static 'img/Shop-icon.png' %}" height="80px" width="80px">                        
                        </div>
                        <div class="uk-width-2-3 uk-padding-remove" id="shopname">
                            <h4>{{product.seller.shop_name}}</h4>
                            {% comment %} <a href="#"><button id="btt1"><i class="las la-comments "></i> Chat</button></a> {% endcomment %}
                            <a href="{% url 'shop:shop_product' product.seller.pk %}"><button id="btt2">View</button></a>
                        </div>
                    </div>

                    <!-- Show shopdetail ex. product in shop, shop rating(max is 5), shop chat rating(in %) -->
                    <div class="uk-width-3-5 uk-margin-remove uk-padding-remove-left" uk-grid>
                        <div class="uk-width-1-3 shopsubdetail" style="border-right: #707070 solid 3px;">
                            <h1>{{num_product}}</h1>
                            <h2>Product</h2>
                        </div>
                        <div class="uk-width-1-3 shopsubdetail" style="border-right: #707070 solid 3px;">
                            <h1>{{rating}}</h1>
                            <h2>Rating</h2>
                        </div>
                        <div class="uk-width-1-3 shopsubdetail">
                            <h1>{{sold_of_shop}}</h1>
                            <h2>Product Sold</h2>
                        </div>
                    </div>
                </div>

                <!-- Product Description -->
                <div class="productdescription">
                    <h1>Product Description</h1>
                    <table class="uk-table uk-margin-medium-left uk-width-1-3">
                        <tbody>
                            <tr>
                                <td style="font-weight: bold;">Brand</td>
                                <td>{{product.name}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Stock</td>
                                <td>{{stock}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Shipping From</td>
                                <td>{{ship_form}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Descriptio detail -->
                    <p>
                        <!-- - สำหรับสุนัขขนาดเล็กและโต (ตามสูตรของแต่ละรสชาติ)<br> 
                        - ช่วยคุมรูปร่างให้สมส่วน และสลายไขมันส่วนเกิน<br>
                        - ความน่ากินสูง ดูแลสุขภาพผิวหนังและเส้นขน<br>
                        - ลดการสะสมของหินปูน -->
                        {{product.description}}
                    </p>
                </div>

                <!-- Review Container -->
                <div class="productreview">
                    <h1>REVIEW</h1>
                    {% for review in reviews %}
                        <!-- User1 review -->
                        <div id="reviewcontain">
                            {% comment %} <button>Report Abuse?</button> {% endcomment %}
                            <div class="uk-margin-small-top" uk-grid>
                                <!-- Review state -->
                                <div class="uk-width-1-2 uk-flex-inline">
                                    {% if review.buyer.account.image %}
                                        <img id="usernameproductimg" src="{{review.buyer.account.image.url}}" alt="" width="55px" height="55px" uk-img>
                                    {% else %}
                                        <img id="usernameproductimg" src="{% static 'img/Profile.png' %}" alt="" width="55px" height="55px" uk-img>
                                    {% endif %}
                                   
                                    <div class="uk-margin-medium-left" style="width: 25vw;">
                                        <h5 id="usernameproduct">{{review.buyer.account.user}}</h5>
                                        <h6 class="uk-margin-remove" id="star{{review.pk}}"></h6>
                                        <p class="wordWrap">{{review.description}}</p>
                                    </div>    
                                </div>
                                
                                <!-- Picture from review -->
                                <div class="uk-width-1-2">
                                    <ul class="uk-padding" id="reviewimg" uk-lightbox> 
                                        {% for img  in review.photo.all %}
                                            <a href="{% static 'img/grayBG.png' %}">
                                                <li>
                                                    <img src="{{img.file.url}}" id="reviewimg">
                                                </li>
                                            </a>                              
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <script src="{% static 'js/axios.js' %}"></script>
        <script src="{% static 'js/renderstar.js' %}"></script>
        <script>
        var review_list = [ 
                {% for review in reviews %} 
                    { 
                        'pk' : {{review.pk}} ,
                        'star' : {{review.star}} 
                    },
                {% endfor %} 
            ]
            review_list.forEach(data=>{render_star(data)})
            var quan = 1;
            document.getElementById('quantity').innerHTML = quan;
            function adj_quan(value){
                if(quan>=1){
                    if(value == -1){
                        quan -= 1;
                        if(quan==0){
                            quan=1;
                        }
                    }
                    else{
                        quan += 1;
                        elm = quan;
                    }
                }
                document.getElementById('quantity').innerHTML = quan;
                document.getElementById('input_quan').value = quan;
            }
            function showmodel(name,pk){
                console.log(name,pk);
                document.getElementById('display_model').innerHTML = name;
                document.getElementById('post_model').value = pk;
            }
            var favorite = '{{is_fav}}'
            function fav(pk){
                console.log(pk);
                axios.get(`/add_favorite/${pk}`)
                    .then(response => response.data)
                    .catch(error => console.error(error))
                if(favorite==='False'){
                    document.getElementById('favbutt').style.color='red';
                    favorite = 'False'
                }else{
                    document.getElementById('favbutt').style.color='black';
                }
                
            }
            if(favorite ==='True'){
                document.getElementById('favbutt').style.color='red';
            }
        </script>

    </body>
{% endblock content %}