{% extends 'shop/web/base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}
{% block content %}
    <body>
        <!-- Profile Zone -->
        <div class="uk-container-expand uk-padding-large" style="background-color: #FFFBE3; min-height: 100vh; max-width: 100%;">       
            <div class="profile uk-margin-auto " uk-grid>
                <div class="uk-width-1-4 uk-padding-large uk-padding-remove-right">     
                    <div uk-grid>
                        <div class="uk-width-1-2">
                            {% if profile.image %}
                                <img class="profilepic" src="{{ profile.image.url }}" alt="Profile" height="100%" width="100%">
                            {% else %}
                                <img class="profilepic" src="{% static 'img/Profile.png' %}" alt="Profile" height="100%" width="100%">
                            {% endif %}
                        </div> 
                        <ul class="uk-list uk-width-1-2">
                            <p class="wordWrap" id="usernameprofile">{{profile.user}}</p>
                            <p id="memberstatus">Membership</p>
                        </ul>                        
                    </div>
                    <ul class="uk-list uk-margin-medium-top uk-link-reset" style="font-size: 1.8rem;">
                        <li id="selected">
                            <a href="{% url 'shop:profile' %}"><i class="las la-user"></i>  Profile</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:shippingaddress' %}"><i class="las la-home"></i>  Shipping Address</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:creditcard' %}"><i class="las la-credit-card"></i>  Credit Card</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:order' %}"><i class="las la-receipt"></i>  Order</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:myfavourite' %}"><i class="las la-heart"></i>  My favourite</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:review' %}"><i class="lar la-thumbs-up"></i>  My review</a>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-3-4 uk-padding-large">
                    <div style="height: 100%; width: 100%; background-color: #FAFAFA;">
                        <div class="uk-padding-large">
                            <h2 style="border-bottom: 2px solid #FF9C9C; padding-bottom: 2%;">My Profile</h2>
                            <!-- Profile Form -->
                            <form class="uk-form-horizontal uk-margin-large">
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text" style="font-size: 1.25rem; color: #5C5454;">Username</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-horizontal-text" type="Name" placeholder="" value="{{profile.user}}" disabled>
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text" style="font-size: 1.25rem; color: #5C5454;">Name</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-horizontal-text" type="Name" placeholder="" value="{{profile.first_name}} {{profile.last_name}}" disabled>
                                    </div>
                                </div>
                                
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text" style="font-size: 1.25rem; color: #5C5454;">Phone number</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-horizontal-text" type="phonenumber" placeholder="" value="{{profile.phone}}" disabled>
                                    </div>
                                </div>
                                
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text" style="font-size: 1.25rem; color: #5C5454;">Gender</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-horizontal-text" type="gender" placeholder="" value="{{profile.get_gender_display}}" disabled>
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text" style="font-size: 1.25rem; color: #5C5454;">Birthday</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-horizontal-text" type="birthday" placeholder="" value="{{profile.dob}}" disabled>
                                    </div>               
                                </div>                                
                            </form>
                            <!-- Edit link -->
                            <div class="uk-text-right">
                                <a href="{% url 'shop:editprofile' %}"><i class="las la-edit"></i>  Edit</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
{% endblock content %}