{% extends 'shop/web/base.html' %}
{% load static %}
{% block title %} Order {% endblock title %}
{% block content %}
    <body>
        <!-- Data Zone -->
        <div class="uk-container-expand uk-padding-large" style="background-color: #FFFBE3; min-height: 100vh; max-width: 100%;">       
            <div class="profile uk-margin-auto " uk-grid>
                <div class="uk-width-1-4 uk-padding-large uk-padding-remove-right">     
                    <div uk-grid>
                        <div class="uk-width-1-2">                            
                            {% if profile.image %}
                                <img class="profilepic" src="{{ profile.image.url }}" alt="Profile" height="100%" width="100%">
                            {% else %}
                                <img class="profilepic" src="{% static 'img/Profile.png' %}" alt="Profile" height="100%" width="100%">
                            {% endif %}
                        </div> 
                        <ul class="uk-list uk-width-1-2">
                            <p class="wordWrap" id="usernameprofile">{{profile.user}}</p>
                            <p id="memberstatus">Membership</p>
                        </ul>                        
                    </div>
                    <ul class="uk-list uk-margin-medium-top uk-link-reset" style="font-size: 1.8rem;">
                        <li class="profileicon">
                            <a href="{% url 'shop:profile' %}"><i class="las la-user"></i>  Profile</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:shippingaddress' %}"><i class="las la-home"></i>  Shipping Address</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:creditcard' %}"><i class="las la-credit-card"></i>  Credit Card</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:order' %}"><i class="las la-receipt"></i>  Order</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:myfavourite' %}"><i class="las la-heart"></i>  My favourite</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:review' %}"><i class="lar la-thumbs-up"></i>  My review</a>
                        </li>
                    </ul>
                </div>

                <div class="uk-width-3-4 uk-padding-large">
                    <div style="height: 100%; width: 100%; background-color: #FAFAFA;">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="uk-padding-large">
                            <h2 style="border-bottom: 2px solid #FF9C9C; padding-bottom: 2%;">My Review</h2>
                            
                            <!-- Show product and add rating-->                                                       
                            <div class="uk-width-expand uk-card reviewproduct uk-padding-small uk-flex-inline">
                                <img src="{{order.product.product.photo.first.file.url}}" alt="product" id="productstock">
                                <div class="uk-width-expand uk-text-middle uk-margin-medium-left uk-margin-auto-vertical">
                                    <h4>{{order.product}}</h4>
                                    <p>Price : {{order.price}} ฿</p>
                                    <p>Quantity : {{order.amount}}</p>
                                    <h5 style="margin-top: 3vh; margin-bottom: 1vh;">Give Rating</h5>
                                {% if reviewed == False %}
                                    <!-- Hide when already review -->
                                    <div>                                                  
                                        <div id="full-stars-example-two">
                                            <div class="rating-group">                                            
                                                <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star las la-star"></i></label>
                                                <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio">
                                                <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star las la-star"></i></label>
                                                <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio">
                                                <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star las la-star"></i></label>
                                                <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio">
                                                <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star las la-star"></i></label>
                                                <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio">
                                                <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star las la-star"></i></label>
                                                <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio">
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <!-- Show when already review -->
                                    <div>
                                        <p class="uk-margin-remove" id="ratestar" style="padding: 0 0.1em; font-size: 2rem;"></p>
                                    </div>
                                {% endif %}
                                    
                                </div>
                            </div>

                            <!-- Add review detail here (disable when alredy review)-->
                            <div class="uk-width-expand uk-card reviewdetail uk-padding-small uk-flex-inline uk-margin-medium-top">
                                <div class="uk-form-horizontal" >
                                    {% csrf_token %}
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-margin-auto-vertical" for="form-horizontal-text">Comment</label>
                                        <div class="uk-form-controls">
                                            {% if reviewed %}
                                                <textarea class="uk-textarea uk-width-5-6" rows="5" id="reviewdetail" placeholder="Add review detail" name="comment" disable>{{review.description}}</textarea>
                                            {% else %}
                                                 <textarea class="uk-textarea uk-width-5-6" rows="5" id="reviewdetail" placeholder="Add review detail" name="comment"></textarea>
                                            {% endif %}
                                        </div>
                                    </div>

                                    {% if reviewed == False %}
                                        <div class="uk-margin">
                                            <label class="uk-form-label uk-margin-auto-vertical" for="form-horizontal-text">Review photo</label>
                                            <div class="uk-form-controls">
                                                <div class="js-upload uk-placeholder uk-text-center uk-width-5-6">
                                                    <span uk-icon="icon: cloud-upload"></span>
                                                    <span class="uk-text-middle">Upload picture by dropping them here or</span>
                                                    <div uk-form-custom>
                                                        <input type="file" multiple>
                                                        <span class="uk-link">selecting one</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
                                </div>                    
                                
                                                                
                            </div>
                            <input type="text" name="picture" id="pic" hidden>
                            <!-- submit button (hidden when alredy review) -->
                            {% if reviewed == False %}
                                <div class="uk-width-expand uk-text-right uk-margin-medium-top">
                                    <button id="submitreview" type="submit">submit</button>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>

    <!-- Uikit upload script -->
    <script>

        var bar = document.getElementById('js-progressbar');
        let list_pic = []
        UIkit.upload('.js-upload', {
    
            url: '{% url 'shop:upload_pic' %}',
            multiple: true,
            beforeSend: function () {
                console.log('beforeSend', arguments);
            },
            beforeAll: function () {
                console.log('beforeAll', arguments);
            },
            load: function () {
                console.log('load', arguments);
            },
            error: function () {
                console.log('error', arguments);
            },
            complete: function () {
                console.log('complete', arguments);
                let res = arguments[0].response
                console.log(res)
                list_pic.push(res)
            },
    
            loadStart: function (e) {
                console.log('loadStart', arguments);
    
                bar.removeAttribute('hidden');
                bar.max = e.total;
                bar.value = e.loaded;
            },
    
            progress: function (e) {
                console.log('progress', arguments);
    
                bar.max = e.total;
                bar.value = e.loaded;
            },
    
            loadEnd: function (e) {
                console.log('loadEnd', arguments);
    
                bar.max = e.total;
                bar.value = e.loaded;
            },
    
            completeAll: function () {
                console.log('completeAll', arguments);
                document.getElementById('pic').value = list_pic
                setTimeout(function () {
                    bar.setAttribute('hidden', 'hidden');
                }, 1000);
    
                alert('Upload Completed');
            }
    
        });
    
    </script>

    <script>
        var text = "";
        var rate = {{review.star}}; //Ratting from user
        var j=0;
        for (var i = 0; i < 5; i++) {
            if(j<rate) {
                text += '<i class="lar la-star starchecked"></i>';
                j++;
            }
            else {
                text += '<i class="lar la-star star"></i>';
            }                    
        }
        document.getElementById('ratestar').innerHTML = text;        
    </script>
    </body>
{% endblock content %}