{% extends 'shop/web/base.html' %}
{% load static %}
{% block title %} Order {% endblock title %}
{% block content %}
    <body>
        <!-- Data Zone -->
        <div class="uk-container-expand uk-padding-large" style="background-color: #FFFBE3; min-height: 100vh; max-width: 100%;">       
            <div class="profile uk-margin-auto " uk-grid>
                <div class="uk-width-1-4 uk-padding-large uk-padding-remove-right">     
                    <div uk-grid>
                        <div class="uk-width-1-2">                            
                            {% if profile.image %}
                                <img class="profilepic" src="{{ profile.image.url }}" alt="Profile" height="100%" width="100%">
                            {% else %}
                                <img class="profilepic" src="{% static 'img/Profile.png' %}" alt="Profile" height="100%" width="100%">
                            {% endif %}
                        </div> 
                        <ul class="uk-list uk-width-1-2">
                            <p class="wordWrap" id="usernameprofile">{{profile.user}}</p>
                            <p id="memberstatus">Membership</p>
                        </ul>                        
                    </div>
                    <ul class="uk-list uk-margin-medium-top uk-link-reset" style="font-size: 1.8rem;">
                        <li class="profileicon">
                            <a href="{% url 'shop:profile' %}"><i class="las la-user"></i>  Profile</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:shippingaddress' %}"><i class="las la-home"></i>  Shipping Address</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:creditcard' %}"><i class="las la-credit-card"></i>  Credit Card</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:order' %}"><i class="las la-receipt"></i>  Order</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:myfavourite' %}"><i class="las la-heart"></i>  My favourite</a>
                        </li>
                        <li id="selected">
                            <a href="{% url 'shop:review' %}"><i class="lar la-thumbs-up"></i>  My review</a>
                        </li>
                    </ul>
                </div>

                <div class="uk-width-3-4 uk-padding-large">
                    <div style="height: 100%; width: 100%; background-color: #FAFAFA;">
                        <div class="uk-padding-large">
                            <h2 style="border-bottom: 2px solid #FF9C9C; padding-bottom: 2%;">My Review</h2>
                            
                            <!-- Show availble card -->                                                       
                            <div class="odercontain">
                                <ul class="uk-child-width-expand uk-margin-remove-bottom" uk-tab id="headreview">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">Not yet review</a></li>
                                    <li><a href="#">Already reviewed</a></li>
                                </ul>
                                
                                <ul class="uk-switcher uk-margin-remove-vertical">
                                    <!-- All state -->
                                    <li id="scrollbarorder">
                                        <div class="uk-grid-small uk-child-width-1-3 uk-text-center uk-padding-small uk-grid-match" uk-grid>
                                            {% for review in review_all %}
                                                <div>
                                                    <a id="itemcard" href="{% url 'shop:reviewproduct' review.pk %}">
                                                        <div class="uk-card uk-card-default uk-card-body uk-padding-small">                                                                                     
                                                            <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover" data-src="{{review.product.product.photo.first.file.url}}" uk-img></div>
                                                            <div class="uk-text-center">
                                                                <p id="nametag"> {{review.product}} </p>
                                                                <p id="price"> {{review.price}} ฿</p>                                                            
                                                            </div>
                                                            {% if review.status == 're' %}
                                                                <p id="reviewstatus">Click to review</p>
                                                            {% elif review.status == 'ss' %}
                                                                <p id="reviewstatus">View my review</p>                                                           
                                                            {% endif %}
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>   
                                    </li>

                                    <!-- Not yet review state -->
                                    <li id="scrollbarorder">
                                        <div class="uk-grid-small uk-child-width-1-3 uk-text-center uk-padding-small uk-grid-match" uk-grid>
                                            {% for review in wait_review %}
                                                <div>
                                                    <a id="itemcard" href="{% url 'shop:reviewproduct' review.pk %}">
                                                        <div class="uk-card uk-card-default uk-card-body uk-padding-small">                                                                                     
                                                            <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover" data-src="{{review.product.product.photo.first.file.url}}" uk-img></div>
                                                            <div class="uk-text-center">
                                                                <p id="nametag"> {{review.product}}</p>
                                                                <p id="price"> {{review.price}} ฿</p>                                                            
                                                            </div>                          
                                                            <p id="reviewstatus">Click to review</p>                                                                                                     
                                                        </div>                                                    
                                                    </a>
                                                </div>
                                            {% endfor %}                                            
                                        </div>    
                                    </li>

                                    <!-- Already review state -->
                                    <li id="scrollbarorder">
                                        <div class="uk-grid-small uk-child-width-1-3 uk-text-center uk-padding-small uk-grid-match" uk-grid>
                                        {% for review in reviewed %}
                                            <div>
                                                <a id="itemcard" href="{% url 'shop:reviewproduct' review.pk %}">
                                                    <div class="uk-card uk-card-default uk-card-body uk-padding-small">                                                                                     
                                                        <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover" data-src="{{review.product.product.photo.first.file.url}}" uk-img></div>
                                                        <div class="uk-text-center">
                                                            <p id="nametag"> {{review.product}}</p>
                                                            <p id="price"> {{review.price}} ฿</p>
                                                        </div>
                                                        <p id="reviewstatus">View my review</p>                                                                 
                                                    </div>                                                    
                                                </a>
                                            </div>
                                        {% endfor %}                                            
                                        </div>  
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>
{% endblock content %}