{% extends 'shop/web/base_sell.html' %}
{% load static %}
{% block title %} My Product {% endblock title %}
{% block content %}
<body>

    <!-- Body data -->
    <div class=" uk-child-width-expand@s uk-grid-medium" style="background-color: #F4FBFF; min-height: 100vh; padding: 5vh;" uk-grid>
        
        <!-- Show product stock card -->
        <div class="uk-width-5-6">
            <div class="uk-card uk-card-default" style="background-color: #FFFFFF; border: #A3A3A3 solid 1px;" id="productseller">
                <ul class="uk-child-width-expand uk-margin-remove" uk-tab>
                    <li><a href="#">All</a></li>
                    <li><a href="#">In stock</a></li>
                    <li><a href="#">Out of stock</a></li>
                    
                </ul>
                
                <ul class="uk-switcher uk-margin">
                    <!-- All status -->
                    <li>
                        <div class="uk-padding-small">
                            <h1>Product : {{count_product_all}}</h1>
                            <!-- All product stock detail -->
                            <div class="uk-container-expand uk-child-width-1-4 uk-margin-remove-left uk-grid-medium uk-grid-match" uk-grid>
                                {% for product in product_all %}
                                    {% if product.total_amount > 0 %}
                                        <!-- Example product instock -->
                                        <div>                                    
                                            <div class="uk-card uk-card-default productstockcard uk-padding-small uk-text-center" id="productstockcard">
                                                <!-- Img product -->
                                                <div class="uk-inline imgstock">
                                                    <img src="{{product.photo.first.file.url}}" alt="product" id="productstock">
                                                    <!-- Hidden out of stock icon -->
                                                    <div hidden>
                                                        <div class="uk-overlay-default uk-position-cover"></div>
                                                        <div class="uk-overlay uk-position-center uk-dark uk-text-center">
                                                            <i class="las la-exclamation-triangle"></i>
                                                            <h5>Out of Stock</h5>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="uk-text-bottom">
                                                    <h2 class="uk-text-left"> {{product.name}}</h2>
                                                    <div class="uk-flex-inline uk-width-1-1">
                                                        <div class="uk-width-1-2 uk-text-left">
                                                            <!-- Price -->
                                                            <h3>฿ {{product.price}}</h3>
                                                        </div>
                                                        <div class="uk-width-1-2 uk-text-right">
                                                            <!-- Stock -->
                                                            <h4>Stock : {{product.total_amount}}</h4>
                                                        </div>                                                
                                                    </div>
                                                    <div class="uk-flex-inline uk-width-1-1">
                                                        <div class="uk-width-1-2 uk-text-left uk-flex-inline">
                                                            <!-- Fav count -->
                                                            {% comment %} <h4><i class="las la-heart"></i></h4>
                                                            <h4>127</h4> {% endcomment %}
                                                        </div>
                                                        <div class="uk-width-1-2 uk-text-right">
                                                            <!-- Sold count -->
                                                            <h4>Sold : {{product.sales}}</h4>
                                                        </div>                                                
                                                    </div>
                                                    <!-- Edit link -->
                                                    <div class="uk-width-1-1 uk-text-right">
                                                        <a href="{% url 'shop:edit_product' product.pk %}"><i class="lar la-edit" style="font-size: 1.5rem; color: #363636;"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <!-- Example product out of stock -->
                                        <div>                                    
                                            <div class="uk-card uk-card-default productstockcard uk-padding-small uk-text-center" id="productstockcard">                                        
                                                <!-- Img product -->
                                                <div class="uk-inline imgstock">
                                                    <img src="{{product.photo.first.file.url}}" alt="product" id="productstock">
                                                    <!-- No hidden -->
                                                    <div>
                                                        <div class="uk-overlay-default uk-position-cover"></div>
                                                        <div class="uk-overlay uk-position-center uk-dark uk-text-center">
                                                            <i class="las la-exclamation-triangle"></i>
                                                            <h5>Out of Stock</h5>
                                                        </div>
                                                    </div>
                                                </div>  

                                                <div class="uk-text-bottom">
                                                    <h2 class="uk-text-left"> {{product.name}} </h2>
                                                    <div class="uk-flex-inline uk-width-1-1">
                                                        <div class="uk-width-1-2 uk-text-left">
                                                            <!-- Price -->
                                                            <h3>฿ {{product.price}} </h3>
                                                        </div>
                                                        <div class="uk-width-1-2 uk-text-right">
                                                            <!-- Stock -->
                                                            <h4>Stock : {{product.total_amount}} </h4>
                                                        </div>                                                
                                                    </div>
                                                    <div class="uk-flex-inline uk-width-1-1">
                                                        <div class="uk-width-1-2 uk-text-left uk-flex-inline">
                                                            <!-- Fav count -->
                                                            {% comment %} <h4><i class="las la-heart"></i></h4>
                                                            <h4>127</h4> {% endcomment %}
                                                        </div>
                                                        <div class="uk-width-1-2 uk-text-right">
                                                            <!-- Sold count -->
                                                            <h4>Sold : {{product.sales}} </h4>
                                                        </div>                                                
                                                    </div>
                                                    <!-- Edit link -->
                                                    <div class="uk-width-1-1 uk-text-right">
                                                        <a href="{% url 'shop:edit_product' product.pk %}"><i class="lar la-edit" style="font-size: 1.5rem; color: #363636;"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}


                                {% endfor %}                        
                            </div>
                        </div>
                    </li>

                    <!-- In stock status -->
                    <li>
                        <div class="uk-padding-small">
                            <h1>Product : {{count_product_in_stock}}</h1>
                            <!-- All product stock status detail -->
                            <div class="uk-container-expand uk-child-width-1-4 uk-margin-remove-left uk-grid-medium" uk-grid>
                                <!-- Example product instock -->
                                {% for product in product_in_stock  %}
                                    <div>                                    
                                        <div class="uk-card uk-card-default productstockcard uk-padding-small uk-text-center" id="productstockcard">
                                            <!-- Img product -->
                                            <div class="uk-inline imgstock">
                                                <img src="{{product.photo.first.file.url}}" alt="product" id="productstock">
                                                <!-- Hidden out of stock icon -->
                                                <div hidden>
                                                    <div class="uk-overlay-default uk-position-cover"></div>
                                                    <div class="uk-overlay uk-position-center uk-dark uk-text-center">
                                                        <i class="las la-exclamation-triangle"></i>
                                                        <h5>Out of Stock</h5>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="uk-text-bottom"> 
                                                <h2 class="uk-text-left">{{product.name}}</h2>
                                                <div class="uk-flex-inline uk-width-1-1">
                                                    <div class="uk-width-1-2 uk-text-left">
                                                        <!-- Price -->
                                                        <h3>฿ {{product.price}}</h3>
                                                    </div>
                                                    <div class="uk-width-1-2 uk-text-right">
                                                        <!-- Stock -->
                                                        <h4>Stock : {{product.total_amount}}</h4>
                                                    </div>                                                
                                                </div>
                                                <div class="uk-flex-inline uk-width-1-1">
                                                    <div class="uk-width-1-2 uk-text-left uk-flex-inline">
                                                        <!-- Fav count -->
                                                        {% comment %} <h4><i class="las la-heart"></i></h4>
                                                        <h4>127</h4> {% endcomment %}
                                                    </div>
                                                    <div class="uk-width-1-2 uk-text-right">
                                                        <!-- Sold count -->
                                                        <h4>Sold : {{product.sales}}</h4>
                                                    </div>                                                
                                                </div>
                                                <!-- Edit link -->
                                                <div class="uk-width-1-1 uk-text-right">
                                                    <a href="{% url 'shop:edit_product' product.pk %}"><i class="lar la-edit" style="font-size: 1.5rem; color: #363636;"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </li>

                    <!-- Out of stock status -->
                    <li>
                        <div class="uk-padding-small">
                            <h1>Product : {{count_product_out_stock}}</h1>
                            <!-- All product stock detail -->
                            <div class="uk-container-expand uk-child-width-1-4 uk-margin-remove-left uk-grid-medium" uk-grid>
                                <!-- Example product instock -->
                                {% for product in product_out_stock  %}
                                    <div>                                    
                                        <div class="uk-card uk-card-default productstockcard uk-padding-small uk-text-center" id="productstockcard">
                                            <!-- Img product -->
                                            <div class="uk-inline imgstock">
                                                <img src="{{product.photo.first.file.url}}" alt="product" id="productstock">
                                                <!-- No hidden -->
                                                <div>
                                                    <div class="uk-overlay-default uk-position-cover"></div>
                                                    <div class="uk-overlay uk-position-center uk-dark uk-text-center">
                                                        <i class="las la-exclamation-triangle"></i>
                                                        <h5>Out of Stock</h5>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="uk-text-bottom">
                                                <h2 class="uk-text-left"> {{product.name}} </h2>
                                                <div class="uk-flex-inline uk-width-1-1">
                                                    <div class="uk-width-1-2 uk-text-left">
                                                        <!-- Price -->
                                                        <h3>฿ {{product.price}} </h3>
                                                    </div>
                                                    <div class="uk-width-1-2 uk-text-right">
                                                        <!-- Stock -->
                                                        <h4>Stock : {{product.total_amount}} </h4>
                                                    </div>                                                
                                                </div>
                                                <div class="uk-flex-inline uk-width-1-1">
                                                    <div class="uk-width-1-2 uk-text-left uk-flex-inline">
                                                        <!-- Fav count -->
                                                        {% comment %} <h4><i class="las la-heart"></i></h4>
                                                        <h4>127</h4> {% endcomment %}
                                                    </div>
                                                    <div class="uk-width-1-2 uk-text-right">
                                                        <!-- Sold count -->
                                                        <h4>Sold : {{product.sales}} </h4>
                                                    </div>                                                
                                                </div>
                                                <!-- Edit link -->
                                                <div class="uk-width-1-1 uk-text-right">
                                                    <a href="{% url 'shop:edit_product' product.pk %}"><i class="lar la-edit" style="font-size: 1.5rem; color: #363636;"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <!-- Addproduct button -->
        <div class="uk-width-1-6">
            <div class="addproductbig">
                <a href="{% url 'shop:addproduct' %}">
                    <div class="uk-inline uk-padding uk-padding-remove-bottom">
                        <img src="{% static 'img/shop.png' %}" alt="product" width="100%" height="auto">
                        <div class="uk-overlay uk-position-top-right">
                            <i class="las la-plus" style="color: #FFFFFF; background-color: #50E5F8; border-radius: 50%; font-size: 3rem;"></i>
                        </div>                       
                    </div>
                    <div class="uk-width-1-1 uk-text-center">
                        <Button>Add Your products</Button>
                    </div>
                    
                </a>
            </div>            
        </div>
    </div>
</body>
{% endblock content %}