{% extends 'shop/web/base_sell.html' %}
{% load static %}
{% load multiply %}
{% block title %} Order {% endblock title %}
{% block content %}
<body>
    <!-- Body data -->
    <div class="uk-container-expand" style="background-color: #F4FBFF; min-height: 100vh; padding: 5vh;" id="sellerorder">
        <!-- Order status -->
        <div class="uk-container uk-card-default uk-width-5-6 uk-padding-large" style="background-color: #FFFFFF;">            
            <!-- <h1>Unpaid</h1>             -->
            <h1>{{order.get_status_display}}</h1>
            <!-- <h1>Success</h1>     
            <h1>Cancel</h1>        -->
        </div>

        <!-- Order detail -> order no., address , deli met -->
        <div class="uk-container uk-card-default uk-width-5-6 uk-padding-large uk-margin-medium-top" style="background-color: #FFFFFF;">
            <h2 class="uk-margin-remove-top">Order No.</h2>
            <p> {{order.pk}}</p>
            <h2>Delivery Address</h2>
            <p>{{order.address.getAddr}}</p>
            <h2>Delivery method</h2>
            <p>{{order.logistic_company}}</p>
            <form action="" method="post">
                {% csrf_token %}
                <!-- Before add trackingid -->
                <div class="uk-flex-inline uk-margin-medium-top" >
                    {% if send %}
                        <h2 class="uk-margin-auto-vertical uk-margin-small-right">Tracking ID : </h2>
                        <input type="text" name="trackingid" value="{{order.tracking_id}}" disabled>                
                    {% else %}
                        <h2 class="uk-margin-auto-vertical uk-margin-small-right">Tracking ID : </h2>
                        <input type="text" name="tracking_id" require value="{{order.tracking_id}}">
                        <h3 class="uk-margin-remove"><span style="color: #FF0000;">*</span></h3>
                        <button type="submit" id="ordershipmentbutt">Confirm shipment</button>
                    {% endif %}
                </div>
            </form>
             
            
        </div>

        <div class="uk-container uk-card-default uk-width-5-6 uk-padding-large uk-margin-medium-top" style="background-color: #FFFFFF;">
            <div class="uk-padding-large uk-padding-remove-top">
                <!-- Tracking status -->
                <ul class="tracking">
                    <li id="active">Processing</li>
                    <li>Paid</li>
                    <li>Delivering</li>
                    <li>Arrived</li>
                    <li>Recieved</li>
                </ul>                
            </div>

            <div class="uk-padding-large">
                <div class="uk-child-width-1-2" style="border: #D3D3D3 solid 1px; margin: 0px;" uk-grid> 
                    <!-- Tracking data -->
                    <div class="uk-width-1-4 uk-padding" style="border: #D3D3D3 solid 1px; margin: 0px;" id="trackdata">
                        <h4>Tracking Number</h4>
                        <p>XXXXXXXXTH</p>
                        <h4>Delivery method</h4>
                        <p>Kerry</p>
                    </div>
                    
                    <!-- Tracking detail -->
                    <div class="uk-width-3-4 uk-padding-small" style="border: #D3D3D3 solid 1px; margin: 0px;">
                        <table class="uk-table uk-width-1-2 uk-margin-auto" id="tracktable">
                            <tbody>  
                                <!-- All tracking status -->
                                <tr>
                                    <td>2018-08-11 00:00:00</td>
                                    <td class="uk-text-right">Delivery successfully</td>
                                </tr>
                                <tr>
                                    <td>2018-08-10 00:00:00</td>
                                    <td class="uk-text-right">Shipment picked up</td>
                                </tr>
                                <tr>
                                    <td>2018-08-08 00:00:00</td>
                                    <td class="uk-text-right">Departing from Warehouse</td>
                                </tr>
                                <tr>
                                    <td>2018-08-07 00:00:00</td>
                                    <td class="uk-text-right">Packing </td>
                                </tr>
                                <tr>
                                    <td>2018-08-07 00:00:00</td>
                                    <td class="uk-text-right">Payment Confirmed</td>
                                </tr>
                                <tr>
                                    <td>2018-08-05 00:00:00</td>
                                    <td class="uk-text-right">Order Submitted</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-container uk-card-default uk-width-5-6 uk-padding-large uk-margin-medium-top" style="background-color: #FFFFFF;">
            <h1>Informing payment method</h1>

            <!-- Same table in confirmshipping.html -->
            <div class="uk-margin-remove mycartpage">                                    
                <div class="uk-grid-medium uk-child-width-expand@s uk-margin-remove" uk-grid>
                    <div class="uk-padding-remove uk-width-1-1" style="border: #BEBEBE solid 1px;">
                        <div class="uk-overflow-auto" id="mycarttable">
                            <table class="uk-table uk-table-middle uk-table-divider uk-text-center" >
                                <thead>
                                    <tr>                                    
                                        <th class="uk-table-expand">Product</th>
                                        <th class="uk-width-small">Price</th>
                                        <th class="uk-width-small">Quantity</th>
                                        <th class="uk-width-small">Sub Total</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- List of bucket limit over 5 row will scroll-->
                                    <!-- Sample product  -->
                                    <tr>                                                
                                        <!-- Img and Productname her -->
                                        <td class="uk-text-left">
                                            <div style="display: inline-flex; padding-left: 5vw;">
                                                <img class="uk-preserve-width " src="{% static 'img/Example_product1.png' %}" width="100" alt="">
                                                <h2 class="uk-margin-auto-vertical"> {{order.product}} </h2>
                                            </div>
                                        </td>

                                        <!-- Product price -->
                                        <td class="uk-text-truncate">฿ {{order.product.product.price}}</td>

                                        <!-- Quantity -->
                                        <td class="uk-text-truncate">                                                    
                                            <p> {{order.amount}} </p>
                                        </td>

                                        <!-- All price -->
                                        <td class="uk-text-truncate">฿ {% multiply order.amount  order.product.product.price %}</td>    
                                    </tr> 
                                                                        
                                </tbody>
                                <tfoot>
                                    <!-- All of order pay -->                                    
                                    <tr>
                                        <td class="uk-text-right" colspan="3" id="orderamount">                                        
                                            <h1>Total Amount</h1>                                                                                      
                                            <h1>Delivery Fee</h1>                                                                                      
                                            {% comment %} <h1>Sale Transaction Fee</h1>                                                                                            {% endcomment %}
                                            <h1 style="font-weight: bold;">Payment amount</h1>                                                                                                     
                                        </td>
                                        
                                        <!-- Order pay detail -->
                                        <td class="uk-text-right" id="orderamount">
                                            <h1 style="color: #F54545;">{% multiply order.amount  order.product.product.price %}</h1>  
                                            <h1 style="color: #F54545;">{{order.logistic_company.price}}</h1>    
                                            {% comment %} <h1 style="color: #F54545;">-3</h1>  {% endcomment %}
                                            <h1 style="color: #F54545; font-weight: bold;">{{order.price}}</h1>   
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>                                    
                    </div>                                                            
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}