{% extends 'shop/web/base_sell.html' %}
{% load static %}
{% block title %} My shop {% endblock title %}
{% block content %}
<body>

    <!-- Body data -->
    <div class="uk-container-expand" style="background-color: #F4FBFF; min-height: 100vh;">
        <div class="uk-child-width-1-2 uk-padding" uk-grid>
            <div class="uk-padding-large uk-width-1-3">
                <div class="uk-card uk-card-default uk-padding-small" id="balancecard">
                    <h3>Seller Balance</h3>
                    <h2>฿ {{seller.total_income}}</h2>
                    <h4 class="uk-text-right">Automatic Withdraw</h4>
                </div>
                <div class="uk-card uk-card-default uk-padding-small uk-margin-medium-top" id="bankcard">
                    <h1>MY BANK ACCOUNT</h1>
                    <div class="uk-card uk-padding-small uk-flex-inline uk-width-expand">
                        <div class="uk-flex-inline uk-text-left">
                            {% if seller.bank.short_en == 'KBANK' %}
                                <img src="{% static 'img/bankicon/kbank.svg' %}" width="50" height="50" uk-svg>
                            {% elif seller.bank.short_en == 'BBL' %}
                                <img src="{% static 'img/bankicon/bbl.svg' %}" width="50" height="50" uk-svg>
                            {% elif seller.bank.short_en == 'KTB' %}
                                <img src="{% static 'img/bankicon/ktb.svg' %}" width="50" height="50" uk-svg>
                            {% elif seller.bank.short_en == 'TMB' %}
                                <img src="{% static 'img/bankicon/tmb.svg' %}" width="50" height="50" uk-svg>
                            {% elif seller.bank.short_en == 'SCB' %}
                                <img src="{% static 'img/bankicon/scb.svg' %}" width="50" height="50" uk-svg>
                            {% endif %}
                            <div class="uk-margin-small-left">
                                <h2>{{seller.bank}}</h2>
                                <h3>Verify</h3>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-padding-large uk-width-expand">
                <div class="uk-card uk-card-default uk-padding-small uk-width-expand">
                    <ul class="uk-child-width-expand uk-margin-remove" uk-tab id="banksellerhead">
                        <li><a href="#">To Release</a></li>
                        <li><a href="#">Release</a></li>                        
                    </ul>
                            
                    <ul class="uk-switcher uk-margin-remove-vertical" >
                        <li>
                            <div class="uk-overflow-auto uk-margin-medium-top" style="border: #00000029 solid 1px;">
                                <table class="uk-table uk-table-middle uk-table-divider uk-text-center" id="banktable">
                                    <thead>
                                        <tr>
                                            <th class="uk-width-1-4 uk-text-center">Order</th>
                                            <th class="uk-width-1-4 uk-text-center">Order Date</th>
                                            <th class="uk-width-1-4 uk-text-center">Payment Amount</th>
                                            <th class="uk-width-1-4 uk-text-center">Status</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Example order payment to release -->
                                        {% for order in wait_release %}
                                            <tr>
                                                <td>
                                                    <img src="{{order.product.product.photo.first.file.url}}" alt="product" height="auto" width="50%">
                                                    <p>Order No.{{order.pk}}</p>
                                                </td>
                                                <td>
                                                    <p>{{order.timestamp}}</p>
                                                </td>
                                                <td>
                                                    <p>฿ {{order.price}}</p>
                                                </td>
                                                <td>
                                                    <p>{{order.get_status_display}}</p>
                                                </td>
                                            </tr>                                        
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li>
                            <div class="uk-overflow-auto uk-margin-medium-top" style="border: #00000029 solid 1px;">
                                <table class="uk-table uk-table-middle uk-table-divider uk-text-center" id="banktable">
                                    <thead>
                                        <tr>
                                            <th class="uk-width-1-4 uk-text-center">Order</th>
                                            <th class="uk-width-1-4 uk-text-center">Estimate Release Date</th>
                                            <th class="uk-width-1-4 uk-text-center">Payment Amount</th>
                                            <th class="uk-width-1-4 uk-text-center">Status</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Example order payment release by seller -->
                                        {% for order in release %}
                                            <tr>
                                                <td>
                                                    <img src="{{order.product.product.photo.first.file.url}}" alt="product" height="auto" width="50%">
                                                    <p>Order No.{{order.pk}}</p>
                                                </td>
                                                <td>
                                                    <p>{{order.timestamp}}</p>
                                                </td>
                                                <td>
                                                    <p>฿ {{order.price}}</p>
                                                </td>
                                                <td>
                                                    <p>customer confirm</p>
                                                </td>
                                            </tr>                                        
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>    
</body>
{% endblock content %}