{% extends 'shop/web/base_sell.html' %}
{% load static %}
{% block title %} Edit product {% endblock title %}
{% block content %}
<body>
    <!-- Body data -->
    <div class="uk-container-expand" style="background-color: #F4FBFF; min-height: 100vh; padding: 5vh;">
        <!-- Add Product form -->
        <div class="uk-width-expand uk-padding addproduct uk-card-default" style="background-color: #FFFFFF;">
            <h1>Add Product</h1>
            <form class="uk-form-horizontal" name="Add Product" method="POST">
                <!-- Product name -->
                <div class="uk-margin">
                    <label class="uk-form-label uk-margin-auto-vertical" for="form-horizontal-text">Product name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-width-5-6" id="Productname" type="text" placeholder="Add product name" required name="product_name" value={{product.name}}>
                    </div>
                </div>

                <!-- Product detail -->
                <div class="uk-margin">
                    <label class="uk-form-label uk-margin-auto-vertical" for="form-horizontal-text">Product detail</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea uk-width-5-6" id="productdetail" rows="5"  placeholder="Add product detail" name="product_detail">{{product.description}}</textarea>
                    </div>
                </div>

                <!-- Product category -->
                <div class="uk-margin">
                    <label class="uk-form-label uk-margin-auto-vertical" for="form-horizontal-text">Category</label>
                    <div class="uk-form-controls">
                        <select class="uk-select uk-width-1-2" id="productcategory" name='category'>
                            {% for cat in category %}
                                {% if cat.pk == product.category.pk %}
                                    <option value="{{cat.pk}}" selected> {{cat}} </option>
                                {% else %}
                                    <option value="{{cat.pk}}"> {{cat}}</option>
                                {% endif %}
                            {% endfor %}                   
                        </select>
                    </div>
                </div>

                <!-- Product img upload -->
                <div class="uk-margin">
                    <label class="uk-form-label uk-margin-auto-vertical" for="form-horizontal-text">Photo</label>
                    <div class="uk-form-controls">
                        <div class="js-upload uk-placeholder uk-text-center uk-width-5-6">
                            <span uk-icon="icon: cloud-upload"></span>
                            <span class="uk-text-middle">Upload picture by dropping them here or</span>
                            <div uk-form-custom>
                                <input type="file" multiple name="product_picture">
                                <span class="uk-link">selecting one</span>
                            </div>
                        </div>
                    </div>
                </div>
                <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
        </div>

        <!-- Selling Detail form -->
        <div class="uk-width-expand uk-padding addproduct uk-card-default uk-margin-medium-top" style="background-color: #FFFFFF;">
            <h1>Selling Detail</h1>
            
                {% csrf_token %}
                <div class="uk-margin">
                    <label class="uk-form-label uk-margin-auto-vertical" for="form-horizontal-text">Model</label>
                    <div class="uk-form-controls">
                        {% if detail %}
                            <input class="uk-input uk-width-5-6" type="text" placeholder="Model eg Iphone - color rose gold"  required name="model" value="{{detail.model}}">
                        {% else %}
                            <input class="uk-input uk-width-5-6" type="text" placeholder="Model eg Iphone - color rose gold"  required name="model">
                        {% endif %}
                    </div>
                </div>
                {% comment %} <!-- Product variations -->
                <div class="uk-margin">
                    <label class="uk-form-label uk-margin-auto-vertical" for="form-horizontal-text">Variations</label>
                    <div class="uk-form-controls">
                        <!-- Input variations -->
                        <input class="uk-input uk-width-1-3" id="productvariations" type="text" placeholder="Add variations" onfocus="this.value=''" name="variations">
                        <button type="button" id="addvariations" onclick="addlist()">Add</button>
                        <button type="button" id="removevariations" onclick="removelist()">Remove last add</button>
                        <!-- List of variations -->
                        <ul id="productvariationslist"></ul>
                    </div>                                  
                </div> {% endcomment %}
                <!-- Product price -->
                <div class="uk-margin">
                    <label class="uk-form-label uk-margin-auto-vertical" for="form-horizontal-text">Price</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-width-5-6" id="Productprice" type="number" placeholder="Add product price (฿)"  required name="price" value={{product.price}}>
                    </div>
                </div>

                <!-- Stock -->
                <div class="uk-margin">
                    <label class="uk-form-label uk-margin-auto-vertical" for="form-horizontal-text">Stock</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-width-5-6" id="Productstock" type="text" placeholder="Add product stock"  required name="stock" value={{detail.amount}}>
                    </div>
                </div>

                
                <div class="uk-margin uk-flex-inline">        
                    <h3>Flash Sale</h3>
                    <div class="uk-form-controls uk-flex-inline uk-margin-medium-left">
                        <div class="uk-margin-medium-left uk-margin-auto-vertical">
                            {% if flash_sale.is_flashsale == True %}
                                Yes<input class="uk-radio" id="Flashsale" type="radio" name="flashsale" onclick="showflashsale()" value="yes" checked>
                            {% else %}
                                Yes<input class="uk-radio" id="Flashsale" type="radio" name="flashsale" onclick="showflashsale()" value="yes">
                            {% endif %}
                        </div>
                        <div class="uk-margin-medium-left uk-margin-auto-vertical">
                            {% if flash_sale.is_flashsale == False %}
                                No<input class="uk-radio" id="Flashsale" type="radio" name="flashsale" onclick="hideflashsale()" value="no" checked>
                            {% else %}
                                No<input class="uk-radio" id="Flashsale" type="radio" name="flashsale" onclick="hideflashsale()" value="no">
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Discount flash sale -->
                <div class="uk-margin">
                    <label class="uk-form-label uk-margin-auto-vertical" for="form-horizontal-text">Discount(%)</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-width-2-5" id="flashsalediscount" type="number" placeholder="Add flashsale dicount"  required name="percent_discount" min="0" step="1" value={{flash_sale.discount}}>
                        <button id="checkdiscount"  type="button" onclick="discount()">Check</button>
                    </div>
                    <div class="uk-form-controls">
                        <h4>
                            After discount price <span id="dicountprice" style="color: #F54545;">0฿</span> 
                        </h4>
                    </div>
                </div>

                <!-- Select day flash sale -->
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Day</label>
                    <div class="uk-form-controls">
                        <select class="uk-select uk-width-1-6 " id="flashsaleday" name="day">
                            {% for i in day %}
                                {% if i == flash_sale.date.day %}
                                    <option selected >{{i}}</option>
                                {% else %}
                                    <option >{{i}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select class="uk-select uk-width-1-6" id="flashsalemonth" name="month">
                            {% for i,m in month %}
                                {% if i == flash_sale.date.month %}
                                    <option selected >{{m}}</option>
                                {% else %}
                                    <option >{{m}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select class="uk-select uk-width-1-6" id="flashsaleyear" name="year">
                            {% for i in year %}
                                {% if i == flash_sale.date.year %}
                                    <option selected >{{i}}</option>
                                {% else %}
                                    <option >{{i}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>                
                </div>

                <!-- Shipping method detail -->
                <div class="uk-margin shipping">
                    <div class="uk-form-label">Shipping Setting</div>
                    <div class="uk-form-controls uk-form-controls-text">
                        {% comment %} <label><input class="uk-radio" type="radio" name="shipping"> THAILAND POST - Registered mail</label><br>
                        <label><input class="uk-radio" type="radio" name="shipping"> THAILAND POST - EMS</label><br>
                        <label><input class="uk-radio" type="radio" name="shipping"> Kerry</label> {% endcomment %}
                        {% for logis in logistic %}
                            {% if logis.pk == product.logistic.pk %}
                                <label><input class="uk-radio" type="radio" name="shipping" value={{logis.pk}} checked required> {{logis}}</label><br>
                            {% else %}
                                <label><input class="uk-radio" type="radio" name="shipping" value={{logis.pk}} required> {{logis}}</label><br>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <input type="text" name="picture" id="pic" hidden>
                <div class="uk-width-expand uk-text-center uk-margin-medium-top">
                    <Button type="submit" id="submitaddproduct">Done</Button>
                    <Button type="button" id="deleteproduct" onclick="delete_product({{product.pk}})">Delete</Button>
                </div>
            </form>
        </div>

    </div>

    <!-- Variations script -->
    <script>
        var variationslist = document.getElementById('productvariationslist');

        function addlist() {
            var variations = document.getElementById('productvariations').value;            
            var entry = document.createElement('li');
            entry.appendChild(document.createTextNode(variations));
            variationslist.appendChild(entry);
        }

        function removelist() {
            variationslist.removeChild(variationslist.childNodes[0]);
        }
    </script>

    <!-- Uikit upload script -->
    <script>

        var bar = document.getElementById('js-progressbar');
        let list_pic = []
        UIkit.upload('.js-upload', {
    
            url: "{% url 'shop:upload_pic' %}",
            multiple: true,
    
            beforeSend: function () {
                console.log('beforeSend', arguments);
            },
            beforeAll: function () {
                console.log('beforeAll', arguments);
            },
            load: function () {
                console.log('load', arguments);
            },
            error: function () {
                console.log('error', arguments);
            },
            complete: function () {
                console.log('complete', arguments);
                let res = arguments[0].response
                console.log(res)
                list_pic.push(res)
            },
    
            loadStart: function (e) {
                console.log('loadStart', arguments);
    
                bar.removeAttribute('hidden');
                bar.max = e.total;
                bar.value = e.loaded;
            },
    
            progress: function (e) {
                console.log('progress', arguments);
    
                bar.max = e.total;
                bar.value = e.loaded;
            },
    
            loadEnd: function (e) {
                console.log('loadEnd', arguments);
    
                bar.max = e.total;
                bar.value = e.loaded;
            },
    
            completeAll: function () {
                console.log('completeAll', arguments);
                console.log(list_pic)
                document.getElementById('pic').value = list_pic
                setTimeout(function () {
                    bar.setAttribute('hidden', 'hidden');
                }, 1000);
    
                alert('Upload Completed');
            }
    
        });
    
    </script>
    <script src="{% static 'js/axios.js' %}"></script>
    <!-- Flash sale script -->
    <script>
        function hideflashsale() {
            document.getElementById("flashsalediscount").disabled = true;
            document.getElementById("checkdiscount").disabled = true;
            document.getElementById("flashsaleday").disabled = true;
            document.getElementById("flashsalemonth").disabled = true;
            document.getElementById("flashsaleyear").disabled = true;
        }

        function showflashsale() {
            document.getElementById("flashsalediscount").disabled = false;
            document.getElementById("checkdiscount").disabled = false;
            document.getElementById("flashsaleday").disabled = false;
            document.getElementById("flashsalemonth").disabled = false;
            document.getElementById("flashsaleyear").disabled = false;
        }

        function discount() {
            var price = document.getElementById("Productprice").value;
            var dicount = document.getElementById("flashsalediscount").value;
            var flashsale = Number(price) * ((100 - Number(dicount))/100);
            document.getElementById("dicountprice").innerHTML = flashsale + "฿";
        }
        {% if flash_sale %}
            showflashsale()
        {% else %}
            hideflashsale()
        {% endif %}

        function delete_product(pk){
            axios.get(`/del_product/${pk}`)
            location.reload()
        }

        
    </script>
</body>
{% endblock content %}