{% extends 'shop/web/base_sell.html' %}
{% load static %}
{% block title %} My shop {% endblock title %}

{% block content %}

    <div class="uk-container-expand" style="background-color: #F4FBFF; min-height: 100vh;">
        <div class="uk-child-width-1-2" uk-grid>
            <div class="uk-padding-large">
                <div class="uk-child-width-1-2" uk-grid>
                    <!-- store img -->
                    {% if seller.account.image %}
                        <div class="uk-width-1-3">
                            <img src="{{seller.account.image.url}}" alt="" height="200px" width="200px">
                        </div>
                    {% else %}
                        <div class="uk-width-1-3">
                            <img src="{% static 'img/Profile.png' %}" alt="" height="200px" width="200px">
                        </div>
                    {% endif %}

                    <!-- store name -->
                    <div class="uk-width-2-3">
                        <p id="stnameh"><i class="las la-store-alt"></i> Store name</p>
                        <!-- add store name -->
                        <p id="stnameb">{{seller.shop_name}}</p>
                    </div>
                </div>

                <div class="uk-padding-large">
                    <!-- All product instock -->
                    <div class="uk-card uk-card-default uk-width-1-1 uk-child-width-1-2 uk-margin-remove-left uk-padding-small" uk-grid id="shophomedetail">
                        <div class="uk-flex-inline uk-padding-remove">
                            <i class="las la-boxes"></i>
                            <p class="uk-margin-auto-vertical uk-margin-small-left">Product</p>
                        </div>
                        <div class="uk-text-right uk-margin-auto-vertical">
                            <p class="uk-margin-auto-vertical">{{product_of_shop}}</p>
                        </div>
                    </div>
                    
                    <!-- All product has sold -->
                    <div class="uk-card uk-card-default uk-width-1-1 uk-child-width-1-2 uk-margin-remove uk-padding-small" uk-grid id="shophomedetail">
                        <div class="uk-flex-inline uk-padding-remove">
                            <i class="las la-shipping-fast"></i>
                            <p class="uk-margin-auto-vertical uk-margin-small-left">Sold</p>
                        </div>
                        <div class="uk-text-right uk-margin-auto-vertical">
                            <p class="uk-margin-auto-vertical">{{sold_of_shop}}</p>
                        </div>
                    </div>
                    
                    <!-- Ratting store -->
                    <div class="uk-card uk-card-default uk-width-1-1 uk-child-width-1-2 uk-margin-remove uk-padding-small" uk-grid id="shophomedetail">
                        <div class="uk-flex-inline uk-padding-remove">
                            <i class="las la-star"></i>
                            <p class="uk-margin-auto-vertical uk-margin-small-left">Rating</p>
                        </div>
                        <div class="uk-text-right uk-margin-auto-vertical">
                            <p class="uk-margin-auto-vertical">{{rating}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-padding-large">
                <!-- Head shop rating -->
                <div class="uk-card uk-card-default uk-padding-small uk-flex-inline uk-width-1-1 uk-child-width-1-2 uk-margin-remove" id="shophomereview" uk-grid>
                    <div>
                        <h2 class="uk-text-left">Shop Rating</h2>
                    </div>
                    <div class="uk-text-right">
                        <h2>{{rating}}</h2>
                    </div>
                </div>
                
                <div class="uk-card uk-card-default uk-padding-small uk-flex-inline uk-width-1-1 uk-child-width-1-1 uk-margin-remove-left" id="shophomereview2" uk-grid>
                    <div class="uk-card uk-child-width-1-2 uk-width-expand uk-padding-small uk-text-center uk-margin-remove" uk-grid id="headreviewdata">
                        <div class="uk-padding-remove">
                            <p>Product</p>
                        </div>
                        <div>
                            <p>Review and Rating</p>
                        </div>
                    </div>  
                    {% for review in reviews %}
                        <!-- review data per block -->
                        <div class="uk-card uk-card-default uk-margin-small-top uk-padding-remove" id="reviewcard">
                            <!-- User review data -->
                            <div class="uk-flex-inline uk-width-expand uk-padding-small" id="reviewcardhead">
                                {% if review.buyer.account.image %}
                                    <img src="{{review.buyer.account.image.url}}" alt="username">
                                {% else %}
                                    <img src="{% static 'img/Profile.png' %}" alt="username">
                                {% endif %}
                                <h1 class="uk-margin-auto-vertical">{{review.buyer.account.user}}</h1>
                            </div>

                            <!-- Review detail -->
                            <div class="uk-width-expand uk-child-width-1-2 uk-margin-remove-left" uk-grid>
                                <!-- Product detail -->
                                <div class="uk-width-2-5 uk-padding-small uk-flex-inline uk-margin-auto-vertical">
                                    <img src="{{review.product.photo.first.file.url}}" alt="product" id="reviewpic">
                                    <p>{{review.product.name}}</p>
                                </div>
                                <!-- Review detail -->
                                <div class="uk-width-expand uk-padding-small">
                                    <h6 class="uk-margin-remove" id="star{{review.pk}}"></h6>
                                    <p class="wordWrap">{{review.description}}</p>
                                </div>
                            </div>
                        </div>   
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>

    <script src="{% static 'js/axios.js' %}"></script>
    <script src="{% static 'js/renderstar.js' %}"></script>
    <script>
    var review_list = [ 
        {% for review in reviews %} 
            { 
                'pk' : {{review.pk}} ,
                'star' : {{review.star}} 
            },
         {% endfor %} 
    ]
    review_list.forEach(data=>{render_star(data)})
    </script>
{% endblock content %}