{% extends 'shop/web/base.html' %}
{% load static %}
{% block title %} Seller Verify {% endblock title %}
{% block content %}
<body>
    <div class="uk-container-expand sellerverify" style="background-color: #FFFFFF; min-height: 100vh; max-width: 100%;">
        <div class="uk-container-expand" uk-navbar>
            <div class="uk-navbar-left" style="border-bottom: #CB645B solid 5px; padding-left: 5vw;">
                <i class="las la-shield-alt uk-margin-auto-vertical"></i>
                <h1 class="uk-padding">Seller Identity Verification</h1>
            </div>
            <div class="uk-navbar-right uk-margin-medium-right">
                <div class="uk-flex logosellver">
                    <div class="uk-text-center">
                        <img src="{% static 'img/logoseller.png' %}" height="100px" width="100px"> 
                        <h3>PIKPAY</h3>
                    </div>
                </div>                    
            </div>
        </div>
        
        <div class="formseller uk-width-4-5 uk-align-center uk-padding-small">
        {% if wait_verify == True %}
            <h1 style="text-align: center; margin-top:15%;margin-bottom:15%;%">Waiting for verify Shop</h1>
        {% else %}
            <form method="post">
                {% csrf_token %}
                <label>Shop Informations</label>
                <div class="uk-margin uk-width-1-2 uk-margin-small-left">
                    <input class="uk-input" type="text" placeholder="Shop Name" required name="shop_name">
                </div>
                <label>Personal Informations</label>
                <div class="uk-margin uk-width-1-2 uk-margin-small-left">
                    <input class="uk-input" type="text" placeholder="First and Last Name" required name="name">
                </div>
                <div class="uk-margin uk-width-1-2 uk-margin-small-left">
                    <input class="uk-input" type="numeric" placeholder="Citizen ID" required name="citizen" inputmode="numeric" pattern="[0-9]{13}">
                </div>

                <label>Payment Informations</label>
                <div class="uk-margin uk-width-1-2 uk-margin-small-left">
                    <input class="uk-input" type="text" placeholder="Account Name" required name="acc_name">
                </div>
                <div class="uk-margin uk-width-1-2 uk-margin-small-left">
                    <input class="uk-input" type="text" placeholder="Account Number" required name="acc_number" inputmode="numeric">
                </div>
                <div class="uk-margin uk-width-1-2 uk-margin-small-left">
                    {% comment %} <input class="uk-input" type="text" placeholder="Bank" required> {% endcomment %}
                    <select class="uk-select" id="form-stacked-select" name="bank" required>
                        {% for bank in banks %}
                            <option value="{{bank.pk}}">{{bank}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="uk-text-right uk-margin-medium-right">
                    <a href="{% url 'shop:home' %}"><button id="cancelsvbutt">CANCEL</button></a>
                    <button id="confirmsvbutt" type="submit">CONFIRM</button>
                </div>
            </form>
        {% endif %}

        </div>
    </div>
</body>
{% endblock content %}