{% extends 'shop/web/base_sell.html' %}
{% load static %}
{% block title %} My sell {% endblock title %}
{% block content %}

    <!-- Body data -->
    <div class="uk-container-expand" style="background-color: #F4FBFF; min-height: 100vh; padding: 5vh;">
        <div class="uk-container uk-width-5-6 uk-padding-remove-horizontal uk-padding-small" style="background-color: #FFFFFF;">
            <ul class="uk-child-width-expand uk-margin-remove" uk-tab id="headorderseller">
                <li><a href="#">Unconfirm</a></li>
                {% comment %} <li><a href="#">Unpaid</a></li> {% endcomment %}
                <li><a href="#">Unshipped</a></li>
                <li><a href="#">Success</a></li>
                <li><a href="#">Cancel</a></li>
            </ul>
            
            <div class="uk-text-center uk-child-width-1-5" id="listordersellerhead" uk-grid>
                <div class="uk-width-1-3">
                    <h1>Product</h1>
                </div>
                <div class="uk-width-1-6">
                    <h1>Sub total</h1>
                </div>
                <div class="uk-width-1-6">
                    <h1>Status</h1>
                </div>
                <div class="uk-width-1-6">
                    <h1>Shipping</h1>
                </div>
                <div class="uk-width-1-6">
                    <h1>Detail</h1>
                </div>
            </div>

            <ul class="uk-switcher uk-margin-remove-vertical" >                

                <!-- All state -->
                <li class="uk-width-expand" id="listorderforseller">
                    <ul class="uk-list ordersellerlist">
                        <!-- 7 item scrolltab will display-->
                        <!-- Example unpaid state --> 
                        <li id="scrollbarordersellser">
                            {% for product in sell_unconfirm %}
                                <div class="uk-card uk-card-default uk-width-expand uk-padding-small" id="listordersellercard">
                                    <!-- User review data -->
                                    <div class="uk-flex-inline uk-width-expand uk-child-width-1-2 uk-margin-auto" id="listordersellercardhead" uk-grid>
                                    
                                        <!-- Buyer data -->
                                        <div class="uk-flex-inline uk-width-1-2">
                                            {% if product.buyer.account.image %}
                                                <img src="{{product.buyer.account.image.url}}" alt="username">
                                            {% else %}
                                                <img src="{% static 'img/Profile.png' %}" alt="username">
                                            {% endif %}
                                            <h1 class="uk-margin-auto-vertical">{{product.buyer.account.user}}</h1>
                                        </div>

                                        <!-- Oreder number -->
                                        <div class="uk-text-right uk-width-1-2" style="padding-right: 2vw;">                                        
                                            <p>Order No. {{product.pk}}</p>
                                        </div>
                                    </div>
            
                                    <!-- Order detail -->
                                    <div class="uk-width-expand uk-child-width-1-2 uk-margin-remove uk-padding-small uk-text-center" uk-grid>
                                        <!-- Oder data name and img -->
                                        <div class="uk-width-1-3 uk-padding-remove-left uk-text-left">
                                            <ul>
                                                <li class="uk-flex-inline" id="itemproduct">
                                                    <img src="{{product.product.product.photo.first.file.url}}" alt="product">
                                                    <h2 class="uk-margin-auto-vertical uk-margin-small-left">{{product.product}}</h>
                                                </li>
                                            </ul>
                                            
                                        </div>

                                        <!-- Order price -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <!-- Price -->
                                            <h2>฿ {{product.price}}</h2>
                                            <!-- Pay method -->
                                            <h3>{{product.payment_method.get_kind_display}}</h3>
                                        </div>

                                        <!-- Order status -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <h2>{{product.get_status_display}}</h2>
                                        </div>

                                        <!-- Order shipping method -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <h2>{{product.logistic_company}}</h2>
                                        </div>

                                        <!-- Option detail -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <button class="uk-button uk-button-default" onclick="confirmorder({{product.pk}})">Confirm Order</button></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </li>
                    </ul>
                </li>

                <!-- Unpaid state -->
                {% comment %} <li class="uk-width-expand" id="listorderforseller">
                    <ul class="uk-list ordersellerlist">
                        <!-- 7 item scrolltab will display-->
                        <!-- Example unpaid state -->     
                        <li id="scrollbarordersellser">
                            <div class="uk-card uk-card-default uk-width-expand uk-padding-small" id="listordersellercard">
                                <!-- User review data -->
                                <div class="uk-flex-inline uk-width-expand uk-child-width-1-2 uk-margin-auto" id="listordersellercardhead" uk-grid>
                                   
                                    <!-- Buyer data -->
                                    <div class="uk-flex-inline uk-width-1-2">
                                        <img src="{% static 'img/Profile.png' %}" alt="username">
                                        <h1 class="uk-margin-auto-vertical">username</h1>
                                    </div>

                                    <!-- Oreder number -->
                                    <div class="uk-text-right uk-width-1-2" style="padding-right: 2vw;">                                        
                                        <p>Order No. </p>
                                    </div>
                                </div>
        
                                <!-- Order detail -->
                                <div class="uk-width-expand uk-child-width-1-2 uk-margin-remove uk-padding-small uk-text-center" uk-grid>
                                    <!-- Oder data name and img -->
                                    <div class="uk-width-1-3 uk-padding-remove-left uk-text-left">
                                        <ul>
                                            <li class="uk-flex-inline" id="itemproduct">
                                                <img src="{% static 'img/Example_product1.png' %}" alt="product">
                                                <h2 class="uk-margin-auto-vertical uk-margin-small-left">Product name</h>
                                            </li>
                                            <li class="uk-flex-inline" id="itemproduct">
                                                <img src="{% static 'img/Example_product1.png' %}" alt="product">
                                                <h2 class="uk-margin-auto-vertical uk-margin-small-left">Product name</h>
                                            </li>
                                        </ul>
                                        
                                    </div>

                                    <!-- Order price -->
                                    <div class="uk-width-1-6 uk-margin-auto-vertical">
                                        <!-- Price -->
                                        <h2>฿ 1234</h2>
                                        <!-- Pay method -->
                                        <h3>(Credit/Debit Card)</h3>
                                    </div>

                                    <!-- Order status -->
                                    <div class="uk-width-1-6 uk-margin-auto-vertical">
                                        <h2>Unpaid</h2>
                                    </div>

                                    <!-- Order shipping method -->
                                    <div class="uk-width-1-6 uk-margin-auto-vertical">
                                        <h2>Thailand Post (EMS)</h2>
                                    </div>

                                    <!-- Option detail -->
                                    <div class="uk-width-1-6 uk-margin-auto-vertical">
                                        <h2>-</h2>                                    
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>  {% endcomment %}

                <!-- Unshipped state -->
                <li class="uk-width-expand" id="listorderforseller">
                    <ul class="uk-list ordersellerlist">
                        <!-- 7 item scrolltab will display-->                              
                        <!-- Example Paid state -->
                        <li id="scrollbarordersellser">
                            {% for product in sell_confirm %}
                                <div class="uk-card uk-card-default uk-width-expand uk-padding-small" id="listordersellercard">
                                    <!-- User review data -->
                                    <div class="uk-flex-inline uk-width-expand uk-child-width-1-2 uk-margin-auto" id="listordersellercardhead" uk-grid>
                                    
                                        <!-- Buyer data -->
                                        <div class="uk-flex-inline uk-width-1-2">
                                            {% if product.buyer.account.image %}
                                                <img src="{{product.buyer.account.image.url}}" alt="username">
                                            {% else %}
                                                <img src="{% static 'img/Profile.png' %}" alt="username">
                                            {% endif %}
                                            <h1 class="uk-margin-auto-vertical">{{product.buyer.account.user}}</h1>
                                        </div>

                                        <!-- Oreder number -->
                                        <div class="uk-text-right uk-width-1-2" style="padding-right: 2vw;">                                        
                                            <p>Order No. {{product.pk}}</p>
                                        </div>
                                    </div>
            
                                    <!-- Order detail -->
                                    <div class="uk-width-expand uk-child-width-1-2 uk-margin-remove uk-padding-small uk-text-center" uk-grid>
                                        <!-- Oder data name and img -->
                                        <div class="uk-width-1-3 uk-padding-remove-left uk-text-left">
                                            <ul>
                                                <li class="uk-flex-inline" id="itemproduct">
                                                    <img src="{{product.product.product.photo.first.file.url}}" alt="product">
                                                    <h2 class="uk-margin-auto-vertical uk-margin-small-left">{{product.product}}</h>
                                                </li>
                                            </ul>
                                            
                                        </div>

                                        <!-- Order price -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <!-- Price -->
                                            <h2>฿ {{product.price}}</h2>
                                            <!-- Pay method -->
                                            <h3>{{product.payment_method.get_kind_display}}</h3>
                                        </div>

                                        <!-- Order status -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <h2>{{product.get_status_display}}</h2>
                                        </div>

                                        <!-- Order shipping method -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <h2>{{product.logistic_company}}</h2>
                                        </div>

                                        <!-- Option detail -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <a href="{% url 'shop:sellerorder' product.pk %}"><button class="uk-button uk-button-default">Confirm Shipping</button></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </li>
                    </ul>
                </li>

                <!-- Success state -->
                <li class="uk-width-expand" id="listorderforseller">
                    <ul class="uk-list ordersellerlist">
                        <!-- 7 item scrolltab will display-->                              
                        <!-- Example Paid state -->
                        <li id="scrollbarordersellser">
                            {% for product in sell_sucess %}
                                <div class="uk-card uk-card-default uk-width-expand uk-padding-small" id="listordersellercard">
                                    <!-- User review data -->
                                    <div class="uk-flex-inline uk-width-expand uk-child-width-1-2 uk-margin-auto" id="listordersellercardhead" uk-grid>
                                    
                                        <!-- Buyer data -->
                                        <div class="uk-flex-inline uk-width-1-2">
                                            {% if product.buyer.account.image %}
                                                <img src="{{product.buyer.account.image.url}}" alt="username">
                                            {% else %}
                                                <img src="{% static 'img/Profile.png' %}" alt="username">
                                            {% endif %}
                                            <h1 class="uk-margin-auto-vertical">{{product.buyer.account.user}}</h1>
                                        </div>

                                        <!-- Oreder number -->
                                        <div class="uk-text-right uk-width-1-2" style="padding-right: 2vw;">                                        
                                            <p>Order No. {{product.pk}}</p>
                                        </div>
                                    </div>
            
                                    <!-- Order detail -->
                                    <div class="uk-width-expand uk-child-width-1-2 uk-margin-remove uk-padding-small uk-text-center" uk-grid>
                                        <!-- Oder data name and img -->
                                        <div class="uk-width-1-3 uk-padding-remove-left uk-text-left">
                                            <ul>
                                                <li class="uk-flex-inline" id="itemproduct">
                                                    <img src="{{product.product.product.photo.first.file.url}}" alt="product">
                                                    <h2 class="uk-margin-auto-vertical uk-margin-small-left">{{product.product}}</h>
                                                </li>
                                            </ul>
                                            
                                        </div>

                                        <!-- Order price -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <!-- Price -->
                                            <h2>฿ {{product.price}}</h2>
                                            <!-- Pay method -->
                                            <h3>{{product.payment_method.get_kind_display}}</h3>
                                        </div>

                                        <!-- Order status -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <h2>{{product.get_status_display}}</h2>
                                        </div>

                                        <!-- Order shipping method -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <h2>{{product.logistic_company}}</h2>
                                        </div>

                                        <!-- Option detail -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <a href="{% url 'shop:sellerorder' product.pk %}"><button class="uk-button uk-button-default">Detail</button></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </li>
                    </ul>
                </li>

                <!-- Cancel state -->
                <li class="uk-width-expand" id="listorderforseller">
                    <ul class="uk-list ordersellerlist">
                        <!-- 7 item scrolltab will display-->                              
                        <!-- Example Paid state -->
                        <li id="scrollbarordersellser">
                            {% for product in sell_cancle %}
                                <div class="uk-card uk-card-default uk-width-expand uk-padding-small" id="listordersellercard">
                                    <!-- User review data -->
                                    <div class="uk-flex-inline uk-width-expand uk-child-width-1-2 uk-margin-auto" id="listordersellercardhead" uk-grid>
                                    
                                        <!-- Buyer data -->
                                        <div class="uk-flex-inline uk-width-1-2">
                                            {% if product.buyer.account.image %}
                                                <img src="{{product.buyer.account.image.url}}" alt="username">
                                            {% else %}
                                                <img src="{% static 'img/Profile.png' %}" alt="username">
                                            {% endif %}
                                            <h1 class="uk-margin-auto-vertical">{{product.buyer.account.user}}</h1>
                                        </div>

                                        <!-- Oreder number -->
                                        <div class="uk-text-right uk-width-1-2" style="padding-right: 2vw;">                                        
                                            <p>Order No. {{product.pk}}</p>
                                        </div>
                                    </div>
            
                                    <!-- Order detail -->
                                    <div class="uk-width-expand uk-child-width-1-2 uk-margin-remove uk-padding-small uk-text-center" uk-grid>
                                        <!-- Oder data name and img -->
                                        <div class="uk-width-1-3 uk-padding-remove-left uk-text-left">
                                            <ul>
                                                <li class="uk-flex-inline" id="itemproduct">
                                                    <img src="{{product.product.product.photo.first.file.url}}" alt="product">
                                                    <h2 class="uk-margin-auto-vertical uk-margin-small-left">{{product.product}}</h>
                                                </li>
                                            </ul>
                                            
                                        </div>

                                        <!-- Order price -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <!-- Price -->
                                            <h2>฿ {{product.price}}</h2>
                                            <!-- Pay method -->
                                            <h3>{{product.payment_method.get_kind_display}}</h3>
                                        </div>

                                        <!-- Order status -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <h2>{{product.get_status_display}}</h2>
                                        </div>

                                        <!-- Order shipping method -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <h2>{{product.logistic_company}}</h2>
                                        </div>

                                        <!-- Option detail -->
                                        <div class="uk-width-1-6 uk-margin-auto-vertical">
                                            <a href="">-</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</body>

<script src="{% static 'js/axios.js' %}"></script>
<script>
    function confirmorder(pk){
        axios.get(`/seller_confirm/${pk}`)
        location.reload()
    }
</script>
{% endblock content %}