{% extends 'shop/web/base.html' %}
{% load static %}
{% block title %} Shipping Address {% endblock title %}
{% block content %}
    <body>
        <!-- Data Zone -->
        <div class="uk-container-expand uk-padding-large" style="background-color: #FFFBE3; min-height: 100vh; max-width: 100%;">            
            <div class="profile uk-margin-auto " uk-grid>
                <div class="uk-width-1-4 uk-padding-large uk-padding-remove-right">     
                    <div uk-grid>
                        <div class="uk-width-1-2">
                            {% if profile.image %}
                                <img class="profilepic" src="{{ profile.image.url }}" alt="Profile" height="100%" width="100%">
                            {% else %}
                                <img class="profilepic" src="{% static 'img/Profile.png' %}" alt="Profile" height="100%" width="100%">
                            {% endif %}
                        </div> 
                        <ul class="uk-list uk-width-1-2">
                            <p class="wordWrap" id="usernameprofile"> {{profile.user}} </p>
                            <p id="memberstatus">Membership</p>
                        </ul>                        
                    </div>
                    <ul class="uk-list uk-margin-medium-top uk-link-reset" style="font-size: 1.8rem;">
                        <li class="profileicon">
                            <a href="{% url 'shop:profile' %}"><i class="las la-user"></i>  Profile</a>
                        </li>
                        <li id="selected">
                            <a href="{% url 'shop:shippingaddress' %}"><i class="las la-home"></i>  Shipping Address</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:creditcard' %}"><i class="las la-credit-card"></i>  Credit Card</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:order' %}"><i class="las la-receipt"></i>  Order</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:myfavourite' %}"><i class="las la-heart"></i>  My favourite</a>
                        </li>
                        <li class="profileicon">
                            <a href="{% url 'shop:review' %}"><i class="lar la-thumbs-up"></i>  My review</a>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-3-4 uk-padding-large">
                    <div style="height: 100%; width: 100%; background-color: #FAFAFA;">
                        <div class="uk-padding-large">
                            <h2 style="border-bottom: 2px solid #FF9C9C; padding-bottom: 2%;">Shipping Address</h2>
                            
                            <!-- show stage -->

                                <button class="uk-button" id="addressbutton" uk-toggle="target: #new_address"> + Add New Address </button>                    

                                <!-- show all address -->
                                <div class="uk-container-expand uk-margin">
                                    <div class="uk-child-width-1-1@s uk-grid-match" uk-grid>
                                        {% for addr in address %}
                                        <div class="uk-button">                                      
                                            <div class="uk-card uk-card-body uk-padding-remove" id="addresscard">
                                                <div class="uk-text-top uk-text-right uk-margin-small-right">
                                                    <a href="{% url 'shop:set_dault_shippingaddress' addr.pk 'shipping' %}"><i class="las la-pen">set as default</i></a>
                                                    <a href="{% url 'shop:del_shippingaddress' addr.pk 'shipping' %}"><i class="las la-trash-alt">delete</i></a>
                                                </div>
                                                <address class="uk-padding-small uk-margin-remove"> 
                                                    {{addr.name}}
                                                    {{addr.phone}}
                                                    {{addr.address1}} 
                                                    {{addr.address2.name_th}} {{addr.address2.name_en}}
                                                    {{addr.address2.amphur.name_th}} {{addr.address2.amphur.name_eh}}
                                                    {{addr.address2.amphur.province.name_th}} {{addr.address2.amphur.province.name_en}}
                                                    {{addr.address2.zipcode}}
                                                    <br>
                                                    {% if addr.is_use == True %}
                                                        Default
                                                    {% endif %}
                                                </address>    
                                            </div>                                                                        
                                        </div>
                                        {% endfor %}
                                        <!-- <div class="uk-button">                                      
                                            <div class="uk-card uk-card-body uk-padding-remove" id="addresscard">
                                                <div class="uk-text-top uk-text-right uk-margin-small-right">
                                                    <a><i class="las la-pen"></i></a>
                                                    <a><i class="las la-trash-alt"></i></a>
                                                </div>
                                                <address class="uk-padding-small uk-margin-remove">999 thai road soul korea 127</address>    
                                            </div>                                                                        
                                        </div> -->
                                    </div>
                                </div>
                                
                            <!-- show this when click add new address -->
                                <!-- Add Address Form -->
                                <div class="uk-modal-container" id="new_address" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body">
                                        <form class="uk-form-horizontal" id="addressform" method="POST">
                                            {% csrf_token %} 
                                            <legend>Add Address</legend>                            
                                            <div>
                                                <label class="uk-form-label" for="form-horizontal-text">Name</label>
                                                <div class="uk-form-controls">
                                                    <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="name" required>
                                                </div>
                                            </div>
                                        
                                            <div>
                                                <label class="uk-form-label" for="form-horizontal-text">Phone</label>
                                                <div class="uk-form-controls">
                                                    <input class="uk-input" id="form-horizontal-text" type="number" placeholder="" name="phone" required>
                                                </div>
                                            </div>
    
                                            <div>
                                                <label class="uk-form-label" for="form-horizontal-text">Zip Code</label>
                                                <div class="uk-form-controls">
                                                    <input class="uk-input" id="zipcode" type="number" placeholder="" name="zipcode" onkeyup="onKeyupHandler_zipcode(event)" required>
                                                </div>
                                            </div>
                                            
                                            <div>
                                                <label class="uk-form-label" for="form-horizontal-select">District</label>
                                                <div class="uk-form-controls">
                                                    <select class="uk-select" id="district" name="district" onchange="onKeyupHandler_amphur(event)" required>
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div>
                                                <label class="uk-form-label" for="form-horizontal-select">Amphur</label>
                                                <div class="uk-form-controls">
                                                    <!-- <select class="uk-select" id="form-horizontal-select">
                                                        <option>Option 01</option>
                                                        <option>Option 02</option>
                                                    </select> -->
                                                    <input class="uk-input" id="amphur" type="text" placeholder="" name="amphur" disabled required>
                                                </div>
                                            </div>
                                            <div>
                                                <label class="uk-form-label" for="form-horizontal-select">Province</label>
                                                <div class="uk-form-controls">
                                                    <!-- <select class="uk-select" id="form-horizontal-select">
                                                        <option>Option 01</option>
                                                        <option>Option 02</option>
                                                    </select> -->
                                                    <input class="uk-input" id="province" type="text" placeholder="" name="province" disabled required>
                                                </div>
                                            </div>

                                            <div>
                                                <label class="uk-form-label" for="form-horizontal-text">Address</label>
                                                <div class="uk-form-controls">
                                                    <textarea class="uk-textarea" rows="5" placeholder="" name="address" required></textarea>
                                                </div>
                                            </div>
                                            
                                            <div>                                    
                                                <div class="uk-form-controls">
                                                    <input class="uk-radio" type="radio" name="seva_as_default">  Save as default address                                 
                                                </div>
                                            </div>
                                            
                                            <div> 
                                                <div class="uk-form-controls" style="width: 20vw;">
                                                    <Button class="uk-align-left" type="submit">Save</Button>
                                                    <!-- <button class="uk-align-right" type="">Cancel</button> -->
                                                </div>                                   
                                            </div>
                                        </form>
                                    </div> 
                                    
                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/axios.js' %}"></script>
    <script>
        function onKeyupHandler_zipcode(e) {
            if (e.keyCode === 13) {
                search_zipcode().then(data => render(data))
            } else {
                search_zipcode().then(data => render(data))
            }
        }
        function search_zipcode() {
            let zipcode = document.querySelector('#zipcode').value
        
            return axios.get(`/auth/zipcode/?zipcode=${zipcode}`)
              .then(response => response.data)
              .catch(error => console.error(error))
        }
        function render(data){
            data.forEach(add_data)
        }
        function add_data(item,index){
            var option = document.createElement("option");
            option.text = item.name_en + " " + item.name_th;
            option.value = item.pk;
            var select = document.getElementById("district");
            select.appendChild(option);
        }
        
        function onKeyupHandler_amphur(e) {
            if (e.keyCode === 13) {
                search_amphur().then(data => render_amphur(data))
            } else {
                search_amphur().then(data => render_amphur(data))
            }
        }
        function search_amphur() {
            let amphur = document.querySelector('#district').value
            console.log(amphur)
            return axios.get(`/auth/amphur/?amphur=${amphur}`)
              .then(response => response.data)
              .catch(error => console.error(error))
        }
        function render_amphur(data){
            //console.log(data)
            document.getElementById('amphur').value = data[0].amphur__name_en+" "+data[0].amphur__name_th;
            document.getElementById('province').value = data[0].amphur__province__name_en+" "+data[0].amphur__province__name_th;
        }
        
        
    </script>
{% endblock content %}