{% extends 'shop/web/base.html' %}
{% load static %}
{% block title %} Shipping Information {% endblock title %}
{% block content %}
    <body>
        <div class="uk-container-expand uk-padding-large" style="background-color: #FFFBE3; min-height: 100vh; max-width: 100%;">
               
            <!-- Shipping Form-->
            <div class="uk-width-expand" style="background-color: #ffffff;" id="shippinginformation">
                <h1 class="uk-padding"><i class="las la-shipping-fast"></i>Shopping Information</h1>

                <form name="shippinginformation" method="post" action="{% url 'shop:confirmshipping' %}">
                    {% csrf_token %}
                    {% comment %} <div class="uk-padding-large uk-padding-remove-top">
                        <div>
                            <h2>Choose the delivery way</h2>
                            <div class="uk-child-width-1-1">
                                <div class="uk-card uk-card-default uk-padding">
                                    <label><input class="uk-radio uk-margin-medium-right" type="radio" name="address"> Ship to Address</label>
                                </div>
    
                                <div class="uk-card uk-card-default uk-padding">
                                    <label><input class="uk-radio uk-margin-medium-right" type="radio" name="address"> Self Collection : pick up</label>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    
                    <div class="uk-padding-large uk-padding-remove-top uk-margin-auto-top">
                        <div>
                            <h2>Delivery Address</h2>
                            <div class="uk-card uk-card-default ">
                                <a class="uk-position-top-right uk-margin-small-right" href="{% url 'shop:editaddress' %}"><i class="las la-pen">edit address</i></a>
                                <div class="uk-child-width-1-2 uk-grid-small uk-padding-small" uk-grid>
                                    {% if address == None %}
                                        <div class="uk-button">                                      
                                            <div class="uk-card uk-card-body uk-padding-remove">                                            
                                                <h2>Please add you address</h2>    
                                            </div>                                                                        
                                        </div>     
                                    {% else %}
                                        <div class="uk-button">                                      
                                            <div class="uk-card uk-card-body uk-padding-remove" id="addresscard">                                            
                                                <address class="uk-padding-small uk-margin-remove"> {{address.name}} {{address.address1}} {{address.address2}}</address>    
                                            </div>                                                                        
                                        </div>                                                                        
                                    {% endif %}
                                    <!-- Address card -->
                                </div>
                            </div>                            
                        </div>
                    </div>

                    <div class="uk-padding-large uk-padding-remove-top">
                        <div>
                            <h2>Choose a delivery method</h2>
                            <div class="uk-child-width-1-1">
                                {% for logis in logistic %}
                                    <div class="uk-card uk-card-default uk-padding">
                                        <label><input class="uk-radio uk-margin-medium-right" type="radio" name="delivery" value="{{logis.pk}}" required> {{logis.name}} <span id="shipprice">฿ {{logis.price}}</span></label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                
                    <h1 class="uk-padding"><i class="lar la-credit-card" id=""></i>Payment option</h1>
                    <div class="uk-padding-large uk-padding-remove-top">
                        <div>
                            <h2>Please choose payment option</h2>
                            <div class="uk-child-width-1-1">
                                <div class="uk-card uk-card-default uk-padding">

                                    <!-- Credit card -->
                                    <label>
                                        <input class="uk-radio uk-margin-medium-right" type="radio" name="pay" value="card" onclick="require_card()"><i class="las la-credit-card" style="font-weight: bold; font-size: 1.5rem;"></i> Credit/Debit Card
                                    </label>
                                    <br>
                                    <div class=" uk-margin-large-left">
                                        {% for card in creadit_card %}
                                            <label><input class="uk-radio uk-margin-medium-right" type="radio" name="subpay" value="{{card.pk}}" id="cards">
                                                <div class="uk-card uk-padding-small uk-flex-inline uk-flex-center" id="card">
                                                    {% if card.kind == 'jb' %}
                                                        <i class="lab la-cc-jcb"></i>
                                                    {% elif card.kind == 'va' %}
                                                        <i class="lab la-cc-visa "></i>
                                                    {% elif card.kind == 'md' %}
                                                        <i class="lab la-cc-mastercard"></i>
                                                    {% elif card.kind == 'ax' %}
                                                        <i class="lab la-cc-amex"></i>
                                                    {% else %}
                                                        <i class="las la-credit-card"></i>
                                                    {% endif %}
                                                    <h3>**** **** **** {{card.card_number | slice:"-4::"}}</h3>
                                                </div>
                                            </label><br>
                                        {% endfor %}
                                    </div>
                                </div>     
                                
                                <!-- Bank tranfer -->
                                <div class="uk-card uk-card-default uk-padding">
                                    <label><input class="uk-radio uk-margin-medium-right" type="radio" name="pay" value="bank" onclick="uncheckcard()"><img  src="{% static 'img/transfer.png' %}"> Banking Transfer</label>
                                </div>

                                <!-- Cash on del -->
                                <div class="uk-card uk-card-default uk-padding">
                                    <label><input class="uk-radio uk-margin-medium-right" type="radio" name="pay" value="cod" onclick="uncheckcard()"><i class="las la-hand-holding-usd" style="font-weight: bold; font-size: 1.5rem;"></i> Cash on Delivery (Available for orders above 300 baht)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Button zone -->
                    {% if address != None %}
                        <div class="uk-padding uk-text-right uk-padding-remove-top">
                            <a href="{% url 'shop:mycart' %}"><button class="uk-button uk-button-default" id="backbutton">Back</button></a>
                            <button class="uk-button uk-button-default" id="confirmbutt" type="submit">Next</button></a>
                        </div>
                    {% endif %}
                </form>   

            </div>
    
        </div>
    </body>
    <script>
        function uncheckcard(){
            document.getElementById('cards').checked = false;
            document.getElementById('cards').required = false;
        }
        function require_card(){
            document.getElementById('cards').required = true;
        }
    </script>
{% endblock content %}