{% extends 'shop/web/base.html' %}
{% load static %}
{% block title %} My Product {% endblock title %}
{% block content %}
<body>

    <!-- Body data -->
    <div class=" uk-child-width-expand@s uk-grid-medium" style="background-color: #F4FBFF; min-height: 100vh; padding: 5vh;" uk-grid>
         <div class="uk-padding-large">
                <div class="uk-child-width-1-2" uk-grid>
                    <!-- store img -->
                    {% if seller.account.image %}
                        <div class="uk-width-1-3">
                            <img src="{{seller.account.image.url}}" alt="" height="200px" width="200px">
                        </div>
                    {% else %}
                        <div class="uk-width-1-3">
                            <img src="{% static 'img/Profile.png' %}" alt="" height="200px" width="200px">
                        </div>
                    {% endif %}

                    <!-- store name -->
                    <div class="uk-width-2-3">
                        <p id="stnameh"><i class="las la-store-alt"></i> Store name</p>
                        <!-- add store name -->
                        <p id="stnameb">{{seller.shop_name}}</p>
                    </div>
                </div>

                <div class="uk-padding-large">
                    <!-- All product instock -->
                    <div class="uk-card uk-card-default uk-width-1-1 uk-child-width-1-2 uk-margin-remove-left uk-padding-small" uk-grid id="shophomedetail">
                        <div class="uk-flex-inline uk-padding-remove">
                            <i class="las la-boxes"></i>
                            <p class="uk-margin-auto-vertical uk-margin-small-left">Product</p>
                        </div>
                        <div class="uk-text-right uk-margin-auto-vertical">
                            <p class="uk-margin-auto-vertical">{{product_of_shop}}</p>
                        </div>
                    </div>
                    
                    <!-- All product has sold -->
                    <div class="uk-card uk-card-default uk-width-1-1 uk-child-width-1-2 uk-margin-remove uk-padding-small" uk-grid id="shophomedetail">
                        <div class="uk-flex-inline uk-padding-remove">
                            <i class="las la-shipping-fast"></i>
                            <p class="uk-margin-auto-vertical uk-margin-small-left">Sold</p>
                        </div>
                        <div class="uk-text-right uk-margin-auto-vertical">
                            <p class="uk-margin-auto-vertical">{{sold_of_shop}}</p>
                        </div>
                    </div>
                    
                    <!-- Ratting store -->
                    <div class="uk-card uk-card-default uk-width-1-1 uk-child-width-1-2 uk-margin-remove uk-padding-small" uk-grid id="shophomedetail">
                        <div class="uk-flex-inline uk-padding-remove">
                            <i class="las la-star"></i>
                            <p class="uk-margin-auto-vertical uk-margin-small-left">Rating</p>
                        </div>
                        <div class="uk-text-right uk-margin-auto-vertical">
                            <p class="uk-margin-auto-vertical">{{rating}}</p>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Show product stock card -->
        <div class="uk-width-3-4">
            <div class="uk-card uk-card-default" style="background-color: #FFFFFF; border: #A3A3A3 solid 1px;" id="productseller">
                <ul class="uk-child-width-expand uk-margin-remove" uk-tab>
                    <li><a href="#">All</a></li>
                    <li><a href="#">In stock</a></li>
                    <li><a href="#">Out of stock</a></li>
                    
                </ul>
                
                <ul class="uk-switcher uk-margin">
                    <!-- All status -->
                    <li>
                        <div class="uk-padding-small">
                            <h1>Product : {{count_product_all}}</h1>
                            <!-- All product stock detail -->
                            <div class="uk-container-expand uk-child-width-1-4 uk-margin-remove-left uk-grid-medium" uk-grid>
                                {% for product in product_all %}
                                    {% if product.total_amount > 0 %}
                                        <!-- Example product instock -->
                                        <a href="{% url 'shop:product' product.pk %}">
                                            <div>                                    
                                                <div class="uk-card uk-card-default productstockcard uk-padding-small uk-text-center" id="productstockcard">
                                                    <!-- Img product -->
                                                    <div class="uk-inline imgstock">
                                                        <img src="{{product.photo.first.file.url}}" alt="product" id="productstock">
                                                        <!-- Hidden out of stock icon -->
                                                        <div hidden>
                                                            <div class="uk-overlay-default uk-position-cover"></div>
                                                            <div class="uk-overlay uk-position-center uk-dark uk-text-center">
                                                                <i class="las la-exclamation-triangle"></i>
                                                                <h5>Out of Stock</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div>
                                                        <h2 class="uk-text-left"> {{product.name}}</h2>
                                                        <div class="uk-flex-inline uk-width-1-1">
                                                            <div class="uk-width-1-2 uk-text-left">
                                                                <!-- Price -->
                                                                <h3>฿ {{product.price}}</h3>
                                                            </div>
                                                            <div class="uk-width-1-2 uk-text-right">
                                                                <!-- Stock -->
                                                                <h4>Stock : {{product.total_amount}}</h4>
                                                            </div>                                                
                                                        </div>
                                                        <div class="uk-flex-inline uk-width-1-1">
                                                            <div class="uk-width-1-2 uk-text-left uk-flex-inline">
                                                                <!-- Fav count -->
                                                                {% comment %} <h4><i class="las la-heart"></i></h4>
                                                                <h4>127</h4> {% endcomment %}
                                                            </div>
                                                            <div class="uk-width-1-2 uk-text-right">
                                                                <!-- Sold count -->
                                                                <h4>Sold : {{product.sales}}</h4>
                                                            </div>                                                
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    {% else %}
                                        <!-- Example product out of stock -->
                                        <a href="{% url 'shop:product' product.pk %}">
                                            <div>                                    
                                                <div class="uk-card uk-card-default productstockcard uk-padding-small uk-text-center" id="productstockcard">                                        
                                                    <!-- Img product -->
                                                    <div class="uk-inline imgstock">
                                                        <img src="{{product.photo.first.file.url}}" alt="product" id="productstock">
                                                        <!-- No hidden -->
                                                        <div>
                                                            <div class="uk-overlay-default uk-position-cover"></div>
                                                            <div class="uk-overlay uk-position-center uk-dark uk-text-center">
                                                                <i class="las la-exclamation-triangle"></i>
                                                                <h5>Out of Stock</h5>
                                                            </div>
                                                        </div>
                                                    </div>  

                                                    <div>
                                                        <h2 class="uk-text-left"> {{product.name}} </h2>
                                                        <div class="uk-flex-inline uk-width-1-1">
                                                            <div class="uk-width-1-2 uk-text-left">
                                                                <!-- Price -->
                                                                <h3>฿ {{product.price}} </h3>
                                                            </div>
                                                            <div class="uk-width-1-2 uk-text-right">
                                                                <!-- Stock -->
                                                                <h4>Stock : {{product.total_amount}} </h4>
                                                            </div>                                                
                                                        </div>
                                                        <div class="uk-flex-inline uk-width-1-1">
                                                            <div class="uk-width-1-2 uk-text-left uk-flex-inline">
                                                                <!-- Fav count -->
                                                                {% comment %} <h4><i class="las la-heart"></i></h4>
                                                                <h4>127</h4> {% endcomment %}
                                                            </div>
                                                            <div class="uk-width-1-2 uk-text-right">
                                                                <!-- Sold count -->
                                                                <h4>Sold : {{product.sales}} </h4>
                                                            </div>                                                
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    {% endif %}


                                {% endfor %}                        
                            </div>
                        </div>
                    </li>

                    <!-- In stock status -->
                    <li>
                        <div class="uk-padding-small">
                            <h1>Product : {{count_product_in_stock}}</h1>
                            <!-- All product stock status detail -->
                            <div class="uk-container-expand uk-child-width-1-4 uk-margin-remove-left uk-grid-medium" uk-grid>
                                <!-- Example product instock -->
                                {% for product in product_in_stock  %}
                                    <a href="{% url 'shop:product' product.pk %}">
                                        <div>                                    
                                            <div class="uk-card uk-card-default productstockcard uk-padding-small uk-text-center" id="productstockcard">
                                                <!-- Img product -->
                                                <div class="uk-inline imgstock">
                                                    <img src="{{product.photo.first.file.url}}" alt="product" id="productstock">
                                                    <!-- Hidden out of stock icon -->
                                                    <div hidden>
                                                        <div class="uk-overlay-default uk-position-cover"></div>
                                                        <div class="uk-overlay uk-position-center uk-dark uk-text-center">
                                                            <i class="las la-exclamation-triangle"></i>
                                                            <h5>Out of Stock</h5>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div>
                                                    <h2 class="uk-text-left">{{product.name}}</h2>
                                                    <div class="uk-flex-inline uk-width-1-1">
                                                        <div class="uk-width-1-2 uk-text-left">
                                                            <!-- Price -->
                                                            <h3>฿ {{product.price}}</h3>
                                                        </div>
                                                        <div class="uk-width-1-2 uk-text-right">
                                                            <!-- Stock -->
                                                            <h4>Stock : {{product.total_amount}}</h4>
                                                        </div>                                                
                                                    </div>
                                                    <div class="uk-flex-inline uk-width-1-1">
                                                        <div class="uk-width-1-2 uk-text-left uk-flex-inline">
                                                            <!-- Fav count -->
                                                            {% comment %} <h4><i class="las la-heart"></i></h4>
                                                            <h4>127</h4> {% endcomment %}
                                                        </div>
                                                        <div class="uk-width-1-2 uk-text-right">
                                                            <!-- Sold count -->
                                                            <h4>Sold : {{product.sales}}</h4>
                                                        </div>                                                
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </li>

                    <!-- Out of stock status -->
                    <li>
                        <div class="uk-padding-small">
                            <h1>Product : {{count_product_out_stock}}</h1>
                            <!-- All product stock detail -->
                            <div class="uk-container-expand uk-child-width-1-4 uk-margin-remove-left uk-grid-medium" uk-grid>
                                <!-- Example product instock -->
                                {% for product in product_out_stock  %}
                                    <a href="{% url 'shop:product' product.pk %}">
                                        <div>                                    
                                            <div class="uk-card uk-card-default productstockcard uk-padding-small uk-text-center" id="productstockcard">
                                                <!-- Img product -->
                                                <div class="uk-inline imgstock">
                                                    <img src="{{product.photo.first.file.url}}" alt="product" id="productstock">
                                                    <!-- No hidden -->
                                                    <div>
                                                        <div class="uk-overlay-default uk-position-cover"></div>
                                                        <div class="uk-overlay uk-position-center uk-dark uk-text-center">
                                                            <i class="las la-exclamation-triangle"></i>
                                                            <h5>Out of Stock</h5>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div>
                                                    <h2 class="uk-text-left"> {{product.name}} </h2>
                                                    <div class="uk-flex-inline uk-width-1-1">
                                                        <div class="uk-width-1-2 uk-text-left">
                                                            <!-- Price -->
                                                            <h3>฿ {{product.price}} </h3>
                                                        </div>
                                                        <div class="uk-width-1-2 uk-text-right">
                                                            <!-- Stock -->
                                                            <h4>Stock : {{product.total_amount}} </h4>
                                                        </div>                                                
                                                    </div>
                                                    <div class="uk-flex-inline uk-width-1-1">
                                                        <div class="uk-width-1-2 uk-text-left uk-flex-inline">
                                                            <!-- Fav count -->
                                                            {% comment %} <h4><i class="las la-heart"></i></h4>
                                                            <h4>127</h4> {% endcomment %}
                                                        </div>
                                                        <div class="uk-width-1-2 uk-text-right">
                                                            <!-- Sold count -->
                                                            <h4>Sold : {{product.sales}} </h4>
                                                        </div>                                                
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
{% endblock content %}