{% extends 'shop/web/base.html' %}
{% load static %}
{% block title %} Tracking {% endblock title %}
{% block content %}
    <body>
        <div class="uk-container-expand uk-padding-large" style="background-color: #FFFBE3; min-height: 100vh; max-width: 100%;">
               
            <!-- My Cart -->
            <div class="uk-width-expand" style="background-color: #FFFFFF;">

                <div class="uk-padding-large ">                
                    <div class="uk-card uk-card-default uk-width-expand uk-padding uk-child-width-1-1" style="background-color: #F4F4F4; margin: 0px;" uk-grid>
                        <!-- Order number -->
                        <div uk-grid>
                            <div class="uk-width-1-6@m">
                                <p>Order No.</p>
                            </div>
                            <div class="uk-width-expand@m">
                                <p>:<span style="padding-left: 1vw;"> {{order.id}}</span></p>
                            </div>  
                        </div>  
                        
                        <!-- User name -->
                        <div class="uk-margin-small-top" uk-grid>
                            <div class="uk-width-1-6@m">
                                <p>Name</p>
                            </div>
                            <div class="uk-width-expand@m">
                                <p>:<span style="padding-left: 1vw;"> {{order.buyer.account}}</span></p>
                            </div>
                        </div>

                        <!-- User mobile -->
                        <div class="uk-margin-small-top" uk-grid>    
                            <div class="uk-width-1-6@m">
                                <p>Mobile</p>
                            </div>
                            <div class="uk-width-expand@m">
                                <p>:<span style="padding-left: 1vw;"> {{order.address.phone}}</span></p>
                            </div>
                        </div>

                        <!-- User address -->
                        <div class="uk-margin-small-top" uk-grid>
                            <div class="uk-width-1-6@m">
                                <p>Address</p>
                            </div>
                            <div class="uk-width-expand@m">
                                <p>:<span style="padding-left: 1vw;"> {{order.address.getAddr}}</span></p>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>

                <div class="uk-padding-large uk-padding-remove-top">
                    	
                    <ul class="tracking">
                        {% if order.status == 'pa' %}
                            <li id="active">Processing</li>
                            <li id="active">Paid</li>
                            <li>Seller Confirm</li>
                            <li>Delivering</li>
                            <li>Recieved</li>
                        {% elif order.status == 'sc' %}
                            <li id="active">Processing</li>
                            <li id="active">Paid</li>
                            <li id="active">Seller Confirm</li>
                            <li>Delivering</li>
                            <li>Recieved</li>
                        {% elif order.status == 'se' %}
                            <li id="active">Processing</li>
                            <li id="active">Paid</li>
                            <li id="active">Seller Confirm</li>
                            <li id="active">Delivering</li>
                            <li>Recieved</li>
                        {% elif order.status == 'cf' %}
                            <li id="active">Processing</li>
                            <li id="active">Paid</li>
                            <li id="active">Seller Confirm</li>
                            <li id="active">Delivering</li>
                            <li>Recieved</li>
                        {% elif order.status == 're' or order.status == 'ss'  %}
                            <li id="active">Processing</li>
                            <li id="active">Paid</li>
                            <li id="active">Seller Confirm</li>
                            <li id="active">Delivering</li>
                            <li id="active">Recieved</li>
                        {% endif %}
                    </ul>
  
                    
                </div>

                <div class="uk-padding-large">
                    <div class="uk-child-width-1-2" style="border: #D3D3D3 solid 1px; margin: 0px;" uk-grid> 
                        <!-- Tracking data -->
                        <div class="uk-width-1-4 uk-padding" style="border: #D3D3D3 solid 1px; margin: 0px;" id="trackdata">
                            <h1>Tracking Number</h1>
                            <p>{{order.tracking_id}}</p>
                            <h1>Delivery method</h1>
                            <p>Kerry</p>
                        </div>
                        
                        <!-- Tracking detail -->
                        <div class="uk-width-3-4 uk-padding-small" style="border: #D3D3D3 solid 1px; margin: 0px;">
                            <table class="uk-table uk-width-1-2 uk-margin-auto" id="tracktable">
                                <tbody>  
                                    <!-- All tracking status -->
                                    <tr>
                                        <td>2018-08-11 00:00:00</td>
                                        <td class="uk-text-right">Delivery successfully</td>
                                    </tr>
                                    <tr>
                                        <td>2018-08-10 00:00:00</td>
                                        <td class="uk-text-right">Shipment picked up</td>
                                    </tr>
                                    <tr>
                                        <td>2018-08-08 00:00:00</td>
                                        <td class="uk-text-right">Departing from Warehouse</td>
                                    </tr>
                                    <tr>
                                        <td>2018-08-07 00:00:00</td>
                                        <td class="uk-text-right">Packing </td>
                                    </tr>
                                    <tr>
                                        <td>2018-08-07 00:00:00</td>
                                        <td class="uk-text-right">Payment Confirmed</td>
                                    </tr>
                                    <tr>
                                        <td>2018-08-05 00:00:00</td>
                                        <td class="uk-text-right">Order Submitted</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Order Here -->
                <div class="uk-padding-large uk-padding-remove-top">
                    <div class="uk-margin-remove mycartpage">                                    
                        <div class="uk-grid-medium uk-child-width-expand@s uk-margin-remove" uk-grid>
                            <div class="uk-padding-remove uk-width-1-1" style="border: #BEBEBE solid 1px;">
                                <div class="uk-overflow-auto" id="mycarttable">
                                    <table class="uk-table uk-table-middle uk-table-divider uk-text-center" >
                                        <thead>
                                            <tr>                                    
                                                <th class="uk-table-expand">Product</th>
                                                <th class="uk-width-small">Price</th>
                                                <th class="uk-width-small">Quantity</th>
                                                <th class="uk-width-small">Sub Total</th>                                        
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- List of bucket limit over 5 row will scroll-->
                                            <!-- Sample product  -->
                                            <tr>                                                
                                                <!-- Img and Productname her -->
                                                <td class="uk-text-left">
                                                    <div style="display: inline-flex; padding-left: 5vw;">
                                                        <img class="uk-preserve-width " src="{{order.product.product.photo.first.file.url}}" width="100" alt="">
                                                        <h2 class="uk-margin-auto-vertical">{{order.product}}</h2>
                                                    </div>
                                                </td>
    
                                                <!-- Product price -->
                                                <td class="uk-text-truncate">฿ {{order.product.product.price}}</td>
    
                                                <!-- Quantity -->
                                                <td class="uk-text-truncate">                                                    
                                                    <p> {{order.amount}} </p>
                                                </td>
    
                                                <!-- All price -->
                                                <td class="uk-text-truncate">฿ {{order.price}}</td>    
                                            </tr>                                                             
                                        </tbody>
                                    </table>
                                </div>                                    
                            </div>                                                            
                        </div>
                    </div>
                </div>
                            
                <!-- Button zone -->
                <div class="uk-padding uk-text-center uk-padding-remove-top">
                    {% if order.status == 're' %}
                        <a href="{% url 'shop:reviewproduct' order.pk %}"><button class="uk-button uk-button-default" id="reviewbutton">Review</button></a>
                    {% else %}
                        <button class="uk-button uk-button-default" id="confirmbutt" onclick="confirmorder({{order.pk}})">Confirm Order received</button>
                    {% endif %}
                    
                </div>
            </div>
    
        </div>
        <script src="{% static 'js/axios.js' %}"></script>
        <script>
            	
            const myStepProgressBar = new Kodhus.StepProgressBar();
            myStepProgressBar.init({defaultColor: '#999', activeIndex: 0});
            function confirmorder(pk){
                axios.get(`/confirm_order/${pk}`);
                location.reload();
            }
        </script>
    </body>
{% endblock content %}