body{
    margin: 0;
    padding: 0;
    background-color: #FEFBE5 !important;
    min-height: 100vh;
}
.white-bg{
    float: middle;
    width: 86%;
    margin-left: 7%;
    background:white;
    min-height: 100vh;
    padding-top: 10%;
}
.white2-bg{
    float: middle;
    width: 86%;
    height: 5%;
    margin-top:0%;
    margin-left: 7%;
    background:white;
}
.credit-head{
    width: 65%;
    margin-left: 13%;
    background:#E3866C;
    margin-top: -5%;
    padding: 0 5%;
}
.credit-head p{
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 2% 0;
}
.credit-bg{
    width: 75%;
    margin-top:-2.5%;
    margin-left: 13%;
    background:#F7F5F5;
    padding: 5% 0%;
}
.form{
    margin-left: 25%;
    margin-top: -27%;
}
.form a{
    margin-right: 10%;
    color: #000;
}