body{
    margin: 0;
    padding: 0;
    background-color: #DBEAFD !important;
    min-height: 125vh;
}
.white-head{
    width: 100%;
    background-color: white;

}
.white-head p{
    color: black;
    padding-bottom: 3%;
}
.block{
     width: 90%;
     margin-left: 5%;
     background-color: white;
     border: solid thin #707070a2;

}
.option{
    margin-top: -7%;
    text-align: left;
    margin-left: 12%;
    font-size: 1.5em;
}
h3{
    background-color: #FFFFFF;
    width: 110%;
    margin-left: -5%;
    margin-top: -5%;
    padding: 5% 0%;
    color: #000;
    font-size: 2em;
    text-align: center;
}