body{
    margin-button: 20%;
    padding: 0;
    background: white;
}

.beaytymenu-background{
    float: middle;
    width:100%;
    height:150px;
    margin-top: 0px;
    margin-left: 0%;
    background:#DBEAFD;
}


.yellow-background{
    float: middle;
    width:100%;
    height:350px ;
    margin-top: 0px;
    margin-left: 0%;
    background:#FEFBE5;
}

.search-box{
    position: absolute;
    top: 2.5%;
    left:50%;
    transform: translate(-50%,-50%);
    background: white;
    height:50px;
    margin-top: 3.5%;
    border-radius: 40px;
    padding:10px;
    color:black;
    margin-left:0%;
}

.search-txt{
    border: black;
    background:none;
    outline:black;
    float: center;
    padding: 0;
    margin-top: -70%;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height:1px;
    text-indent:0%;
    width:400px;
    height: -100px;
         }



.search-btn{
    color:  gray;
    float:left;
    width: 40px;
    height: 27px;
    border-radius: 50%;

    background: white;
    display: flex;
    justify-content: left;
    align-items: center;
}




.chat-btn{
    color: white;
    float: right;
    width: 70 px;
    height: 70px;
    top: 5%;
    left:40%;
    border-radius:50%;
    border-color: black;
    background : white;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-right: -920%;
    display: flex;
    justify-content: center;
    align-items: right;
    }
    .heart-btn{
    color: white;
    float: left;
    width: 70 px;
    height: 70px;
    top: 5%;
    left:40%;
    border-radius:50%;
    border-color: black;
    background : #DBEAFD;
    margin-top: -200px;
    margin-left: 1050%;
    display: flex;
    justify-content: center;
    align-items: left;
    }
    .back-button {
    float:left;
    border: none;
    color: black;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin:6% 60px;
    cursor: pointer;
    }

.justforu-logo{
float: left;
margin-top: -350px;
margin-left: 0%;
}
.beauty-logo{
float: left;
margin-top: -150px;
margin-left: 0%;
}

.electronic-logo{
float: left;
margin-top: 50px;
margin-left: -20%;
}

.banner{
     float: middle;
     width:20%;
     height:-100px;
     margin-top: -315px;
     margin-left: 22.5%;
 }


.life-logo{
       float: left;
       margin-top: 250px;
       margin-left: -20%;
   }
.fashion-logo{
float: left;
margin-top: 450px;
margin-left: -20%;
}

.sport-logo{
float: left;
margin-top: 650px;
margin-left: -20%;
}

.pet-logo{
       float: left;
       margin-top: 850px;
       margin-left: -20%;
   }

.toy-logo{
             float: left;
             margin-top: 1050px;
             margin-left: -20%;
             margin-bottom: 0px;
         }

         .home-button{
            float: left;
            margin-top: 1250px;
            margin-left: -20%;
            margin-bottom: 0px;
        }

        .catagory-button{
            float: left;
            margin-top: 1250px;
            margin-left: -1.5%;
            margin-bottom: 0px;
        }

        .order-button{
            float: left;
            margin-top: 1250px;
            margin-left: -0.05%;
            margin-bottom: 0px;
        }

        .mypikpay-button{
            float: left;
            margin-top: 1250px;
            margin-left: -6.0%;
            margin-bottom: 0px;
        }




        