body{
    margin: 0;
    padding: 0;
    background-color: #FEFBE5 !important;
    min-height: 125vh;
}
.white{
    background-color: white;
    width: 85%;
    margin-left: 7.5%;
    min-height: 100vh;
}
.white-bg{
    background-color: white;
    width: 85%;
    margin-left: 7.5%;
    min-height: 3vh;
}
.home-button{
    color: black;
    font-size: 1.5em;
    margin-left: 5%;
}
.search-box{
    position: absolute;
    top: 2.5%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #F7F7F7;
    height:2vh;
    margin-top: 13%;
    border-radius: 2em;
    padding:1.5%;
    color:black;
    margin-left:0%;
    width: 75%;
}

.search-txt{
    border: black;
    background:none;
    outline:black;
    float: center;
    color: black;
    padding-left: 5%;
    padding-top: 3%;
    font-size: 1.5em;
    transition: 0.4s;
    text-indent:0%;
    margin-top: -7%;
 
}
.login{
   margin-top: 10%;

}
.login li a{
    font-size: 1.7em;
}
.b1{
    margin-left: 28%;
    margin-right: 20%;
}
.b2{
    margin-right: 20%;
}
.chat-button{
    margin-left: 0%;
    width: 100%;
    height: 7vh;
    margin-top:-2.5%;
    background:white;
    border-color: #70707060;
    border-style: solid;
    font-size: 2em;
}
.chat-button p{
    margin-left: -30%;
    margin-top: -1%;
    font-size: 0.9em;
}

.chat-img{
    margin-top: -17%;
    margin-left: 5%;
    width: 12%;
}
.status{
    background:rgb(232, 61, 45);
    border-radius:50%;	
    width:2.5%;
    height:1.5vh;
    position:absolute;
    margin-top: -13%;
    margin-left: 12%;
    color: white;
    text-align: center;

}
