body{
    margin: 0;
    padding: 0;
    background-color: #F7F7F7 !important;
    min-height: 125vh;
}
.white{
    background-color: white;
    width:100%;
    min-height: 10vh;
}
.product-link{
    background-color: #FEFBE5;
    width: 90%;
    margin-left: 5%;
    min-height: 17vh;
    margin-top: 5%;
}
.home-button{
    color: black;
    font-size: 1.5em;
    margin-left: 2%;
}
.shop-text{
    text-align: center;
    color: black;
    font-size: 1.5em;
    margin-top: -2.5%;
}
.gray-img{
    width: 30%;
    margin-top: 5%;
    margin-left: 5%;
}
.product-text{
    font-size: 1.7em;
    color: black;
    text-align: left;
    margin-left: 40%;
    margin-top: -21%;
}
.product-button{
    background-color: #ED796D;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    margin-left: 78%;
}
.chat-img{
    margin-top: 3%;
    margin-left: 5%;
    width: 8%;
}
.chat-text{
    background-color: #FFFFFF;
    padding-left: 5%;
    padding-right: 0%;
    min-width: 10%;
    width: 30%;
    padding: 3%;
    font-size: 1.3em;
    margin-left: 15%;
    border-radius: 3vh;
    margin-top: -4.2%;
}
.corner{
    width: 0;
    height: 0;
    border-top: 0.5vh solid transparent;
    border-left: 1vh solid white;
    border-bottom: 0.5vh solid transparent;
    -webkit-transform:rotate(240deg);
    margin-left: 15%;
    
}
.corner2{
    width: 0;
    height: 0;
    border-top: 0.5vh solid transparent;
    border-left: 1vh solid #57C1CF;
    border-bottom: 0.5vh solid transparent;
    -webkit-transform:rotate(-60deg);
    margin-left: 83%;
    margin-top: -11%;
    
}
.type-bg{
    width: 100%;
    height: 25vh;
    background-color: rgb(252, 244, 244);
}
.type1-bg{
    width: 100%;
    height: 15vh;
    background-color: rgb(252, 244, 244);
}
.auto-button{
    color: #ED796D;
    font-size: 1.3em;
    margin-left: 4%;
    border-radius: 3vh;
    background-color: white;
    border-color: #707070;
    border-width:thin;
    border-style: solid;
    padding: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
    
}
.open-button{
    margin-top: -30%;
    margin-left: 65%;
    background-color: white;
    padding: 2%;
    padding-left: 2%;
    padding-right: 1%;
    border-radius: 50%;
    border-style: solid;
    border-color: #707070;
    border-width: 0.1vh;
}

.quality-popup {
    display: none;
    position: fixed;
    bottom: 0;
}

.quality-container {
    margin-left: 0%;
    width:56vh;
    margin-top: 50%;
    min-height: 40vh;
    background-color:  rgb(252, 244, 244);
    border-style: solid;
    border-color: rgb(252, 244, 244);
    border-width: thin;
}

.quality-container .cancel {
    background-color: white;
    border-color: #707070;
    border-style: solid;
    border-width: thin;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 15%;
    padding: 3%;
    font-size: 1.5em;
    margin-top: 0%;
    margin-left: 0%;
}

.quality-container .btn:hover, .open-button:hover {
    opacity: 1;
}
.quality-container p b a{
    font-size: 2em;
    color: #21A2BA;
    margin-left: 42%;
    line-height: 7vh;
} 
.white-chat{
    width: 13%;
    height: 7vh;
    border-style: solid;
    border-color: #707070b6;
    border-width: 0.1vh;
    background-color: white;
    margin-left: 10%;

}
