body{
    margin: 0;
    padding: 0;
    background-color: #DBEAFD !important;
    min-height: 125vh;
}
.head{
    background-color: white;
    width: 100%;
    height: 5%;
    min-height: 10vh;
}
.head a{
    color: black;
    border-color: white;
    border-style: solid;
    font-size: 1.5em;
    margin-left: 5%;
}
.head p{
    color: black;
    border-color: white;
    border-style: solid;
    font-size: 2em;
    text-align: center;
    margin-top: -4%;
}
.white-photo{
    width: 90%;
    height: 13vh;
    margin-top:2%;
    margin-left: 5%;
    background:white;
    border-color: #707070;
    border-style: solid;
    border-width: 0.009vh;

}
.gray-img{
    width:20%;
    height:20%;
    margin-left: 7%;
    margin-top: -15.5%;
}
.border{
    border-color: #F3705A;
    border-style: solid;
    border-width: thin;
}
.add-button{
    background-color:white;
    border-color: #F3705A;
    padding: 5%;
    margin-left: 30%;
    margin-top:4%;
    font-size:1.2em;
    width:20%;
    color: #F3705A;
    /* font-weight: 600; */
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
}

.form-container {
    margin-left: -11%;
    width:63vh;
    height: 50vh;
    background-color: white;
}

.form-container .cancel {
    background-color: #F3705A;
    border-color: #707070;
    border-style: solid;
    border-width: thin;
    border-radius: 3vh;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
    padding: 5%;
    font-size: 1.5em;
    margin-top: 10%;
    margin-left: 37.5%;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
.add-pro{
    font-size: 1.9em;
    text-align: center;
    margin-left: -5%;
    color: #000;
    font-weight: bold;
    line-height: 7vh;
}
.form-container p b a{
    font-size: 2em;
    color: #21A2BA;
    margin-left: 42%;
    line-height: 7vh;
}
hr{
    margin-top: 0%;
}
.nop{
    border-color: #707070;
    border-style: solid;
    border-width: 0.009vh;
}
.photo-upload{
    font-size: 2em;
    color: #21A2BA;
    margin-left: 425%;
    line-height: 7vh;
}
.text-bg{
    width: 90%;
    height: 7vh;
    margin-top:2%;
    margin-left: 5%;
    background:white;
    border-color: #707070;
    border-style: solid;
    border-width: 0.009vh;
}
.text-width{
    margin-top: 3%;
    margin-left: 5%;
    border-color: #707070;
    border-style: solid;
    border-width: 0.009vh;
    font-size:2em; 
    padding: 5%;
}
.detail-button{
    margin-left: 5%;
    width: 90%;
    height: 7vh;
    margin-top:0%;
    background:white;
    border-color: #707070;
    border-style: solid;
    font-size: 2em;
}
.detail-button p{
    margin-top: 3%;
    text-align: left;
    margin-left: 19.5%;
}
.detail-img{
    margin-top: -15%;
    margin-left: 10%;
}
.detail-popup {
    display: none;
    position: fixed;
    bottom: 0;
}

.detail-container {
    margin-left: 0%;
    width:54.3vh;
    min-height: 100vh;
    background-color: #DBEAFD;
    border-style: solid;
    border-color: #707070;
    border-width: thin;
}

.detail-container .cancel {
    background-color: white;
    border-color: #707070;
    border-style: solid;
    border-width: thin;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 15%;
    padding: 3%;
    font-size: 1.5em;
    margin-top: 0%;
    margin-left: 0%;
}

.detail-container .btn:hover, .open-button:hover {
    opacity: 1;
}
.detail-container p b a{
    font-size: 2em;
    color: #21A2BA;
    margin-left: 42%;
    line-height: 7vh;
} 
.detail-head{
    background-color: white;
    width: 100%;
    height: 5%;
    min-height: 7vh;
}
.detail-head p{
    color: #6F6F6F;
    font-size: 2.3vh;
    margin-left: 40%;
    line-height: 5%;
    margin-top: -3%;
}
.cata-img{
    margin-top: -13%;
    margin-left: 10%;
}
.option{
    font-size: 2em;
    margin-top: -10%;
    margin-left: 20%;
}
.price-img{
    margin-top: 4%;
    margin-left: 6%;
}
.price-name{
    font-size: 2em;
    margin-top: -6%;
    margin-left: 20%;
}
.text-right{
    margin-top: -8%;
    margin-left: 80%;
}
.add-detail{
    margin-top: 3%;
    margin-left: 0%;
    border-color: #707070;
    border-style: solid;
    border-width: 0.009vh;
    font-size:2em; 
    padding: 3%;
    color: #000;
}
.white-add{
    margin-top: -1%;
    margin-left: 0%;
    border-color: #707070;
    background-color: white;
    border-style: solid;
    border-width: 0.009vh;
    height: 5.5vh;
}

.addmore-button{
    background-color: white;
    border-color: #707070;
    border-style: solid;
    border-width: thin;
    color: #6F6F6F;
    padding: 16px 20px;
    cursor: pointer;
    width: 15%;
    padding: 2%;
    font-size: 1.5em;
    margin-top: 1.5%;
    margin-left: 5%;
}
.change{
    margin-top: 3%;
    margin-left: 0%;
    border-color: #707070;
    border-style: solid;
    border-width: 0.009vh;
    font-size:2em; 
    padding: 3%;
    width: 100%;
    color: #6E6E6E;
}
.edit{
    color: #E83E2D;
    font-size: 1.8vh;
    margin-left: 90%;
    margin-top:-7%;
}
.quality-button{
    margin-left: 5%;
    width: 90%;
    height: 7vh;
    margin-top:1%;
    background:white;
    border-color: #707070;
    border-style: solid;
    font-size: 2em;
}
.quality-button p{
    margin-top: 3%;
    text-align: left;
    margin-left: 19.5%;
}
.quality-img{
    margin-top: -15%;
    margin-left: 10%;
}
.quality-popup {
    display: none;
    position: fixed;
    bottom: 0;
}

.quality-container {
    margin-left: 0%;
    width:54.3vh;
    min-height: 100vh;
    background-color: #DBEAFD;
    border-style: solid;
    border-color: #707070;
    border-width: thin;
}

.quality-container .cancel {
    background-color: white;
    border-color: #707070;
    border-style: solid;
    border-width: thin;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 15%;
    padding: 3%;
    font-size: 1.5em;
    margin-top: 0%;
    margin-left: 0%;
}

.quality-container .btn:hover, .open-button:hover {
    opacity: 1;
}
.quality-container p b a{
    font-size: 2em;
    color: #21A2BA;
    margin-left: 42%;
    line-height: 7vh;
} 
.quality-head{
    background-color: white;
    width: 100%;
    height: 5%;
    min-height: 7vh;
}
.quality-head p{
    color: black;
    font-size: 2.3vh;
    margin-left: 30%;
    line-height: 5%;
    margin-top: -3%;
}
.white-addq{
    margin-top: -1%;
    margin-left: 0%;
    border-color: black;
    background-color: white;
    border-style: solid;
    border-width: 0.009vh;
    height: 8vh;
}
.white-addq p{
    color: black;
    font-size: 1.8vh;
    margin-left: 10%;
    line-height: 5%;
    margin-top: 7.5%;
}
.checkboxQ{
    background-color: #E74C3C;
    margin-left: 47vh; 
    margin-top: -8%; 
    width: 2vh; 
    height: 2vh;
}
.done-button{
    margin-left: 9%;
    width: 45%;
    height: 7vh;
    margin-top:10%;
    background:white;
    border-color: #707070;
    border-style: solid;
    font-size: 2em;
    border-radius: 4vh;
}
.done-button p{
    margin-top: 3%;
    margin-left: 0%;
}
.del-button{
    margin-left: 28%;
    width: 45%;
    height: 7vh;
    margin-top:5%;
    background:#FF6E6E;
    border-color: #707070;
    border-style: solid;
    font-size: 2em;
    border-radius: 4vh;
}
.del-button p{
    color: white;
    margin-top: 3%;
    margin-left: 0%;
}