body{
    margin: 0;
    padding: 0;
    background-color: #FEFBE5 !important;
    min-height: 120vh;
}
.white-bg{
    float: middle;
    width: 86%;
    margin-left: 7%;
    background:white;
    min-height: 110vh;
}
.back-button a{
    color: black;
    border-color: white;
    border-style: solid;
    font-size: 1.7em;
    margin-left: 5%;
    margin-top: 5%;
}
.head{
    background-color: #E3866C;
    width: 100%;
    padding-bottom: 2%;
}
.head p{
    color: white;
    margin-left: 38%;
    padding-top: 3%;
}
.gray-img{
    margin-left: 6.5%;
    margin-top: 5%;
}
.sale-img{
    margin-top: 5%;

}