body{
    margin: 0;
    padding: 0;
    background-color: #FEFBE5 !important;
    min-height: 100vh;
}

.white-head{
    background-color: white;
    width: 100%;
    height: 10vh;
}
.close{
    background-color: white;
    margin-top: 3%;
    margin-right: 3%;
    border-style: solid;
    border-width: thin;
    border-color: #E74C3C;
}
.login{
   margin-top: -6%;

}
.login li a{
    font-size: 2em;
}
.b1{
    margin-left: 22%;
    margin-right: 20%;
}
.b2{
    margin-right: 20%;
}
.dot {
    height: 17vh;
    width:17vh ;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5%;
    margin-left: 35%;
}
.logo-img{
    width: 25%;
    margin-top: -33%;
    margin-left: 38%;
}
.add-detail{
    margin-top: 3%;
    margin-left: 0%;
    border-color: #707070;
    border-style: solid;
    border-width: 0.009vh;
    font-size:2em; 
    padding: 5%;
    color: #000;
}
.pass-detail{
    margin-top: 20%;
    margin-left: 0%;
    font-size:2em; 
    padding: 5%;
    color: #000;
    border-color: #707070;
    border-style: solid;
    border-width: 0.009vh;            }
.pass-white{
    margin-top: -0.7%;
    margin-left: 0%;
    border-color: #707070;
    border-style: solid;
    border-width: 0.009vh;
    height: 8.3vh;
    background-color: white;
}
.addmore-button{
    /* background-color: white;
    border-color: #707070;
    border-style: solid;
    border-width: thin;*/
    color: #6F6F6F;
    padding: 16px 20px;
    cursor: pointer;
    width: 30%;
    padding: 2%;
    font-size: 1.5em;
    margin-top: 0%;
    margin-left: 70%;
}
.login-button{
    margin-left: 10%;
    width: 80%;
    height: 7vh;
    margin-top:13%;
    background:#FF6E6E;
    border-color: #707070;
    border-style: solid;
    font-size: 2em;
    border-radius: 4vh;
}
.login-button p{
    color: white;
    margin-top: 3%;
    margin-left: 0%;
}
.email-img{
    width: 8%;
    margin-top: -13%;
    margin-left: 10%;
}
.email-button{
    margin-left: 5%;
    width: 90%;
    height: 5.5vh;
    margin-top:80%;
    background:white;
    border-color: #F44336;
    border-style: solid;
    border-width: 0.1vh;
    font-size: 2em;

}
.face-img{
    width: 8%;
    margin-top: -13%;
    margin-left: 10%;
}
.face-button{
    margin-left: 5%;
    width: 90%;
    height: 5.5vh;
    margin-top:0%;
    background:white;
    border-color: #3A559F;
    border-style: solid;
    border-width: 0.1vh;
    font-size: 2em;

}