body{
    margin: 0;
    padding: 0;
    background-color: #F7F7F7 !important;
    min-height: 100vh;
    padding-bottom: 10%;
}
.myCart-head{
    width: 100%;
    background-color: #007E83;
}
.home-button{
    font-size: 1.5em; 
    color: #000;
    padding: 0% 2%;
}
h2{
    text-align: center;
    color: white;
}
.product1-all-button{
    background-color: #FEFBF8;
    font-size: 1.2em;
    padding: 3% 0%;
    margin-left: -10%;
}

.product1-button{
    
}
.checkbox{
    background-color:white;
}

.container {
    display: block;
    position: relative;
    padding-left: 5%;
    cursor: pointer;
    font-size: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 4%;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
 background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #E74C3C;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 30%;
    top: 10%;
    width: 40%;
    height: 70%;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.box{
    position: absolute;
    left: 30%;
    transform: translate(-50%,-50%);
    margin-left: 26%;
}
input{
    border: none;
    outline: none;
    page-break-after: 5px;
    border-radius: 5px;
    margin: 0 5px !important ;
    padding-top: -10px;
    padding-bottom: -10px;
    border-style: solid;
    border-color: #7070704d;
    border-width: thin;
    font-size: 20px;
    color:#ED796D;


}
input:hover,
input:focus{
background-color: rosybrown;
color: saddlebrown;
}

button{
    background: white;
    color: #707070;
    border: 707070;
    outline: none;
    font-size: 25px;
    border-radius: 5px;
    padding-top: -10px;
    padding-bottom: -10px;
}
button:hover{
    background:#ED796D ;

}
.product-img{
    margin-left: 28%;
    width: 20% ;
    margin-top: -8%;
}
.product-name{
    color:black; 
    margin-left: 52%; 
    margin-top: -12%; 
    font-size: 1.4em;
}
.product-detail{
    color:black; 
    margin-left: 52%; 
    margin-top: 0%; 
    font-size: 1em;
}
.product-price{
    color:#ED796D; 
    margin-left: 52%; 
    margin-top: 0%; 
    font-size: 1.5em;
}