body{
    margin: 0;
    padding: 0;
    background-color: #F7F7F7 !important;
    min-height: 100vh;
}
.head{
    background-color: #E3866C;
    width: 100%;
}
.back-button{
    margin-left: 3%;
    font-size: 1.5em;
    color: #000;
}
.avatar img{
    width: 12%;
    margin-left: 7%;
    margin-top: -9.5%;
    padding-bottom: 3%;
}
.user{
    font-size: 2em;
    color: #FFFFFF;
    margin-left: 22%;
    font-weight:bold;
    margin-top: 5%;
}
.block{
    width: 100%;
    background-color: white;
    border: solid thin #707070a2;

}
.font{
   font-size: 3em;
   margin-left: 5%;
}
.topic{
   font-size: 1.9em;
   margin-left: 3%;
   color: #000;
}
.button{
   font-size: 1.5em;
   padding-left: 40%;
}
.font1{
   font-size: 2em;
}
.text{
   font-size: 0.9em;
   margin-left: -30%;
}
.button1{
   font-size: 1.5em;
   padding-left: 0%;
}
.text1{
   margin-left: -65%;
}