body{
    margin: 0;
    padding: 0;
    background-color: #DBEAFD !important;
    min-height: 100vh;
    padding-bottom: 10%;
}
.head{
    background-color: white;
    width: 100%;
    padding-bottom: 10%;
}
.head a{
    color: black;
    border-color: white;
    border-style: solid;
    font-size: 1.5em;
    margin-left: 5%;
    margin-top: 10%;
}
.review-text{
    margin-top:-7%;
    margin-left: 43%;
    font-size: 2.2em;
    color: #000;
}
.chat-btn{
    color: white;
    float: right;
    width: 7%;
    height: 7%;
    top: 0%;
    left:40%;
    border-radius:50%;
    border-color: black;
    background : white;
    margin-top: -7%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: right;
}
.b1{
    margin-left: 4%;
    margin-right: 3%;
    
}
.b2{
    margin-right: 3%;
}
.b3{
    margin-right: 3%;
}
.b4{
    margin-right: 3%;
}
.search{
    padding-left: 70%;
    margin-top: -8%;
}
.white-head{
    background-color: white;
    width: 90%;
    min-height: 5vh;
    margin-left: 5%;
}
.white-head img{
    padding-left: 5%;
    padding-top: 1.5%; 
    width: 12%;
}
.white-head p{
    font-size: 1.7em;
    color: black;
    margin-left: 18%;
    margin-top: -6%;
}
.product-bg{
    background-color: white;
    width: 40%;
    height: 35vh;
    margin-top: 5%;
    margin-left: 7%;
}
.gray-img{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
}
.product-bg p{
    font-size: 1.7em;
    margin-left: 10%;
}
.font-yet{
    font-size: 3em;
    color:#5FC141 ;
    margin-right: 10%;
    margin-left: 4%;
}
.font-not{
    font-size: 3em;
    color:#E4E4E4;
    margin-right: 10%;
    margin-left: 4%;
}
.status{
    margin-left: 5%;
    margin-right: 7%;
}
.th-head{
    color: #6F6F6F;
    font-size: 1.2em;
    padding: 2% 2%;
}
.td{
    color: #000;
}