body{
    margin: 0;
    padding: 0;
    background-color: white !important;
    min-height: 100vh;
    padding-bottom: 10%;
}
.back-button{
    padding-top: 5%;
    color: #000;
    font-size: 1.5em;
    margin-left: 2%;
}
.order-title{
    padding-left: 65%;
    font-size: 1.7em;
    margin-top: -45%;
}
.detail-text{
    padding-left: 5%;
    font-size: 1.7em;
    margin-top: 7%;
} 
.gray-detail{
    width: 45%;
    margin-left: 5%;
    margin-top: 5%;
}
.trackid{
    margin-top: -50%;
}
.tracknum{
    width: 25%;
    height: 3vh;
    border-style: solid;
    border-color: white;
    border-width: 0.01vh;
    background-color: rgba(77, 207, 224, 0.651);
    color: white;
    margin-top: -7.5%;
    margin-left: 63%;
}