body{
    margin: 0;
    padding: 0;
    background-color: #FEFBE5 !important;
    min-height: 100vh;
}
.head{
    background-color:#FFFFFF;
    width: 100%;
}
.back-button{
    margin-left: 3%;
    font-size: 1.5em;
    color: #000;
}
.avatar img{
    width: 12%;
    margin-left: 7%;
    margin-top: -9.5%;
    padding-bottom: 3%;
}
.text-head{
    font-size: 2.5em;
    color: black;
    font-weight:bold;
    margin-top: 0%;
    text-align: center;
    padding-bottom: 3%;
}
.block{
    width: 90%;
    background-color: white;
    border: solid thin #707070a2;
    margin-left: 5%;

}
.font{
   font-size: 3em;
   margin-left: 5%;
}
.topic{
   font-size: 1.9em;
   margin-left: 3%;
   color: #FF6E6E;
}
.button{
   font-size: 1.5em;
   padding-left: 40%;
}
.font1{
   font-size: 2em;
}
.text{
   font-size: 0.9em;
   margin-left: -30%;
}
.button1{
   font-size: 1.5em;
   padding-left: 0%;
}
.text1{
   margin-left: -65%;
}
.amount{
    color: black; 
    margin-left: 2%;
    font-size: 1.8em;
}
.auto{
    font-size: 1.3em; 
    text-align: right;
    margin-top: -3%;
    color: #E4E4E4;
}