body{
    margin: 0;
    padding: 0;
    background-color: #FEFBE5 !important;
    min-height: 100vh;
}
.gray-bg{
    float: middle;
    width: 86%;
    margin-top:5%;
    margin-left: 7%;
    background:#F7F5F5;
    min-height: 100vh;
}
.white-bg{
    float: middle;
    width: 86%;
    margin-top:5%;
    margin-left: 7%;
    background:white;
    min-height: 100vh;
    border-style:solid;
    border-color: #70707048;
    border-width: thin;
    
}
.white-bg li a{
    font-size: 2em;
}
.b1{
    margin-left: 7%;
    margin-right: 20%;
}
.b2{
    margin-right: 20%;
}
.date{
    color:#707070;
    font-size: 0.8em;
    margin-left: 5%;
}
.gray-img{
    width:20%;
    height:15%;
    margin-left: 25%;
    margin-top: -15%;
    
}
.name{
    color:#707070;
    font-size: 0.8em;
    margin-left: 50%;
    margin-top: -16%;
}
.buy-button{
    background-color: white;
    border-color: #57BD37;
    border-style: solid;
    padding: 1%;
    margin-left: 67%;
    margin-top: -10%;
    width: 7%;
    border-width: thin;
}
.buy-button a{
    font-size: 10em;
    color: #57BD37;
    margin-left: 10%;
}
.detail-button{
    background-color: white;
    border-color: #5CF6FC;
    border-style: solid;
    padding: 1%;
    margin-left: 78%;
    margin-top: -8%;
    width: 7%;
    border-width: thin;
}
.detail-button a{
    font-size: 10em;
    color: #5CF6FC;
    margin-left: -20%;
}
.cancel-button{
    background-color: white;
    border-color: #DF866E;
    border-style: solid;
    padding: 1%;
    margin-left: 89%;
    margin-top: -5.5%;
    width: 7%;
    border-width: thin;
}
.cancel-button a{
    color: #DF866E;
    margin-left: -30%;
}
.track-button{
    background-color: white;
    border-color: #DF866E;
    border-style: solid;
    padding: 1%;
    margin-left: 83%;
    margin-top: -5.5%;
    width: 7%;
    border-width: thin;
}
.track-button a{
    color: #DF866E;
    margin-left: -45%;
}
hr{
    margin-top: 10%;
}
.profile-img{
    padding-top: 30%;
    width: 100%;
}