button {
    border: none; 
    background-color: white;
}

.footer,
.push {   
    background-color: #464343 !important;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3vh;
}

#manubar {
    height: max-content;
    background-color: white;
}

#icon {
    font-size: 26px;    
    color: black;
}

#font {
    font-size: 20px;    
    color: black;
    margin: 0px;
}

#menu {
    font-size: 20px;    
    color: black;
    margin: 0px;
    padding-right: 1vw;
    border-right: 2px solid black;
}

#searchbar {
    height: 15vh;
    padding: 5px 10px;
    background-color: white;
    border: 0px;
}

#searchbar h1 {
    font-weight: 500;
}

#searchbar input{
    margin: 0px;
}

#category {
    margin: 0px;
    padding: 10px 10px;
}

#searcbarmanu {
    margin: 0px;
    padding: 10px 10px;
    color: #0D0D0D;
    font-size: 1.8rem;
    transition: 0.5s;
}

#searcbarmanu:active {
    color: #FF5F5F;
    padding-top: 20px;
    transition:0.1s;
}

#category ul {
    display:table;
    width:100%;
}
#category li {    
    display:table-cell;
}

#rightsearchbar li {
    font-size: 40px;
    padding: 0px 20px;
}

.searchbox {
    position: relative;
    height: 100%;
    margin: 10px;
    border-radius: 20px;
}

.searchbox button {
    float: right;   
    height: 2rem;
    background: #F77575;
    font-size: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-style: none;
    cursor: pointer;
}

.searchbox input[type=text] {
    float: left;
    height: 2rem;
    padding: 0px 10px;
    background-color: #E6E6E6;
    font-size: 20px;
    border-style: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.searchbox i {
    font-size: 20px;
}

.searchbox button:hover {
    background: #ffa3a3;
}

.profile {
    background-color: #ffffff;
    min-height: 100vh;
    width: 90%;
}

.profilepic img {
    border-radius: 50%;
}

#usernameprofile {
    font-size: 28px;
    color: #EB8585;
    margin-bottom: 2%;
}

#memberstatus {
    font-size: 24px;
    color: #7E7E7E;
    margin-top: 2%;
}

.wordWrap {
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}

.profileicon {
    font-size: 24px;
    color: #5F5858 ;
    transition: 0.3s;
}

.profileicon:hover {
    color: #FF5F5F ;
    padding-left: 5%;
    transition: 0.3s;
}

.inpage {
    color: #EDA7A7 !important;
}

.showitem {
    background-color: white;
    width: 80%;
    height: 100%;
   
}

.showitem h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

.selectform select{
    background-color: #FFFFFF;
    border-color: #F2CACA;
}

.mycart {
    position: absolute;
    z-index: 1000;
    right: 0px;
    width: 20vw;
    height: max-content;
    background-color: #FFFFFF;
    border: #BFB5B5 solid 1px;
}

.mycart #top {
    background-color: #007E83;
    padding: 5px 0px;
}

.mycart #top h1{
    color: #FFFFFF;
    font-size: 28px;
    text-align: center;
    margin-bottom: 0px;
}

.mycart #item {
    min-height: 30vh;
    max-height: 50vh;
    background-color: #FFFFFF;
    overflow: auto;
}

.mycart #item::-webkit-scrollbar-track {
    border-left: 1px solid #FF5F5F;
    border-right: 1px solid #FF5F5F;
	background-color: #FFFFFF;
}

.mycart #item::-webkit-scrollbar {
	width: 10px;
	background-color: #FFFFFF;
}

.mycart #item::-webkit-scrollbar-thumb {
	background-color: #FF5F5F;
	border: 2px solid #FF5F5F;
}

.mycart #item ul li {
    list-style-type:none;
    padding: 10px 15px;
    margin: 0px !important;
    border-bottom: #BFB5B5 1px solid;
}

.mycart #item #img1{ 
    max-height: 5rem;
    max-width: 5rem;
    margin-right: 1rem;
}

.mycart #item h1{ 
    display: inline;
    color: #676767;
    font-size: 16px;
}

.mycart #item h2{ 
    display: inline;
    color: #DB4848;
    font-size: 20px;
}

.mycart #item p{ 
    display: inline;
    color: #000000;
    font-size: 18px;
    padding: 0px 15px;
}

.mycart #item button{ 
    background-color: #EBEBEB;
    color: #676767;
    font-size: 16px;
}

.mycart #item button:active { 
    background-color: #D8D8D8;
    
}

.mycart #bottom {
    background-color: #F8F8F8;
    max-width: 20vw;
    padding: 10px;
    font-size: 16px;
    text-align: left;
}

.mycart #bottom a{
    width: max-content;
    margin-top: 2rem;
    background-color: #DB4848;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
}

.mycart #bottom h1 {
    display: inline;
    text-align: left;
    color: #575757;
    font-size: 16px;
}

.mycart #bottom p {
    display: inline;
    color: #DB4848;
    font-size: 16px;
}

.banner a {
    background-color: #C4C4C4 transparent;
    color: #000000;
    font-size: 20px;
}

#selected {
    font-size: 24px;
    color: #FF5F5F;
    padding-left: 5%;
}

#addressbutton {
    color: #7B7777;
    background-color: #EAEAEA;
}

#addressform div{
    margin-top: 2vh;
}

#addressform legend {
    color: #5C5454;
    font-size: 28px;
}

#addressform label {
    color: #5C5454;
    font-size: 20px;
    max-width: 10vw;
} 

#addressform input {
    border: #F2CACA solid 1px;
    max-width: 20vw;
} 

#addressform select {
    border: #F2CACA solid 1px;
    max-width: 20vw;
} 

#addressform textarea {
    border: #F2CACA solid 1px;
    max-width: 20vw;
} 

#addressform button {
    color: #FFFFFF;
    font-size: 18px;
    padding: 5px 10px;
    background-color: #F47969;
}

#addresscard {
    background-color: #FFFFFF;
    border: #FF7A7A solid 1px;
}

#addresscard:hover {
    border: #FF7A7A solid 3px;
}

#addresscard i {
    color: black;
}

#saveaddress {
    background-color: #FF7A7A;
    color: #FFFFFF;
}

#saveprofile {
    color: #FFFFFF;
    font-size: 20px;
    background-color: #F26E4F;
    padding: 13px;
    border-radius: 13px;
}

#itemcard {
    display: block;
    font-size: 18px;
    padding: 2px;
    height: 100%;
}

#itemcard .uk-card {
    height: 99%;
    border: #E3E3E3 solid 1px;
}

#itemcard{
    transform: scale(1);
    transition: 0.2s;
}

#itemcard:hover{
    transform: scale(0.95);
    transition: 0.2s;
}

.containitem {
    background-color: #ffffff;
    height: 90%;
    width: 90%;
    padding: 3vh 3vw;
}

#plist li::before{
    color: #E56B6B;
    font-size: 22px;
}

#plist a{
    color: #E56B6B;
    font-size: 22px;
}

.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
    content: ">" !important;
    display: inline-block;
    margin: 0 10px !important;
}

#mainimg img{
    width: 100%;
}

#subimg{
    width: 100%;
    margin: 2vh 1vw;
}

#subimgnav{
    background-color: black;
    opacity: 0.25;
    color: #FFFFFF;
    width: max-content;
    height: max-content;
}

#subimgnav:hover{
    background-color: black;
    opacity: 0.7;
    color: #FFFFFF;
}

.productdetail {
    text-align: left;
}

.productdetail h1{
    color: #000000;
    font-size: 2.5rem;
    font-weight: bold;
}

.productdetail h2{
    color: #DE4C4C;
    font-size: 2.2rem;
    font-weight: bold;
    background-color: #F4F4F4;
    max-width: 100%;
    padding: 2vh 2vw;
    margin-top: 9vh;
}

.productdetail h3{
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    
}

.productdetail h4{
    color: #7C7C7C;
    font-size: 2rem;
    font-weight: bold;
}

#additem {
    margin-top: 3vh;
    font-size: 2rem;
    color: #000000;
}

#additem p {
    margin: 0 20px;
    font-size: 2rem;
}

#additem button{
    font-size: 2rem;
    font-weight: bold;
    background-color: #EBEBEB;
}

#additem button:hover{
    background-color: #D8D8D8;
    transition: 0.2s;
}

#adddetail {
    width: 100%;
}

#adddetail button{
    text-align: left;
    font-size: 1.5rem;
    width: 100%;
    padding: 20px 25px;
}

#adddetail i{
    position: absolute;
    align-items: center;
    right: 20px;
    top: 1.75rem;
}

.detailform legend{
    font-size: 1.5rem;
    margin-bottom: 2vh;
}

.detailform #label1 label{
    display: inline-block;
    background-color: #EB7773;
    border: #EB7773 solid 1px;
    color: #FFFFFF;
    font-size: 1.2rem;
    text-align: center;
    width: 150px;
    padding: 10px;
    transition: all 0.3s;
}

.detailform #label2 label{
    display: inline-block;
    background-color: #EB7773;
    border: #EB7773 solid 1px;
    color: #FFFFFF;
    font-size: 1.2rem;
    text-align: center;
    width: 50px;
    padding: 10px;
    transition: all 0.3s;
}

.detailform label:hover{
    background-color: #E74C3C;
    transform: scale(1.02);
    transition: all 0.3s;
}

.detailform #label1 input[type="radio"] {
    display: none;
}

.detailform #label1 input[type="radio"]:checked + label {
    background-color: #E74C3C;
    border: #000000 solid 1px;
}

.detailform #label2 input[type="radio"] {
    display: none;
}

.detailform #label2 input[type="radio"]:checked + label {
    background-color: #E74C3C;
    border: #000000 solid 1px;
}

.detailform #divider {
    margin: 1vh 0;
    border-bottom: #666666 solid 1px;
}

#submitproduct {
    background-color: #EB7773;
    border: #EB7773 solid 1px;
    color: #FFFFFF;
    font-size: 1.2rem;
    margin-top: 3vh;
    padding: 10px 20px;
}

#submitproduct:hover{
    background-color: #E74C3C;
    transform: scale(1.02);
    transition: all 0.3s;
}

#cancelproduct {
    background-color: #777777;
    border: #777777 solid 1px;
    color: #FFFFFF;
    font-size: 1.2rem;
    margin-top: 3vh;
    padding: 10px 20px;
}

#cancelproduct:hover{
    background-color: rgb(70, 70, 70);
    transform: scale(1.02);
    transition: all 0.3s;
}

#buynowbut {
    background-color: #FFE241;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    padding: 20px 30px;
    transition: all 0.3s;
}

#buynowbut:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

#addcartbutt {
    background-color: #FF9124;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    padding: 20px 0;
    transition: all 0.3s;
}

#addcartbutt:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

#favbutt {
    font-size: 3rem;
}

#morebutt {
    font-size: 3rem;
    color: #FFFFFF;
    background-color: #DEDADA;
    border-radius: 50%;
}

.shopdetail {
    max-width: 100%;
    border: #C4C4C4 solid 1px;
}

.shopdetail #shopname h4{
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2vh;
}

#btt1 {
    color: #7C7C7C;
    background-color: #DBF2F2;
    padding: 8px 25px;
    margin-right: 1vw;
    font-size: 1.3rem;
    transition: all 0.3s;
}

#btt1 i {
    color: #FFFFFF;
    align-self: center;    
    background-color: #62BFCB;
    padding: 3px;
    border-radius: 50%;
}

#btt1:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

#btt2 {
    color: #7C7C7C;
    background-color: #E2E2E2;
    padding: 8px 25px;
    font-size: 1.3rem;
    transition: all 0.3s;
}

#btt2:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.shopsubdetail h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #DE4C4C;
}

.shopsubdetail h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #646363;
    margin: 0px;
}

.productdescription {
    margin-top: 3vh;
    max-width: 100%;
    border: #C4C4C4 solid 1px;
}

.productdescription h1 {
    padding: 2vh 2vw;
    font-size: 1.5rem;
    border-bottom: #E74C3C solid 0.5px;
}

.productdescription p {
    padding: 2vh 2vw;
    border-top: #666666 solid 0.5px;
}

.productreview {
    margin-top: 3vh;
    padding-bottom: 5vh;    
    max-width: 100%;
    border: #C4C4C4 solid 1px;
}

.productreview h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4DCFE0;
    opacity: 0.66;
    padding: 1.5vh 0px;
    margin: 0px;
}

#reviewcontain {
    padding: 2vh 2vw;
    max-width: 100%;
    border-bottom: #666666 solid 0.2px;
}

#reviewcontain button {
    float: right;
    color: #6F6F6F;
    background-color: rgb(231, 76, 60, 0.1) ;
}

#usernameproduct{
    font-size: 1.2rem;
    font-weight: 700;
    color: #6F6F6F;
    margin: 0px;
}

#usernameproductimg {
    max-width: 55px;
    max-height: 55px;
}

.star{ 
    color: #FFE241;
}

.starchecked {
    color: #FFE241;
    font-weight: bold;
}

#reviewimg img{
    height: 100px;
    width: 100px;
}

ul#reviewimg li {
    display:inline;
}

#addcard {
    transition: all 0.3s;
}

#addcard:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

#addcard h3 {
    text-align: center;
    color: #FA9999;
    font-size: 1.5rem;
    transition: all 0.3s;
}

#card i{
    font-size: 2rem;
}

#card h3{
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px 3vw;
}

#card a {
    text-align: right;
}

#addcardform legend{
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: #575757 solid 1px;
    margin-bottom: 2vh;
}

#addcardform .uk-form-label{
    font-size: 1.1rem;
}

#confirmbutt {
    background-color: #F47969;
    color: #FFFFFF;
}

#nametag {
    color: #5C5454;
    margin-bottom: 0px;
}

#price {
    color: #EB8585;
    margin: 0px;
    text-decoration: none;
}

.odercontain {
    min-width: 100%;
    background-color: #FFFFFF;
    border: #ACA8A8 solid 1px;
}

#headorder li a{
    font-size: 2rem ;
    color: #5C5454;
    font-weight: 500;
}

#headorder .uk-active a{
    font-size: 2rem;
    color: #FA9999 ; 
}

#scrollbarorder {
    height: 80vh;
    overflow: auto;
}

#scrollbarorder::-webkit-scrollbar-track {
	border: 1px solid #FF5F5F;
	background-color: #FFFFFF;
}

#scrollbarorder::-webkit-scrollbar {
	width: 10px;
	background-color: #FFFFFF;
}

#scrollbarorder::-webkit-scrollbar-thumb {
	background-color: #FF5F5F;
	border: 2px solid #FF5F5F;
}

.orderlist li{
    padding: 10px;
    border-bottom: #ACA8A8 solid 1px;
}

#textorder {
    height: 100%;
    line-height: 100px;
    text-align: left;
}

#textorder p{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#itemorder {
    padding-left: 1vw;
    margin: 0px;
}

#paybutt {
    color: #71C661;
    padding: 5px 15px;
    border: #71C661 solid 1px;
    transition: all 0.3s;
}

#paybutt:hover {
    color: #FFFFFF;
    background-color: #71C661;
    border: #71C661 solid 1px;
    transform: scale(1.1);
    transition: all 0.3s;
}

#trackbutt {
    color: #FA9999;
    padding: 5px 15px;
    border: #FA9999 solid 1px;
    transition: all 0.3s;
    margin-left: 1vw;
}

#trackbutt:hover {
    color: #FFFFFF;
    background-color: #FA9999;
    border: #FA9999 solid 1px;
    transform: scale(1.1);
    transition: all 0.3s;
}

#detailbutt {
    color: #5CD3FE;
    padding: 5px 15px;
    border: #5CD3FE solid 1px;
    transition: all 0.3s;
    margin-left: 1vw;
}

#detailbutt:hover {
    color: #FFFFFF;
    background-color: #5CD3FE;
    border: #5CD3FE solid 1px;
    transform: scale(1.1);
    transition: all 0.3s;
}

#cancelbutt {
    color: #FF2727;
    padding: 5px 15px;
    border: #FF2727 solid 1px;
    transition: all 0.3s;
    margin-left: 1vw;
}

#cancelbutt:hover {
    color: #FFFFFF;
    background-color: #FF2727;
    border: #FF2727 solid 1px;
    transform: scale(1.1);
    transition: all 0.3s;
}

#baseicon {
    transition: all 0.3s;
}

#baseicon:hover {
    transform: scale(0.9);
    transition: all 0.3s;
}

#hotproduct {
    background-color: #D8EAFF;
    padding: 6vh 2vw;
    z-index: 1;
}

#hotproductimg{
    z-index: 2;
   height: 10vh;
   margin-top: -11vh;
}

#flashsalehead {
    position: relative;
    height: 8vh;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: #BF3535 solid 5px;
    padding-top: 2vh;
    z-index: 2;
}

#flashsalehead i {
    position: absolute;
    left: 1vw;
    top: 3vh;
    height: max-content;
    color: #1D1D1D;
    font-size: 4rem;
    font-weight: 500;
    margin: 0px;
    
}

#flashsalehead h1{
    position: absolute;
    left: 5vw;
    top: 3vh;
    height: max-content;    
    color: #1D1D1D;
    font-size: 3rem;
    font-weight: 500;
    margin: 0px;
}

#flashsalehead h2{
    position: absolute;
    right: 1.5vw;
    top: 4vh;
    height: max-content;
    color: #1D1D1D;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0px;
}

#flashsalecountdown span{
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: 300;
}

#subcount {
    background-color: #504949;
    padding: 5px 8px;
    border-radius: 25%;
    margin-left: 10px;
}

#flashsalebody {
    background-color: #FFFFFF;
    margin-top: -1vh;
    padding: 3vh 2vw;
    z-index: 1;
}


#itemcardflashsale {
    display: block;
    position: relative;
    font-size: 18px;
    padding: 2px;
    height: 100%;
}

#itemcardflashsale .uk-card {
    height: 99%;
    background-color: #F4F0F0;
    border: #E3E3E3 solid 1px;
}

#flashsaleban {
    position: absolute;
    right: 0px;
    top: 0px;
}

#itemcardflashsale{
    transform: scale(1);
    transition: 0.2s;
}

#itemcardflashsale:hover{
    transform: scale(0.95);
    transition: 0.2s;
}

#besthead {
    width: 100%;
    padding: 3vh 0px;
    background-color: #882727;
}

#besthead h1{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    background-color: #882727;
    text-align: center;
    margin: 0px;
}

#besthead span{
    height: 2vh;
    background-color: #FFFBE3;
}

#bestbody {
    background-color: #FFFFFF;
    padding: 2vh 2vw;
    border-bottom: #882727 solid 5vh;
}

#goldbann {
    position: relative;
}

#goldbann span img{
    position: absolute;
    right: -13%;
    top: -13%;
}

#silbronban {
    position: relative;
    width: 100%;
}

#silbronban span img{
    position: absolute;
    right: -8%;
    top: -8%;
    z-index: 10;
}

#cataegoryblock img{
    transition: all 0.3s;
}

#cataegoryblock a img:hover{
    transform: scale(0.9);
    transition: all 0.3s;
}

.mycartpage {
    background-color: #FFFFFF;
    min-height: 20vh;
}

#mcbar {
    border: #D0BEBC solid 1px; 
    background-color: #D0BEBC;
    height: 4px;
    width: 10vw;
}

#mycarttable {
    width: 100%;
    max-height: 75vh;
}

#mycarttable thead {
    background-color: #F7F7F7;
}

#mycarttable th {
    color: #464646;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

#mycarttable h2{
    padding-left: 2vw;
    font-size: 1rem;
    margin: 0px;
}

#mycarttable p{
    padding: 0px 1vw;
}


#mycarttable button{
    background-color: #D8D8D8;
    transition: all 0.3s;
}


#mycarttable tbody tr:hover{
    background-color: #FFFBE3;
    transition: all 0.3s;
}

#mycarttable i{
    font-size: 2rem;
}

#qbutt {
    padding: 2px 5px;
    height: 1.2rem;
    vertical-align: middle;
}

#qbutt i {
    font-size: 0.9rem;
}

#qbutt:hover {
    background-color: #D8D8D8;
    cursor: pointer;
}

#summycart th {
    color: #464646;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

#summycart thead {
    background-color: #F7F7F7;
}

#summycart {
    border-bottom: #BEBEBE solid 1px;
}

#cfbutt {
    background-color: #FF215D; 
    font-size: 1.2rem; 
    color: #FFFFFF; 
    padding: 5px 30px; 
    border-radius: 10px;
    transition: all 0.3s;
}

#cfbutt:hover {
    transform: scale(0.95);
    transition: all 0.3s;
}

#shippinginformation h1 {
    color: #FF6E6E;
    font-size: 2rem;
}

#shippinginformation h1 i{
    color: #FF6E6E;
    font-size: 3rem;
    padding-right: 1vw;
}

#shippinginformation h2 {
    color: #000000;
    font-size: 1.5rem;
}

#shippinginformation .uk-radio:checked{
    background-color: #FF6E6E;
}

#confirmshipping h1 {
    font-size: 1.8rem;
    font-weight: 700;
}

#shipprice {
    color: #FF7A7A;
}

#backbutton {
    background-color: #EAEAEA;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 4px 30px;
    transition: all 0.3s;
}

#backbutton:hover {
    transform: scale(0.9);
    transition: all 0.3s;
    cursor: pointer;
} 

#confirmbutt {
    background-color: #FF5F5F;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 4px 30px;
    transition: all 0.3s;
}

#confirmbutt:hover {
    transform: scale(0.9);
    transition: all 0.3s;
    cursor: pointer;
} 

#trackdata h1{
    color: #505050;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}

#trackdata h4{
    color: #505050;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}

#trackdata p{
    color: #9F9F9F;
    font-size: 1rem;
    font-weight: 200;
    margin: 0px;
}

#tracktable td{
    padding-top: 0px;
    padding-bottom: 5px;
}

.tracking li {
   list-style-type: none;
   float: left;
   width: 20%;
   position: relative;
   text-align: center;
}

.tracking li::before {
    content: '';
    line-height: 30px;
    width: 30px;
    height: 30px;
    background-color: #D3D3D3;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
}

.tracking li::after {
    content: '';
    position: absolute;
    width: 95%;
    height: 2px;
    background-color: #D3D3D3;
    top: 15px;
    left: -50%;
}

.tracking li:first-child::after {
    content: none;
}

#active {
    color: #55D345;
}

#active::before {
    background-color: #55D345;
}

#active + li::after{
    background-color: #55D345;
}

#reviewbutton {
    background-color: #60BCFF;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 4px 30px;
    margin-left: 5vw;
    transition: all 0.3s;
}

#reviewbutton:hover {
    transform: scale(0.9);
    transition: all 0.3s;
    cursor: pointer;
} 

.sellerverify h1{
    color: #383838;
    font-size: 3rem;
    font-weight: 500;
    margin: 0px;
}

.sellerverify i{
    color: #C15E57;    
    font-size: 5rem;
}

.sellerverify h3{
    color: #C15E57;
    font-weight: 700;    
    font-size: 3rem;
    margin: 0px;
}

.sellerverify .logosellver {
    margin-right: 5vw;
}

.formseller {
    background-color: #FAFAFA;
    margin-top: 10vh !important;
    min-height: 20vh;
}

.formseller label {
    color: #984D4D;
    font-weight: bold;
    font-size: 2rem;
}

#cancelsvbutt {
    color: #717171;
    background-color: #FAFAFA;
    font-size: 2rem;
    font-weight: bold;
    padding: 1vh 3vw;
    margin-right: 3vw;
    transition: all 0.3s;
}

#cancelsvbutt:hover {
    background-color: #717171;
    color: #FFFFFF;
    transition: all 0.3s;
    cursor: pointer;
}

#confirmsvbutt {
    color: #AB544D;
    background-color: #FAFAFA;
    font-size: 2rem;
    font-weight: bold;
    padding: 1vh 3vw;
    margin-right: 3vw;
    transition: all 0.3s;
}

#confirmsvbutt:hover {
    background-color: #AB544D;
    color: #FFFFFF;
    transition: all 0.3s;
    cursor: pointer;
}

.sellernavbar {
    height: 15vh !important;
    background-color: #F8F8F8;
    padding: 5px 10px;
}

.sellernavbar h1 {
    color: #674747;
    font-weight: 500;
    transition: all 0.3s;
}

.sellernavbar a:hover {
    text-decoration: none !important;
}

.sellernavbar h1:hover{
    color: #50E5F8;
    transition: all 0.3s;
}

.sellernavbar h2 {
    color: #674747;
    font-weight: 500;
    margin-left: 4vw;
    transition: all 0.3s;
}

.sellernavbar h2:hover{
    color: #50E5F8;
    transition: all 0.3s;
    cursor: pointer;
}

#stnameh {
    color: #939393;
    font-size: 1.5rem;
    font-weight: bold;
}

#stnameb i{
    color: #939393;
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 1vw;
}

#stnameb {
    color: #000000;
    font-size: 1.3rem;
    background-color: #FFFFFF;
    border: #D0C5C5 solid 1px;
    padding: 1vh 2vw;
}

#shophomedetail i {
    color: #939393;
    font-size: 3rem;
}

#shophomedetail p {
    color: #E67373;
    font-size: 1.3rem;
    font-weight: 600;
}

#shophomereview2 {
    overflow: auto;
    margin-top: 0px;
    max-height: 100vh;
}

#shophomereview2::-webkit-scrollbar-track {
    border-left: 1px solid #50E5F8;
    border-right: 1px solid #50E5F8;
	background-color: #FFFFFF;
}

#shophomereview2::-webkit-scrollbar {
	width: 10px;
	background-color: #FFFFFF;
}

#shophomereview2::-webkit-scrollbar-thumb {
	background-color: #50E5F8;
	border: 2px solid #50E5F8;
}

#shophomereview h2 {
    color: #5D5D5D;
    font-weight: bold;
    margin: 0px;
}

#headreviewdata {
    background-color: #E6E6E6; 
    color: #5D5D5D;
    font-weight: bold;
}

#reviewcard {
    border: #F1F0F0 solid 1px;
}

#reviewcardhead {
    background-color: #F7F7F7;
    border-bottom: #F1F0F0 solid 1px;
}

#reviewcardhead img {
    height: 30px !important;
    width: 30px !important;
}

#reviewcardhead h1 {
    font-size: 1rem;
    padding-left: 1vw;
}

#reviewpic {
    height: 10vh;
    width: 10vh;
    margin-right: 1vw;
}

#headorderseller {
    padding-bottom: 1vh;
    border-bottom: #707070 solid 3px;
}

#headorderseller a {
    color: #674747;
    font-size: 1.8rem;
    font-weight: bold;
}

#headorderseller .uk-active a{
    color: #FF5858;
}

#scrollbarordersellser {
    height: 80vh;
    overflow: auto;
}

#scrollbarordersellser::-webkit-scrollbar-track {
	border: 1px solid #50E5F8;
	background-color: #FFFFFF;
}

#scrollbarordersellser::-webkit-scrollbar {
	width: 10px;
	background-color: #50E5F8;
}

#scrollbarordersellser::-webkit-scrollbar-thumb {
	background-color: #50E5F8;
	border: 2px solid #50E5F8;
}

#listordersellerhead {
    width: 85%;
    background-color: #E6E6E6;
    padding: 1vh 2vw;
    margin: 2vh auto;
}

#listordersellerhead h1 {
    color: #797979;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px;
}

#listordersellercard {
    width: 90%;
    margin: 1vh auto !important;    
    padding: 0px;
    border: #F1F0F0 solid 1px;
}

#listordersellercardhead {
    background-color: #F7F7F7;
}

#listordersellercardhead img {
    height: 30px !important;
    width: 30px !important;
}

#listordersellercardhead h1 {
    font-size: 1rem;
    padding-left: 1vw;
} 

#listordersellercard h2 {
    color: #797979;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0px;
}

#listordersellercard h3 {
    color: #797979;
    font-size: 1rem;
    margin: 0px;
}

#itemproduct img {
    width: 10vh !important;
    height: 10vh !important;
}

#cfshipment button{
    color: #797979;
    font-size: 1.1rem;
    font-weight: bold;
    border: #797979 solid 1px;
}

#cfshipment button:hover {
    color: #FFFFFF;
    background-color: #50E5F8;
    border: #50E5F8 solid 1px;
    cursor: pointer;
}

#dtshipment button{
    color: #797979;
    font-size: 1.1rem;
    font-weight: bold;
    border: #797979 solid 1px;
}

#dtshipment button:hover {
    color: #FFFFFF;
    background-color: #FF8484;
    border: #FF8484 solid 1px;
    cursor: pointer;
}

#listorderforseller {
    max-height: 80vh;
    overflow: auto;
}

#listorderforseller::-webkit-scrollbar-track {
	border: 1px solid #50E5F8;
	background-color: #FFFFFF;
}

#listorderforseller::-webkit-scrollbar {
	width: 10px;
	background-color: #50E5F8;
}

#listorderforseller::-webkit-scrollbar-thumb {
	background-color: #50E5F8;
	border: 2px solid #50E5F8;
}

#sellerorder h1 {
    color: #FF8484;
    font-size: 1.8rem;
    font-weight: bold;
}

#sellerorder h2 {
    color: #505050;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 3vh;
}

#sellerorder p {
    color: #8E8D8D;
    font-size: 1.2rem;
    margin: 0px;
}

#sellerorder input {
    color: #8E8D8D;
    font-size: 1.2rem;
    margin-right: 1vw;
}

#ordershipmentbutt {
    color: #FF5050;
    background-color: #FFFFFF;
    border: #FF5050 solid 1px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 10px;
    margin-left: 2vw;
    transition: all 0.3s;
}

#ordershipmentbutt:hover {
    color: #FFFFFF;
    background-color: #FF5050;
    cursor: pointer;
}

#orderamount h1 {
    color: #6F6F6F;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1vh auto;   
}

#productseller {
    padding-bottom: 1vh;
    border-bottom: #A3A3A3 solid 1px;
}

#productseller a {
    color: #674747;
    font-size: 1.8rem;
    font-weight: bold;
}

#productseller .uk-active a{
    color: #00D8FF;
}

#productseller li {
    padding-left: 0px;
}

#productseller h1 {
    color: #674747;
    font-size: 1.5rem;
    font-weight: bold;
}

.productstockcard {
    border: #C7C7C7 solid 1px;
}

.productstockcard h2 {
    color: #363636;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 1vh;
    margin-bottom: 0px;
}

.productstockcard h3 {
    color: #FF3B3B;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px auto;
}

.productstockcard h4 {
    color: #363636;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px;
}

.productstockcard h5 {
    color: #363636;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0px;
}
.imgstock i {
    color: #363636;
    font-size: 3rem;
    margin: 0px auto;
}

#productstock {
    height: auto;
    width: 25vh;
}

.addproduct h1 {
    color: #F54545;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: #A3A3A3 solid 3px;
}

.addproduct h3 {
    color: #345C93;
    font-size: 1.8rem;
    font-weight: bold ;
    padding-left: 2vw;
    margin: 0px;
}

.addproduct h4 {
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold ;
    margin-top: 1vh;
}

.addproduct .uk-form-label {
    color: #ACACAC;
    font-size: 1.5rem;
    font-weight: 500;
}

.addproduct input {
    color: #000000;
    font-size: 1.3rem;
    border: #CECECE solid 1px;
    border-radius: 13px;
}

.addproduct textarea {
    color: #000000;
    font-size: 1.3rem;
    border: #CECECE solid 1px;
    border-radius: 13px;
}

.addproduct select {
    color: #000000;
    font-size: 1.3rem;
    border: #CECECE solid 1px;
    border-radius: 13px;
}

#addvariations {
    color: #FFFFFF;
    background-color: #50E5F8;
    font-size: 1.3rem;
    font-weight: 200;
    border-radius: 13px;
    padding: 0.5vh 1.5vw;
    margin-left: 2vw;
    transition: all 0.5s;
}

#addvariations:active {
    transform: scale(0.9);
    transition: all 0.5s;
}

#removevariations {
    color: #FFFFFF;
    background-color: #EB6767;
    font-size: 1.3rem;
    font-weight: 200;
    border-radius: 13px;
    padding: 0.5vh 1.5vw;
    margin-left: 2vw;
    transition: all 0.5s;
}

#removevariations:active {
    transform: scale(0.9);
    transition: all 0.5s;
}

#balancecard h2 {
    color: #272727;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 2vh 0px 0px 0px;
}

#balancecard h3 {
    color: #EB6767;
    font-size: 1.2rem;
    font-weight: 500;
}

#balancecard h4 {
    color: #BFBFBF;
    font-size: 0.8rem;
    margin: 0px;
}

#bankcard h1 {
    color: #EB6767;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: #CECECE solid 2px;
    padding-bottom: 1vh;
}

#bankcard .uk-card {
    border: #DEDEDE solid 1px;
}

#bankcard h2 {
    color: #797979;
    font-size: 1.2rem;
    margin: 0px;
}

#bankcard h3 {
    color: #D5D5D5;
    font-size: 0.8rem;
    margin: 0px;
}
#banksellerhead a{
    color: #7D7D7D;
    font-size: 1.5rem;
    font-weight: bold;
}

#banksellerhead .uk-active a{
    color: #F75151;
    font-size: 1.5rem;
    font-weight: bold;
}

#banktable th {
    color: #797979;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #DEDEDE;
}

#banktable p {
    color: #797979;    
}

.addproductbig {
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: all 0.3s;
}

.addproductbig button {
    color: #FFFFFF;
    font-size: 1.2rem;
    background-color: #F3705A;
    padding: 10px 20px;
    margin-top: 1vh;
}

.addproductbig:hover {
    transform: scale(0.9);
    transition: all 0.3s;
}

#checkdiscount {
    color: #FFFFFF;
    background-color: #F54545;
    padding: 10px 20px;
    border-radius: 13px;
    cursor: pointer;
    transition: all 0.5s;
}

#checkdiscount:active {
    transform: scale(0.9);
    transition: all 0.5s;
}

#checkdiscount:disabled{
    background-color: #E6E6E6;
}

.shipping .uk-checkbox:checked {
    background-color: #FF6E6E !important;
}

#submitaddproduct {
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #17DDAF;
    padding: 1.5vh 2.5vw;
    transition: all 0.5s;
}

#deleteproduct {
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #BF3535;
    padding: 1.5vh 2.5vw;
    transition: all 0.5s;
}

#submitaddproduct:active {
    transform: scale(0.9);
    transition: all 0.5s;
}

#headreview li a {
    color: #696969;
    font-size: 1.5rem;
    font-weight: bold;
}

#headreview .uk-active a{
    color: #FF5858;
}

#reviewstatus {
    color: #FFFFFF;
    background-color: #FD7070;
    font-size: 1.2rem;
}

.reviewproduct {
    background-color: #FFFFFF;
    border: #F1F0F0 solid 1px;
}

#full-stars-example-two {
    
}

/* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
.rating-group {
    display: inline-flex;
}

/* make hover effect work properly in IE */
.rating__icon {
    pointer-events: none;
}

/* hide radio inputs */
.rating__input {
    position: absolute !important;
    left: -9999px !important;
}

/* hide 'none' input from screenreaders */
.rating__input--none {
    display: none
}

/* set icon padding and size */
.rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
}

/* set default star color */
.rating__icon--star {
    color: #FFE241;
}

/* if any input is checked, make its following siblings grey */
.rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating__label .rating__icon--star {
    color: #FFE241;
}

/* make hovered input's following siblings grey on hover */
.rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
}
 
.reviewdetail {
    background-color: #FFFFFF;
    border: #F1F0F0 solid 1px;
}

.reviewdetail label {
    color: #797979;
    font-size: 1.1rem;
} 

#submitreview {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #ED5A5A;
    padding: 1.5vh 2.5vw;
    margin-right: 5vw;
}

#selectproduct legend {
    font-size: 1.3rem;
    font-size: bold;
}

#selectproduct label input {
    cursor: pointer;
    margin-top: 2vh;
}

#selectproduct label input::after {
    background-color: #ED5A5A;
}

#selectproduct label span {
    color: #E74C3C;
    font-size: 1rem;
    border: #E74C3C solid 1px;    
    padding: 5px 15px;
}

#selectproduct label span:hover{
    color: #FFFFFF;
    background-color: #E74C3C;
}

#selectproduct input:checked + span {
    color: #FFFFFF;
    background-color: #E74C3C;
}

#selectproduct input:checked {
    background-color: #E74C3C;
}
