
body{
    margin: 0;
    padding: 0;
    background: #FEFBE5 !important;
    height: 2700px;
}

.cart-btn{
color: white;
float: right;
width: 70 px;
height: 70px;
top: 5%;
border-radius:50%;
border-color: black;
background : white;
margin-top: 30px;
margin-right: -620%;
display: flex;
justify-content: center;
align-items: right;
}


.chat-btn{
color: white;
float: right;
width: 70 px;
height: 70px;
top: 5%;
left:40%;
border-radius:50%;
border-color: black;
background : #FEFBE5;
margin-top: -135%;
margin-right: -770%;
display: flex;
justify-content: center;
align-items: right;
}
.heart-btn{
color: white;
float: left;
width: 70 px;
height: 70px;
top: 5%;
left:40%;
border-radius:50%;
border-color: black;
background : #FEFBE5;
margin-top: -200px;
margin-left: 1200%;
display: flex;
justify-content: center;
align-items: left;
}
.back-button {
float:left;
border: none;
color: black;
padding: 0;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin:6% 60px;
cursor: pointer;
}

.white-background{
float: middle;
width: 86%;
height:2500px ;
margin-top:-10%;
margin-left: 7%;
background:white;
}
.product-background{
float: middle;
background-color: white;
width: 420px;
height: 270px;
margin-top: -245%;
margin-left: 46%;
border-style: solid;
border-color: #707070;
border-width: 1px;
}

.lowestprice-button{
background-color: rgba(231, 77, 60, 0.685); /* Green */
border: none;
color: white;
width: 350px;
height: 40px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-left: 35px;
margin-top: 0%;
cursor: pointer;

}

.heart-button{
margin-left: 350px;
margin-top: 13px;
}



.heart-fill{
    height: 100vh;
    margin-left: 314px;
    margin-top: -212.2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
svg{
    cursor: pointer;
}

.rate {
float: left;
height: 40px;
padding: 0 10px;
margin-top: -6%;
margin-left: 49%;
}
.rate:not(:checked) > input {
position:absolute;
top:-9999px;
}
.rate:not(:checked) > label {
float:right;
width:1em;
overflow:hidden;
white-space:nowrap;
cursor:pointer;
font-size:30px;
color:#E4E4E4;
}
.rate:not(:checked) > label:before {
content: '★ ';
}
.rate > input:checked ~ label {
color: #f3c72adc;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
color: #f3c72adc;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
color: #f3c72adc;
}

.product-detail{
    margin-left: -390%;
    width: 800px;
    height: 500px;
    margin-top: 0%;
}

.product-button{
    width: 420px;
    height: 42px;
    border: 1px solid #707070;
    margin-top: 50px;
    margin-left:450px;
}


.submit{
    width: 114.5px;
    height: 40px;
    text-align: center;
    line-height: 2.4em; 
    margin-top: -7.5%;
    margin-left: 55%;
}

.cancel{
    margin-top: -7.5%;
    margin-left: 80%;
}

.box{
position: absolute;
top: 67.5%;
left: 80%;
transform: translate(-50%,-50%);
}
input{
border: none;
outline: none;
page-break-after: 5px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
margin: 0 5px !important ;
padding-top: -10px;
padding-bottom: -10px;
font-size: 20px;
color:#ED796D;


}
input:hover,
input:focus{
background-color: rosybrown;
color: saddlebrown;
}

button{
background: white;
color: #707070;
border: 707070;
outline: none;
font-size: 25px;
border-radius: 5px;
padding-top: -10px;
padding-bottom: -10px;




}
button:hover{
background:#ED796D ;

}

.seller-background{
float: middle;
background-color: white;
width: 420px;
height: 200px;
margin-top: 5%;
margin-left: 46%;
border-style: solid;
border-color: #707070;
border-width: 1px;
}
.viewShop{
font-size: 20px;
border-radius: 40px;
float: right;
margin-right: 20px;
margin-top: -15%;
color: #E74C3C;
border-color: #E74C3C;
}

.desciption-background{
float: left;
background-color: white;
width: 78%;
height: 450px;
margin-top: 5%;
margin-left: 11%;
border-style: solid;
border-color: #707070;
border-width: 1px;
}

.product-decideBG{
float: left;
background-color: #F8F7F8;
width: 78%;
height: 125px;
margin-top: 5%;
margin-left: 11%;
border-style: solid;
border-color: #707070;
border-width: 1px;
}

.review-background{
float: left;
background-color: white;
width: 78%;
height: 650px;
margin-top: 5%;
margin-left: 11%;
border-style: solid;
border-color: #707070;
border-width: 1px;
}

.review-head{
float: left;
background-color: rgba(77, 207, 224, 0.63);
width: 100%;
height: 75px;
margin-top: 0%;
margin-left: 0%;

}
.gray-img{
    width: 43%;
    padding-top: 15%;
    padding-left: 2%;
}

.edit-button{
    margin-top: 5%;
    margin-left: 85%;
    color: #000;
    font-size: 1.5em;
}
