body{
    margin: 0;
    padding: 0;
    background-color: #FEFBE5 !important;
    min-height: 110vh;
}
.back-button{
    font-size: 1.5em;
    margin-top: 0%;
    margin-left: 2%;
    color: black;
}
.white-bg{
    float: middle;
    width: 90%;
    margin-left: 5%;
    min-height: 100vh;
    background:white;
}
.profile-head{
    background-color: #E3866C; 
    width: 200%;
    font-size: 1.5em;
    color: white;
    padding: 1% 0%;
}
.profile-body{
    background-color:#F7F5F5; 
    width: 200%;
    font-size: 1em;
    color: #707070;
    padding: 5% 0%;
    line-height: 0%;
    text-align: left;
}
.profile-body p{
    padding-left: 5%;
}
.profile-img{
    padding-top: 30%;
}
.ship-head{
    background-color: #E3866C; 
    width: 100%;
    font-size: 1.5em;
    color: white;
    padding: 1% 0%; 
    text-align: center;
}
.ship-body{
    background-color:#F7F5F5; 
    width: 100%;
    font-size: 1em;
    color: #707070;
    padding: 5% 0%;
    line-height: 0%;
    text-align: left;
    margin-top: -2.5%;
    padding-bottom: 2%;
}
.product-img{
    width: 100% ;
}