body{
    margin: 0;
    padding: 0;
    background-color: #F7F7F7 !important;
    min-height: 100vh;
    padding-bottom: 10%;
}
.head{
    background-color: white;
    width: 100%;
    height: 15%;
    min-height: 13vh;
}
.head a{
    color: black;
    border-color: white;
    border-style: solid;
    font-size: 1.5em;
    margin-left: 5%;
}
.review-text{
    margin-top: -8%;
    margin-left: 38%;
    font-size: 2.5em;
    color: #FF6E6E;
}
.head img{
    width: 10%;
    margin-left: 10%;
    padding-top: 7%;
}
.select-text{
    font-size: 1.7em;
    margin-left: 10%;
    margin-top: 10%;
}
hr{
    height: 20%;
    background-color: #707070;
    width: 90%;
    margin-left: 5%;
}
.radio label{
    font-size: 1.5em;
    margin-left: 20%;
    /* padding-right: 40%; */
}
.trackid{
    margin-top: 0%;
}
.report-button{
    margin-left: 70%;
    width: 20%;
    height: 3.5vh;
    margin-top:11%;
    background:#FF6E6E;
    border-style: solid;
    font-size: 1.7em;
    border-radius: 4vh;
    padding-top: 1%;
}
.report-button p{
    color: white;
    margin-top: 3%;
    margin-left: 0%;
}
