body{
    margin: 0;
    padding: 0;
    background-color: #FEFBE5 !important;
    min-height: 100vh;
    padding-bottom: 20%;
}
.head{
    background-color: white;
    width: 100%;
    padding-bottom: 10%;
    padding-top: 3%;
}
.head a{
    color: black;
    border-color: white;
    border-style: solid;
    font-size: 1.5em;
    margin-left: 5%;
}
.head p{
    margin-top: -5%;
    margin-left: 43%;
    font-size: 2.2em;
    color: #000;
}
.b1{
    margin-left: 12%;
    margin-right: 10%;
    
}
.b2{
    margin-right: 5%;
}
.ava-img{
    width: 7%;
    margin-left: 5%;
}
.shop-name{
    font-size: 1.7em;
    padding-left: 3%;
}
.photo-img{
    width: 20%;
    margin-top: 3%;
    margin-left: 7%;
}
.product-text{
    font-size: 1.6em;
    margin-left: 30%;
    margin-top: -13%;
    padding-bottom: 5%;
}
.rate {
float: left;
padding: 0 0%;
margin-top: 3%;
margin-left: 40%;
}
.rate:not(:checked) > input {
position:absolute;
top:-9999px;
}
.rate:not(:checked) > label {
float:right;
width:1em;
overflow:hidden;
white-space:nowrap;
cursor:pointer;
font-size:30px;
color:#E4E4E4;
}
.rate:not(:checked) > label:before {
content: '★ ';
}
.rate > input:checked ~ label {
color: #f3c72adc;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
color: #f3c72adc;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
color: #f3c72adc;
}