body{
    margin: 0;
    padding: 0;
    background-color: #DBEAFD !important;
    min-height: 125vh;
}
.head{
    background-color: white;
    width: 100%;
}
.head a{
    color: black;
    border-color: white;
    border-style: solid;
    font-size: 1.5em;
    margin-left: 5%;
}
.avatar img{
    margin-top: 2%;
    width: 12%;
    margin-left: 7%;
}
.user{
    font-size: 2em;
    color: #000;
    margin-top: -10%;
    margin-left: 22%;
    font-weight:bold;
}
.follow{
    font-size: 1.5em;
    color: #000;
    margin-left: 22%;
    margin-top: -2%;
    margin-bottom: 10%;
}
.dot {
    width:20vh ;
    background-color: white;
    border-radius: 50%;
    display: inline-block;

}
.shop-img{
    width: 18%;
    height: 18%;
    margin-top: -25%;
    margin-left: 42%;
}
.add-button{
    background-color:#F3705A;
    border-color: #F3705A;
    padding: 1.5%;
    margin-left: 38.25%;
    margin-top:2%;
    font-size:1.2em;
    width: 25%;
    color: white;
    font-weight: 600;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    border: 3px solid #FFFFFF;
}

.form-container {
    width:63vh;
    background-color: white;
}

.form-container .cancel {
    background-color: #F3705A;
    border-color: #707070;
    border-style: solid;
    border-width: thin;
    border-radius: 3vh;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
    padding: 5%;
    font-size: 1.5em;
    margin-top: 10%;
    margin-left: 41.5%;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
.add-pro{
    font-size: 1.9em;
    text-align: center;
    margin-left: 2%;
    color: #000;
    font-weight: bold;
    line-height: 7vh;
}
.form-container p b a{
    font-size: 2em;
    color: #21A2BA;
    margin-left: 45%;
    line-height: 7vh;
}
hr{
    margin-top: 0%;
}