body{
    margin: 0;
    padding: 0;
    background-color: #DBEAFD !important;
    min-height: 100vh;
    padding-bottom: 10%;
}
.head{
    background-color: white;
    width: 100%;
    padding-bottom: 7%;
}
.head a{
    color: black;
    border-color: white;
    border-style: solid;
    font-size: 1.5em;
    margin-left: 5%;
}
.chat-btn{
    color: white;
    float: right;
    width: 7%;
    height: 7%;
    top: 5%;
    left:40%;
    border-radius:50%;
    border-color: black;
    background : white;
    margin-top: -5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: right;
}
.avatar img{
    width: 10%;
    height: 12%;
    margin-left: 7%;
    padding-top: 2%;
}
.user{
    font-size: 2em;
    color: #000;
    margin-top: -10%;
    margin-left: 5%;
    font-weight:bold;
}
.follow{
    font-size: 1.5em;
    color: #000;
    margin-left: 22%;
    margin-top: -2%;
    margin-bottom: 10%;
}
.gray-bg{
    background-color:#E4E4E4;
    width: 90%;
    margin-top: 5%;
    min-height: 80vh;
    margin-left: 5%;
}
.add-detail{
    margin-top: 5%;
    margin-left: 0.5%;
    border-color: #707070;
    border-style: solid;
    border-width: 0.009vh;
    font-size:2em; 
    padding: 5%;
    color: #000;
}
.addmore-button{
    background-color: white;
    border-color: #707070;
    border-style: solid;
    border-width: thin;
    border-radius: 3vh;
    color: black;
    cursor: pointer;
    width: 40%;
    padding: 3%;
    font-size: 1.7em;
    margin-top: 80%;
    margin-left: 30%;
}
.gray-bg p{
    font-size: 1.7em;
    padding-left: 37%;
    padding-top: 5%;
}