body{
    margin: 0;
    padding: 0;
    background-color: #FEFBE5 !important;
    min-height: 130vh;
    padding-bottom: 10%;
}
.white-bg{
    background-color: white;
    width: 90%;
    min-height: 130vh;
    margin-left: 5%;
    padding-bottom: 10%;
}
h1{
    color: #FF6E6E;
    margin-left: 17%;
    margin-top: -5%;
}
h2{
    color: #FF6E6E;
    margin-left: 17%;
    margin-top: -5%;
}
.delivery-img{
    margin-left: 5%;
    margin-top: 5%;
}
/* .delivery-way{
    border-color: ;
} */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 82%;
}

td{
    border: 0.1vh solid #707070;
    box-shadow:0 0.2vh #00000029;
    text-align: left;
    padding: 2%;
}
th{
    border: 0.1vh solid #707070;
    text-align: left;
    padding: 2%;
    font-weight: normal;
}
.address-box{
    border: 0.1vh solid #00000041;
    width: 69%;
    height: 18vh;
    margin-left: 15%;
    box-shadow:0 0.2vh #00000029;

}
.frame-img{
    width: 40%;
    margin-top: 7%;
    margin-left: 5%;
}
.address-box p{
    margin-top: -20%;
    margin-left: 7%;
}
.payment-img{
    margin-left: 5%;
    margin-top: 5%;
}
.paymentway-img{
    padding-left: 2%;
} 
.visa-box{
    border: 0.1vh solid #FF6E6E;
    width: 10%;
    text-align: center;
    margin-left: 10%;
    padding: 2% 5%;
}     
.couponid{
    margin-top: 0%;
}
.coupon-button{
    margin-left: 70%;
    width: 10%;
    height: 2.5vh;
    margin-top:0%;
    background:#57BD37;
    border-style: solid;
    font-size: 1em;
    padding-top: 0.5%;
}
.coupon-button p{
    color: white;
    margin-top: 3%;
    margin-left: 0%;
}  
.total-box{
    border: 0.1vh solid #00000041;
    width: 69%;
    margin-left: 15%;
    box-shadow:0 0.2vh #00000029;
    margin-top: 5%;
    height: 10vh;
}   

.edit-button{
    background-color: #E4E4E4;
    border-color: #E4E4E4;
    border-style: solid;
    border-width: thin;
    color: #6F6F6F;
    cursor: pointer;
    width: 15%;
    font-size: 0.7em;
    padding-top: 1%;
    padding-left: 2%;
    margin-top: 10%;
    margin-left: 55%;
    height: 3vh;
}
.confirm-button{
    background-color: #FF6E6E;
    border-color: #FF6E6E;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
    width: 15%;
    margin-top: -5%;
    margin-left: 75%;
    font-size: 0.6em;
    padding-top: 1%;
    padding-right: 2%;
    height: 3vh;
}
.ship-body{
    background-color:white; 
    width: 69%;
    margin-left: 15%;
    font-size: 1em;
    color: #707070;
    padding: 5% 0%;
    line-height: 0%;
    text-align: left;
    margin-top: -5%;
    padding-bottom: 2%;
    /* border:thin solid #707070; */
}
.total{
    width: 70%; 
    margin-left: 14%; 
    border-color:#00000041;
    border-style: solid;
    border-width: thin; 
    padding: 1% 0%;
}