
.search-box{
    position: absolute;
    top: 2.5%;
    left:50%;
    transform: translate(-50%,-50%);
    background: white;
    height:50px;
    margin-top: 7%;
    border-radius: 40px;
    padding:10px;
    color:black;
    margin-left:-20%;
}

.search-txt{
    border: black;
    background:none;
    outline:black;
    float: center;
    padding: 0;
    margin-top: -70%;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height:1px;
    text-indent:0%;
    width:400px;
    height: -100px;
         }



.search-btn{
    color:  gray;
    float:left;
    width: 40px;
    height: 27px;
    border-radius: 50%;

    background: white;
    display: flex;
    justify-content: left;
    align-items: center;
}




.chat-btn{
color: white;
float: right;
width: 70 px;
height: 70px;
top: 5%;
left:40%;
border-radius:50%;
border-color: black;
background : white;
margin-top: 50px;
margin-bottom: 100px;
margin-right: -1020%;
display: flex;
justify-content: center;
align-items: right;
}
.heart-btn{
color: white;
float: left;
width: 70 px;
height: 70px;
top: 5%;
left:40%;
border-radius:50%;
border-color: black;
background : #FEFBE5;
margin-top: -200px;
margin-left: 1190%;
display: flex;
justify-content: center;
align-items: left;
}
.carousel-size{
float: center;
width: 90%;
height: 300px;
top: -80px;
right:0%;
background : white;
margin-top: -80px;
margin-right: 0%;
margin-left: 5%;
display: flex;
justify-content: center;
align-items: center;
}
.hotproduct-background{
float: middle;
width:86%;
height:25vh;
margin-top: 10%;
margin-left: 7%;
background:#DBEAFD;
}

.hotproduct-banner{
float: middle;
width:30%;
margin-top: -42%;
margin-left: 35%;
}
.hotproduct-button {
        float:right;
        border: none;
        color: #707070;
        padding: 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 30px;
        cursor: pointer;
            }
.summer-banner{
             float: left;
             width:60%;
             height:-100px;
             margin-top: 45%;
             margin-left: 10%;
         }
  
  .kiehl-banner{
            float: left;
            width:14%;
            margin-top: 45%;
            margin-left: 10%;
                }
  
  .flashsale-background{
             float: middle;
             width:86%;
             height:25vh;
             margin-top: 70%;
             margin-left: 7%;
             background:#F7F5F5;
         }

.flashsale-button {
    float:right;
  border: none;
  color: #707070;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8%;
}

.flashsale-line{
    float: middle;
    width:86%;
    height:4px;
    margin-top: -75%;
    margin-bottom: 300px;
    margin-left: 7%;
    background:#B54C48;
}
.flashsale-banner{
    float: left;
    width: 25%;
    margin-top: 20px;
    margin-left: 10%;
}
.flashsale-logo{
    float: left;
    width: 5%;
    margin-top: 25px;
    margin-left: -32%;
}
         
.bom-up{
    float: middle;
    width:86%;
    height:24px;
    margin-top: 80%;
    margin-left: 7%;
    background:#892728;
}
.bom-mid{
    float: middle;
    width:86%;
    height:24px;
    margin-top: 4%;
    margin-left: 7%;
    background:#892728;
}
.bom-bottom{
    float: middle;
    width:86%;
    height:4vh;
    margin-top: 69.5%;
    margin-left: 7%;
    background:#892728;
}
.bom-word{
    float: middle;
    width:25%;
    height:3vh;
    margin-top: -84%;
    margin-left: 37.5%;
    background:#892728;
    margin-bottom: 0%;
}
.bom-wordcolor{
    color: white;
    text-align: center;
    font-size: 26px;
}
.bom-background{
    float: middle;
    width:86%;
    min-height: 25vh;
    margin-top: 2%;
    margin-left: 7%;
    background:white;
}

.catagory-background{
    float: middle;
    width:86%;
    height:425px;
    margin-top: 50px;
    margin-left: 7%;
    background:white;
}

.catagory-word{
    float: left;
    color: black;
    text-align: left;
    font-size: 26px;
    margin-top: 15px;
    margin-left: 12%;
    text-bottom:-20px;
}

.catagory-logo{
    float: left;
    width: 5%;
    margin-top: 15px;
    margin-left: -27%;
}
.catagory-line{
    float: middle;
    width:86%;
    height:4px;
    margin-top: -360px;
    margin-bottom: 300px;
    margin-left: 7%;
    background:#9CD9D3;
}
.catagory-home{
    float: middle;
    width:130px;
    height:130px;
    margin-top: -280px;
    margin-left: 25%;
    background:#F7CDCC;
}
.justforyou-background{
    float: middle;
    width:86%;
    height:2750px;
    margin-top: 10%;
    margin-left: 7%;
    margin-bottom: 5%;
    background:white;
}

.justforyou-line{
    float: middle;
    width:86%;
    height:4px;
    margin-top: -2750px;
    margin-bottom: 300px;
    margin-left: 7%;
    background:#DDAB78;
}
.justforyou-banner{
    float: middle;
    width:30%;
    height:10%;
    margin-top: -75%;
    margin-left: 35%;
}

.home-button{
    float: left;
    margin-left: 0%;
}

.catagory-button{
    float: left;
  
}

.order-button{
    float: left;
    margin-left: -0.05%;
}
.mypikpay-button{
    float: left;
    margin-left: -6.0%;
    margin-bottom: 0px;
}
.product-bg{
    background-color: white;
    width: 40%;
    height: 32vh;
    margin-top: 5%;
    margin-left: 7%;
}
.gray-img{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
}
.product-bg p{
    font-size: 1.7em;
    margin-left: 10%;
}



body{
    margin: 0;
    padding: 0;
    background: #FEFBE5;
    min-height: 400vh;
    max-height: 400vh;
}

.hotproduct-background{
    float: middle;
    width:90%;
    margin-left: 5%;
    margin-top: 5%;
    background:#DBEAFD;
}
.heart{
    margin-left: 60%; 
    margin-top: -2%;
}
.count{
    color:white; 
    background-color: #32312D; 
    padding: 2%;
    font-size: 1em;
}
.bom-up{
    float: middle;
    width:90%;
    margin-left: 5%;
    margin-top: 40%;
    background:#892728;
}
.bom-word{
    float: middle;
    width:90%;
    margin-left: 5%;
    margin-top: 40%;
    background:#892728;
}
.bom-word p{
    color: white;
    text-align: center;
    font-size: 1.5em;
}
.catagory-background{
float: middle;
width:86%;
height:425px;
margin-top: 50px;
margin-left: 7%;
background:white;
}

.catagory-word{
float: left;
color: black;
text-align: left;
font-size: 26px;
margin-top: 15px;
margin-left: 12%;
text-bottom:-20px;
}

.catagory-logo{
float: left;
width: 5%;
margin-top: 15px;
margin-left: -27%;
}
.catagory-line{
float: middle;
width:86%;
height:4px;
margin-top: -360px;
margin-bottom: 300px;
margin-left: 7%;
background:#9CD9D3;
}
.catagory-home{
float: middle;
width:130px;
height:130px;
margin-top: -280px;
margin-left: 25%;
background:#F7CDCC;
}
.justforyou-background{
float: middle;
width:86%;
margin-top: 10%;
margin-left: 7%;
background:white;
}

.justforyou-line{
float: middle;
width:86%;
height:4px;
margin-top: -2750px;
margin-bottom: 300px;
margin-left: 7%;
background:#DDAB78;
}
.justforyou-banner{
float: middle;
width:30%;
height:10%;
margin-top: -70%;
margin-left: 35%;
}
.home-button{
float: left;
margin-left: 0%;
}

.catagory-button{
float: left;

}

.order-button{
float: left;
margin-left: -0.05%;
}
.mypikpay-button{
float: left;
margin-left: -6.0%;
margin-bottom: 0px;
}
.product-bg{
background-color: white;
width: 40%;
height: 32vh;
margin-top: 5%;
margin-left: 7%;
}
.gray-img{
width: 80%;
margin-top: 5%;
margin-left: 10%;
}
.product-bg p{
font-size: 1.7em;
margin-left: 10%;
}
