body{
    margin: 0;
    padding: 0;
    background-color: #FEFBE5 !important;
    min-height: 100vh;
    padding-bottom: 10%;
}
.back-button{
    font-size: 1.5em;
    color: #000;
    margin-left: 3%;
}
.white-bg{
    float: middle;
    width: 90%;
    margin-left: 5%;
    background:white;
    border-style: solid;
    border-width: thin;
    border-color: #00000029;
    box-shadow: 0em 0.2em  #00000029;

}
.text{
    font-size: 1.2em;
}
.font-yet{
    font-size: 3em;
    color:#5FC141 ;
    margin-right: 10%;
    margin-left: 5%;
}
.font-not{
    font-size: 3em;
    color:#E4E4E4;
    margin-right: 10%;
    margin-left: 5%;
}
.status{
    margin-left: 5%;
    margin-right: 7%;
}
.th-head{
    color: #6F6F6F;
    font-size: 1.2em;
    padding: 2% 2%;
}